<!DOCTYPE HTML>
  
<html>

<head>
        
<meta http-equiv="Content-Type" content="application/json;charset=UTF-8">


<style type="text/css">

</style>
<script src="{{asset('bundles/benchuploadarchivos/css/ui-lightness/jquery-ui-1.8.14.custom.css')}}"></script>

<link href="{{asset('bundles/benchuploadarchivos/css/ui-lightness/jquery-ui-1.8.14.custom.css')}}" rel="stylesheet" type="text/css" />
<link href="{{asset('bundles/benchuploadarchivos/css/fileUploader.css')}}" rel="stylesheet" type="text/css" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{asset('bundles/benchuploadarchivos/js/jquery-ui-1.8.14.custom.min.js')}}" type="text/javascript"></script>
<script src="{{asset('bundles/benchuploadarchivos/js/jquery.fileUploader.js')}}" type="text/javascript"></script>

<script type="text/javascript">
		jQuery(function($){
			$('.fileUpload').fileUploader();
		});
	</script>


<div id="main_container">
	
	<form action="{{path('subir2')}}" method="post" enctype="multipart/form-data">
		<input type="file" name="userfile" class="fileUpload" multiple>
		
		<button id="px-submit" type="submit">Subir arhivos</button>
		<button id="px-clear" type="reset">Borrar</button>
	</form>
	
</div>

