
<script src="{{asset('bundles/benchuploadarchivos/css/ui-lightness/jquery-ui-1.8.14.custom.css')}}"></script>

<link href="{{asset('bundles/benchuploadarchivos/css/ui-lightness/jquery-ui-1.8.14.custom.css')}}" rel="stylesheet" type="text/css" />
<link href="{{asset('bundles/benchuploadarchivos/css/fileUploader.css')}}" rel="stylesheet" type="text/css" />

<script src="{{asset('bundles/benchuploadarchivos/js/jquery-ui-1.8.14.custom.min.js')}}" type="text/javascript"></script>
<script src="{{asset('bundles/benchuploadarchivos/js/jquery.fileUploader.js')}}" type="text/javascript"></script>

<script type="text/javascript">
		jQuery(function($){
			$('.fileUpload2').fileUploader();
		});
	</script>


<div id="main_container">
    
	
	<form action="{{path('subir3')}}" method="post" enctype="multipart/form-data">
		<input type="file" name="userfile" class="fileUpload2" multiple>
		
		<button id="px-submit" type="submit">Subir arhivos</button>
		<button id="px-clear" type="reset">Borrar</button>
	</form>
	
</div>
        
{# empty Twig template #}
