{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Antecedenteslaboral list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Situacionlaboral</th>
                <th>Empleadorempresa</th>
                <th>Industria</th>
                <th>Fechaingreso</th>
                <th>Cargoactual</th>
                <th>Rutempresa</th>
                <th>Direccion</th>
                <th>Region</th>
                <th>Comuna</th>
                <th>Ciudad</th>
                <th>Telefono</th>
                <th>Tipoactividad</th>
                <th>Tiposueldo</th>
                <th>Sueldofijo</th>
                <th>Sueldoliquido</th>
                <th>Rentaliquida</th>
                <th>Rentavariable</th>
                <th>Independientesueldoliquido</th>
                <th>Fechaultima</th>
                <th>Fechacambio</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('antecedenteslaboral_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.situacionlaboral }}</td>
                <td>{{ entity.empleadorempresa }}</td>
                <td>{{ entity.industria }}</td>
                <td>{{ entity.fechaingreso }}</td>
                <td>{{ entity.cargoactual }}</td>
                <td>{{ entity.rutempresa }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.region }}</td>
                <td>{{ entity.comuna }}</td>
                <td>{{ entity.ciudad }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.tipoactividad }}</td>
                <td>{{ entity.tiposueldo }}</td>
                <td>{{ entity.sueldofijo }}</td>
                <td>{{ entity.sueldoliquido }}</td>
                <td>{{ entity.rentaliquida }}</td>
                <td>{{ entity.rentavariable }}</td>
                <td>{{ entity.independientesueldoliquido }}</td>
                <td>{% if entity.fechaultima %}{{ entity.fechaultima|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechacambio %}{{ entity.fechacambio|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('antecedenteslaboral_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('antecedenteslaboral_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('antecedenteslaboral_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
