{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Antecedenteslaboral</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Situacionlaboral</th>
                <td>{{ entity.situacionlaboral }}</td>
            </tr>
            <tr>
                <th>Empleadorempresa</th>
                <td>{{ entity.empleadorempresa }}</td>
            </tr>
            <tr>
                <th>Industria</th>
                <td>{{ entity.industria }}</td>
            </tr>
            <tr>
                <th>Fechaingreso</th>
                <td>{{ entity.fechaingreso }}</td>
            </tr>
            <tr>
                <th>Cargoactual</th>
                <td>{{ entity.cargoactual }}</td>
            </tr>
            <tr>
                <th>Rutempresa</th>
                <td>{{ entity.rutempresa }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ entity.region }}</td>
            </tr>
            <tr>
                <th>Comuna</th>
                <td>{{ entity.comuna }}</td>
            </tr>
            <tr>
                <th>Ciudad</th>
                <td>{{ entity.ciudad }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Tipoactividad</th>
                <td>{{ entity.tipoactividad }}</td>
            </tr>
            <tr>
                <th>Tiposueldo</th>
                <td>{{ entity.tiposueldo }}</td>
            </tr>
            <tr>
                <th>Sueldofijo</th>
                <td>{{ entity.sueldofijo }}</td>
            </tr>
            <tr>
                <th>Sueldoliquido</th>
                <td>{{ entity.sueldoliquido }}</td>
            </tr>
            <tr>
                <th>Rentaliquida</th>
                <td>{{ entity.rentaliquida }}</td>
            </tr>
            <tr>
                <th>Rentavariable</th>
                <td>{{ entity.rentavariable }}</td>
            </tr>
            <tr>
                <th>Independientesueldoliquido</th>
                <td>{{ entity.independientesueldoliquido }}</td>
            </tr>
            <tr>
                <th>Fechaultima</th>
                <td>{{ entity.fechaultima|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechacambio</th>
                <td>{{ entity.fechacambio|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('antecedenteslaboral') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('antecedenteslaboral_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('antecedenteslaboral_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
