
.uploadsss{
                width:800px;
                height: 150px;
                position:relative;
                margin-left:-100px;
                background-color: #CCCCCC;
                
             
                
            }     
            
.popover {
	color:#FFF;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #666;
  /*border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);*/
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.popover.top {
  margin-top: -10px;
}

.popover.right {
  margin-left: 10px;
}

.popover.bottom {
  margin-top: 10px;
}

.popover.left {
  margin-left: -10px;
}

.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
     -moz-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
}

.popover-title:empty {
  display: none;
}

.popover{
  font-size: 10px;
   font-family: Verdana, Geneva, sans-serif;
    font-style: normal;
    font-weight: normal;
}
.popover-content {
  padding: 9px 14px;
}



.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover .arrow {
  border-width: 11px;
}

.popover .arrow:after {
  border-width: 10px;
  content: "";
}

.popover.top .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0;
}

.popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #ffffff;
  border-bottom-width: 0;
}

.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}

.popover.right .arrow:after {
  bottom: -10px;
  left: 1px;
  border-right-color: #666;
  border-left-width: 0;
}

.popover.bottom .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-top-width: 0;
}

.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #ffffff;
  border-top-width: 0;
}

.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-right-width: 0;
}

.popover.left .arrow:after {
  right: 1px;
  bottom: -10px;
  border-left-color: #ffffff;
  border-right-width: 0;
}

.sub{
    background: none repeat scroll 0 0 #F95B00;
    border: 1px solid #CCCCCC;
    color: #FFFFFF;
    cursor: pointer;
    height: 24px;
    width: 60px;
    
}

.clear{

    clear: both;;
}

.cont1{

    width: 800px;
    height: auto;
    background-color: #BDAAAA;
}

.column2{
     width:70%; 
     float:left; 
    
    }

.espace{

    width: 200px;
    height: 100px;
    position: relative;
}

.content{

    
}

.mensaje{

    widows: 200px;
    height: 200px;
    background-color: #682323;
}

#div_carga{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
 
    display:none;
   background-color:#FFFFFF; color:#fff; opacity:0.7;
    z-index:2;
}


.lt-ie9 .popover {
    @arrowColor: darken(@popoverTitleBackground, 10%);

    &.top .arrow {
        border-top-color: @arrowColor;
    }
    &.right .arrow {
        border-right-color: @arrowColor;
    }
    &.bottom .arrow {
        border-bottom-color: @arrowColor;
    }
    &.left .arrow {
        border-left-color: @arrowColor;
    }
}






#cargador{
    position:absolute;
    top:50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    z-index: 999999999999999999999;
}


.recuperado{

    color:#CD4B4B;
    
}


.pruebas{
 widows: 400px;
 height:200px;
 background: #F3E3E3;
 font-size: 10px;


}

   input.parsley-success
            {
              color: #666666 !important;
              background-color: #DDDDDD !important;
              border: 1px solid #999999 !important;
            }
            input.parsley-error
            {
              color: #666666 !important;
              background-color: #F8DECD !important;
              border: 1px solid #999999 !important;
            }
 
            /*input
            {
                width: 150px;
                margin: 0 2px !important;
            }*/
 
            ul.parsley-error-list
            {
                font-size: 11px;
                margin: 2px;
                list-style-type:none;
                display: block;
                float:left;
            }
 
            ul.parsley-error-list li
            {
                color: #F95B00;
                line-height: 11px;
                display: block;
                float:left;
            }

          



       .spinner {
      margin: 100px auto 0;
      width: 70px;
      margin-left: 48%;
      margin-top:25%;
      text-align: center;
      position:absolute;
      color: #f95b00;
      display: none;

      z-index:90000000;
    }



    .spinner > div {
      width: 18px;
      height: 18px;
      background-color:#f95b00;

      border-radius: 100%;
      display: inline-block;
      -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
      animation: bouncedelay 1.4s infinite ease-in-out;
      /* Prevent first frame from flickering when animation starts */
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

    .spinner .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }

    .spinner .bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }

    @-webkit-keyframes bouncedelay {
      0%, 80%, 100% { -webkit-transform: scale(0.0) }
      40% { -webkit-transform: scale(1.0) }
    }

    @keyframes bouncedelay {
      0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
      } 40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
      }
    }
      
            
            
            