.ilightbox-overlay.dark {
	background: #000;
}

.ilightbox-loader.dark {
	-webkit-box-shadow: black 0px 0px 85px, black 0px 0px 85px;
	        box-shadow: black 0px 0px 85px, black 0px 0px 85px;
}
.ilightbox-loader.dark div {
	background: #000 url('preloader.gif') no-repeat center;
}

.ilightbox-holder.dark {
	padding: 5px;
	background: #000;
	
	-webkit-box-shadow: 0 0 15px hsla(0,0%,0%,.8);
	        box-shadow: 0 0 15px hsla(0,0%,0%,.8);
	
	-webkit-border-radius: 3px;
	        border-radius: 3px;
}

.ilightbox-holder.dark .ilightbox-container  .ilightbox-caption {
	background: url('caption-bg.png');
	color: #FFF;
	text-shadow: 0 1px black;
}

.ilightbox-holder.dark .ilightbox-alert {
	background: url('alert.png') no-repeat center top;
	color: #555;
}

.ilightbox-toolbar.dark {
	top: 11px;
	left: 10px;
}

.ilightbox-toolbar.dark a {
	width: 25px;
	height: 23px;
	background: black url('buttons.png') no-repeat 7px 6px;
}

.ilightbox-toolbar.dark a:first-of-type {
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
		    border-bottom-left-radius: 3px;
		    border-top-left-radius: 3px;
}

.ilightbox-toolbar.dark a:last-of-type {
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
		    border-bottom-right-radius: 3px;
		    border-top-right-radius: 3px;
}

.ilightbox-toolbar.dark a.ilightbox-close:hover {
	background-position: -32px 6px;
}

.ilightbox-toolbar.dark a.ilightbox-fullscreen {
	background-position: 6px -33px;
	right: 35px;
}

.ilightbox-toolbar.dark a.ilightbox-fullscreen:hover {
	background-position: -31px -33px;
}

.ilightbox-thumbnails.dark .ilightbox-thumbnails-grid .ilightbox-thumbnail img {
	box-shadow: 0 0 6px rgba(0, 0, 0, .9);
}

.ilightbox-thumbnails.dark .ilightbox-thumbnails-grid .ilightbox-thumbnail .ilightbox-thumbnail-video {
	background: url('thumb-overlay-play.png') no-repeat center;
}

.ilightbox-holder.dark .ilightbox-inner-toolbar .ilightbox-title {
	font-size: 18px;
	padding: 10px 8px;
	padding-right: 60px;
	color: #FFF;
}

.ilightbox-holder.dark .ilightbox-inner-toolbar .ilightbox-toolbar {
	left: auto;
	top: 5px;
	right: 5px;
}

.ilightbox-holder.dark .ilightbox-inner-toolbar .ilightbox-toolbar a {
	-webkit-border-radius: 0;
	        border-radius: 0;
	float: right;
}

.ilightbox-holder.dark .ilightbox-inner-toolbar .ilightbox-toolbar a:first-of-type {
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
		    border-bottom-right-radius: 3px;
		    border-top-right-radius: 3px;
}

.ilightbox-holder.dark .ilightbox-inner-toolbar .ilightbox-toolbar a:last-of-type {
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
		    border-bottom-left-radius: 3px;
		    border-top-left-radius: 3px;
}