<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="{{ asset('bundles/benchmobil/mobil2/styles/bootstrap.min.css')}}" rel="stylesheet" />
    <link href="{{ asset('bundles/benchmobil/mobil2/styles/bootstrap-responsive.min.css')}}" rel="stylesheet" />
    <link href="{{ asset('bundles/benchmobil/mobil2/css/preview.min.css')}}" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css' />
    <link href="{{ asset('bundles/benchmobil/mobil2/styles/font-awesome.min.css')}}" rel="stylesheet" />
    <script src="{{ asset('bundles/benchpaginas/js/puntos.js') }}"></script>






    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T8RRB4"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T8RRB4');</script>






    <style>


        .respuestaTexto{

            list-style: none;
            color:#ff7000;



        }

        .respuestaTexto2 {

            list-style: none;
            color:#ff7000;


        }





        .respuestaTexto2 li{

            margin-left:2%;
            margin-top:1%;
            margin-bottom:1%;
            width: 600px;

            list-style-image:url('img/alert_icon.png');
        }

        .respuestaTexto2 li{

            margin-left:2%;
            width: 600px;
            list-style-image:url('img/alert_icon.png');
        }



        /* ventana modal */

        .cajaModalCreditos{
            width:100%;
            height:100%;
            margin-top: 10%;

            background-color: #ededed ;

        }



        .listaModalCreditos{

            width:150%;
            height:150%;
            position: relative;
            margin:auto;
            margin-top:1%;

        }

        .textoModal{

            color:#4b4b4b;
            font-size:13px;
            text-align:justify;
        }


        .textoModal2{

            color:#4b4b4b;
            font-size:13px;
            text-align:justify;
            font-weight:bold;



        }

        .chanchoS{

            width: 640px;
            height: 76px;
            position: relative;
            margin-top: -14%;
            margin-left: 1%;

        }

        .chanchoS span{
            color: #009933;
            font-size: 30px;
            margin-top: 2%;


            position: absolute;
            width: 220px;
            height: 50px;


        }


        #basic-modal-content {display:none;}


        #simplemodal-overlay {background-color: #0e0606;}

        /* Container */


       @media (min-width: 481px) and (max-width: 768px){

            #simplemodal-container {height:600px; width:500px; color:#bbb; margin-top: 7%; background-color:#ededed ; border:4px solid #444; padding:12px;positon:relative;}

            .chanchoS{
                margin-left: 35%;
            }

            .textoModal{

                 font-size: 15px;

        }



        }


        @media (max-width: 400px) {



            #simplemodal-container {height:450px; width:310px; color:#bbb; margin-top: 7%; background-color:#ededed ; border:4px solid #444; padding:12px;positon:relative;}

        }







        #simplemodal-container .simplemodal-data {padding:1px;}
        #simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
        #simplemodal-container a {color:#ddd;}
        #simplemodal-container a.modalCloseImg {background:url(img/basic/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
        #simplemodal-container h3 {color:#84b8d9;}




    </style>


    <style type="text/css">
        .navbar-inner{
            filter:none;
        }

        .validacion{

            font-size: 10em;
        }

        .icon-Alerta:before{content:"\f00d";}

        .icon-Alerta{background-position:-96px 0}


    </style>
    <![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body class="uno">



<div class="divider large visible-desktop"></div>
<div class="divider  hidden-desktop"></div>

<div class="container">



<div class="row-fluid" id="demo-1">
<div class="span10 offset1">

<!--
<div style="position: relative;height:auto;width:auto;margin: auto; margin-left:-1%;">
<a  href="#"><img src="{{ asset('bundles/benchmobil/img/logo.png') }}" width=""></a>

</div>

-->



<div class="tabbable custom-tabs tabs-animated  flat flat-all hide-label-980 shadow track-url auto-scroll">
<ul class="nav nav-tabs" style="margin-top:0.4%;">
    <li class="active"><a href="#panel1" data-toggle="tab" class="active "><i class="icon-lock"></i>&nbsp;<span>Crédito Hipotecario</span></a></li>
    <li><a href="#panel2" data-toggle="tab"><i class="icon-user"></i>&nbsp;<span>Crédito Consumo</span></a></li>

</ul>
<div class="tab-content" ">
    <div class="tab-pane active" id="panel1">
        <div class="row-fluid">
            <div class="span5">


                <div class="box" style="background-color:#f0f0f0;">


                    <ul class="respuestaTexto" id="respuestaTexto">


                    </ul>




                </div>


                <h4><i class="icon-lock"></i>&nbsp;&nbsp; Crédito Hipotecario</h4>

                <label>Sueldo Liquído (Pesos)  </label>
                <input type="text" class="input-block-level"  id="sueldoConsumo" placeholder="$" onchange="puntitos(this,this.value.charAt(this.value.length-1))"/>
                <input type="hidden" value="{{ token }}" id="token" name="token">


                <label>Valor Propiedad (UF) </label>
                <input type="text" class="input-block-level"  id="ValorPropiedad" placeholder="UF" onchange="puntitos(this,this.value.charAt(this.value.length-1))"/>

                <label>Pie  (UF) </label>
                <input type="text" class="input-block-level"   id="montoPropiedad" placeholder="UF" onchange="puntitos(this,this.value.charAt(this.value.length-1))"  />

                <label>Pie  </label>
                <input type="text" class="input-block-level"  id="pie"  READONLY  placeholder="Pie" />


                <label>Plazo años  </label>
                <select  class="input-block-level" name="plazo" id="plazoCredito" >
                    <option value="">Opción </option>
                    <option value="6">6 años</option>
                    <option value="7">7 años</option>
                    <option value="8">8 años</option>
                    <option value="9">9 años</option>
                    <option value="10">10 años</option>
                    <option value="11">11 años</option>
                    <option value="12">12 años</option>
                    <option value="13">13 años</option>
                    <option value="14">14 años</option>
                    <option value="15">15 años</option>
                    <option value="16">16 años</option>
                    <option value="17">17 años</option>
                    <option value="18">18 años</option>
                    <option value="19">19 años</option>
                    <option value="20">20 años</option>
                    <option value="21">21 años</option>
                    <option value="22">22 años</option>
                    <option value="23">23 años</option>
                    <option value="24">24 años</option>
                    <option value="25">25 años</option>
                    <option value="26">26 años</option>
                    <option value="27">27 años</option>
                    <option value="28">28 años</option>
                    <option value="29">29 años</option>
                    <option value="30">30 años</option>


                </select>




                <label> Email </label>
                <input type="text" class="input-block-level" value="" id="email" placeholder="Email" />






                <label>

                </label>
                <br />

                <button  class=" btn" id="buttonHipotecario" style="width:100%;height:auto;" >Simular&nbsp;&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></button>



            </div>

            <div class="span4">

                <br/><br/>



            </div>
        </div>
    </div>
    <div class="tab-pane" id="panel2">
        <div class="row-fluid">
            <div class="span5">

                <div class="box" style="background-color:#f0f0f0;">


                    <ul class="respuestaTextoConsumo" style="list-style:none;git" id="respuestaTextoConsumo">


                    </ul>




                </div>


                <h4><i class="icon-user"></i>&nbsp;&nbsp Crédito Consumo</h4>


                <label>Sueldo</label>
                <input type="text" name="SueldoConsumo" id="SueldoConsumo" class="input-block-level"  onchange="puntitos(this,this.value.charAt(this.value.length-1))" />

                <label>Monto del Credito</label>
                <input type="text" class="input-block-level" id="montoConsumo" name="montoConsumo"  onchange="puntitos(this,this.value.charAt(this.value.length-1))" />

                <label>Plazo del Crédito</label>


                <select class="input-block-level" id="plazoConsumo" >
                    <option>Opción</option>

                    <option value="6">  6 meses</option>
                    <option value="12">12 meses</option>
                    <option value="18">18 meses</option>
                    <option value="24">24 meses</option>
                    <option value="36">36 meses</option>
                    <option value="48">48 meses</option>
                    <option value="60">60 meses</option>

                </select>



                <label>Email</label>
                <input type="text" class="input-block-level" id="emailConsumo"  name="emailConsumo"/>


                <br />


            </div>



            <button  class=" btn" id="buttonConsumo" style="width:100%;height:auto;" >Simular&nbsp;&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></button>





        <div class="span4">

            <br/><br/>







    </div>

    <div class="tab-pane" id="panel3">
        <div class="row-fluid">
            <div class="span5">




                </div>
            </div>
        </div>


    </div>



</div>

</div>
</div>
</div>



</div>






<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>


<script src="{{ asset('bundles/benchmobil/mobil2/scripts/bootstrap.min.js')}}"></script>
<script src="{{ asset('bundles/benchmobil/mobil2/modal/simple-modal.js')}}"></script>
<script src="{{ asset('bundles/benchmobil/mobil2/modal/basic.js')}}"></script>
<script src="{{ asset('bundles/benchmobil/mobil2/scripts/tabs-addon.js')}}"></script>


<form action="usuarioNoRegistrados" action="{{path('usuarioNoRegistrados')}}" method="post" ></form>
<form id="simulacionesSave" action="{{ path('simulacionesSave') }}" method="post"></form>















</div>



<div id="basic-modal-content" class="Hipotecario" style="width:80%;height:auto;">
    <div class="cajaModalCreditos" style="width:80%;">
        <div class="chanchoS"><h1> <img id="" src="{{asset('bundles/benchpaginas/img/cancho-sucess.png')}}"><span style="width:90%;position:relative;margin:auto;" > ¡ Felicitaciones !  </span></h1></div>

        <ul class="listaModalCreditos" style="list-style:none;">
            <li></li>
            <li><p class="textoModal">De acuerdo a la información entregada, cumples con los criterios mínimos requeridos para iniciar el proceso de cotización. <p></li>
            <li> <br> <li>
            <li><p class="textoModal" >Regístrate en BenchBanking, completa toda la información que te pediremos y con ella buscaremos la mejor opción de financiamiento para tí. </p></li>
            <li><br></li>
            <li class="textoModal2">Monto Solicitado: $  <span id="totalPesosSolicitados"> </span>   </li>
            <li class="textoModal2">Plazo:  <span id="plazoAnos"></span> Años  </li>
            <li><p class="textoModal2">Valor de la cuota: $ <span id="totalpesos">  </span> (<span id="numero"></span>  UF)</p></li>
            <li> <br> </li>
            <li><button class=" btn"><a href="{{path("homeMobileRegistro" , { 'id' : 'contact-form'}) }}"> <span style="color:#0e0606">Registrate</span></a> </button> </li>



        </ul>



        <br/><br/><br/><br/>
    </div>
</div>





<div id="basic-modal-content" class="Consumo" style="width:80%;height:auto;">
    <div class="cajaModalCreditos" style="width:80%;">
        <div class="chanchoS"><h1> <img id="" src="{{asset('bundles/benchpaginas/img/cancho-sucess.png')}}"><span style="width:90%;position:relative;margin:auto;" > ¡ Felicitaciones !  </span></h1></div>

        <ul class="listaModalCreditos" style="list-style:none;">
            <li></li>
            <li><p class="textoModal">De acuerdo a la información entregada, cumples con los criterios mínimos requeridos para iniciar el proceso de cotización. <p></li>
            <li> <br> <li>
            <li><p class="textoModal" >Regístrate en BenchBanking, completa toda la información que te pediremos y con ella buscaremos la mejor opción de financiamiento para tí. </p></li>
            <li><br></li>
            <li class="textoModal2">Monto Solicitado: $  <span id="totalPesosSolicitados2"> </span>   </li>
            <li class="textoModal2">Plazo:  <span id="plazoMeses"></span> Meses </li>
            <li><p class="textoModal2">Valor de la cuota: $ <span id="totalpesos2">  </span> </p></li>
            <li> <br> </li>
            <li><button class=" btn"><a href="{{path("homeMobileRegistro" , { 'id' : 'contact-form'}) }}"> <span style="color:#0e0606">Registrate</span></a> </button> </li>



        </ul>



        <br/><br/><br/><br/>
    </div>
</div>





<!-- Credito Hipotecario -->
<script>



    $('document').ready(function(){

      // Load dialog on click
      $('#basic-modal .basic').click(function (e) {
          $('#basic-modal-content').modal();

          return false;
      });


    });






</script>

<!-- INICIO HIPOTECARIO -->
<script>

$('document').ready(function(){


        function formato_numero(numero, decimales, separador_decimal, separador_miles) {
        numero = parseFloat(numero);
        if (isNaN(numero)) {
            return "";
        }

        if (decimales !== undefined) {
            //
            numero = numero.toFixed(decimales);
        }

        //
        numero = numero.toString().replace(".", separador_decimal !== undefined ? separador_decimal : ",");

        if (separador_miles) {
            //
            var miles = new RegExp("(-?[0-9]+)([0-9]{3})");
            while (miles.test(numero)) {
                numero = numero.replace(miles, "$1" + separador_miles + "$2");
            }
        }

        return numero;
    }


        var uf2 = '{{uf}}';
        var uf2 = uf2.replace(",", "m");
        var uf2 = uf2.replace(".", "");
        var uf2 = uf2.replace(".", "");
        var uf2 = uf2.replace("m", ".");
        var tasaMensual =  Math.pow (  ((4.4/100) + 1 )    , (1/12) ) - 1;





    $('#buttonHipotecario').click(function(event) {



            $('#respuestaTexto').empty();

            var plazoAnos =   $('#plazoCredito').val();
            var plazoMensual = plazoAnos * 12;
            var sueldo = $('#sueldoConsumo').val();
            var largo = sueldo.length;
            var i = 0;
            var sueldoSin = sueldo.replace(".", "");
            while(i <= largo ){i++; var sueldoSin = sueldoSin.replace(".", "");}







            var montoPropiedad = $('#montoPropiedad').val();
            var largoMontopropiedad = montoPropiedad.length;
            var i = 0;
            var montoPropiedadSin = montoPropiedad.replace(".", "");
            while(i <= largoMontopropiedad){ i++ ;   var montoPropiedadSin = montoPropiedadSin.replace(".", "");};

            var ValorPropiedad = $('#ValorPropiedad').val();
            var largoValorPropiedad = ValorPropiedad.length;
            var i = 0;
            var valorPropiedadSin = ValorPropiedad.replace("." , "");
            while(i <= largoValorPropiedad){i++ ; var valorPropiedadSin = valorPropiedadSin.replace("." , "");};



            if(montoPropiedad == '' || ValorPropiedad  == '' ||  plazoAnos == '' || sueldo == ''){

                $('.mensajes2').css("display", "block");
                $(".columna1").css("margin-top", "2%");

                document.getElementById('respuestaTexto').scrollIntoView();




                $('#respuestaTexto').append('<li class="respuestaTexto2" > <i class="icon-Alerta"> Debes completar todos los campos</i> </li>');



            }else{



                var tasaMensual =  Math.pow (  ((4.4/100) + 1 )    , (1/12) ) - 1;
                var monto  = valorPropiedadSin - montoPropiedadSin;
                var valorCuota = (monto * tasaMensual) / (1 - Math.pow(1 / (1 + tasaMensual), plazoMensual));
                var redondiado = Math.floor(valorCuota);
                var numero = formato_numero(redondiado, '0', '.', '.');
                var totalPesos = numero * uf2;
                var totalPesos = formato_numero(totalPesos, '0', '.','.');

                var pie  = valorPropiedadSin - montoPropiedadSin;



                var por2 = (montoPropiedadSin * 100 / valorPropiedadSin ).toFixed(0);


                $('#pie').val(por2+'%');
                var pie = por2;






                if(por2 < 10.00){

                    $('.mensajes2').css("display", "block");
                    $(".columna1").css("margin-top", "2%");

                    document.getElementById('respuestaTexto').scrollIntoView();


                    $('#respuestaTexto').append('<li class="respuestaTexto2"><i class="icon-Alerta">El PIE debe ser mayor a un 10% del valor total de la propiedad. </i></li>');
                    $('#pie').val(por2 + '%');

                }else{

                    var conpor = 1;

                }





                if(sueldoSin <= 500000){

                    $('.mensajes2').css("display", "block");
                    $(".columna1").css("margin-top", "2%");
                    document.getElementById('respuestaTexto').scrollIntoView();

                    $('#respuestaTexto').append('<li class="respuestaTexto2"><i class="icon-Alerta">Tu sueldo debe ser mayor a $500.000 líquido.</i></li>');

                }else{
                    $('#respuestaTexto').empty();
                    var conSueldo = 1;


                }







                var sueldoUF = (sueldoSin / uf2).toFixed(2);
                var condicion = (pie / sueldoUF).toFixed(2);
                condicion =  Math.floor(condicion);


                if(condicion >= 45){

                    $('.mensajes2').css("display", "block");
                    $(".columna1").css("margin-top", "2%");

                    document.getElementById('respuestaTexto').scrollIntoView();

                    $('#respuestaTexto').append('<li class="respuestaTexto2"> <i class="icon-Alerta">El monto solicitado es muy alto para su renta, le recomendamos complementar renta a nivel grupo familiar o solicitar un monto menor.</i> </li>');


                }else{

                    var cond45 = 1;

                }



                if(conpor == 1 && conSueldo == 1 && cond45 == 1){


                    var monto2  = valorPropiedadSin - montoPropiedadSin;
                    var montoSolicitado =  monto2 * uf2;
                    var totalPesosSolicitados = formato_numero(montoSolicitado, '0', '.','.');

                        $('#totalPesosSolicitados').text(totalPesosSolicitados);
                        $('#plazoAnos').text(plazoAnos);
                        $('#totalpesos').text(totalPesos);
                        $('#numero').text(numero);
                        $('.Hipotecario').modal();

                }else{




                    if(por2 < 10.00){

                        $('.mensajes2').css("display", "block");
                        $(".columna1").css("margin-top", "2%");

                        document.getElementById('respuestaTexto').scrollIntoView();


                        $('#respuestaTexto').append('<li class="respuestaTexto2"><i class="icon-Alerta"> El PIE debe ser mayor a un 10% del valor total de la propiedad. </i></li>');
                        $('#pie').val(por2 + '%');

                    }



                    $('.mensajes2').css("display", "block");
                    $(".columna1").css("margin-top", "2%");
                    document.getElementById('respuestaTexto').scrollIntoView();

                    $('#respuestaTexto').append('<li> <i class="icon-Alerta"> No cumples con los criterios mínimos recomendados por las instituciones financieras </i> </li>')



                    var myData = 'email=' + $("#email").val()
                            + '&token=' + $("#token").val();




                    jQuery.ajax({
                        type: "POST", // metodo post o get
                        url: $("#usuarioNoRegistrados").attr("action"),
                        dataType: "text", // tipo datos text o json etc
                        data: myData,
                        success: function(response) {


                            var respuesta = response;


                            if (respuesta == 100) {





                            }

                            if(respuesta == 200){





                            }

                            if(respuesta == 900){


                                document.getElementById('respuestaTexto').scrollIntoView();

                                $('#respuestaTexto').append('<li class="respuestaTexto2"> <i class="icon-Alerta">  Email Invalido </i> </li>')

                            }

                        },
                        error: function(xhr, ajaxOptions, thrownError) {


                        },

                    });



                }




            }

// Guardando
            var valorPropiedad = $('#ValorPropiedad').val() ;
            var pie = $('#montoPropiedad').val();


            var ValorPropiedad = $('#ValorPropiedad').val();
            var largoValorPropiedad = ValorPropiedad.length;
            var i = 0;
            var valorPropiedadSin = ValorPropiedad.replace("." , "");
            while(i <= largoValorPropiedad){i++ ; var valorPropiedadSin = valorPropiedadSin.replace("." , "");};


            var montoCreditoSin =  valorPropiedadSin- pie;





            var myData = 'sueldo='+$("#sueldoConsumo").val()
                            + '&montoCredito='+ $('#ValorPropiedad').val()
                            + '&pie='+$("#montoPropiedad").val()
                            + '&tipo='+'Crédito Hipotecario'
                            + '&plazo='+$('#plazoCredito').val()
                            + '&email='+$('#email').val()
                            + '&pieP=' + $('#pie').val()
                            + '&montoPropiedadSin=' + montoCreditoSin

                    ;









            jQuery.ajax({
                type: "POST", // metodo post o get
                url: $("#simulacionesSave").attr("action"),
                dataType: "text", // tipo datos text o json etc
                data:myData,
                success:function(response){


                    var respuesta = response;

                    if(respuesta == '200'){





                    }else{






                    }
                },

                error:function(xhr, ajaxOptions, thrownError){




                }

            });

        });


        $('#email').focusout(function(event) {

            $('#respuestaTexto').empty();


            function validarEmail( email ) {
                expr = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

                if ( !expr.test(email) ){


                    return 0;

                }else{

                    return  1;



                }

            }


            var cond = validarEmail($('#email').val());




            if(cond == 0){

                $('.mensajes2').css("display", "block");
                $(".columna1").css("margin-top", "2%");
                document.getElementById('respuestaTexto').scrollIntoView();




            }









        });













        $('#montoPropiedad').focusout(function(event) {



            $('#respuestaTexto').empty();

            var sueldo = $('#sueldoConsumo').val();
            var largo = sueldo.length;
            var i = 0;
            var sueldoSin = sueldo.replace(".", "");
            while(i <= largo ){i++; var sueldoSin = sueldoSin.replace(".", "");}


            var montoPropiedad = $('#montoPropiedad').val();
            var largoMontopropiedad = montoPropiedad.length;
            var i = 0;
            var montoPropiedadSin = montoPropiedad.replace(".", "");
            while(i <= largoMontopropiedad){ i++ ;   var montoPropiedadSin = montoPropiedadSin.replace(".", "");};


            var ValorPropiedad = $('#ValorPropiedad').val();
            var largoValorPropiedad = ValorPropiedad.length;
            var i = 0;

            var valorPropiedadSin = ValorPropiedad.replace("." , "");
            while(i <= largoValorPropiedad){i++ ; var valorPropiedadSin = valorPropiedadSin.replace("." , "");};


            // calculo pie


            var pie  = valorPropiedadSin - montoPropiedadSin;
            var por2 = (montoPropiedadSin * 100 / valorPropiedadSin ).toFixed(0);
            $('#pie').val(por2+'%');
            if(por2 < 10.00){

                $('.mensajes2').css("display", "block");
                $(".columna1").css("margin-top", "2%");


                $('#pie').val(por2 + '%');

            }





            var sueldoUF = (sueldoSin / uf2).toFixed(2);
            var condicion = (pie / sueldoUF).toFixed(2);



            if(condicion >= 45){

                $('.mensajes2').css("display", "block");
                $(".columna1").css("margin-top", "2%");




            }

            $('#plazoCredito22').focusout(function(event) {
                $('#respuestaTexto').empty();

                var plazoAnos =   $('#plazoCredito').val();




                var plazoMensual = plazoAnos * 12;
                var sueldo = $('#sueldoConsumo').val();
                var largo = sueldo.length;
                var i = 0;
                var sueldoSin = sueldo.replace(".", "");
                while(i <= largo ){i++; var sueldoSin = sueldoSin.replace(".", "");}


                if(sueldoSin <= 500000){

                    $('.mensajes2').css("display", "block");
                    $(".columna1").css("margin-top", "2%");


                }else{
                    $('#respuestaTexto').empty();

                }



                var montoPropiedad = $('#montoPropiedad').val();
                var largoMontopropiedad = montoPropiedad.length;
                var i = 0;
                var montoPropiedadSin = montoPropiedad.replace(".", "");
                while(i <= largoMontopropiedad){ i++ ;   var montoPropiedadSin = montoPropiedadSin.replace(".", "");};

                var ValorPropiedad = $('#ValorPropiedad').val();
                var largoValorPropiedad = ValorPropiedad.length;
                var i = 0;
                var valorPropiedadSin = ValorPropiedad.replace("." , "");
                while(i <= largoValorPropiedad){i++ ; var valorPropiedadSin = valorPropiedadSin.replace("." , "");};




                var monto  = valorPropiedadSin - montoPropiedadSin;



                var valorCuota = (monto * tasaMensual) / (1 - Math.pow(1 / (1 + tasaMensual), plazoMensual));




                var redondiado = Math.floor(valorCuota);

                var numero = formato_numero(redondiado, '0', '.', '.');
                var totalPesos = numero * uf2;
                var totalPesos = formato_numero(totalPesos, '0', '.','.');




            });











        });




    });










</script>



<script>

$(document).ready(function(){

    var uf2 = '{{uf}}';
    var uf2 = uf2.replace(",", "m");
    var uf2 = uf2.replace(".", "");
    var uf2 = uf2.replace(".", "");
    var uf2 = uf2.replace("m", ".");





    });


</script>



<!-- FIN DE HIPOTECARIO -->


<!-- Credito Consumo -->

<script>




$('document').ready(function($) {


    function formato_numero(numero, decimales, separador_decimal, separador_miles) {
        numero = parseFloat(numero);
        if (isNaN(numero)) {
            return "";
        }

        if (decimales !== undefined) {
            //
            numero = numero.toFixed(decimales);
        }

        //
        numero = numero.toString().replace(".", separador_decimal !== undefined ? separador_decimal : ",");

        if (separador_miles) {
            //
            var miles = new RegExp("(-?[0-9]+)([0-9]{3})");
            while (miles.test(numero)) {
                numero = numero.replace(miles, "$1" + separador_miles + "$2");
            }
        }

        return numero;
    }



    var uf2 = '{{uf}}';
    var uf2 = uf2.replace(",", "m");
    var uf2 = uf2.replace(".", "");
    var uf2 = uf2.replace(".", "");
    var uf2 = uf2.replace("m", ".");






    $('#buttonConsumo').click(function(event) {



        $('#respuestaTextoConsumo').empty();

        var plazo = $('#plazoConsumo').val();
        var plazoMensual = plazo;
        var montoCredito =  $('#montoConsumo').val();
        var largoMonto = montoCredito.length;

        var i = 0;
        var  MontoSin = montoCredito.replace(".", "");
        while(i <= largoMonto ){ i++ ;   var MontoSin = MontoSin.replace(".", "");};

        var sueldo = $('#SueldoConsumo').val();
        var largo = sueldo.length;
        var i = 0;
        var sueldoSin = sueldo.replace(".", "");
        while(i <= largo ){i++; var sueldoSin = sueldoSin.replace(".", "");}




        if(plazo == '' || montoCredito == '' ){

            $('.mensajes2').css("display", "block");
            $(".columna1").css("margin-top", "2%");



            $('#respuestaTextoConsumo').append('<li><i class="icon-Alerta">  Debes completar todos los campos </i></li>');




        }else{







            if(sueldoSin <= 500000){


                $('.mensajes2').css("display", "block");
                $(".columna1").css("margin-top", "2%");


                $('#respuestaTextoConsumo').append('<li><i class="icon-Alerta"> Tu sueldo debe ser mayor a $500.000 líquido </i></li>');


            }else{

                $('#respuestaTextoConsumo').empty();
                var cond1 = 1;

            }


            var condicion = (MontoSin / sueldoSin).toFixed(2);
            condicion =  Math.floor(condicion);


            if(condicion >= 45){

                $('.mensajes2').css("display", "block");
                $(".columna1").css("margin-top", "2%");

                $('#respuestaTextoConsumo').append('<li><i class="icon-Alerta">  El monto solicitado es muy alto para su renta, le recomendamos complementar renta a nivel grupo familiar o solicitar un monto menor. </i> </li>');



            }else{


                var cond2 = 1;
            }

            var plazoCredito = $('#plazo').val();

            var tasaMensual = 1.37 / 100;



            var valorCuota = (MontoSin * tasaMensual) / (1 - Math.pow(1 / (1 + tasaMensual), plazo));



            var cuota = Math.floor(valorCuota);


            if(cond1 == 1 && cond2 == 1){

                cuota = formato_numero( cuota , '0', '.','.');






                  $('#totalPesosSolicitados2').text(montoCredito);
                  $('#plazoMeses').text(plazo);
                  $('#totalpesos2').text(cuota);
                  $('.Consumo').modal();











            }else{

                $('.mensajes2').css("display", "block");
                $(".columna1").css("margin-top", "2%");


                $('#respuestaTextoConsumo').append('<li> <i class="icon-Alerta"> No cumples con los criterios mínimos recomendados por las instituciones financieras </i></li>');




                var myData = 'email=' + $("#emailConsumo").val()
                        + '&token=' + $("#token").val();


                jQuery.ajax({
                    type: "POST", // metodo post o get
                    url: $("#usuarioNoRegistrados").attr("action"),
                    dataType: "text", // tipo datos text o json etc
                    data: myData,
                    success: function(response) {


                        var respuesta = response;


                        if (respuesta == 100) {







                        }

                        if(respuesta == 200){






                        }

                        if(respuesta == 900){


                            $('#respuestaTextoConsumo').append('<li><i class="icon-Alerta">  Email Invalido</i> </li>')

                        }

                    },
                    error: function(xhr, ajaxOptions, thrownError) {


                    },

                });




            }



        }




        // Guardando
        var valorPropiedad = $('#ValorPropiedad').val() ;
        var pie = $('#montoPropiedad').val();
        var montoCredito =  valorPropiedad - pie;



        var myData = 'sueldo='+$("#SueldoConsumo").val()
                        + '&montoCredito='+ $('#montoConsumo').val()
                        + '&pie='+ ''
                        + '&tipo='+'Crédito Consumo'
                        + '&plazo='+$('#plazoConsumo').val()
                        + '&email='+$('#emailConsumo').val()
                ;





        jQuery.ajax({
            type: "POST", // metodo post o get
            url: $("#simulacionesSave").attr("action"),
            dataType: "text", // tipo datos text o json etc
            data:myData,
            success:function(response){


                var respuesta = response;

                if(respuesta == '200'){





                }else{






                }
            },

            error:function(xhr, ajaxOptions, thrownError){




            }

        });


    });




    $('#emailConsumo22').focusout(function(event) {
        $('#respuestaTextoConsumo').empty();



        function validarEmail( email ) {
            expr = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

            if ( !expr.test(email) ){

                return 0;

            }else{

                return  1;

            }

        }


        var cond = validarEmail($('#email').val());




        if(cond == 0){

            $('.mensajes2').css("display", "block");
            $(".columna1").css("margin-top", "2%");






        }

    });














});

</script>


<style>
    .tab-content{

        background-color: #585858;
    }


</style>

</body>
</html>
