<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- CHANGE THIS TITLE TAG -->
<title>BenchBanking Mobile</title>


    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T8RRB4"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T8RRB4');</script>

<!-- media-queries.js -->
<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
<!-- html5.js -->
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


<!--<link href="font/stylesheet.css" rel="stylesheet" type="text/css" />-->	

<link href="{{ asset('bundles/benchmobil/css/bootstrap.min.css') }}" rel="stylesheet">  

<link href="{{ asset('bundles/benchmobil/css/bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css" />



<link href="{{ asset('bundles/benchmobil/css/styles.css') }}" rel="stylesheet" type="text/css" />

<link href="{{ asset('bundles/benchmobil/css/media-queries.css') }}" rel="stylesheet" type="text/css" />


<link rel="stylesheet" type="text/css" href="{{ asset('bundles/benchmobil/fancybox/jquery.fancybox-1.3.4.css') }}" media="screen" />

<meta name="viewport" content="width=device-width" />
 
<!--<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">-->

<link href='https://fonts.googleapis.com/css?family=Exo:400,800' rel='stylesheet' type='text/css'>

<script>
window.addEventListener('load', function(){setTimeout(scrollTo, 0, 0, 1);}, false);
window.onload = function() {setTimeout(function(){window.scrollTo(0, 1);}, 100);}
</script>

</head>

<body data-spy="scroll">

<!-- TOP MENU NAVIGATION -->
<div class="navbar navbar-fixed-top" id="home">
	<div class="navbar-inner">
		<div class="container">
	
			<a class="brand" href="#"><img src="{{ asset('bundles/benchmobil/img/logo.png') }}"></a>
	
	
		
			
				<ul id="nav-list" class="nav">





                    <li><a id="registrate" href="#contact" style="height:90px"><img  src=" {{ asset('bundles/benchmobil/img/btn_registrate.png') }}"></a></li>

                    <li  style=" background-color:#E8501F;;">&nbsp; <a  style="margin-top:-2%;" href="{{ path('homeMobile2') }}" target="_blank" style="margin-left:0%;"><img id="simular" src=" {{ asset('bundles/benchmobil/img/botonSimular.jpg') }}"></a></li>

                    <li style=" background-color:#F95B00;"><a href="#quehacemos"><img src=" {{ asset('bundles/benchmobil/img/btn_qh.png') }}"></a></li>


                    <li style="background-color:#E8501F;"><a href="#conoce"><img src="{{ asset('bundles/benchmobil/img/btn_cdc.png') }}"></a></li>
                    
				</ul>
                        
                        
		 
		
	  </div>
	</div>


</div>


<!-- MAIN CONTENT -->
<div class="container content container-fluid">






<!-- CONTACT -->
	<div class="row-fluid" id="contact">
    
    <div class="span6 updates" id="updates">

				<ul id="nav-list">
                                    
                                     
                    <li><a href="{{ ('indexMobil') }}">
                            
                            <img src="{{ asset('bundles/benchmobil/img/laptop.png') }}"  id="versionLap"></a></li>
                            
                            
				</ul>
				

			
		</div>
    
    
	<div class="span6">
<h2 class="page-title" id="scroll_up">
<a href="#home" class="arrow-top">
                <img src=" {{ asset('bundles/benchmobil/img/arrow-top.png') }}">
				</a>
				Regístrate
			</h2>
		
		<!-- CONTACT INFO -->
		<div class="span6" id="contact-info">
			<p id="tituloRegistrate">Regístrate aquí y obtén la mejor alternativa de crédito con nosotros.		</p>
		</div>
		
		<!-- CONTACT FORM -->
	  <div class="span6" id="contact-form">
		
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="name">RUT</label>
						<div class="controls">

							<span class="text-msje" id="rutNoValido">Rut No valido </span>


							<input class="input-xlarge" type="text" id="rut" placeholder="Ingresa tu rut sin puntos">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="email">Email</label>
						<div class="controls">
							<span class="text-msje" id="mailNoValido">Mail no valido</span>
							<input class="input-xlarge" type="text" id="email" placeholder="Ejemplo: juan@gmail.com">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="subject">Contraseña</label>
						<div class="controls">
							<input class="input-xlarge" type="password" id="contrasena1" placeholder="Ingresa tu contraseña">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="message">Confirmar Contraseña</label>
						<div class="controls">

							<span class="text-msje" id="confirmarContrasena">Las contraseñas no coinciden </span>
							<input class="input-xlarge" type="password" id="contrasena2" placeholder="Repite tu contraseña">
						</div>
					</div>
                    <div class="text-msje" id="mensajeRespuesta">
					
					</div>
					<div class="form-actions">
						<button  id="enviar" class="btn btn-primary">Enviar</button>
					</div>


					<span  class="text-msje" id="Respuesta"></span>

                    
				</fieldset>
		
	  </div>
        
      </div>
      
      </div>
	
	
	
	<!-- QUE HACEMOS -->
	<div class="row-fluid" id="quehacemos">
	
		<div class="span6">
			<h2 class="page-title" id="scroll_up">
            <a href="#home" class="arrow-top">
                
              
                
                
				<img src="  {{ asset('bundles/benchmobil/img/arrow-top.png') }}">
				</a>
				Qué Hacemos
			</h2>
			
			<p>Pedir un préstamo es una tarea abrumadora, toma mucho tiempo y es difícil de entender. En nuestra plataforma puedes subir en un solo lugar tu información, elige los bancos donde deseas cotizar y nosotros se la enviamos.</p> 
		  <p>¡ÚNETE!<br>
		    <br>
		    Somos un equipo de emprendedores que con el apoyo de Startup Chile desarrolló una plataforma que permite a sus clientes cotizar y contratar sus créditos en un sólo lugar, logrando así elegir el crédito más conveniente en términos de cuota y calidad de atención.<br />
		  </p>
			
		</div>
        

	</div>
    
    
    
    <!-- CONOCE DE CREDITOS -->
	<div class="row-fluid" id="conoce">
	
	  <div class="span6">
		<h2 class="page-title" id="scroll_up">
        <a href="#home" class="arrow-top">
            
              
				<img src="{{ asset('bundles/benchmobil/img/arrow-top.png') }}">
		  </a>
				Conoce de Créditos
			</h2>
			
		  <p>¿Qué es la CAE?</p>
			<p>Es la Carga Anual Equivalente. Es un porcentaje que permite que puedas comparar qué empresa te ofrece el crédito más barato. Verifica lo siguiente: Siempre será más barato el crédito que tenga la Carga Anual Equivalente más baja. La Carga Anual Equivalente incluye todos los gastos y costos del crédito y los expresa en un sólo porcentaje que permite compararlo. Fíjate en LA CAE, así podrás vitrinear y elegir la opción de crédito que más te convenga.</p>
			<p> • Mismo plazo (ejemplo 12 meses)<br>
			  • Mismo monto (ejemplo 1 millón de pesos)<br>
			  • Mira el porcentaje que señala LA CAE</p>
			<p>¿Qué me deben informar al solicitar un crédito?</p>
			<p>Deben informarte:</p>
			<p> • El costo total del producto o servicio. La CAE o Carga Anual Equivalente.<br>
			  • El precio al contado del bien o servicio que se trate.<br>
			  • La tasa de interés del crédito.<br>
			  • Otros costos como: Impuestos correspondientes a la operación del crédito, gastos notariales, seguros que hayas aceptado o contratado, otros.<br>
			  • Las alternativas que te ofrecen para pagar el crédito según monto solicitado, por ejemplo: número de cuotas, número de pagos a efectuar y su periodicidad (mensual, anual, etc).</p>
			<p><br />
	    </p>
			
		</div>
        
        
	</div>
	
        
		
	</div>
	
</div>


<!-- FOOTER -->
<div class="footer container container-fluid">

	<!-- COPYRIGHT - EDIT HOWEVER YOU WANT! -->
	<div id="copyright">
		Copyright &copy; 2013 BenchBanking.<br>
	</div>
	
	<!-- CREDIT - PLEASE LEAVE THIS LINK! -->
	<div id="credits">
		by <a href="http://www.mediadiv.cl">Mediadiv</a>
	</div>

</div>










<script src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="{{ asset('bundles/benchmobil/js/general.js') }}"></script>

<script src="{{ asset('bundles/benchmobil/js/bootstrap.min.js') }}"></script>

<script src="{{ asset('bundles/benchmobil/js/bootstrap-collapse.js') }}"></script>

<script src="{{ asset('bundles/benchmobil/js/bootstrap-scrollspy.js') }}"></script>



<script src="{{ asset('bundles/benchmobil/fancybox/jquery.mousewheel-3.0.4.pack.js') }}"></script>


<script src="{{ asset('bundles/benchmobil/fancybox/jquery.fancybox-1.3.4.pack.js') }}"></script>



<script src="{{ asset('bundles/benchmobil/js/init.js') }}"></script>




<script src="{{ asset('bundles/benchmobil/js/init.js') }}"></script>


<script src="{{ asset('bundles/benchmobil/js/jqueryRut.js') }}"></script>
<form id="reg" action="{{path('guardarRegistro')}}" ></form>




<script>


$(document).ready(function() {

    //window.location.href = "simulacion";





    var ancla = "{{id}}";


    $('#versionLap').click(function(){

        if(ancla == 'contact-form'){
            window.location.href = "../../home";

        }else{

            window.location.href = "../home";


        }

    });




    $('#simular').click(function(){



        if(ancla == 'contact-form'){


            window.location.href = "../simulacion";


        }else{

            window.location.href = "simulacion";
        }

    });

    if(ancla == 'contact-form'){



        var scrollIndex = $('#tituloRegistrate').offset();
        $("body").animate({scrollTop:(scrollIndex.top)},500,"linear");



    }else{




    }

});
    

$('document').ready(function() {


$('#rutNoValido').hide('fast');


$('#rut').Rut({


  on_error: function(){ 


  	$('#rutNoValido').show('fast');
  



},

on_success: function(){ 

$('#rutNoValido').hide('fast');


 } 

});





$('#mailNoValido').hide('fast');



    $('#mailNoValido').hide('fast');
    $('#confirmarContrasena').hide('fast');
    $('#mensajeRespuesta').hide('fast');

// funcion validar mail

//





	  function validar_email(valor)
    {
        
        var filter = /[\w-\.]{3,}@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/;
   
        if(filter.test(valor))
            return true;
        else
            return false;
    }



	$('#enviar').click(function(e) {
  e.preventDefault();
  
      $("#Respuesta").text('');



		if($("#email").val() == '')
        {
            $('#mailNoValido').show('fast');
        }else 

        if(validar_email($("#email").val()))
        

        {
          
        }else
        

        {
            $('#mailNoValido').show('fast');
        }




     var contrasena1 = $('#contrasena1').val();
     var contrasena2 = $('#contrasena2').val();


     if(contrasena1 != contrasena2){


    $('#confirmarContrasena').show('fast');


     }else{



       if(validar_email($("#email").val())){

 $('#mailNoValido').hide('fast');
  $('#confirmarContrasena').hide('fast');
  $('#rutNoValido').hide('fast');




      
      
        
        




		var myData = 'rut='+$('#rut').val()


         +'&email='+$('#email').val()
         +'&contrasena1='+$('#contrasena1').val()
         +'&contrasena2='+$('#contrasena2').val()
		;










		jQuery.ajax({

			type: "POST",
			url:$('#reg').attr("action"),
			dataType: "text",
			data : myData,

		

			success : function (response){
                                                    if(response== '900'){
                                                        
                                                        $("#Respuesta").append('Ya existe este Rut en nuestra base datos.');
                                                        
                                                       
                                                    }
                                                    
                                                    if(response == '100'){
                                                    
                                                      $("#Respuesta").append('¡Gracias por registrarte en BenchBanking!');

                                          
                                                
                                                
                                
                                                    }
				



			},


			error:function(xhr, ajaxOptions, thrownError){


					 alert(thrownError);


			}




		});



 }
 }

	});

});



</script>

</body>
</html>
