{# empty Twig template #}



  <form class="form-personal" method="post" action="scripts/donde/guardar.php" id="DondeForm">

  <button style=" margin: auto; text-align:center;" id="dondeguarda" class="classname" value="Agregar" type="submit">GUARDAR Y SIGUIENTE</button>

		<div class="fila">
           
           <div class="col3">
              <table class="table2 table-striped">
			    <thead style="background:#FF6600;">
                  <tr>
					<td width="10%"><p style="text-align:center; color:#FFF;">Institución</p></td>
					
					<td width="10%"><p style="text-align:center;color:#FFF;">Seleccionar</p></td>
                  </tr>
				</thead>
		    <thead style="background:#F8F8F8;  font-family: Arial, Helvetica, sans-serif; height:30px;">
                   <?php while($row = mysql_fetch_array($resultDonde)){ ?>
                  <tr>

					<td><p style="text-align:center; color:#FFF;"> <img src="img/bancos/<?php echo $row['institucion']; ?>.jpg"></p></td>
					
					<td><p style="text-align:center;color:#666;">
					  
					  <input type="checkbox" class="big-checkbox" id="checkbox-2-1" value="<?php echo $row['institucion'] ;?>" name="ins[]" checked >
					  
					  <label for="checkbox-2-1"></label>
				    </p></td>
                  </tr>


                  <?php
                  
                   }  
                 ?> 


				</thead>
 	                               
			 
             </table>

             <section id="dondesave">
             	

             </section>
              
              
              
              
              
              
              
             
              
              
             
            
            </div>
            
            

	
		</div>
	<div class="clearfix"></div>
        

       <button style=" margin: auto; text-align:center;" id="dondeguarda" class="classname" value="Agregar" type="submit" 
onClick="_gaq.push(['_trackEvent','dondeCotizar','dondeCotizar','dondeCotizar']);">GUARDAR Y SIGUIENTE</button>
          <div class="clearfix"></div>
          <br> 
        
            



</form>