

<script src="{{ asset('bundles/benchtienes/js/tieneBienesRaices.js') }}"></script>
 


<div class="fila">
    
 
    
 

        <div class="alert-form2"><p></p></div>  
  
        	<div class="col1">
                    
  
                    <section >
                    
     <form  class="form-personal" id="forBienesR1" action="{{path('tienesBienesRaicesSiNo')}}" method="POST" autocomplete="off" >


<input type="hidden" id="token" value="{{token}}">
      <label class="label-text2" for="rut">¿Tienes alguna Propiedad?</label>

    


      {% if usuario.tienesBienesRaicesSiNo == 'SI' %}
       
       <p class="rad">Si<input type="radio" value="SI" name="BienesRaicesRadio" class="BienesRaicesRadio" id="BienesRaicesRadio" checked >
      No<input type="radio" value="NO" name="BienesRaicesRadio"    class="BienesRaicesRadio"id="BienesRaicesRadio"   ></p>


       
      
      {% else %}
       
       
       
       
       

      <p class="rad">Si<input type="radio" value="SI" name="BienesRaicesRadio" class="BienesRaicesRadio"id="BienesRaicesRadio"  >
      No<input type="radio" value="NO" name="BienesRaicesRadio"    class="BienesRaicesRadio"id="BienesRaicesRadio" checked   ></p>
          
       
      

      {%endif %}
      


    <div style="float:left; height:10px; width:100%;"></div> 
    <button style="float:left;" class="classname" value="Agregar" id="guardaTienesHipotecarioSiNo">GUARDAR Y SIGUIENTE</button> 
    
    
   
              
</form>

<section id="RespuestaBienesRaicesSino">



</section>



      
                        
                        
          <form class="form-personal" id="FormBienesRaices" action="{{path('bienesraicesguarda')}}" method="post"  data-validate="parsley" autocomplete="off" >

              <label class="label-text2" for="institucion">Tipo</label>
              <select name="THipoTipo" id="THipoTipo"class="data"  data-validation-engine="validate[required]" data-required="true">
              <option value="">Opción</option>
              <option value="Casa">Casa</option>
              <option value="Departamento">Departamento</option>
              <option value="Terreno">Terreno</option>
              <option value="Otro">Otro</option>
                

              </select>
              <input type="hidden" value="<?php echo $idUser3; ?>" name="ThipoId" id="ThipoId">
              <input type="hidden" value="SI" name="THipoTienes" id="THipoTienes"> 

               
               
             <label class="label-text2" for="institucion">Dirección</label>
              <input type="text" class="input-box2" name="THipoDireccion" id="THipoDireccion"  data-validation-engine="validate[required]" data-required="true" >
              
              <label class="label-text2" for="Region">Región</label>
              
<!--- select region -->
<select name="ComboHipote" id="ComboHipote" class="data"  data-validation-engine="validate[required]" data-required="true">
  <option value="">Opción</option>
 


 <option value="Región de Antofagasta">Región de Antofagasta </option>


<option value="Región de Arica y Parinacota">Región de Arica y Parinacota </option>


<option value="Región de Atacama">Región de Atacama </option>


<option value="Región de Aysén del General Carlos Ibáñez del Campo">Región de Aysén del General Carlos Ibáñez del Campo </option>


<option value="Región de Coquimbo">Región de Coquimbo </option>


<option value="Región de la Araucanía">Región de la Araucanía </option>


<option value="Región de Los Lagos" >Región de Los Lagos </option>


<option value="Región de Los Lagos">Región de Los Ríos </option>


<option value="Región de Magallanes">Región de Magallanes y la Antártica Chilena </option>


<option value="Región de Tarapacá">Región de Tarapacá </option>


<option value="Región de Valparaiso">Región de Valparaiso </option>


<option value="Región del Bío-Bío">Región del Bío-Bío </option>



<option value="Región del Libertador General Bernardo O Higgins">Región del Libertador General Bernardo O Higgins </option>


<option value="Región del Maule">Región del Maule </option>


<option value="Región Metropolitana">Región Metropolitana </option>




        </select>




<!--- fin select region -->

              <label class="label-text2" for="rut">Comuna</label>
              
              <select name="ComboHipoComuna4" id="ComboHipoComuna4" class="data"  data-validation-engine="validate[required]" data-required="true">
              <option value="1">Opción</option>
            
              </select>
              
                </div>
        </form>
                <div class="col1">
                    <form id="FormBienesRaices2" data-validate="parsley" >

         
              
              <label class="label-text2" for="rut">Avalúo Fiscal</label>
              <input type="text" class="input-box2" onkeyup="puntitos(this,this.value.charAt(this.value.length-1))" placeholder="$" name="THipoAvaluo_fiscal" id="THipoAvaluo_fiscal"    data-validation-engine="validate[required]" data-required="true" >
              
              
              

              <label class="label-text2" for="rut">Rol</label>
              <input type="text" class="input-box2"  name="THipoRol" id="THipoRol"   data-validation-engine="validate[required]" data-required="true">
              

              <label class="label-text2" for="rut">Hipotecado</label>
            
            <select name="Hipotecado" id="THipoHipotecado" name="THipoHipotecado" class="data"   data-validation-engine="validate[required]" data-required="true">
              <option value="">Opción</option>
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
            
            



            </div>
            
        <div class="clearfix"></div>
       	  <div class="col2">
          <button style="float:left;" id="guardaHipotecario" class="classname" value="Agregar"  onClick="" >AGREGAR </button>

          
          <div id="SiguienteBienesRaices" class="classname" style="margin-top:2px; margin-left: 1%; position: relative;width: 80px; float: left;" >SIGUIENTE</div>
 
 </form>
          
          
          
          
          
          
          
          
 
 <div class="flix-clear"></div>

                </div> 
              
            <div class="clearfix"></div>
            <br>
            
            <div class="col2">
              <table class="table table-striped" id="respuestahipotecario">
                <thead style="background:#F60">
                  <tr>
                    <th><p style="text-align:center; color:#FFF;">Tipo</p></th>
                    <th><p style="text-align:center;color:#FFF;">Dirección</p></th>
                    <th><p style="text-align:center;color:#FFF;">Region</p></th>
                    <th><p style="text-align:center;color:#FFF;">Comuna</p></th>
                    <th><p style="text-align:center;color:#FFF;">Avaluó fiscal</p></th>
                    <th><p style="text-align:center;color:#FFF;">Rol</p></th>
                    <th><p style="text-align:center;color:#FFF;">Hipotecado</p></th>
                    <th><p style="text-align:center;color:#FFF;">Eliminar</p></th>


                  </tr>
                </thead>

                

  
                <tbody style="background:#F8F8F8;  font-family: Arial, Helvetica, sans-serif;">
                
    {% for tienesHipotecario in tienesHipotecario %}          

  <tr id="item_{{tienesHipotecario.id}}">
    
                    <td><p style="text-align:center; color: #666;">{{tienesHipotecario.tipo}}</p></td>
                    <td><p style="text-align:center;color:#666;">{{tienesHipotecario.tipo}}</p></td>
                    <td><p style="text-align:center;color:#666;">{{tienesHipotecario.region}}</p></td>
                    <td><p style="text-align:center;color:#666;">{{tienesHipotecario.comuna}}</p></td>
                    <td><p style="text-align:center;color:#666;">{{tienesHipotecario.avaluo}}</p></td>
                    <td><p style="text-align:center;color:#666;">{{tienesHipotecario.rol}}</p></td>
                     <td><p style="text-align:center;color:#666;">{{tienesHipotecario.hipotecado}}</p></td>
                     <td><p style="text-align:center;color:#666;"> <a href="#" class="del_button" id="del-{{tienesHipotecario.id}}">eliminar</a> </p> </td>



                  </tr>
               {% endfor %}

                


                
               </tbody >
              </table>
            </div>
            
            

	
		</div>
	
        

           
          
            


</form>
<form id="formeleminarBienesRaices" action="{{path('delbienesraices')}}" method="post">

</form>

   
