{# empty Twig template #}


<script src="{{ asset('bundles/benchtienes/js/tienesSociedades.js') }}"></script>
		<div class="fila">
      
        


        	<div class="col1">

             
              
               



          <form  action="{{path('tieneSociedadesSiNo')}}" id="SociedadesSiNo" method="post">
           

<input type="hidden" id="token" value="{{token}}">
            <label class="label-text2" for="rut">¿Tienes algúna Sociedad?</label>

            <input type="hidden" name="iduseSino" id="iduseSino"  value="<?php echo $idUser3; ?>">
          
                
            
    {%  if   usuario.tienesSociedadesSiNo == 'SI' %}
                   
 <p class="rad">Si<input type="radio" value="SI"class="SociedadesRadio" name="SociedadesRadio" id="SociedadesRadio" checked >
         No<input type="radio" value="NO"   class="SociedadesRadio" name="SociedadesRadio" id="SociedadesRadio"></p>
   
 
       
 {% else %}
      
   
 <p class="rad">Si<input type="radio" value="SI" class="SociedadesRadio" name="SociedadesRadio" id="SociedadesRadio">
         No<input type="radio" value="NO"  class="SociedadesRadio" name="SociedadesRadio" id="SociedadesRadio"  checked></p>
            
 
 {% endif %}


   
        <div style="float:left; height:10px; width:100%;"></div>
       <button style="float:left;" id="TSguardadatos1" class="classname" value="Agregar" type="submit">GUARDAR  Y SIGUIENTE</button>

            </form>

            <div id="RespuestaSociedades">
            
            </div>



  <form class="form-personal" id="tienesSociedades" action="{{path('sociedadesguarda')}}" method="POST"   autocomplete="off" >
         <label class="label-text2" for="institucion">Nombre Sociedad</label>

                     
               <input type="text" class="input-box2" name="TSnombre" id="TSnombre" data-validation-engine="validate[required]" data-required="true">
           
             

               
             <label class="label-text2" for="institucion">RUT</label>
               <input type="text"class="input-box2" name="TSRut" id="TSRut" data-validation-engine="validate[required]" data-required="true">
               
               </div>
              </form>
                    
             <div class="col1">
              <form id="tienesSociedades2">  
              <label class="label-text2" for="rut">Porcentaje</label>
              <input type="text" class="input-box2" name="TSPorcentaje" id="TSPorcentaje"  placeholder="%" data-validation-engine="validate[required]" data-required="true">
              
              <label class="label-text2" for="rut">Valor Participativo</label>
              <input type="text" class="input-box2" placeholder="$" name="TSValor" id="TSValor" onkeyup="puntitos(this,this.value.charAt(this.value.length-1))" data-validation-engine="validate[required]" data-required="true">              
        	</div>
            
             </form>     
       	  <div class="clearfix"></div>
          <div class="col2"><button style="float:left;margin-top:10px; " id="TSguardadatos" class="classname" value="Agregar" type="submit">AGREGAR</button>

            <div id="SiguienteSociedades" class="classname" style="margin-top:10px; margin-left: 1%; position: relative;width: 80px; float: left;" >SIGUIENTE</div>
          </div> 
          <div class="flix-clear"></div>


            <div class="clearfix"></div>
            <br>
            
            <div class="col2">
              <table class="table table-striped" id="respuestaSociedades">

			    <thead style="background:#F60">
                  <tr>
					<td width="12%"><p style="text-align:center; color:#FFF;">Nombre</p></td>
					<td width="18%"><p style="text-align:center;color:#FFF;">Rut</p></td>
				
					<td width="13%"><p style="text-align:center;color:#FFF;">Porcentaje</p></td>
					<td width="19%"><p style="text-align:center;color:#FFF;">Valor de Participación</p></td>
					<td width="18%"><p style="text-align:center;color:#FFF;">Eliminar</p></td>
				  </tr>
				</thead>

      
	  <tbody style="background:#F8F8F8;  font-family: Arial, Helvetica, sans-serif;">
         {% for tienesSociedades  in tienesSociedades %}  
                  
          <tr id="itemTienesSociedades_{{tienesSociedades.id}}">
					
         
	  <td><p style="text-align:center;color:#666;">{{tienesSociedades.nombre}}</p></td>
		
          <td><p style="text-align:center;color:#666;">{{tienesSociedades.rut}}</p></td>
          <td><p style="text-align:center;color:#666;">{{tienesSociedades.porcentaje}}</p></td>  
          <td><p style="text-align:center;color:#666;">{{tienesSociedades.valor}}</p></td>  
          
          
          <td><p style="text-align:center;color:#666;"> <a href="#" class="del_button" id="del-{{tienesSociedades.id}}">eliminar</a> </p> </td>
				  
          </tr>

{% endfor %}
    
				</tbody>
   
             </table>
              
              
              
              
              
              
              
             
              
              
             
            
            </div>
            
            

	
		</div>
	
        

        
            



</form>
     
                    

<form id="delSociedades"  action="{{path('delsociedades2')}}"  method="post"></form>