{# empty Twig template #}


<script src="{{ asset('bundles/benchtienes/js/tienesAutomoviles.js') }}"></script>




 <div class="fila">
    
  
          <div class="col1">
            

  
  
 

        <form  action="{{path('tienesAutomovilesSiNo')}}" id="automovilesSiNo33" method="post" autocomplete="off">



<input type="hidden" id="token" value="{{token}}">
           
            <label class="label-text2" for="rut">¿Tienes algún Automóvil?</label>

          
             {%  if   usuario.tienesAutomovilesSiNo == 'SI' %}
            
                   
      <p class="rad">Si<input type="radio" value="SI" class="AutosRadio" name="AutosRadio" id="AutosRadio" checked >
         No<input type="radio" value="NO"  class="AutosRadio" name="AutosRadio" id="AutosRadio" ></p>
          
     
             {% else  %}
               <p class="rad">Si<input type="radio" value="SI" class="AutosRadio" name="AutosRadio" id="AutosRadio">
         No<input type="radio" value="NO"  class="AutosRadio" name="AutosRadio" id="AutosRadio" checked ></p>
          
            {% endif  %}

        <div style="float:left; height:10px; width:100%;"></div>
       <button style="float:left;" id="guardaAutomoviles1" class="classname" value="Agregar" type="submit">GUARDAR Y SIGUIENTE</button>

            </form>

            <div id="RespuestaAutos">
            
            </div>
              
              

     <form id="formTienesAutos" class="form-personal" action="{{path('automovilesguarda')}}"  method="post">
              <label class="tipo" for="">Tipo</label>


              <select class="data" name="TienesATipo" id="TienesATipo" data-validation-engine="validate[required]" data-required="true">

        <option value="">Opción</option>
        <option value="Auto">Auto</option>
        <option value="Camioneta">Camioneta</option>
          <option value="Camion">Camión</option>
        <option value="Moto">Moto</option>
        <option value="Otro">Otro</option>
        </select>
               
              <label class="label-text2" for="institucion">Marca</label>
               <input type="text" class="input-box2" name="TienesAMarca" id="TienesAMarca" data-validation-engine="validate[required]" data-required="true">
          

             <label class="label-text2" for="institucion">Modelo</label>
               <input type="text"class="input-box2" name="TienesAModelo" id="TienesAModelo"  data-validation-engine="validate[required]" data-required="true"   >
              
              <label class="label-text2" for="rut">Patente</label>
              <input type="text" class="input-box2" name="TienesAPatente" id="TienesAPatente"  data-validation-engine="validate[required]" data-required="true" >
              
              </div>
     </form>
              <div class="col1">
                <form id="formTienesAutos2"> 
              <label class="label-text2" for="rut">Año del Auto</label>
              <input type="text" class="input-box2" id="TienesAAno" name="TienesAAno"   data-validation-engine="validate[required]" data-required="true">
              
              <label class="label-text2" for="rut">Valor Comercial</label>
              <input type="text" class="input-box2" onkeyup="puntitos(this,this.value.charAt(this.value.length-1))" placeholder="$" name="TienesAAvaluo" id="TienesAAvaluo"  data-validation-engine="validate[required]" data-required="true">
              
              <label class="label-text2" for="rut">Prendado</label>
              
               <p class="rad">Si<input type="radio" value="si" id="TienesAPrendadoAuto" class="TienesAPrendadoAuto" name="TienesAPrendadoAuto"  data-required="true">
         No<input type="radio" value="no" class="TienesAPrendadoAuto" name="TienesAPrendadoAuto"  id="TienesAPrendadoAuto" data-required="true" ></p>
              
              
            </div>
            <div class="clearfix"></div>
              </form>    
          <div class="col2"><button style="float:left;margin-top:10px;" id="guardaAutomoviles" class="classname" value="Agregar" type="submit">AGREGAR</button>
          <div id="SiguienteAutomoviles" class="classname" style="margin-top:10px; margin-left: 1%; position: relative;width: 80px; float: left;" >SIGUIENTE</div>
          </div> 
          
             

    <div class="flix-clear"></div>
 
            <br>
            <div class="col2">
              <table class="table table-striped" id="respuestaAutos">
          <thead style="background:#F60">
                  <tr>
          <td><p style="text-align:center; color:#FFF;">Tipo</p></td>
          <td><p style="text-align:center;color:#FFF;">Marca</p></td>
          <td><p style="text-align:center;color:#FFF;">Modelo</p></td>
          <td><p style="text-align:center;color:#FFF;">Nº Pantente</p></td>
          <td><p style="text-align:center;color:#FFF;">Valor Comercial</p></td>
          <td><p style="text-align:center;color:#FFF;">Año del Auto</p></td>
          <td><p style="text-align:center;color:#FFF;">Prendado </p></td>
          <td><p style="text-align:center;color:#FFF;">Eliminar</p></td>
          </tr>
        </thead>
      <tbody style="background:#F8F8F8;  font-family: Arial, Helvetica, sans-serif;">
          
    {% for tienesAutomoviles  in tienesAutomoviles %}  
          <tr id="itemTienesAutos_{{tienesAutomoviles.id}}">
          <td><p style="text-align:center;color:#666;">{{tienesAutomoviles.tipo}}</p></td>
          <td><p style="text-align:center;color:#666;">{{tienesAutomoviles.marcaauto}}</p></td>
          <td><p style="text-align:center;color:#666;">{{tienesAutomoviles.modelo}}</p></td>
          <td><p style="text-align:center;color:#666;">{{tienesAutomoviles.patente}}</p></td>
          <td><p style="text-align:center;color:#666;">{{tienesAutomoviles.valorcomercial}}</p></td>
          <td><p style="text-align:center;color:#666;">{{tienesAutomoviles.anoauto}}</p></td>  
          <td><p style="text-align:center;color:#666;">{{tienesAutomoviles.prendado}}</p></td> 
        
          
          
          
  

          <td><p style="text-align:center;color:#666;"> <a href="#" class="del_button" id="del-{{tienesAutomoviles.id}}">eliminar</a> </p> </td>
          </tr>
   {% endfor %}
        </tbody>
                         
       
             </table>
              
              
              
              
              
              
              
             
              
              
             
            
            </div>
            
            

  
    </div>
  
        

        
            



</form>
              
<form id="delautomoviles" action="{{path('delautomoviles')}}" method="post"></form>