{# empty Twig template #}

<script src="{{ asset('bundles/benchtienes/js/tienesAhorroInversion.js') }}"></script>


<div class="fila">
        
           <!--<h1 class="doc"><span class="orange">Ahorro / Inversión</span></h1>-->
          <div class="col1">
            
        <form  id="FormAhorroinversion1" action="{{path('tienesAhorroInversionSiNo')}}" method="post" autocomplete="off"  >
       <label class="label-text2" for="rut">¿Tienes algún Ahorro o Inversión?</label>
 

<input type="hidden" id="token" value="{{token}}">
       <input type="hidden" value="" name="TAhorroTId" id="TAhorroTId">
   
       {%  if   usuario.tienesAhorroInversionSiNo == 'SI' %}
       
         <p class="rad">Si<input type="radio" value="SI" class="AhorroInversionRadio" name="AhorroInversionRadio" id="AhorroInversionRadio" checked >
         No<input type="radio" value="NO" name="AhorroInversionRadio"  id="AhorroInversionRadio" class="AhorroInversionRadio"></p> 
         
         


 {% else %}
        
        
             
     
     <p class="rad">Si<input type="radio" value="SI" class="AhorroInversionRadio" name="AhorroInversionRadio" id="AhorroInversionRadio" >
         No<input type="radio" value="NO" name="AhorroInversionRadio"  checked  id="AhorroInversionRadio" class="AhorroInversionRadio"></p> 

            
       
       
       {% endif %}
        

      



 

<div style="float:left; height:10px; width:100%;"></div>
    <button style="float:left;" class="classname" value="Agregar" id="guardaAhorroInversion1" type="submit">GUARDAR Y SIGUIENTE</button> 

               </form>

              

               <div id="RespuestaAhorroInversionSino"> 

              
               </div>


              

               <form class="form-personal" id="TienesAhorroinversionform" action="{{path('ahorroinversionguarda')}}" method="post" autocomplete="off">

              <label class="label-text2" for="institucion">Tipo </label>

              <input type="hidden" value="<?php echo $idUser3;?>" name="TAhorroTId" id="TAhorroTId">
               <select class="data" select="selected" name="TAhorroTipoBienes" id="TAhorroTipoBienes"data-validation-engine="validate[required]" data-required="true">
                  <option value="">Opción</option>
                  <option value="Deposito">Deposito a plazo</option>
                  <option value="Acciones">Acciones</option>
                  <option value="Bonos">Bonos</option>
                  <option value="Cuentas">Cuentas de Ahorro</option>
                  <option value="Fondo Mutuos">Fondos Mutuos</option>
                  <option value="Otros">Otros</option>
               </select>
               
               
             <label class="label-text2" for="institucion">Institución</label>
              <input type="text" class="input-box2" name="TAhorroInstitucion" id="TAhorroInstitucion"    data-validation-engine="validate[required]" data-required="true" >
              
                           <label class="label-text2" for="institucion">Valor Comercial</label>
              <input type="text"class="input-box2" name="TAhorroVComercial"  placeholder="$" id="TAhorroVComercial"  data-validation-engine="validate[required]" data-required="true" onkeyup="puntitos(this,this.value.charAt(this.value.length-1))" >
              
              
              
              <label class="label-text2" for="rut">Prendado</label>
              
               <p class="rad">Si<input type="radio" value="si" name="TAhorroVPrendadoInversion" id="TAhorroVPrendadoInversion" required="required" >
         No<input type="radio" value="no" name="TAhorroVPrendadoInversion" id="TAhorroVPrendadoInversion" required="required" ></p>              
              
              
              
            </div>
            
            <div class="clearfix"></div>
            
          <div class="col2">
          <button style="float:left; margin-top:10px;" id="guardaAhorroInversion" class="classname" value="Agregar" type="submit">AGREGAR </button>

         <div id="SiguienteAhorroInversion" class="classname" style="margin-top:10px; margin-left: 1%; position: relative;width: 80px; float: left;" >SIGUIENTE</div></div> 
         
          <div class="flix-clear"></div>
 
            <div class="clearfix"></div>
            <br>
            
            <div class="col2">
              <table class="table table-striped" id="respuestaAhorroI">
          <thead style="background:#FF6600;">
                  <tr>
          <td width="12%"><p style="text-align:center; color:#FFF;">Tipo</p></td>
          <td width="19%"><p style="text-align:center;color:#FFF;">Institución</p></td>
          <td width="32%"><p style="text-align:center;color:#FFF;">Valor Comercial</p></td>
          <td width="20%"><p style="text-align:center;color:#FFF;">Prendado</p></td>
                    <td width="17%"><p style="text-align:center;color:#FFF;">Eliminar</p></td>                   
          </tr>
        </thead>
        <tbody style="background:#F8F8F8;  font-family: Arial, Helvetica, sans-serif;">
           {% for tienesAhorroInversion  in tienesAhorroInversion %}  
            
             
          <tr  id="itemahorroinversion_{{tienesAhorroInversion.id}}">
        
          <td><p style="text-align:center;color:#666;">{{tienesAhorroInversion.tipo}} </p></td>
          <td><p style="text-align:center;color:#666;">{{tienesAhorroInversion.institucion}} </p></td>
          <td><p style="text-align:center;color:#666;">{{tienesAhorroInversion.valorcomercial}}   </p></td>
          <td><p style="text-align:center;color:#666;">{{tienesAhorroInversion.prendado}} </p></td>
          
          <td><p style="text-align:center;color:#666;"> <a href="#" class="del_button" id="del-{{tienesAhorroInversion.id}}">eliminar</a> </p> </td>

          </tr>
          

        {% endfor %}
        </tbody>
                                  
       
             </table>
              
              
              
              
              
              
              
             
              
              
             
            
            </div>
            
            

  
    </div>
  
        

        
            



</form>
              
              
<form id="delahorroinversion" action="{{path('delahorroinversion')}}" method="post" autocomplete="off" ></form>