<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>


<form method="post" novalidate="" enctype="multipart/form-data" action="https://www.formstack.com/forms/index.php" class="fsForm  fsMultiColumn fsMaxCol2" id="fsForm1747404">

<input type="hidden" name="form" value="1747404">
<input type="hidden" name="viewkey" value="WhGckOFoZp">

<input type="hidden" name="password" value="">
<input type="hidden" name="hidden_fields" id="hidden_fields1747404" value="">
<input type="hidden" name="fspublicsession" id="session_id1747404" value="">
<input type="hidden" name="incomplete" id="incomplete1747404" value="">
<input type="hidden" name="incomplete_email" id="incomplete_email1747404" value="">
<input type="hidden" name="referrer" id="referrer1747404" value="https://www.benchbanking.com/capitalizarme">
<input type="hidden" name="referrer_type" id="referrer_type1747404" value="link">
<input type="hidden" name="_submit" value="1">
<input type="hidden" name="style_version" value="3">

<input type="hidden" name="latitude" value="">
<input type="hidden" name="longitude" value="">





<div role="alert" id="requiredFieldsError" style="display:none;">Ingrese un valor válido para todos los campos exigidos.</div>
<div role="alert" id="invalidFormatError" style="display:none;">Asegúrese de que todos los valores están en un formato adecuado.</div>
<div role="alert" id="resumeConfirm" style="display:none;">¿Está seguro de que desea cerrar el presente formulario y continuar más tarde?</div>
<div role="alert" id="fileTypeAlert" style="display:none;">Debe cargar uno de los siguientes tipo de archivos para el campo seleccionado:</div>
<div role="alert" id="embedError" style="display:none;">Hubo un error al mostrar el formulario. Copie y pegue el código de inserción nuevamente.</div>
<div role="alert" id="applyDiscountButton" style="display:none;">Aplicar Descuento</div>
<div role="alert" id="dcmYouSaved" style="display:none;">Ha guardado</div>
<div role="alert" id="dcmWithCode" style="display:none;">con el código</div>
<div role="alert" id="submitButtonText" style="display:none;">Enviar</div>
<div role="alert" id="submittingText" style="display:none;">Presentación de</div>

<div class="fsPage" id="fsPage1747404-1">








<div class="fsSection fs2Col" id="fsSection25813049">




    <div class="fsSectionHeader">
        <h2 class="fsSectionHeading">Datos Ejecutivo</h2>

    </div>

















    <div id="fsRow1747404-2" class="fsRow fsFieldRow fsLastRow">








        <div class="fsRowBody fsCell fsFieldCell  fsFirst  fsLabelVertical  fsSpan50 " id="fsCell25813048" aria-describedby="fsSupporting25813048" lang="es">
            <label id="label25813048" class="fsLabel fsRequiredLabel" for="field25813048">Email Ejecutivo<span class="fsRequiredMarker">*</span>                                            </label>


            <input type="email" id="field25813048" name="field25813048" size="50" required="required" value="" class="fsField fsFormatEmail fsRequired" aria-required="true">


            <div id="fsSupporting25813048" class="fsSupporting">Email de la empresa a quien se le enviara la respuesta a la solicitud de crédito</div>





        </div>

    </div>







</div>







<div class="fsSection fs2Col" id="fsSection25813114">




    <div class="fsSectionHeader">
        <h2 class="fsSectionHeading">Tipo de Solicitud</h2>

    </div>

















    <div id="fsRow1747404-4" class="fsRow fsFieldRow">








        <div class="fsRowBody fsCell fsFieldCell  fsFirst  fsLabelVertical  fsSpan50 " id="fsCell25594965" lang="es">
            <fieldset id="label25594965">

                <legend class="fsLabel fsRequiredLabel fsLabelVertical"><span>Tipo de Solicitud<span class="fsRequiredMarker">*</span></span></legend>
                <div class="fieldset-content">






                    <label class="fsOptionLabel vertical" for="field25594965_1"><input type="radio" id="field25594965_1" name="field25594965" value="Aprobación" class="fsField fsRequired vertical" aria-required="true">Aprobación</label>




                    <label class="fsOptionLabel vertical" for="field25594965_2"><input type="radio" id="field25594965_2" name="field25594965" value="Pre - Aprobación" class="fsField fsRequired vertical" aria-required="true">Pre - Aprobación</label>






                </div></fieldset>



        </div>




















        <div class="fsRowBody fsCell fsFieldCell   fsLast fsLabelVertical  fsSpan50 " id="fsCell25657544" lang="es">
            <label id="label25657544" class="fsLabel fsRequiredLabel" for="field25657544">Numero de PreAprobaciones Solicitadas<span class="fsRequiredMarker">*</span>                                            </label>


            <input type="text" id="field25657544" name="field25657544" size="2" required="" maxlength="2" value="" class="fsField fsRequired" aria-required="true">








        </div>

    </div>







</div>







<div class="fsSection fs2Col" id="fsSection25594818">




<div class="fsSectionHeader">
    <h2 class="fsSectionHeading">Información Propiedad</h2>

</div>

















<div id="fsRow1747404-6" class="fsRow fsFieldRow">








    <div class="fsRowBody fsCell fsFieldCell  fsFirst  fsLabelVertical  fsSpan50 " id="fsCell25594819" lang="es">
        <label id="label25594819" class="fsLabel fsRequiredLabel" for="field25594819">Valor Propiedad - UF<span class="fsRequiredMarker">*</span>                                            </label>


        <input type="text" id="field25594819" name="field25594819" size="10" required="" value="" class="fsField fsRequired" aria-required="true">








    </div>




















    <div class="fsRowBody fsCell fsFieldCell   fsLast fsLabelVertical  fsSpan50 " id="fsCell25594820" aria-describedby="fsSupporting25594820" lang="es">
        <label id="label25594820" class="fsLabel fsRequiredLabel" for="field25594820">Monto PIE - UF<span class="fsRequiredMarker">*</span>                                            </label>


        <input type="text" id="field25594820" name="field25594820" size="10" required="" value="" class="fsField fsRequired" aria-required="true">



        <div id="fsSupporting25594820" class="fsSupporting">Minimo de 10%</div>





    </div>

</div>














<div id="fsRow1747404-7" class="fsRow fsFieldRow">








    <div class="fsRowBody fsCell fsFieldCell  fsFirst  fsLabelVertical  fsSpan50 " id="fsCell25594821" aria-describedby="fsSupporting25594821" lang="es">
        <label id="label25594821" class="fsLabel fsRequiredLabel" for="field25594821">Plazo de Crédito<span class="fsRequiredMarker">*</span>                                            </label>


        <input type="text" id="field25594821" name="field25594821" size="2" required="" value="" class="fsField fsRequired" aria-required="true">



        <div id="fsSupporting25594821" class="fsSupporting">Años Solicitados</div>





    </div>




















    <div class="fsRowBody fsCell fsFieldCell   fsLast fsLabelVertical  fsSpan50 " id="fsCell25594822" lang="es">
        <fieldset id="label25594822">

            <legend class="fsLabel fsRequiredLabel fsLabelVertical"><span>¿Es la propiedad DFL2?<span class="fsRequiredMarker">*</span></span></legend>
            <div class="fieldset-content">




                <label class="fsOptionLabel vertical" for="field25594822_1"><input type="checkbox" id="field25594822_1" name="field25594822[]" value="SI" class="fsField fsRequired vertical" aria-required="true">SI</label>




                <label class="fsOptionLabel vertical" for="field25594822_2"><input type="checkbox" id="field25594822_2" name="field25594822[]" value="NO" class="fsField fsRequired vertical" aria-required="true">NO</label>









            </div></fieldset>



    </div>

</div>














<div id="fsRow1747404-8" class="fsRow fsFieldRow">








    <div class="fsRowBody fsCell fsFieldCell  fsFirst  fsLabelVertical  fsSpan50 " id="fsCell25594823" lang="es">
        <label id="label25594823" class="fsLabel fsRequiredLabel" for="field25594823">Tipo de Propiedad<span class="fsRequiredMarker">*</span>                                            </label>


        <select id="field25594823" name="field25594823" size="1" required="" class="fsField fsRequired" aria-required="true">

            <option value="Elija una opción">Elija una opción</option>
            <option value="Casa">Casa</option>
            <option value="Departamento">Departamento</option>
            <option value="Terreno">Terreno</option>
            <option value="Otros">Otros</option>

        </select>







    </div>




















    <div class="fsRowBody fsCell fsFieldCell   fsLast fsLabelVertical  fsSpan50 " id="fsCell25594824" lang="es">
        <label id="label25594824" class="fsLabel fsRequiredLabel" for="field25594824">Estado Propiedad<span class="fsRequiredMarker">*</span>                                            </label>


        <select id="field25594824" name="field25594824" size="1" required="" class="fsField fsRequired" aria-required="true">

            <option value="Elija una opcion">Elija una opcion</option>
            <option value="Nueva">Nueva</option>
            <option value="Usada">Usada</option>

        </select>







    </div>

</div>














<div id="fsRow1747404-9" class="fsRow fsFieldRow">








    <div class="fsRowBody fsCell fsFieldCell  fsFirst  fsLabelVertical  fsSpan50 " id="fsCell25594825" lang="es">
        <label id="label25594825" class="fsLabel fsRequiredLabel" for="field25594825">¿Cuándo comprará la propiedad?<span class="fsRequiredMarker">*</span>                                            </label>


        <select id="field25594825" name="field25594825" size="1" required="" class="fsField fsRequired" aria-required="true">

            <option value="No lo sabé">No lo sabé</option>
            <option value="Dentro de 1 mes">Dentro de 1 mes</option>
            <option value="Entre 1 a 3 meses">Entre 1 a 3 meses</option>
            <option value="Entre 4 y 6 meses">Entre 4 y 6 meses</option>
            <option value="En más de 6 meses">En más de 6 meses</option>

        </select>







    </div>




















    <div class="fsRowBody fsCell fsFieldCell   fsLast fsLabelVertical  fsSpan50 " id="fsCell25594826" lang="es">
        <label id="label25594826" class="fsLabel fsRequiredLabel" for="field25594826">Comuna Propiedad<span class="fsRequiredMarker">*</span>                                            </label>


        <input type="text" id="field25594826" name="field25594826" size="20" required="" value="" class="fsField fsRequired" aria-required="true">








    </div>

</div>














<div id="fsRow1747404-10" class="fsRow fsFieldRow fsLastRow">








    <div class="fsRowBody fsCell fsFieldCell  fsFirst fsLast fsLabelVertical  fsSpan100 " id="fsCell25594827" lang="es">
        <label id="label25594827" class="fsLabel fsRequiredLabel" for="field25594827">Nombre Proyecto / Inmobiliaria / Dirección<span class="fsRequiredMarker">*</span>                                            </label>


        <input type="text" id="field25594827" name="field25594827" size="100" required="" value="" class="fsField fsRequired" aria-required="true">








    </div>

</div>







</div>







<div class="fsSection fs2Col" id="fsSection25594828">




<div class="fsSectionHeader">
    <h2 class="fsSectionHeading">Datos Cliente</h2>

</div>

















<div id="fsRow1747404-12" class="fsRow fsFieldRow">








    <div class="fsRowBody fsCell fsFieldCell  fsFirst  fsLabelVertical  fsSpan50 " id="fsCell25594829" lang="es">
        <label id="label25594829" class="fsLabel fsRequiredLabel" for="field25594829">Nombre y Apellido Cliente<span class="fsRequiredMarker">*</span>                                            </label>


        <input type="text" id="field25594829" name="field25594829" size="50" required="" value="" class="fsField fsRequired" aria-required="true">








    </div>




















    <div class="fsRowBody fsCell fsFieldCell   fsLast fsLabelVertical  fsSpan50 " id="fsCell25594830" lang="es">
        <label id="label25594830" class="fsLabel fsRequiredLabel" for="field25594830">Rut Cliente<span class="fsRequiredMarker">*</span>                                            </label>


        <input type="text" id="field25594830" name="field25594830" size="50" required="" value="" class="fsField fsRequired" aria-required="true">








    </div>

</div>














<div id="fsRow1747404-13" class="fsRow fsFieldRow">








    <div class="fsRowBody fsCell fsFieldCell  fsFirst  fsLabelVertical  fsSpan50 " id="fsCell25594832" lang="es">
        <label id="label25594832" class="fsLabel fsRequiredLabel" for="field25594832">Telefono Cliente<span class="fsRequiredMarker">*</span>                                            </label>


        <input type="text" id="field25594832" name="field25594832" size="50" required="" value="" class="fsField fsRequired" aria-required="true">








    </div>




















    <div class="fsRowBody fsCell fsFieldCell   fsLast fsLabelVertical  fsSpan50 " id="fsCell25813255" lang="es">
        <label id="label25813255" class="fsLabel fsRequiredLabel" for="field25813255">Email Cliente<span class="fsRequiredMarker">*</span>                                            </label>


        <input type="email" id="field25813255" name="field25813255" size="50" required="required" value="" class="fsField fsFormatEmail fsRequired" aria-required="true">







    </div>

</div>














<div id="fsRow1747404-14" class="fsRow fsFieldRow fsLastRow">








    <div class="fsRowBody fsCell fsFieldCell  fsFirst fsLast fsLabelVertical  fsSpan100 " id="fsCell25594831" aria-describedby="fsSupporting25594831" lang="es">
        <fieldset id="label25594831">

            <legend class="fsLabel fsLabelVertical"><span>Fecha de Nacimiento</span></legend>
            <div class="fieldset-content">


                <!-- Used to pull in url for jquery -->
                <span style="display:none;" id="fsCalendar25594831ImageUrl">https://www.formstack.com/forms/images/2/calendar.png</span>




                <input type="hidden" id="field25594831Format" name="field25594831Format" value="MDY">

                <div class="hidden"><label for="field25594831M">Month</label></div>
                <select id="field25594831M" name="field25594831M" class="fsField">
                    <option value="" selected="selected"> </option>
                    <option value="Jan">Ene</option>
                    <option value="Feb">Febrero</option>
                    <option value="Mar">Mar</option>
                    <option value="Apr">Abril</option>
                    <option value="May">Mayo</option>
                    <option value="Jun">Junio</option>
                    <option value="Jul">Julio</option>
                    <option value="Aug">Agosto</option>
                    <option value="Sep">Septiembre</option>
                    <option value="Oct">Octubre</option>
                    <option value="Nov">Noviembre</option>
                    <option value="Dec">Diciembre</option>
                </select>
                <div class="hidden"><label for="field25594831D">Day</label></div>
                <select id="field25594831D" name="field25594831D" class="fsField">
                    <option value="" selected="selected"> </option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select>
                <div class="hidden"><label for="field25594831Y">Year</label></div>
                <select id="field25594831Y" name="field25594831Y" class="fsField">
                    <option value="" selected="selected"> </option>
                    <option value="1934">1934</option>
                    <option value="1935">1935</option>
                    <option value="1936">1936</option>
                    <option value="1937">1937</option>
                    <option value="1938">1938</option>
                    <option value="1939">1939</option>
                    <option value="1940">1940</option>
                    <option value="1941">1941</option>
                    <option value="1942">1942</option>
                    <option value="1943">1943</option>
                    <option value="1944">1944</option>
                    <option value="1945">1945</option>
                    <option value="1946">1946</option>
                    <option value="1947">1947</option>
                    <option value="1948">1948</option>
                    <option value="1949">1949</option>
                    <option value="1950">1950</option>
                    <option value="1951">1951</option>
                    <option value="1952">1952</option>
                    <option value="1953">1953</option>
                    <option value="1954">1954</option>
                    <option value="1955">1955</option>
                    <option value="1956">1956</option>
                    <option value="1957">1957</option>
                    <option value="1958">1958</option>
                    <option value="1959">1959</option>
                    <option value="1960">1960</option>
                    <option value="1961">1961</option>
                    <option value="1962">1962</option>
                    <option value="1963">1963</option>
                    <option value="1964">1964</option>
                    <option value="1965">1965</option>
                    <option value="1966">1966</option>
                    <option value="1967">1967</option>
                    <option value="1968">1968</option>
                    <option value="1969">1969</option>
                    <option value="1970">1970</option>
                    <option value="1971">1971</option>
                    <option value="1972">1972</option>
                    <option value="1973">1973</option>
                    <option value="1974">1974</option>
                    <option value="1975">1975</option>
                    <option value="1976">1976</option>
                    <option value="1977">1977</option>
                    <option value="1978">1978</option>
                    <option value="1979">1979</option>
                    <option value="1980">1980</option>
                    <option value="1981">1981</option>
                    <option value="1982">1982</option>
                    <option value="1983">1983</option>
                    <option value="1984">1984</option>
                    <option value="1985">1985</option>
                    <option value="1986">1986</option>
                    <option value="1987">1987</option>
                    <option value="1988">1988</option>
                    <option value="1989">1989</option>
                    <option value="1990">1990</option>
                    <option value="1991">1991</option>
                    <option value="1992">1992</option>
                    <option value="1993">1993</option>
                    <option value="1994">1994</option>
                    <option value="1995">1995</option>
                    <option value="1996">1996</option>
                    <option value="1997">1997</option>
                    <option value="1998">1998</option>
                    <option value="1999">1999</option>
                    <option value="2000">2000</option>
                    <option value="2001">2001</option>
                    <option value="2002">2002</option>
                    <option value="2003">2003</option>
                    <option value="2004">2004</option>
                    <option value="2005">2005</option>
                    <option value="2006">2006</option>
                    <option value="2007">2007</option>
                    <option value="2008">2008</option>
                    <option value="2009">2009</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                </select>



                <input type="text" id="fsCalendar25594831Link" class="fsCalendarPickerLink hasDatepicker" style="display:none;"><img class="ui-datepicker-trigger" src="https://www.formstack.com/forms/images/2/calendar.png" alt="Select Date" title="Select Date">

                <div id="fsCalendar25594831" class="fsCalendar" style=" position:absolute"></div>



                <div id="fsSupporting25594831" class="fsSupporting">Opcional</div>


            </div></fieldset>



    </div>

</div>














<div id="fsRow1747404-15" class="fsRow fsFieldRow">








    <div class="fsRowBody fsCell fsFieldCell  fsFirst  fsLabelVertical  fsSpan50 " id="fsCell25594833" lang="es">
        <label id="label25594833" class="fsLabel fsRequiredLabel" for="field25594833">Dirección<span class="fsRequiredMarker">*</span>                                            </label>


        <input type="text" id="field25594833" name="field25594833" size="50" required="" value="" class="fsField fsRequired" aria-required="true">








    </div>




















    <div class="fsRowBody fsCell fsFieldCell   fsLast fsLabelVertical  fsSpan50 " id="fsCell25813256" lang="es">
        <label id="label25813256" class="fsLabel fsRequiredLabel" for="field25813256">Comuna<span class="fsRequiredMarker">*</span>                                            </label>


        <input type="text" id="field25813256" name="field25813256" size="50" required="" value="" class="fsField fsRequired" aria-required="true">








    </div>

</div>














<div id="fsRow1747404-16" class="fsRow fsFieldRow">








    <div class="fsRowBody fsCell fsFieldCell  fsFirst  fsLabelVertical  fsSpan50 " id="fsCell25594834" lang="es">
        <label id="label25594834" class="fsLabel fsRequiredLabel" for="field25594834">Nacionalidad<span class="fsRequiredMarker">*</span>                                            </label>


        <input type="text" id="field25594834" name="field25594834" size="50" required="" value="" class="fsField fsRequired fsAutocomplete ui-autocomplete-input" aria-required="true" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>

        <input type="hidden" id="field25594834_options" value="Extranjero No Recidente|Extranjero Recidente|Chilena|">







    </div>




















    <div class="fsRowBody fsCell fsFieldCell   fsLast fsLabelVertical  fsSpan50 " id="fsCell25594835" lang="es">
        <label id="label25594835" class="fsLabel fsRequiredLabel" for="field25594835">Profesión<span class="fsRequiredMarker">*</span>                                            </label>


        <input type="text" id="field25594835" name="field25594835" size="50" required="" value="" class="fsField fsRequired fsAutocomplete ui-autocomplete-input" aria-required="true" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>

        <input type="hidden" id="field25594835_options" value="Extranjero No Recidente|Extranjero Recidente|Chilena|">







    </div>

</div>







</div>







<div class="fsSection fs2Col" id="fsSection25594836">




<div class="fsSectionHeader">
    <h2 class="fsSectionHeading">Información Laboral</h2>

</div>

















<div id="fsRow1747404-18" class="fsRow fsFieldRow">








    <div class="fsRowBody fsCell fsFieldCell  fsFirst  fsLabelVertical  fsSpan50 " id="fsCell25594838" lang="es">
        <label id="label25594838" class="fsLabel fsRequiredLabel" for="field25594838">Situación Laboral<span class="fsRequiredMarker">*</span>                                            </label>


        <select id="field25594838" name="field25594838" size="1" required="" class="fsField fsRequired" aria-required="true">

            <option value="Independiente">Independiente</option>
            <option value="Dependiente - Renta Fija">Dependiente - Renta Fija</option>
            <option value="Dependiente - Renta Variable">Dependiente - Renta Variable</option>
            <option value="Sin Trabajo">Sin Trabajo</option>

        </select>







    </div>




















    <div class="fsRowBody fsCell fsFieldCell   fsLast fsLabelVertical  fsSpan50 " id="fsCell25813116" lang="es">
        <label id="label25813116" class="fsLabel fsRequiredLabel" for="field25813116">Sueldo Liquido Cliente<span class="fsRequiredMarker">*</span>                                            </label>


        <input type="text" id="field25813116" name="field25813116" size="11" required="" placeholder="$" title="$" value="" class="fsField fsRequired" aria-required="true">








    </div>

</div>














<div id="fsRow1747404-19" class="fsRow fsFieldRow">








    <div class="fsRowBody fsCell fsFieldCell  fsFirst  fsLabelVertical  fsSpan50 " id="fsCell25813117" lang="es">
        <label id="label25813117" class="fsLabel" for="field25813117">Nombre Empleador                                            </label>


        <input type="text" id="field25813117" name="field25813117" size="50" value="" class="fsField">








    </div>




















    <div class="fsRowBody fsCell fsFieldCell   fsLast fsLabelVertical  fsSpan50 " id="fsCell25813118" lang="es">
        <label id="label25813118" class="fsLabel" for="field25813118">Rut Empleador                                            </label>


        <input type="text" id="field25813118" name="field25813118" size="10" value="" class="fsField">








    </div>

</div>














<div id="fsRow1747404-20" class="fsRow fsFieldRow">








    <div class="fsRowBody fsCell fsFieldCell  fsFirst  fsLabelVertical  fsSpan50 " id="fsCell25813120" lang="es">
        <label id="label25813120" class="fsLabel" for="field25813120">Dirección Empresa                                            </label>


        <input type="text" id="field25813120" name="field25813120" size="50" value="" class="fsField">








    </div>




















    <div class="fsRowBody fsCell fsFieldCell   fsLast fsLabelVertical  fsSpan50 " id="fsCell25813188" lang="es">
        <label id="label25813188" class="fsLabel" for="field25813188">Comuna                                            </label>


        <input type="text" id="field25813188" name="field25813188" size="10" value="" class="fsField">








    </div>

</div>







</div>







<div class="fsSection fs2Col" id="fsSection25594844">




<div class="fsSectionHeader">
    <h2 class="fsSectionHeading">Documentos de Respaldo</h2>

</div>

















<div id="fsRow1747404-22" class="fsRow fsFieldRow">








    <div class="fsRowBody fsCell fsFieldCell  fsFirst  fsLabelVertical  fsSpan50 " id="fsCell25594845" aria-describedby="fsSupporting25594845" lang="es">
        <label id="label25594845" class="fsLabel" for="field25594845">Fotocopia Carnet - Cliente                                            </label>


        <input type="file" id="field25594845" name="field25594845" size="30" class="fsField fsUpload uploadTypes-jpg,jpeg,gif,png,bmp,tif,psd,pdf,doc,docx,xls,xlsx,txt,mp3,mp4,aac,wav,au,wmv,avi,mpg,mpeg,zip,gz,rar,z,tgz,tar,sitx ">
        <div class="showMobile">La carga de archivos no pueden trabajar en algunos dispositivos móviles.</div>


        <div id="fsSupporting25594845" class="fsSupporting">Opcional</div>





    </div>




















    <div class="fsRowBody fsCell fsFieldCell   fsLast fsLabelVertical  fsSpan50 " id="fsCell25594846" aria-describedby="fsSupporting25594846" lang="es">
        <label id="label25594846" class="fsLabel" for="field25594846">Liquidaciones de sueldo - Último Mes                                            </label>


        <input type="file" id="field25594846" name="field25594846" size="30" class="fsField fsUpload uploadTypes-jpg,jpeg,gif,png,bmp,tif,psd,pdf,doc,docx,xls,xlsx,txt,mp3,mp4,aac,wav,au,wmv,avi,mpg,mpeg,zip,gz,rar,z,tgz,tar,sitx ">
        <div class="showMobile">La carga de archivos no pueden trabajar en algunos dispositivos móviles.</div>


        <div id="fsSupporting25594846" class="fsSupporting">Opcional</div>





    </div>

</div>














<div id="fsRow1747404-23" class="fsRow fsFieldRow">








    <div class="fsRowBody fsCell fsFieldCell  fsFirst  fsLabelVertical  fsSpan50 " id="fsCell25594847" aria-describedby="fsSupporting25594847" lang="es">
        <label id="label25594847" class="fsLabel" for="field25594847">Liquidación Sueldo - Mes 2                                            </label>


        <input type="file" id="field25594847" name="field25594847" size="30" class="fsField fsUpload uploadTypes-jpg,jpeg,gif,png,bmp,tif,psd,pdf,doc,docx,xls,xlsx,txt,mp3,mp4,aac,wav,au,wmv,avi,mpg,mpeg,zip,gz,rar,z,tgz,tar,sitx ">
        <div class="showMobile">La carga de archivos no pueden trabajar en algunos dispositivos móviles.</div>


        <div id="fsSupporting25594847" class="fsSupporting">Opcional</div>





    </div>




















    <div class="fsRowBody fsCell fsFieldCell   fsLast fsLabelVertical  fsSpan50 " id="fsCell25594848" aria-describedby="fsSupporting25594848" lang="es">
        <label id="label25594848" class="fsLabel" for="field25594848">Liquidación - Mes 3                                            </label>


        <input type="file" id="field25594848" name="field25594848" size="30" class="fsField fsUpload uploadTypes-jpg,jpeg,gif,png,bmp,tif,psd,pdf,doc,docx,xls,xlsx,txt,mp3,mp4,aac,wav,au,wmv,avi,mpg,mpeg,zip,gz,rar,z,tgz,tar,sitx ">
        <div class="showMobile">La carga de archivos no pueden trabajar en algunos dispositivos móviles.</div>


        <div id="fsSupporting25594848" class="fsSupporting">Opcional </div>





    </div>

</div>














<div id="fsRow1747404-24" class="fsRow fsFieldRow">








    <div class="fsRowBody fsCell fsFieldCell  fsFirst  fsLabelVertical  fsSpan50 " id="fsCell25594849" aria-describedby="fsSupporting25594849" lang="es">
        <label id="label25594849" class="fsLabel" for="field25594849">Certificado AFP                                             </label>


        <input type="file" id="field25594849" name="field25594849" size="30" class="fsField fsUpload uploadTypes-jpg,jpeg,gif,png,bmp,tif,psd,pdf,doc,docx,xls,xlsx,txt,mp3,mp4,aac,wav,au,wmv,avi,mpg,mpeg,zip,gz,rar,z,tgz,tar,sitx ">
        <div class="showMobile">La carga de archivos no pueden trabajar en algunos dispositivos móviles.</div>


        <div id="fsSupporting25594849" class="fsSupporting">Opcional</div>





    </div>




















    <div class="fsRowBody fsCell fsFieldCell   fsLast fsLabelVertical  fsSpan50 " id="fsCell25813103" aria-describedby="fsSupporting25813103" lang="es">
        <label id="label25813103" class="fsLabel" for="field25813103">Declaración Anual de Impuestos                                            </label>


        <input type="file" id="field25813103" name="field25813103" size="30" class="fsField fsUpload uploadTypes-jpg,jpeg,gif,png,bmp,tif,psd,pdf,doc,docx,xls,xlsx,txt,mp3,mp4,aac,wav,au,wmv,avi,mpg,mpeg,zip,gz,rar,z,tgz,tar,sitx ">
        <div class="showMobile">La carga de archivos no pueden trabajar en algunos dispositivos móviles.</div>


        <div id="fsSupporting25813103" class="fsSupporting">Opcional</div>





    </div>

</div>














<div id="fsRow1747404-25" class="fsRow fsFieldRow">








    <div class="fsRowBody fsCell fsFieldCell  fsFirst  fsLabelVertical  fsSpan50 " id="fsCell25594850" aria-describedby="fsSupporting25594850" lang="es">
        <label id="label25594850" class="fsLabel" for="field25594850">Otros                                            </label>


        <input type="file" id="field25594850" name="field25594850" size="30" class="fsField fsUpload uploadTypes-jpg,jpeg,gif,png,bmp,tif,psd,pdf,doc,docx,xls,xlsx,txt,mp3,mp4,aac,wav,au,wmv,avi,mpg,mpeg,zip,gz,rar,z,tgz,tar,sitx ">
        <div class="showMobile">La carga de archivos no pueden trabajar en algunos dispositivos móviles.</div>


        <div id="fsSupporting25594850" class="fsSupporting">Opcional</div>





    </div>




















    <div class="fsRowBody fsCell fsFieldCell   fsLast fsLabelVertical  fsSpan50 " id="fsCell25594851" aria-describedby="fsSupporting25594851" lang="es">
        <label id="label25594851" class="fsLabel" for="field25594851">Otros                                            </label>


        <input type="file" id="field25594851" name="field25594851" size="30" class="fsField fsUpload uploadTypes-jpg,jpeg,gif,png,bmp,tif,psd,pdf,doc,docx,xls,xlsx,txt,mp3,mp4,aac,wav,au,wmv,avi,mpg,mpeg,zip,gz,rar,z,tgz,tar,sitx ">
        <div class="showMobile">La carga de archivos no pueden trabajar en algunos dispositivos móviles.</div>


        <div id="fsSupporting25594851" class="fsSupporting">Opcional</div>





    </div>

</div>







</div>







<div class="fsSection fs2Col" id="fsSection25594852">




<div class="fsSectionHeader">
    <h2 class="fsSectionHeading">Activos</h2>

    <div class="fsSectionText"><p>El tener activos (Propiedades, Vehiculos y/o Ahorros) te ayuda a demostrar que has ahorrado y que serás un buen cliente.</p></div>
</div>

















<div id="fsRow1747404-27" class="fsRow fsFieldRow">








    <div class="fsRowBody fsCell fsFieldCell  fsFirst  fsLabelVertical  fsSpan50 " id="fsCell25594853" aria-describedby="fsSupporting25594853" lang="es">
        <fieldset id="label25594853">

            <legend class="fsLabel fsLabelVertical"><span>¿Tiene alguna propiedad?</span></legend>
            <div class="fieldset-content">




                <label class="fsOptionLabel horizontal" for="field25594853_1"><input type="checkbox" id="field25594853_1" name="field25594853[]" value="SI" class="fsField  horizontal">SI</label>




                <label class="fsOptionLabel horizontal" for="field25594853_2"><input type="checkbox" id="field25594853_2" name="field25594853[]" value="NO" class="fsField  horizontal">NO</label>







                <div id="fsSupporting25594853" class="fsSupporting">Casa - Departamento - Terreno </div>


            </div></fieldset>



    </div>




















    <div class="fsRowBody fsCell fsFieldCell   fsLast fsLabelVertical  fsSpan50 " id="fsCell25594854" aria-describedby="fsSupporting25594854" lang="es">
        <label id="label25594854" class="fsLabel" for="field25594854">¿Cual es el Valor de la Propiedad?                                            </label>


        <input type="text" id="field25594854" name="field25594854" size="11" placeholder="$" title="$" value="" class="fsField">



        <div id="fsSupporting25594854" class="fsSupporting">Opcional</div>





    </div>

</div>














<div id="fsRow1747404-28" class="fsRow fsFieldRow">








    <div class="fsRowBody fsCell fsFieldCell  fsFirst  fsLabelVertical  fsSpan50 " id="fsCell25594855" aria-describedby="fsSupporting25594855" lang="es">
        <fieldset id="label25594855">

            <legend class="fsLabel fsLabelVertical"><span>¿Tiene algún Vehiculo?</span></legend>
            <div class="fieldset-content">




                <label class="fsOptionLabel horizontal" for="field25594855_1"><input type="checkbox" id="field25594855_1" name="field25594855[]" value="SI" class="fsField  horizontal">SI</label>




                <label class="fsOptionLabel horizontal" for="field25594855_2"><input type="checkbox" id="field25594855_2" name="field25594855[]" value="NO" class="fsField  horizontal">NO</label>







                <div id="fsSupporting25594855" class="fsSupporting">Automovil - Camioneta - Camión u otro</div>


            </div></fieldset>



    </div>




















    <div class="fsRowBody fsCell fsFieldCell   fsLast fsLabelVertical  fsSpan50 " id="fsCell25594856" aria-describedby="fsSupporting25594856" lang="es">
        <label id="label25594856" class="fsLabel" for="field25594856">¿Cual es el valor de tus Vehiculos?                                            </label>


        <input type="text" id="field25594856" name="field25594856" size="11" placeholder="$" title="$" value="" class="fsField">



        <div id="fsSupporting25594856" class="fsSupporting">Opcional</div>





    </div>

</div>














<div id="fsRow1747404-29" class="fsRow fsFieldRow">








    <div class="fsRowBody fsCell fsFieldCell  fsFirst  fsLabelVertical  fsSpan50 " id="fsCell25594857" aria-describedby="fsSupporting25594857" lang="es">
        <fieldset id="label25594857">

            <legend class="fsLabel fsLabelVertical"><span>¿Tiene algún ahorro?</span></legend>
            <div class="fieldset-content">




                <label class="fsOptionLabel horizontal" for="field25594857_1"><input type="checkbox" id="field25594857_1" name="field25594857[]" value="SI" class="fsField  horizontal">SI</label>




                <label class="fsOptionLabel horizontal" for="field25594857_2"><input type="checkbox" id="field25594857_2" name="field25594857[]" value="NO" class="fsField  horizontal">NO</label>







                <div id="fsSupporting25594857" class="fsSupporting">Acciones - Fondos Mutuos - otros ahorros</div>


            </div></fieldset>



    </div>




















    <div class="fsRowBody fsCell fsFieldCell   fsLast fsLabelVertical  fsSpan50 " id="fsCell25594858" aria-describedby="fsSupporting25594858" lang="es">
        <label id="label25594858" class="fsLabel" for="field25594858">Valor Total Ahorros                                            </label>


        <input type="text" id="field25594858" name="field25594858" size="11" placeholder="$" title="$" value="" class="fsField">



        <div id="fsSupporting25594858" class="fsSupporting">Opcional</div>





    </div>

</div>







</div>







<div class="fsSection fs2Col" id="fsSection25594859">




<div class="fsSectionHeader">
    <h2 class="fsSectionHeading">Deudas</h2>

    <div class="fsSectionText"><p>Las deudas son importantes, por que determinan si el cliente va a poder pagar a futuro sus compromisos.&nbsp;</p>
        <p>Recuerda entregar la información lo más completa y veridica posible, ya que despues se verificara con información publica al momento de cursar el crédito.</p></div>
</div>

















<div id="fsRow1747404-31" class="fsRow fsFieldRow">








    <div class="fsRowBody fsCell fsFieldCell  fsFirst  fsLabelVertical  fsSpan50 " id="fsCell25594860" lang="es">
        <fieldset id="label25594860">

            <legend class="fsLabel fsLabelVertical"><span>¿Tiene crédito hipotecario?</span></legend>
            <div class="fieldset-content">




                <label class="fsOptionLabel horizontal" for="field25594860_1"><input type="checkbox" id="field25594860_1" name="field25594860[]" value="SI" class="fsField  horizontal">SI</label>




                <label class="fsOptionLabel horizontal" for="field25594860_2"><input type="checkbox" id="field25594860_2" name="field25594860[]" value="NO" class="fsField  horizontal">NO</label>









            </div></fieldset>



    </div>




















    <div class="fsRowBody fsCell fsFieldCell   fsLast fsLabelVertical  fsSpan50 " id="fsCell25594861" aria-describedby="fsSupporting25594861" lang="es">
        <label id="label25594861" class="fsLabel" for="field25594861">Pago Mensual - Crédito Hipotecario                                            </label>


        <input type="text" id="field25594861" name="field25594861" size="11" placeholder="$" title="$" value="" class="fsField">



        <div id="fsSupporting25594861" class="fsSupporting">Opcional</div>





    </div>

</div>














<div id="fsRow1747404-32" class="fsRow fsFieldRow">








    <div class="fsRowBody fsCell fsFieldCell  fsFirst  fsLabelVertical  fsSpan50 " id="fsCell25594862" aria-describedby="fsSupporting25594862" lang="es">
        <label id="label25594862" class="fsLabel" for="field25594862">Monto Total del Crédito                                            </label>


        <input type="text" id="field25594862" name="field25594862" size="11" placeholder="$" title="$" value="" class="fsField">



        <div id="fsSupporting25594862" class="fsSupporting">Opcional</div>





    </div>




















    <div class="fsRowBody fsCell fsFieldCell   fsLast fsLabelVertical  fsSpan50 " id="fsCell25594863" aria-describedby="fsSupporting25594863" lang="es">
        <fieldset id="label25594863">

            <legend class="fsLabel fsLabelVertical"><span>¿Cuando terminaras de pagar el crédito? </span></legend>
            <div class="fieldset-content">


                <!-- Used to pull in url for jquery -->
                <span style="display:none;" id="fsCalendar25594863ImageUrl">https://www.formstack.com/forms/images/2/calendar.png</span>




                <input type="hidden" id="field25594863Format" name="field25594863Format" value="MY">

                <div class="hidden"><label for="field25594863M">Month</label></div>
                <select id="field25594863M" name="field25594863M" class="fsField">
                    <option value="" selected="selected"> </option>
                    <option value="Jan">Ene</option>
                    <option value="Feb">Febrero</option>
                    <option value="Mar">Mar</option>
                    <option value="Apr">Abril</option>
                    <option value="May">Mayo</option>
                    <option value="Jun">Junio</option>
                    <option value="Jul">Julio</option>
                    <option value="Aug">Agosto</option>
                    <option value="Sep">Septiembre</option>
                    <option value="Oct">Octubre</option>
                    <option value="Nov">Noviembre</option>
                    <option value="Dec">Diciembre</option>
                </select>
                <div class="hidden"><label for="field25594863Y">Year</label></div>
                <select id="field25594863Y" name="field25594863Y" class="fsField">
                    <option value="" selected="selected"> </option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                    <option value="2030">2030</option>
                    <option value="2031">2031</option>
                    <option value="2032">2032</option>
                    <option value="2033">2033</option>
                    <option value="2034">2034</option>
                    <option value="2035">2035</option>
                    <option value="2036">2036</option>
                    <option value="2037">2037</option>
                    <option value="2038">2038</option>
                    <option value="2039">2039</option>
                    <option value="2040">2040</option>
                    <option value="2041">2041</option>
                    <option value="2042">2042</option>
                    <option value="2043">2043</option>
                    <option value="2044">2044</option>
                </select>



                <input type="text" id="fsCalendar25594863Link" class="fsCalendarPickerLink hasDatepicker" style="display:none;"><img class="ui-datepicker-trigger" src="https://www.formstack.com/forms/images/2/calendar.png" alt="Select Date" title="Select Date">

                <div id="fsCalendar25594863" class="fsCalendar" style=" position:absolute"></div>



                <div id="fsSupporting25594863" class="fsSupporting">Opcional</div>


            </div></fieldset>



    </div>

</div>














<div id="fsRow1747404-33" class="fsRow fsFieldRow">








    <div class="fsRowBody fsCell fsFieldCell  fsFirst  fsLabelVertical  fsSpan50 " id="fsCell25594864" lang="es">
        <fieldset id="label25594864">

            <legend class="fsLabel fsLabelVertical"><span>¿Tiene otros crédito?</span></legend>
            <div class="fieldset-content">




                <label class="fsOptionLabel horizontal" for="field25594864_1"><input type="checkbox" id="field25594864_1" name="field25594864[]" value="SI" class="fsField  horizontal">SI</label>




                <label class="fsOptionLabel horizontal" for="field25594864_2"><input type="checkbox" id="field25594864_2" name="field25594864[]" value="NO" class="fsField  horizontal">NO</label>









            </div></fieldset>



    </div>




















    <div class="fsRowBody fsCell fsFieldCell   fsLast fsLabelVertical  fsSpan50 " id="fsCell25594865" aria-describedby="fsSupporting25594865" lang="es">
        <label id="label25594865" class="fsLabel" for="field25594865">Pago Mensual - Otros Créditos                                            </label>


        <input type="text" id="field25594865" name="field25594865" size="11" placeholder="$" title="$" value="" class="fsField">



        <div id="fsSupporting25594865" class="fsSupporting">Opcional</div>





    </div>

</div>














<div id="fsRow1747404-34" class="fsRow fsFieldRow">








    <div class="fsRowBody fsCell fsFieldCell  fsFirst  fsLabelVertical  fsSpan50 " id="fsCell25594866" aria-describedby="fsSupporting25594866" lang="es">
        <label id="label25594866" class="fsLabel" for="field25594866">Monto Total del Crédito                                            </label>


        <input type="text" id="field25594866" name="field25594866" size="11" placeholder="$" title="$" value="" class="fsField">



        <div id="fsSupporting25594866" class="fsSupporting">Opcional</div>





    </div>




















    <div class="fsRowBody fsCell fsFieldCell   fsLast fsLabelVertical  fsSpan50 " id="fsCell25594867" aria-describedby="fsSupporting25594867" lang="es">
        <fieldset id="label25594867">

            <legend class="fsLabel fsLabelVertical"><span>¿Cuando terminaras de pagar el crédito? </span></legend>
            <div class="fieldset-content">


                <!-- Used to pull in url for jquery -->
                <span style="display:none;" id="fsCalendar25594867ImageUrl">https://www.formstack.com/forms/images/2/calendar.png</span>




                <input type="hidden" id="field25594867Format" name="field25594867Format" value="MY">

                <div class="hidden"><label for="field25594867M">Month</label></div>
                <select id="field25594867M" name="field25594867M" class="fsField">
                    <option value="" selected="selected"> </option>
                    <option value="Jan">Ene</option>
                    <option value="Feb">Febrero</option>
                    <option value="Mar">Mar</option>
                    <option value="Apr">Abril</option>
                    <option value="May">Mayo</option>
                    <option value="Jun">Junio</option>
                    <option value="Jul">Julio</option>
                    <option value="Aug">Agosto</option>
                    <option value="Sep">Septiembre</option>
                    <option value="Oct">Octubre</option>
                    <option value="Nov">Noviembre</option>
                    <option value="Dec">Diciembre</option>
                </select>
                <div class="hidden"><label for="field25594867Y">Year</label></div>
                <select id="field25594867Y" name="field25594867Y" class="fsField">
                    <option value="" selected="selected"> </option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                </select>



                <input type="text" id="fsCalendar25594867Link" class="fsCalendarPickerLink hasDatepicker" style="display:none;"><img class="ui-datepicker-trigger" src="https://www.formstack.com/forms/images/2/calendar.png" alt="Select Date" title="Select Date">

                <div id="fsCalendar25594867" class="fsCalendar" style=" position:absolute"></div>



                <div id="fsSupporting25594867" class="fsSupporting">Opcional</div>


            </div></fieldset>



    </div>

</div>














<div id="fsRow1747404-35" class="fsRow fsFieldRow">








    <div class="fsRowBody fsCell fsFieldCell  fsFirst  fsLabelVertical  fsSpan50 " id="fsCell25594868" lang="es">
        <fieldset id="label25594868">

            <legend class="fsLabel fsLabelVertical"><span>¿Tiene línea y tarjetas crédito?</span></legend>
            <div class="fieldset-content">




                <label class="fsOptionLabel horizontal" for="field25594868_1"><input type="checkbox" id="field25594868_1" name="field25594868[]" value="SI" class="fsField  horizontal">SI</label>




                <label class="fsOptionLabel horizontal" for="field25594868_2"><input type="checkbox" id="field25594868_2" name="field25594868[]" value="NO" class="fsField  horizontal">NO</label>









            </div></fieldset>



    </div>




















    <div class="fsRowBody fsCell fsFieldCell   fsLast fsLabelVertical  fsSpan50 " id="fsCell25594869" aria-describedby="fsSupporting25594869" lang="es">
        <label id="label25594869" class="fsLabel" for="field25594869">Monto Aprobado Linea y Tarjeta de Crédito                                            </label>


        <input type="text" id="field25594869" name="field25594869" size="11" placeholder="$" title="$" value="" class="fsField">



        <div id="fsSupporting25594869" class="fsSupporting">Opcional</div>





    </div>

</div>





</div>



</div>


<div id="fsSubmit1747404" class="fsSubmit fsPagination">


    <button type="button" id="fsPreviousButton1747404" class="fsPreviousButton" value="Previous Page" style="display:none; color:#000000;"><span class="fsFull">Anterior</span><span class="fsSlim">←</span></button>
    <button type="button" id="fsNextButton1747404" class="fsNextButton" value="Next Page" style="display: none; color: rgb(0, 0, 0);"><span class="fsFull">Siguiente</span><span class="fsSlim">→</span></button>

    <input id="fsSubmitButton1747404" class="fsSubmitButton" style="color: rgb(0, 0, 0);" type="submit" value="Enviar">




    <div class="clear"></div>

</div>


<script type="text/javascript" src="https://www.formstack.com/forms/js/3/jquery.min.js"></script>
<link href="https://www.formstack.com/forms/css/3/jquery-ui.css?20140508" rel="stylesheet" type="text/css">
<script type="text/javascript" src="https://www.formstack.com/forms/js/3/jquery-ui.min.js?20140508"></script>

<script type="text/javascript" src="https://www.formstack.com/forms/js/3/scripts.js?20140516"></script>
<script type="text/javascript" src="https://www.formstack.com/forms/js/3/analytics.js?20140409"></script>





<script type="text/javascript">

    if(window.addEventListener) {
        window.addEventListener('load', loadFormstack, false);
    } else if(window.attachEvent) {
        window.attachEvent('onload', loadFormstack);
    } else {
        loadFormstack();
    }


    function loadFormstack() {
        var form1747404 = new Formstack.Form(1747404, 'https://www.formstack.com/forms/');




        form1747404.logicFields = [];


        form1747404.calcFields = [];

        form1747404.init();

        form1747404.plugins.analytics = new Formstack.Analytics('https://www.formstack.com', 1747404, form1747404);
        form1747404.plugins.analytics.trackTouch();
        form1747404.plugins.analytics.trackBottleneck();



        window.form1747404 = form1747404;
    };
</script>




<div style="clear:both"></div>

</form>





</body>
</html>