
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Administrador Bench Banking </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <META NAME="ROBOTS" CONTENT="NOINDEX, FOLLOW">
<META NAME="ROBOTS" CONTENT="INDEX, NOFOLLOW">
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<meta name="robots" content="noindex">
<script>
document.querySelector('input').onchange = function(){
  	document.querySelector('label').innerHTML = this.value;
};

</script>
<style>
.cancelButton{
    
	background-color:#768d87;
    
    
    
    
    
    
    }
        
* {
  margin: 0;
  padding: 0;
  font-family: segoe ui, helvetica neue, helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 200;
}

input {
  display: none;
}

label {
  padding: 10px;
  background: #dedede;
  margin: 5px auto;
  display: block;
  width: 200px;
  cursor: pointer;
  color: #444;
  font-size: 90%;
  background: linear-gradient(#eee,#ddd);
  color: #666;
  border-radius: 2px;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
  border: 1px solid #d2d2d2;
}

button {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
                height: 10px;
	font-size:10px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
button:active {
	position:relative;
	top:1px;
}

.texto1{
    margin-top: -12%;
    }
</style>

  <link href="{{ asset('bundles/benchadmin/bootstrap/css/bootstrap.css')}}" rel="stylesheet" id="main-theme-script" />
  <link href="{{ asset('bundles/benchadmin/css/themes/default.css')}}" rel="stylesheet" id="theme-specific-script" />
  <script src="{{ asset('bundles/benchadmin/js/mask.js') }}"></script>
  <script src="{{ asset('bundles/benchadmin/scripts/jquery.js')}}"></script>





     <script src="{{ asset('bundles/benchadmin/scripts/tables/jquery.dataTables.min.js')}}" type="text/javascript"></script>

     <script src="{{ asset('bundles/benchadmin/scripts/tables/jquery.dataTables.columnFilter.js')}}" type="text/javascript"></script>

  
    
     

  
  <link href="{{ asset('bundles/benchadmin/scripts/datepicker/css/datepicker.css')}}" rel="stylesheet" />
  


  <link rel="stylesheet" type="text/css" media="screen,projection" href="{{ asset('bundles/benchadmin/scripts/uniform/css/uniform.default.css')}}" />
  

  <link type="text/css" href="{{asset('bundles/benchadmin/scripts/chosen/chosen/chosen.intenso.css')}}" rel="stylesheet" />   

 
  <link href="{{ asset('bundles/benchadmin/css/simplenso.css')}}" rel="stylesheet" />
  

  <link rel="shortcut icon" href="{{ asset('bundles/benchadmin/images/ico/favicon.ico')}}" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/benchadmin/images/ico/apple-touch-icon-144-precomposed.png')}}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/benchadmin/images/ico/apple-touch-icon-114-precomposed.png')}}" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/benchadmin/images/ico/apple-touch-icon-72-precomposed.png')}}" />
  <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/benchadmin/images/ico/apple-touch-icon-57-precomposed.png')}}" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body id="dashboard" class="hidden">






 <div id="div_carga">
   <img id="cargador" src="./img/loader.gif"/>
   </div>

<!-- Top navigation bar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="index.html">Bench banking</a>
   
      <div class="nav-collapse">
          
          
        <ul class="nav">
        
              
          <li class="dropdown">
              
          </li>
       
        </ul>
      </div>
    </div>
  </div>
</div>
  
<div class="container-fluid">
  <div class="row-fluid">
    
    <!-- Bread Crumb Navigation -->
  
      

   
  
         
         <!-- Portlet Set 5 -->

             

        
	  <!-- Table -->
      
      
         	 <!-- Portlet: Browser Usage Graph -->
            
                 <h4 class="box-header round-top"></h4>
                 <H4> Cotizar a Usuario rut / {{usuario.rut}}</H4>
       
                 
                     
              </h4>         
              
      
      

                     <section id="contenido">
                         
                         
          

                         
                         

                         
                         
                             <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
        <link rel="stylesheet" href="{{asset('bundles/benchadmin/plug/docsupport/style.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/benchadmin/plug/docsupport/prism.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/benchadmin/plug/chosen.css')}}">
        <link href="{{ asset('bundles/benchadmin/bootstrap/css/bootstrap.css')}}" rel="stylesheet" id="main-theme-script" />
        <link href="{{ asset('bundles/benchadmin/css/themes/default.css')}}" rel="stylesheet" id="theme-specific-script" />
        <script src="{{asset('bundles/benchadmin/scripts/jquery.js')}}" type="text/javascript"></script>
        <script src="{{asset('bundles/benchadmin/js/cotizarConsumo.js.js')}}" type="text/javascript"></script>
        <script src="{{asset('bundles/benchadmin/js/cotizarAutomotriz.js')}}" type="text/javascript"></script>
        <script src="{{asset('bundles/benchadmin/js/cotizarHipotecario.js')}}" type="text/javascript"></script>
        <script src="{{asset('bundles/benchadmin/js/cotizarConsoli.js')}}" type="text/javascript"></script>
        <script src="{{asset('bundles/benchadmin/js/cotizarCuenta.js')}}" type="text/javascript"></script>
        
        <script src="{{asset('bundles/benchadmin/bootstrap/js/bootstrap.min.js')}}" type="text/javascript"></script>

    </head>


    <body>
        <input type="hidden" value="{{usuario.id}}"  id="usuarioid">


        <div style="width:80%;height:auto;margin-left: 2%;position:relative; ">
            <h4> Lista de créditos solicitados  </h4>
{% set CreditoConsumo = usuario.creditoconsumo%}
 {% set CreditoAutomotriz = usuario.creditoautomotriz %}      
  {% set CreditoHipotecario  = usuario.creditohipotecario %}       
   {% set CreditoConsolidacion = usuario.creditoconsolidacion %}  
    {% set creditocuenta = usuario.creditocuenta %}    
    {% set cotizaciones = usuario.cotizaciones %}        

            <table class="table table-striped table-bordered table-condensed"  id="tablaCotizaciones">
                <thead>

                    <tr> 

                        <td width="10%">Monto</td>
                        <td width="10%" >Plazo</td>
                        <td width="10%">tipo</td>
                        <td width="10%">Selccionar</td>
                    </tr>
                </thead>
                <tbody>

                  {% for  CreditoConsumo  in CreditoConsumo %}
                   
                    <tr id="Primeraconsumo-"{{CreditoConsumo.id}}>
                        
                        
                        
                        

                        <td >{{CreditoConsumo.montoCredito}}<input type="hidden" id="consumoMonto-{{CreditoConsumo.id}}" value="{{CreditoConsumo.montoCredito}}"><input type="hidden" id="usuario-{{CreditoConsumo.id}}"  value="{{usuario.id}}"></td>
                        <td>{{CreditoConsumo.plazoCredito}} <input type="hidden"  id="consumoPlazo-{{CreditoConsumo.id}}"   value="{{CreditoConsumo.plazoCredito}}"></td>
                        <td>Crédito Consumo <input type="hidden" id="consumoTipo-{{CreditoConsumo.id}}" value="Crédito Consumo" ></td>

                        <td><button id="idConsumo-{{CreditoConsumo.id}}" class="del_button"  ><p class="texto1">Seleccionar</p></button></td>



                    </tr>
                    
         
                  {% endfor %}

                    <!-- INICIO  Credito Automotriz -->

                   {% for CreditoAutomotriz in CreditoAutomotriz %}
                    
        
                    <tr>

                        <td>{{CreditoAutomotriz.monto}} <input type="hidden" id ="automotrizMonto-{{CreditoAutomotriz.id}}" value="{{CreditoAutomotriz.monto}}" ></td>
                        <td>{{CreditoAutomotriz.plazo}} <input type="hidden" id="automotrizPlazo-{{CreditoAutomotriz.id}}" value="{{CreditoAutomotriz.plazo}}"></td>
                        <td>Crédito Automotriz <input type="hidden" id="automotrizTipo-{{CreditoAutomotriz.id}}" value="Crédito Automotriz" ></td>
                        <td><button id="idAutomotriz-{{CreditoAutomotriz.id}}" class="del_buttonAutos" ><p class="texto1">Seleccionar</p></button></td>

                    </tr>
    
                    {% endfor %}



                    {% for CreditoHipotecario in CreditoHipotecario%}
           
                    <tr>

                        <td>{{CreditoHipotecario.montoCredito|number_format(0, '.', '.')}} <input type="hidden" id ="HipotecarioMonto-{{CreditoHipotecario.id}}" value="{{CreditoHipotecario.montoCredito|number_format(0, '.', '.')}}" ></td>
                        <td>{{CreditoHipotecario.plazoCredito}} <input type="hidden" id="HipotecarioPlazo-{{CreditoHipotecario.id}}" value="{{CreditoHipotecario.plazoCredito}}"></td>
                        <td>Crédito Hipotecario <input type="hidden" id="HipotecarioTipo-{{CreditoHipotecario.id}}" value="Crédito Hipotecario"></td>
                        <td><button id="idHipotecario-{{CreditoHipotecario.id}}" class="del_buttonHipotecario"><p class="texto1">Seleccionar</p></button></td>

                    </tr>    

                    <!-- FIN Credito Automotriz -->
           
                    {% endfor %}


                    <!-- Credito consolidacion -->
                  {% for CreditoConsolidacion in CreditoConsolidacion %}
               
                    
                    <tr>
                        
                        
      <td>{{CreditoConsolidacion.montoCredito}} <input type="hidden" id ="ConsolidacionMonto-{{CreditoConsolidacion.id}}" value="{{CreditoConsolidacion.montoCredito}}" ></td>
     <td>{{CreditoConsolidacion.plazo}} <input type="hidden" id="ConsolidacionPlazo-{{CreditoConsolidacion.id}}" value="{{CreditoConsolidacion.plazo}}"></td>
     <td>Crédito Consolidacion Deuda <input type="hidden" id="ConsolidacionTipo-{{CreditoConsolidacion.id}}" value="Crédito Consolidacion Deuda"></td>
     <td><button id="idConsolidacion-{{CreditoConsolidacion.id}}" class="del_buttonConsolidacion"><p class="texto1">Seleccionar</p></button></td>
 
                    </tr>
                  
{% endfor %}
                    
                    
                    {% for creditocuenta in creditocuenta %}
                   
                    
                    
                    <tr>
                        <td>{{creditocuenta.producto}} {{creditocuenta.producto2}} {{creditocuenta.producto3}}</td>
                        <td></td>
                           <td>Cuenta Corriente <input type="hidden" id="CuentaTipo-{{creditocuenta.id}}" value="Cuenta Corriente"></td>

                       <td><button id="idCuenta-{{creditocuenta.id}}" class="del_buttonCuenta"><p class="texto1">Seleccionar</p></button></td>
 
                        
                    
                    
                    </tr>
         
                    {% endfor %}
                    
                    
                
                    
                    
                        <!-- FIN  Credito consolidacion -->

                </tbody>
            </table>


            <h4>Subir cotizaciones nuevas. </h4>



            <h4>  <span class="sr-only" id="textoPorcentaje"></span></h4>




            <table class="table table-striped table-bordered table-condensed"  id="tablaCotizacionesFinal">
                <thead>

                    <tr> 
                        <td width="10%">Monto</td>
                        <td width="10%">Plazo</td>
                        <td width="10%">Banco</td>
                        <td width="10%">Tipo</td>
                        <td width="20%">Rechazar</td>
                        <td width="10%">Adjuntar</td>
                        <td width="10%">Eliminar</td>

                    </tr>


                </thead>


                <tbody>

                    <tr>
                    
                    </tr>
                    
                    </tbody>
                    
                    </table>
            
            

    <form id="GuardarCotizaciones" action="{{path('GuardarCotizaciones')}}"></form>
    <form id="UpdateCotizaciones" action="{{path('updateCotizaciones')}}"></form>
    <form id="EliminarCotizacionesCosumo" action="{{path('EliminarCotizacionesCosumo')}}"></form>
    <form id="UpdateCotizacionesArchivo" action="{{path('UpdateCotizacionesArchivo')}}"></form>


    


    <h3>Lista de cotizaciones subidas.</h3>
    
    <table class="table table-striped table-bordered table-condensed" id="cotizacionesAnteriores">
        
        <thead>
            <tr>
                     <td width="10%">Tipo</td>
                    <td width="10%">Banco</td>
                    <td width="10%">Monto</td>
                    <td width="10%">Plazo</td>
                
                    <td width="10%">Archivo</td>
                    <td width="10%"> Rechazo</td>
                    <td width="10%">Eliminar</td>
            
                        
            </tr>
        
        </thead>
        <tbody>
           {% for cotizaciones in cotizaciones %}
            <tr>
                
                <td>{{cotizaciones.tipo}}</td>
                  <td>{{cotizaciones.banco}}</td>
                  <td>{{cotizaciones.monto}}</td>
                   <td>{{cotizaciones.plazo}}</td>
             
                   <td>{% if  cotizaciones.Archivourl %}<a href="{{cotizaciones.Archivourl}}" target="_blank">Archivo</a>{% endif%}</td>
                   <td>{{cotizaciones.motivoRechazo}}</td>
                   <td>Eliminar</td>
                   
            </tr>
            
            {% endfor %}
        
               
        </tbody>
    
    
    </table>

    
    
    
                     </section>

              
              

              
              
              








                  </div>
              </div>
            </div><!--/span-->




   </div>
      </div>  
 
    </div><!--/span-->
  </div><!--/row-->



<div style="clear:both;"></div>










  <footer>
    <p>&copy; Bench Banking</p>
  </footer>
    <div id="box-config-modal" class="modal hide fade in" style="display: none;">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3></h3>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal"></a>
        <a href="#" class="btn" data-dismiss="modal"></a>
      </div>
    </div>
</div><!--/.fluid-container-->

    
  
    <script src="{{ asset('bundles/benchadmin/scripts/jquery-ui/ui/minified/jquery.ui.core.min.js')}}"></script>
	<script src="{{ asset('bundles/benchadmin/scripts/jquery-ui/ui/minified/jquery.ui.widget.min.js')}}"></script>
	<script src="{{ asset('bundles/benchadmin/scripts/jquery-ui/ui/minified/jquery.ui.mouse.min.js')}}"></script>
	<script src="{{ asset('bundles/benchadmin/scripts/jquery-ui/ui/minified/jquery.ui.sortable.min.js')}}"></script>
    <script src="{{ asset('bundles/benchadmin/scripts/jquery-ui/ui/minified/jquery.ui.widget.min.js')}}"></script>
    
  
    <script src="{{ asset('bundles/benchadmin/scripts/jquery-ui/ui/minified/jquery.ui.draggable.min.js')}}"></script>
    <script src="{{ asset('bundles/benchadmin/scripts/jquery-ui/ui/minified/jquery.ui.droppable.min.js')}}"></script>

 
    <script src="{{ asset('bundles/benchadmin/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('bundles/benchadmin/scripts/bootbox/bootbox.min.js')}}"></script>

    <script src="{{ asset('bundles/benchadmin/scripts/datepicker/js/bootstrap-datepicker.js')}}"></script>

		
    <!-- jQuery Cookie -->    
    <script src="{{ asset('bundles/benchadmin/scripts/jquery.cookie/jquery.cookie.js')}}"></script>
    
    <!-- Full Calender -->
    <script type='text/javascript' src='{{ asset('bundles/benchadmin/scripts/fullcalendar/fullcalendar/fullcalendar.min.js')}}'></script>
    
    <!-- CK Editor -->
	<script type="text/javascript" src="{{ asset('bundles/benchadmin/scripts/ckeditor/ckeditor.js')}}"></script>
    
    <!-- Chosen multiselect -->
    <script type="text/javascript" language="javascript" src="{{ asset('bundles/benchadmin/scripts/chosen/chosen/chosen.jquery.min.js')}}"></script>  
    
    <!-- Uniform -->
    <script type="text/javascript" language="javascript" src="{{ asset('bundles/benchadmin/scripts/uniform/jquery.uniform.min.js')}}"></script>
    
    
	
    <script src="{{ asset('bundles/benchadmin/scripts/simplenso/simplenso.js')}}"></script>
  </body>


                 
                         
                
  
  