<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>


<style>
    body{

        font-family: arial, sans-serif;
        font-size: 14px;
    }
    #contenedor{
        width: 700px;
        height: 1000px;
        /*  background-color: #ffeeee; */
        position: relative;
        margin: auto;


    }

    .logo{
        width: 200px;
        height: 70px;
        background-color: #ffffff;
        position: relative;
        float: left;



    }

    .titulo{

        width: 700px;
        background-color: #001d6e;
        height: 70px;
        position: relative;
        float: right;



    }


    h3{

        color: #ffffff;



    }

    .titulo2{
        margin-top: 49px;
        float: right;
        margin-right: 5px;
        width: auto;
        height: auto;
        position: relative;

    }
    .row880{
        position: relative;
        height: 24px;
        width: 890px;
        margin: auto;

        background-color: #ffffff;

    }

    .row880Azul{
        position: relative;
        height: 21px;
        width: 900px;
        margin: auto;

        background-color: #001d6e;

    }



    .clear{

        clear: both;
    }
    input[type="text"] {
        padding: 10px;
        margin-top:-20px;
        border: none;
        border-bottom: solid 1px #000;
        transition: border 0.3s;
    }


    input[type="text"]:focus,
    input[type="text"].focus {
        border-bottom: solid 1px #000;
    }


    .titleInput1{
        position: relative;
        height: 100px;
        width: 100px;
        margin-top: 100px;

    }

    table{
        margin-top:10px;
    }

</style>

<div id="contenedor" style="background-color:#FFF;">


<table width="695">
    <tr>
        <td width="300" height="96"><img src="bvva.jpg"></td>
        <td width="383" style="background-color:#001d6e"><span style="color:#FFF;width:auto;height:auto;float:right;margin-right:4px;margin-top:60px;">PREAPROBACION DE CREDITOS </span></td>

    </tr>

</table>
<table>

    <tr></tr>
</table>


<table width="700">
    <tr>
        <td width="301">Inmobiliarias: <input type="text" style="width:190px;"></td>
        <td width="185"> Proyecto: <input type="text" style="width:100px;"></td>

        <td width="198"> <span>Ejecutivo: <input type="text" style="width:100px;"></td>
    </tr>


</table>



<table width="700" height="10">
    <tr>

        <td  style="background-color: #001d6e;"><span style="color:#FFF;">ANTECEDENTES DEL CLIENTE</span></td>

    </tr>


</table>




<table width="702">
    <tr>
        <td width="489">Nombre : <input type="text" style="width:380px;"></td>

        <td width="201"> Rut: <input type="text" style="width:135px;"></td>
    </tr>


</table>



<table width="700">
    <tr>
        <td width="214">Estado Civil: <input type="text" style="width:100px;"></td>
        <td width="272"> Fecha Nacimiento: <input type="text" style="width:90px;"></td>

        <td width="198"> <span>Edad: <input type="text" style="width:122px;"></td>
    </tr>


</table>


<table width="700">

    <td>Domicilio: <input type="text" style="width:592px;"></td>
</table>


<table width="700">
    <tr>
        <td width="188">Vivienda: <input type="text" style="width:100px;"></td>
        <td width="300">Años residencia : <input type="text" style="width:90px;"></td>

        <td width="196"> <span>Familiares Nº: <input type="text" style="width:67px;"></td>
    </tr>


</table>


<table width="700">
    <tr>
        <td width="264">Arriendo / Dividendo: <input type="text" style="width:100px;"></td>
        <td width="224">Teléfono : <input type="text" style="width:90px;"></td>

        <td width="196"> <span>Celular: <input type="text" style="width:108px;"></td>
    </tr>


</table>


<hr style="color: #001d6e;
background-color: #001d6e;
height: 5px;">


<span style="color:#001d6e;">DATOS PROFESIONALES DEL CLIENTE</span>



<table width="700">
    <tr>
        <td width="326">Actividad : <input type="text" style="width:230px;"></td>
        <td width="362">Empresa: <input type="text" style="width:262px;"></td>


    </tr>


</table>



<table width="700">
    <tr>
        <td width="326">Giro Emp: <input type="text" style="width:230px;"></td>
        <td width="179">Rut: <input type="text" style="width:100px;"></td>
        <td width="179">Teléfono Of.: <input type="text" style="width:58px;"></td>

    </tr>


</table>



<table width="700">
    <tr>
        <td width="326">Profesión: <input type="text" style="width:230px;"></td>
        <td width="187">Contrato: <input type="text" style="width:100px;"></td>
        <td width="171">Fax.: <input type="text" style="width:100px;"></td>

    </tr>


</table>



<table width="700">
    <tr>
        <td width="326">Cargo Actual: <input type="text" style="width:205px;"></td>
        <td width="233">Fecha Inicio / Act: <input type="text" style="width:90px;"></td>
        <td width="125">Email.: <input type="text" style="width:40px;"></td>

    </tr>


</table>


<hr style="color: #001d6e;
background-color: #001d6e;
height: 5px;">


<span style="color:#001d6e;">DATOS PROFESIONALES DEL CLIENTE</span>
<div style="clear:both;"></div>

<table width="700" style="">
    <tr>
        <td width="161" style="border: solid 1px  #001d6e;" ><span style="font-size:10px; text-align:center;width:auto;position:relative;margin:auto;"> ACTIVOS </span></td>
        <td width="145"  style="border: solid 1px  #001d6e;" ><span style="font-size:10px; text-align:center;"> PASIVOS </span></td>
        <td width="378"  style="border: solid 1px  #001d6e;"><span style="font-size:10px;;"> INGRESOS LIQUIDOS MENSUAL </span></td>
    </tr>
</table>



<div class="clear:both;"></div>

<table width="700" height="20">

    <tr>
        <td width="55"><p style="font-size:9px;"> Tipo </p></td>
        <td width="102"><p style="font-size:9px;"> Valor Comercial </p></td>

        <td width="61"><p style="font-size:9px;"> Tipo deuda </p></td>
        <td width="81"><p style="font-size:9px;"> Deuda vigente </p></td>
        <td width="365"><p style="font-size:9px;"> Deuda vigente </p></td>
        <td width="8"></td>
    </tr>


</table>


<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;">Bienes Raices <input type="text" style="width:80px;"></p></td>
        <td width="283"><p style="font-size:9px;">Hipotecario  &nbsp;<input type="text" style="width:80px;"> &nbsp;<input type="text" style="width:80px;"></p></td>
        <td width="226"><p style="font-size:9px;">Sueldo Fijo<input type="text" style="width:140px;"></p></td>

    </tr>


</table>


<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;">Vehículos<input type="text" style="width:80px;"></p></td>
        <td width="283"><p style="font-size:9px;">Consumo &nbsp; &nbsp;&nbsp; <input type="text" style="width:80px;"> &nbsp;<input type="text" style="width:80px;"></p></td>
        <td width="226"><p style="font-size:9px;">Sueldo Variable<input type="text" style="width:120px;"></p></td>

    </tr>


</table>


<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;">Acciones<input type="text" style="width:80px;"></p></td>
        <td width="283"><p style="font-size:9px;">Tarjeta Crédito&nbsp;<input type="text" style="width:80px;"> &nbsp;<input type="text" style="width:80px;"></p></td>
        <td width="226"><p style="font-size:9px;">Boletas Hon.<input type="text" style="width:135px;"></p></td>

    </tr>


</table>



<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;">Ahorros<input type="text" style="width:80px;"></p></td>
        <td width="283"><p style="font-size:9px;">Linea sobregiro<input type="text" style="width:80px;"> &nbsp;<input type="text" style="width:80px;"></p></td>
        <td width="226"><p style="font-size:9px;">Pension/Jubil. &nbsp;<input type="text" style="width:125px;"></p></td>

    </tr>


</table>


<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;">Otros<input type="text" style="width:80px;"></p></td>
        <td width="283"><p style="font-size:9px;">Otras Deudas &nbsp;<input type="text" style="width:80px;"> &nbsp;<input type="text" style="width:80px;"></p></td>
        <td width="226"><p style="font-size:9px;"> &nbsp; &nbsp; &nbsp; &nbsp;Arriendos<input type="text" style="width:132px;"></p></td>

    </tr>


</table>



<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;">Total Act.<input type="text" style="width:80px;"></p></td>
        <td width="283"><p style="font-size:9px;">Total Pas. &nbsp; &nbsp; &nbsp; <input type="text" style="width:80px;"> </p></td>
        <td width="226"><p style="font-size:9px;">Total Ingresos<input type="text" style="width:132px;"></p></td>

    </tr>


</table>






<table width="700" height="10">
    <tr>

        <td  style="background-color: #001d6e;"><span style="color:#FFF;">ANTECEDENTES DEL CONYUGE</span><input type="checkbox"></td>


        <td  style="background-color: #001d6e;"><span style="color:#FFF;">AVAL</span><input type="checkbox"></td>



        <td  style="background-color: #001d6e;"><span style="color:#FFF;">CODEUDOR</span><input type="checkbox"></td>




    </tr>


</table>




<table width="702">
    <tr>
        <td width="489">Nombre : <input type="text" style="width:380px;"></td>

        <td width="201"> Rut: <input type="text" style="width:135px;"></td>
    </tr>


</table>



<table width="700">
    <tr>
        <td width="214">Estado Civil: <input type="text" style="width:100px;"></td>
        <td width="272"> Fecha Nacimiento: <input type="text" style="width:90px;"></td>

        <td width="198"> <span>Edad: <input type="text" style="width:122px;"></td>
    </tr>


</table>


<table width="700">

    <td>Domicilio: <input type="text" style="width:592px;"></td>
</table>


<table width="700">
    <tr>
        <td width="188">Vivienda: <input type="text" style="width:100px;"></td>
        <td width="300">Años residencia : <input type="text" style="width:90px;"></td>

        <td width="196"> <span>Familiares Nº: <input type="text" style="width:67px;"></td>
    </tr>


</table>


<table width="700">
    <tr>
        <td width="264">Arriendo / Dividendo: <input type="text" style="width:100px;"></td>
        <td width="224">Teléfono : <input type="text" style="width:90px;"></td>

        <td width="196"> <span>Celular: <input type="text" style="width:108px;"></td>
    </tr>


</table>


<hr style="color: #001d6e;
background-color: #001d6e;
height: 5px;">







<span style="color:#001d6e;">DATOS PROFESIONALES DEL CLIENTE</span>
<div style="clear:both;"></div>


<table width="700" style="">
    <tr>
        <td width="161" style="border: solid 1px  #001d6e;" ><span style="font-size:10px; text-align:center;width:auto;position:relative;margin:auto;"> ACTIVOS </span></td>
        <td width="145"  style="border: solid 1px  #001d6e;" ><span style="font-size:10px; text-align:center;"> PASIVOS </span></td>
        <td width="378"  style="border: solid 1px  #001d6e;"><span style="font-size:10px;;"> INGRESOS LIQUIDOS MENSUAL </span></td>
    </tr>
</table>

<div class="clear:both;"></div>

<table width="700" height="20">

    <tr>
        <td width="55"><p style="font-size:9px;"> Tipo </p></td>
        <td width="102"><p style="font-size:9px;"> Valor Comercial </p></td>

        <td width="61"><p style="font-size:9px;"> Tipo deuda </p></td>
        <td width="81"><p style="font-size:9px;"> Deuda vigente </p></td>
        <td width="365"><p style="font-size:9px;"> Deuda vigente </p></td>
        <td width="8"></td>
    </tr>


</table>


<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;">Bienes Raices <input type="text" style="width:80px;"></p></td>
        <td width="283"><p style="font-size:9px;">Hipotecario  &nbsp;<input type="text" style="width:80px;"> &nbsp;<input type="text" style="width:80px;"></p></td>
        <td width="226"><p style="font-size:9px;">Sueldo Fijo<input type="text" style="width:140px;"></p></td>

    </tr>


</table>


<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;">Vehículos<input type="text" style="width:80px;"></p></td>
        <td width="283"><p style="font-size:9px;">Consumo &nbsp; &nbsp;&nbsp; <input type="text" style="width:80px;"> &nbsp;<input type="text" style="width:80px;"></p></td>
        <td width="226"><p style="font-size:9px;">Sueldo Variable<input type="text" style="width:120px;"></p></td>

    </tr>


</table>


<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;">Acciones<input type="text" style="width:80px;"></p></td>
        <td width="283"><p style="font-size:9px;">Tarjeta Crédito&nbsp;<input type="text" style="width:80px;"> &nbsp;<input type="text" style="width:80px;"></p></td>
        <td width="226"><p style="font-size:9px;">Boletas Hon.<input type="text" style="width:135px;"></p></td>

    </tr>


</table>



<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;">Ahorros<input type="text" style="width:80px;"></p></td>
        <td width="283"><p style="font-size:9px;">Linea sobregiro<input type="text" style="width:80px;"> &nbsp;<input type="text" style="width:80px;"></p></td>
        <td width="226"><p style="font-size:9px;">Pension/Jubil. &nbsp;<input type="text" style="width:125px;"></p></td>

    </tr>


</table>


<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;">Otros<input type="text" style="width:80px;"></p></td>
        <td width="283"><p style="font-size:9px;">Otras Deudas &nbsp;<input type="text" style="width:80px;"> &nbsp;<input type="text" style="width:80px;"></p></td>
        <td width="226"><p style="font-size:9px;"> &nbsp; &nbsp; &nbsp; &nbsp;Arriendos<input type="text" style="width:132px;"></p></td>

    </tr>


</table>



<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;">Total Act.<input type="text" style="width:80px;"></p></td>
        <td width="283"><p style="font-size:9px;">Total Pas. &nbsp; &nbsp; &nbsp; <input type="text" style="width:80px;"> </p></td>
        <td width="226"><p style="font-size:9px;">Total Ingresos<input type="text" style="width:132px;"></p></td>

    </tr>


</table>











</div>
</body>
</html>