<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
    </head>
  <style>
    
        
	* { margin: 0; padding: 0; }
	
	body {font-family: Verdana, Arial; font-size: 12px; line-height: 18px; background-image: url(img/bg_icons.jpg.jpg);
background-position: center top;
background-repeat: no-repeat;}

header{
	width:626px;
	height:160px;
	margin:0 auto;
        
      
}


  p{
            font-family: Verdana, Arial;
            
            }
            
	a { text-decoration: none; font-family: Verdana, Arial; }
	.container{font-family: Verdana, Arial; margin: 20px auto; width: 700px; height: auto; background-color:#0FF; -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px; background-color:#EEEEEE;}
	h3 { font-family: Verdana, Arial; padding:2px 0 2px 10px; font-size: 14px; background-color:#F60; color:#FFF; -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin:5px 0;}
	h4 { font-family: Verdana, Arial; padding:4px 0 4px 10px; font-size: 16px; background-color: #666; color:#FFF; -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin:5px 0;}
	
	
	.cols {
            font-family: Verdana, Arial;
column-count: 3;
-moz-column-count:3; /* Firefox */
-webkit-column-count:3; /* Safari and Chrome */

}
	
	#contactform {
	
	width: 660px;
	padding: 5px 16px;
	overflow:auto;
	
	/*border: 1px solid #cccccc;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;	
	
	-moz-box-shadow: 2px 2px 2px #cccccc;
	-webkit-box-shadow: 2px 2px 2px #cccccc;
	box-shadow: 2px 2px 2px #cccccc;*/
	
	}
	
	.field{margin-bottom:2px;}
	
	label {
		color:#666;
	font-family: Verdana, Geneva, sans-serif; 
	text-shadow: 1px 1px 1px #ccc;
	display: block; 
	float: left; 
	font-weight: normal; 
	margin-right:10px; 
	text-align: left; 
	width: 200px; 
	line-height: 15px; 
	font-size: 12px; 
	}
	
	.label-adress {
		color:#666;
	font-family: Verdana, Geneva, sans-serif; 
	text-shadow: 1px 1px 1px #ccc;
	display: block; 
	float: left; 
	font-weight: normal; 
	margin-right:10px; 
	text-align: left; 
	width: auto; 
	line-height: 15px; 
	font-size: 12px; 
	}
	
	.input-adress{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family: Arial, Verdana; 
	font-size: 11px; 
	padding: 1px;
	margin:1px 0;
	border: 1px solid #b9bdc1; 
	width: 99%;
	height:16px; 
	color: #797979;	
	}
	
	.input{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family: Arial, Verdana; 
	font-size: 11px; 
	padding: 1px;
	margin:1px 0;
	border: 1px solid #b9bdc1; 
	width: 97%;
	height:16px; 
	color: #797979;	
	}
	
	.input:focus{
	background-color:#E7E8E7;
	border:1px solid #F95B00;	
	}
	
	.textarea {
	height:150px;	
	}
	
	.hint{
	display:none;
	left:190px;
	}
	
	.field:hover .hint {  
	position: absolute;
	display: block;  
	margin: -30px 0 0 455px;
	color: #FFFFFF;
	padding: 7px 10px;
	background: rgba(0, 0, 0, 0.6);
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;	
	}
	
	.button{
	float: right;
	margin:10px 55px 10px 0;
	font-weight: bold;
	line-height: 1;
	padding: 6px 10px;
	cursor:pointer;   
	color: #fff;
	
	text-align: center;
	text-shadow: 0 -1px 1px #64799e;
	
	/* Background gradient */
	background: #a5b8da;
	background: -moz-linear-gradient(top, #a5b8da 0%, #7089b3 100%);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5b8da), to(#7089b3));
	
	/* Border style */
  	border: 1px solid #5c6f91;  
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
  
	/* Box shadow */
	-moz-box-shadow: inset 0 1px 0 0 #aec3e5;
	-webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
	box-shadow: inset 0 1px 0 0 #aec3e5;
	
	}
	
	.button:hover {
	background: #848FB2;
    cursor: pointer;
	}
	
	.box-patri{
		width:100%;
		height:auto;
		text-align:left;
		color: #666;
		font-size:14px;
		border-top: 1px solid #999;
		padding:5px 0;
	}
	
	.box-patri img{
		vertical-align: bottom;
	}
	
	/*----- TABLE CSS -------*/
	
	
	.datagrid table { border-collapse: collapse; text-align: left; width: 100%; }
	.datagrid {font: normal 12px/150% Verdana, Arial, Helvetica, sans-serif; background: #fff;  border: 1px solid #B9BDC1; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; /*width: 95%;*/}
	.datagrid table td, .datagrid table th { padding: 3px 10px; }
	.datagrid table thead th {background-color:#B9BDC1; color:#FFFFFF; font-size: 12px; font-weight: normal; border-left: 1px solid #A3A3A3; }
	.datagrid table thead th:first-child { border: none; }
	.datagrid table tbody td { color: #7D7D7D; border-left: 1px solid #DBDBDB;font-size: 12px;font-weight: normal; }
	.datagrid table tbody .alt td { background: #EBEBEB; color: #7D7D7D; }
	.datagrid table tbody td:first-child { border-left: none; }
	.datagrid table tbody tr:last-child td { border-bottom: none; }

     </style>
<body>
    
 




<img src='http://www.mediadiv.cl/bench/img/header.png' width="626" height="160" style="position: relative; width: 626px; height:160px;margin-left: 40px;  ">







<div class="container">

</br>
<form id="contactform" class="rounded" method="post" action="">
<h3 style="">Datos Personales</h3>

<div class="cols">

<div class="field">
	<label for="name">Rut:</label>
  	{{usuario.rut}}
</div>

<div class="field">
	<label for="name">Fecha Registro:</label>
        	<p>{{usuario.fechaingreso|date('Y-m-d H:i:s')}}</p>
  	
</div>

<div class="field">
	<label for="name">Nombre:</label>
  		<p>&nbsp;{{usuario.nombre}}</p>
</div>

<div class="field">
	<label for="name">Apellidos:</label>
        
        <p>&nbsp;{{usuario.apellido}}  {{usuario.apellidoseg}}</p>
        
        


</div>

<div class="field">
	<label for="name">fecha de Nacimiento:</label>
  	<p>&nbsp;{{usuario.fechanacimiento}}
</div>

<div class="field">
	<label for="name">Sexo:</label>
  	<p>&nbsp;{{usuario.sexo}}</p>
</div>

<div class="field">
	<label for="name">Nacionalidad:</label>
  	<p>&nbsp;{{usuario.nacionalidad}}</p>
</div>

<div class="field">
	<label for="name">Estado Civil:</label>
  	<p>&nbsp;{{usuario.estadocivil}}</p>
</div>

<div class="field">
	<label for="name">Nivel Educación:</label>
  	<p>&nbsp;{{usuario.niveleducacion}}</p>
</div>

<div class="field">
	<label for="name">Profesión:</label>
       <p>&nbsp;{{usuario.profesion}}</p>
</div>

<div class="field">
	<label for="name">Universidad:</label>
  	<p>&nbsp;{{usuario.universidad}}</p>
</div>

<div class="field">
	<label for="email">Email:</label>
  	<p>&nbsp;{{usuario.email}}</p>
	<!--<p class="hint">Enter your email.</p>-->
</div>

<div class="field">
	<label for="name">Celular:</label>
  	<p>&nbsp;{{usuario.telefono}}</p>
</div>

<div class="field">
	<label for="name">Tipo de Casa:</label>
  	<p>&nbsp;{{usuario.tipocasa}}</p>
</div>

<div class="field">
	<label for="name">N° Dependientes:</label>
  	<p>&nbsp;{{usuario.ndependientes}}</p>
</div>

<div class="field">
	<label for="name">Arriendo / Dividendo:</label>
  	<p>&nbsp;{{usuario.montoarriendo}}</p>
</div>

<div class="field">
	<label for="name">Región:</label>
  	<p>&nbsp;{{usuario.region}}</p>
</div>

<div class="field">
	<label for="name">Comuna:</label>
  	<p>&nbsp;{{usuario.comuna}}</p>
</div>
    
    
    <div class="field">
	<label for="name">Dirección:</label>
  	<p>&nbsp;{{usuario.direccion}}</p>
</div>






    
    </br>
    </br>
</br>



<h3>Datos Laborales</h3>


<div class="cols">
<div class="field">
	<label for="name">Situación Laboral:</label>
  	<p>
&nbsp;
{% if antecedentes %}  {{antecedentes.situacionlaboral}} {% endif %} </p>
</div>

<div class="field">
	<label for="name">Empleador:</label>
  	<p>&nbsp;{% if antecedentes %}{{antecedentes.empleadorempresa}}{% endif %}</p>
</div>

<div class="field">
	<label for="name">Industria:</label>
  	<p>&nbsp;{% if antecedentes %}{{antecedentes.industria}}{% endif %}</p>
</div>

<div class="field">
	<label for="name">fecha de ingreso:</label>
  	<p>&nbsp;{% if antecedentes %}{{antecedentes.fechaingreso}}{% endif %}</p>
        
</div>

<div class="field">
	<label for="name">Cargo Actual:</label>
  	
        <p>&nbsp;{% if antecedentes %}{{antecedentes.cargoactual}}{% endif %}</p>
        
</div>



<div class="field">
	<label for="name">Rut Empresa:</label>
  	<p>&nbsp;{% if antecedentes %}{{antecedentes.rutempresa}}{% endif %}</p>
</div>

<div class="field">
	<label for="name">Región:</label>
  	<p>&nbsp;{% if antecedentes %}{{antecedentes.region}}{% endif %}</p>
</div>

<div class="field">
	<label for="name">Comuna:</label>
  	<p>&nbsp;{% if antecedentes %}{{antecedentes.comuna}}{% endif %}</p>
</div>

<div class="field">
	<label for="name">Ciudad:</label>
  	<p>&nbsp;{% if antecedentes %}{{antecedentes.ciudad}}{% endif %}</p>
</div>

<div class="field">
	<label for="name">Teléfono:</label>
  	<p>&nbsp;{% if antecedentes %}{{antecedentes.telefono}}{% endif %}</p>
</div>

<div class="field">
	<label for="email">Tipo de Sueldo:</label>
  	<p>&nbsp;{% if antecedentes %}{{antecedentes.tiposueldo}}{% endif %}</p>
	<!--<p class="hint">Enter your email.</p>-->
</div>

<div class="field">
	<label for="name">Sueldo Fijo:</label>
      <p>&nbsp;{% if antecedentes %}{{antecedentes.sueldofijo}}{% endif %}</p>
</div>

<div class="field">
	<label for="name">Sueldo Variable:</label>
  	<p>&nbsp;{% if antecedentes %}{{antecedentes.rentavariable}}{% endif %}</p>
</div>

<div class="field">
	<label for="name">Sueldo Líquido:</label>
  	<p>&nbsp;{% if antecedentes %}{{antecedentes.independientesueldoliquido}}{% endif %}</p>
</div>


<div class="field">
	<label for="name">Dirección:</label>
  	<p>&nbsp;{% if antecedentes %}{{antecedentes.direccion}}{% endif %}</p>
</div>
</div>





</br>
<h3>Datos Conyuge</h3>
<div class="cols">
<div class="field">
	<label for="name">Nombres:</label>
  	<p>&nbsp;{{conyuge.nombre}} &nbsp</p>
</div>

<div class="field">
	<label for="name">Apellidos:</label>
        <p>&nbsp;{{conyuge.apellido}} &nbsp</p>
</div>

<div class="field">
	<label for="name">Rut:</label>
          <p>&nbsp;{{conyuge.rut}} &nbsp</p>
</div>

<div class="field">
	<label for="name">Fecha de Nacimiento:</label>
  	<p>&nbsp;{{conyuge.fechanacimiento}} &nbsp</p>
        
</div>

<div class="field">
	<label for="name">Nacionalidad:</label>
  	<p>&nbsp;{{conyuge.nacionalidad}} &nbsp</p>
</div>

<div class="field">
	<label for="name">Nivel de Educación:</label>
  	<p>&nbsp;{{conyuge.niveleducacion}} &nbsp</p>
</div>

<div class="field">
	<label for="name">Profesión:</label>
  	<p>&nbsp; {{conyuge.profesion}} &nbsp</p>
</div>

<div class="field">
	<label for="name">Universidad:</label>
     <p>&nbsp;{{conyuge.universidad}} &nbsp</p>
</div>

<div class="field">
	<label for="name">Actividad:</label>
  	<p>&nbsp;{{conyuge.actividad}} &nbsp</p>
        
</div>

<div class="field">
	<label for="name">Cargo Actual:</label>
  	<p>&nbsp;{{conyuge.cargoactual}} &nbsp</p>
</div>

<div class="field">
	<label for="name">Antiguedad Laboral:</label>
  	<p>&nbsp;{{conyuge.antiguedadlaboral}} &nbsp</p>
</div>

<div class="field">
	<label for="name">Renta Líquida:</label>
  	<p>&nbsp;{{conyuge.rentaliquidad}} &nbsp</p>
</div>

<div class="field">
	<label for="name">Empresa:</label>
  	<p>&nbsp;{{conyuge.empresa}} &nbsp</p>
</div>

<div class="field">
	<label for="name">Teléfono:</label>
  	<p>&nbsp;{{conyuge.telefono}} &nbsp</p>
        
</div>




</div>

</br>



</form>

</div>


</div>


<div class="container">

<form id="contactform" class="rounded" method="post" action="">
</br>
<h3>Resumen Activos</h3>

<div class="cols">

<div class="field">
	<label for="name">Bienes Raices:</label>
        
  	<p>&nbsp;{{totalHipotecario|number_format(0,'.' , '.') }}</p>
        
        
</div>

<div class="field">
	<label for="name">Ahorro e inversión:</label>
  	<p>&nbsp;{{totalAhorroInversion|number_format(0,'.' , '.')}}</p>
</div>

<div class="field">
	<label for="name">Automóviles:</label>
  	<p>&nbsp;{{totalAutomoviles|number_format(0,'.' , '.')}}</p>
</div>

<div class="field">
	<label for="name">Sociedades:</label>
  	<p> &nbsp;{{totalSociedades|number_format(0,'.' , '.')}}</p>
</div>

<div class="field">
	<label for="name" style="color:#F60;">TOTAL ACTIVOS: &nbsp; {{activos|number_format(0,'.' , '.')}}</label>
  
</div>





</div>



</br>

</br>

</br>

</br>
</br>

</br>

</br>


<h3>Resumen Pasivos</h3>

<div class="cols">

<div class="field">
	<label for="name">Créditos Hipotecarios</label>
  	<p>&nbsp;{{totalDebesHipotecario|number_format(0,'.' , '.')}}</p>
</div>

<div class="field">
	<label for="name">Línea de Crédito:</label>
  	<p>&nbsp;{{totalDebesLinea|number_format(0,'.' , '.')}}</p>
</div>

<div class="field">
	<label for="name">Tarjeta de Crédito:</label>
        
  	<p>&nbsp;{{totalDebesTarjeta|number_format(0,'.' , '.')}}</p>
        
        
</div>

<div class="field">
	<label for="name">Créditos de Consumo:</label>
  	  <p>&nbsp;{{totalDebesCredito|number_format(0,'.' , '.')}}</p>
</div>

<div class="field">
	<label for="name" style="color:#F60;">TOTAL PASIVOS: &nbsp;{{totalDebes|number_format(0,'.' , '.')}}</label>
  	
      
</div>



</div>

</br>

<div class="box-patri"><img src="img/star.png" width="23" height="24"> PATRIMONIO:  &nbsp;{{patrimonio|number_format(0,'.' , '.')}}</div>


</br>

</form>
</div>


<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>

<br><br>
<br>
<br><br>
<br>





<div class="container">

<form id="contactform" class="rounded" method="post" action="">
</br>
<h4>Activos</h4>
<h3>Bienes Raices</h3>
<div class="datagrid"><table>
<thead><tr>
    <th width="10%">Tipo</th>
    <th>Dirección</th>
    <th>Región</th>
    <th>Comuna</th>
    <th>Avalúo Fiscal</th>
    <th>Rol</th>
    <th>Hipotecario</th></tr></thead>

<tbody>
 {% for tienesHipotecario   in tienesHipotecario %}  
  <tr>
      <td>&nbsp;{{tienesHipotecario.tipo}}</td>
      <td>&nbsp;{{tienesHipotecario.direccion}}</td>
      <td>&nbsp;{{tienesHipotecario.region}}</td>
      <td>&nbsp;{{tienesHipotecario.comuna}}</td>
      <td>&nbsp;{{tienesHipotecario.avaluo}}</td>
      <td>&nbsp;{tienesHipotecario.rol}}</td>
      <td>&nbsp;{{tienesHipotecario.hipotecado}}</td>

 </tr>
 {% endfor  %}
</tbody>
</table></div>
</br>

<h3>Ahorro de Inversión</h3>
<div class="datagrid"><table>
<thead><tr>
    <th>Tipo</th>
    <th>Institución</th>
    <th>Valor Comercial</th>
    <th>Prendado</th></tr>

</thead>
<tbody>
    
    {% for tienesAhorroInversion in tienesAhorroInversion %}
    <tr>
        
        <td>&nbsp;{{tienesAhorroInversion.tipo}}</td>
        <td>&nbsp;{{tienesAhorroInversion.institucion}}</td>
        <td>&nbsp;{{tienesAhorroInversion.valorcomercial}}</td>
        <td>&nbsp;{{tienesAhorroInversion.prendado}}</td>
    
    
    </tr>
    {% endfor %}


</tbody>

</table></div>

</br>

<h3>Automóviles</h3>
<div class="datagrid"><table>
<thead><tr>
    <th>Tipo</th>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Patente</th>
    <th>Año de Auto</th>
    <th>Valor Comercial</th>
    <th>Prendado</th>
</tr>
</thead>
<tbody>
    {% for tienesAutomoviles in tienesAutomoviles %}
        
<tr>
    
    <td>&nbsp;{{tienesAutomoviles.tipo}}</td>
    <td>&nbsp;{{tienesAutomoviles.marcaauto}}</td>
    <td>&nbsp;{{tienesAutomoviles.modelo}}</td>
    <td>&nbsp;{{tienesAutomoviles.patente}}</td>
    <td>&nbsp;{{tienesAutomoviles.anoauto}}</td>
    <td>&nbsp;{{tienesAutomoviles.valorcomercial}}</td>
    <td>&nbsp;{{tienesAutomoviles.prendado}}</td>
    

</tr>

   {%endfor %}


</tbody>
</table></div>
</br>

<h3>Participación en Sociedades</h3>
<div class="datagrid"><table>
<thead>
    
    <tr>
    <th>Nombre Sociedad</th>
    <th>Rut</th>
    <th>Porcentaje (%)</th>
    <th>Valor Participativo</th></tr></thead>
<tbody>
{% for tienesSociedades in tienesSociedades %}
    <tr>

<td>&nbsp;{{tienesSociedades.nombre}}</td>
<td>&nbsp;{{tienesSociedades.rut}}</td>
<td>&nbsp;{{tienesSociedades.porcentaje}}</td>
<td>&nbsp;{{tienesSociedades.valor}}</td>   
    </tr>
    
    {% endfor %}

</tbody>
</table></div>


</br>

</form>
</div>



<div class="container">

<form id="contactform" class="rounded" method="post" action="">
</br>
<h4>Pasivos</h4>
<h3>Hipotecario</h3>
<div class="datagrid"><table>
<thead><tr>
    <th>Institución</th>
    <th>Pago Mensual</th>
    <th>Deuda Total</th>
    <th>Vencimiento Final</th>
    <th>Deuda Vigente</th></tr></thead>
<tbody>
{% for debesHipotecario in debesHipotecario %}
<tr>
    <td>&nbsp;{{debesHipotecario.institucion}}</td>
    <td>&nbsp;{{debesHipotecario.pagomensual}}</td>
    <td>&nbsp;{{debesHipotecario.deudatotal}}</td>
    <td>&nbsp;{{debesHipotecario.venciminetofinal}}</td>
    <td>&nbsp;{{debesHipotecario.duedavigente}}</td>

</tr>

{% endfor %}
</tbody>
</table></div>
</br>

<h3>Tarjeta de Crédito</h3>
<div class="datagrid"><table>
<thead><tr>
    <th>Tipo de Tarjeta</th>
    <th>Institución</th>
    <th>Monto Aprobado</th>
    <th>Monto Utilizado</th>
   </tr></thead>
<tbody>
    
    {% for debesTarjetaCredito in debesTarjetaCredito %}
    <tr>
        <td>&nbsp; {{debesTarjetaCredito.tipotarjeta }} </td>
        <td> &nbsp;{{debesTarjetaCredito.institucion }} </td>
        <td> &nbsp;{{debesTarjetaCredito.montoaprobado }} </td>
        <td> &nbsp;{{debesTarjetaCredito.montoutilizado }} </td>
    
    </tr>
    
    {% endfor %}
</tbody>
</table></div>
</br>

<h3> Línea de Crédito</h3>
<div class="datagrid"><table>
<thead><tr>
    <th>Institución</th>
    <th>Monto Aprobado</th>
    <th>Monto Utilizado</th>
    <th>Vencimiento</th>
    </tr></thead>

<tbody>

 {% for debesLineaCredito in debesLineaCredito %}   
 <tr>
       <td>&nbsp;{{ debesLineaCredito.institucion }}</td> 
       <td>&nbsp;{{ debesLineaCredito.montoAprobado }}</td> 
       <td>&nbsp;{{ debesLineaCredito.montoUtilizado }}</td> 
       <td>&nbsp;{{ debesLineaCredito.vencimientofinal }}</td> 
        
</tr>

{% endfor %}

</tbody>
</table></div>
</br>

<h3>Créditos de Consumo</h3>
<div class="datagrid"><table>
<thead><tr>
    <th>Institución</th>
    <th>Pago Mensual</th>
    <th>Deuda Total</th>
    <th>Vencimiento Final</th>
    <th>Deuda</th></tr>
</thead>

<tbody>
    
    {% for debesCreditoConsumo in debesCreditoConsumo %}
 <tr>
     <td>&nbsp;{{ debesCreditoConsumo.institucion }}</td>
     <td>&nbsp;{{ debesCreditoConsumo.pagomensual }}</td>
     <td>&nbsp;{{ debesCreditoConsumo.deudatotal }}</td>
     <td>&nbsp;{{ debesCreditoConsumo.fechaultimopago }}</td>
     <td>&nbsp;{{ debesCreditoConsumo.deudavigente }}</td>
 
 
 </tr>
 
 {% endfor %}
</tbody>
</table></div>

</br>

</form>
</div>


<div class="container">

<form id="contactform" class="rounded" method="post" action="">
</br>
<h4>Pedidos</h4>
<h3>Créditos de Consumo</h3>
<div class="datagrid"><table>
<thead><tr>
    <th>Monto Crédito</th>
    <th>Plazo de Crédito</th>
    <th>Seguro asociado</th>
    <th>¿Para qué utilizarás el dinero?</th>
    <th>Fecha del
      pedido</th><br>
      </th></tr></thead>
<tbody>
    {% for creditoConsumo in creditoConsumo %}
  <tr>
      <td>&nbsp;{{creditoConsumo.montoCredito}}</td>
      <td>&nbsp;{{creditoConsumo.plazoCredito}}</td>
      <td>&nbsp;{{creditoConsumo.segurosAsociados}}</td>
      <td>&nbsp;{{creditoConsumo.paraque}}</td>
      <td></td>
      
      
  </tr>
  {% endfor %}
</tbody>
</table></div>

</br>

<h3>Automotriz</h3>
<div class="datagrid"><table>
<thead>
    
    <tr>
    <th>Monto </th>
    <th>Píe:</th>
    <th>Plazo </th>
    <th>¿Cuándo piensas comprar tu auto?</th>
    <th>Marca</th>
    <th>Año</th>
    <th>Fecha</th>
    </tr></thead>

<tbody>
    
  {% for creditoAutomotriz in creditoAutomotriz   %}
    
    <tr>
        <td>&nbsp;{{creditoAutomotriz.monto}}</td>
        <td>&nbsp;{{creditoAutomotriz.pie}}</td>
        <td>&nbsp;{{creditoAutomotriz.plazo}}</td>
        <td>&nbsp;{{creditoAutomotriz.cuandocompras}}</td>
        <td>&nbsp;{{creditoAutomotriz.marcaauto}}</td>
        <td>&nbsp;{{creditoAutomotriz.ano}}</td>
        <td>&nbsp;{{creditoAutomotriz.fecha|date('Y-m-d')}}</td>
    </tr>
    
    {% endfor %} 

</tbody>
</table></div>
</br>

<h3>Hipotecario</h3>
<div class="datagrid"><table>
<thead><tr>
    <th>Valor Propiedad</th>
    <th>Monto Píe</th>
    <th>Porcentaje</th>
    <th>Monto de Crédito</th>
    <th>Plazo de Crédito</th>
    <th>Tipo de propiedad</th>
    <th>dfl2</th>
    <th>Fecha de Pedido</th>
    <th>Comuna</th>
   <th>Proyecto</th>
    </tr></thead>
<tbody>
    
    {% for creditoHipotecario in creditoHipotecario %}
 
  <tr>
      <td>&nbsp;{{creditoHipotecario.valorPropiedad}}</td>
      <td>&nbsp;{{creditoHipotecario.montoPie}}</td>
      <td>&nbsp;{{creditoHipotecario.porcentaje}}</td>
      <td>&nbsp;{{creditoHipotecario.montoCredito}}</td>
      <td>&nbsp;{{creditoHipotecario.plazoCredito}}</td>
      <td>&nbsp;{{creditoHipotecario.tipoPropiedad}}</td>
      <td>&nbsp;{{creditoHipotecario.dfl2}}</td>
      
      <td>&nbsp;{{creditoHipotecario.fecha|date('Y-m-d')}}</td>
      <td>&nbsp;{{creditoHipotecario.comunaComprar}}</td>
      <td>&nbsp;{{creditoHipotecario.proyecto}}</td>

      

  </tr>
  
  {% endfor %}
</tbody>
</table></div>

</br>

<h3>Consolidación de deuda / Refinanciamiento</h3>
<div class="datagrid"><table>
<thead><tr>
    <th>Crédito 1</th>
    <th>Monto 1</th>
    <th>Plazo 1</th>
    <th>Crédito 2</th>
    <th>Monto 2</th>
    <th>Plazo 2</th>
    <th>Crédito 3</th>
    <th>Monto 3</th>
    <th>Plazo 3</th>
    <th>Fecha</th>
    </tr>
    </thead>
<tbody>
    
    {% for creditoConsolidacion in creditoConsolidacion %}
    <tr>
        
        <td>&nbsp;{{creditoConsolidacion.tipoCredito}}</td>
        <td>&nbsp;{{creditoConsolidacion.montoCredito}}</td>
        <td>&nbsp;{{creditoConsolidacion.plazo}}</td>
        
        
        <td>&nbsp;{{creditoConsolidacion.tipoCredito2}}</td>
        <td>&nbsp;{{creditoConsolidacion.montoCredito2}}</td>
        <td>&nbsp;{{creditoConsolidacion.plazo2}}</td>
        
        <td>&nbsp;{{creditoConsolidacion.tipoCredito3}}</td>
        <td>&nbsp;{{creditoConsolidacion.montoCredito3}}</td>
        <td>&nbsp;{{creditoConsolidacion.plazo3}}</td>
    
             <td>&nbsp;{{creditoConsolidacion.fecha|date('Y-m-d')}}</td>
    
    </tr>
    {% endfor %}
    
    
</tbody>
</table></div>

</br>

<h3>Pedidos / Cuenta Corriente</h3>
<div class="datagrid"><table>
<thead><tr>
    <th>Producto 1</th>
    <th>Producto 2</th>
    <th>Producto 3</th>
    <th>Fecha del pedido</th>
    </tr></thead>
<tbody>
    {% for creditoCuenta in creditoCuenta %}
    <tr>
        <td>&nbsp;{{creditoCuenta.producto}}</td>
        <td>&nbsp;{{creditoCuenta.producto2}}</td>
        <td>&nbsp;{{creditoCuenta.producto3}}</td>
        <td>&nbsp;{{creditoCuenta.fecha|date('Y-m-d')}}</td>
        
    
    </tr>
    
    {% endfor %}
</tbody>

</table></div>

</br>


    
 
    <h3>Documentos</h3>
    
    <div class="datagrid"><table>
        <thead>
        
        <th> Fijo 3 ultimas </th>
	
        </thead>
        
        <tbody>

        	
        {% for filepickerArchivo in filepickerArchivo %}
        {% if filepickerArchivo.tipoArchivo == 'fijo3ultimasliquidaciones'  %}
  		<tr>
  		<td><a href="{{filepickerArchivo.url}}"  target="_blank"> {{filepickerArchivo.nombreArchivo}}</a></td>
         </tr>	

       {% endif %}	
	   {% endfor %} 
          
                
        </tbody>
    
    
    </table></div>
    
    
  
    
    
    
    <h3>Variable 6 ultimas.</h3>
    <div class="datagrid"><table>
        <thead>
            
            
        
        <th> Variable 6 ultimas. </th>
        </thead>
        
        <tbody>
            
            	
        {% for filepickerArchivo in filepickerArchivo %}
        {% if filepickerArchivo.tipoArchivo == 'variable6ultimasliquidaciones'  %}
  		<tr>
  		<td><a href="{{filepickerArchivo.url}}"  target="_blank"> {{filepickerArchivo.nombreArchivo}}</a></td>
         </tr>	

       {% endif %}	
	   {% endfor %} 
          
                
                
        </tbody>
    
    
    </table></div>
    
    
    
    
    <h3>Cartola Afp.</h3>
    <div class="datagrid"><table>
        <thead>
    
  
        </thead>
        
        <tbody>
                  	
        {% for filepickerArchivo in filepickerArchivo %}
        {% if filepickerArchivo.tipoArchivo == 'cartolaAfp'  %}
  		<tr>
  		<td><a href="{{filepickerArchivo.url}}"  target="_blank"> {{filepickerArchivo.nombreArchivo}}</a></td>
         </tr>	

       {% endif %}	
	   {% endfor %} 
          
                
                
        </tbody>
    
    
    </table></div>
    
    
    
     <h3>Permiso Circulacion.</h3>
    <div class="datagrid">
        <table>
        <thead>
    
    
      <th> Permiso Circulacion. </th>
        </thead>
        
        <tbody>
         
        </tbody>
    
    
    </table>
        </div>
     
     
     
     <h3>Ultimas 3 declaraciones.</h3>
    <div class="datagrid">
        <table>
        <thead>
    
    
     
        </thead>
        
        <tbody>
        
        {% for filepickerArchivo in filepickerArchivo %}
        {% if filepickerArchivo.tipoArchivo == 'impuestos3'  %}
  		<tr>
  		<td><a href="{{filepickerArchivo.url}}"  target="_blank"> {{filepickerArchivo.nombreArchivo}}</a></td>
         </tr>	

       {% endif %}	
	   {% endfor %}   
                
        </tbody>
    
    
    </table>
        </div>
     
     
     
     
     
      <h3>Declaración Anual.</h3>
    <div class="datagrid">
        <table>
        <thead>
    

        </thead>
        
        <tbody>
           {% for filepickerArchivo in filepickerArchivo %}
        {% if filepickerArchivo.tipoArchivo == 'Anual'  %}
  		<tr>
  		<td><a href="{{filepickerArchivo.url}}"  target="_blank"> {{filepickerArchivo.nombreArchivo}}</a></td>
         </tr>	

       {% endif %}	
	   {% endfor %}     
            
                
        </tbody>
    
    
    </table>
        </div>
      
      
      
      
      
      <h3>Carnet.</h3>
    <div class="datagrid">
        <table>
        <thead>
    
    
      <th> Carnet. </th>
        </thead>
        
        <tbody>
           
                
                
                {% for filepickerArchivo in filepickerArchivo %}
        {% if filepickerArchivo.tipoArchivo == 'Carnet'  %}
  		<tr>
  		<td><a href="{{filepickerArchivo.url}}"  target="_blank"> {{filepickerArchivo.nombreArchivo}}</a></td>
         </tr>	

       {% endif %}	
	   {% endfor %}        
        </tbody>
    
    
    </table>
        </div>
     
     
     
     
     
     
     
     
      
     
     
     
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

    
  

</form>


</body>

</html>