<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8" />
<title>Administrador Bench Banking </title>
<meta name="robots" content="noindex">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<META NAME="ROBOTS" CONTENT="NOINDEX, FOLLOW">
<META NAME="ROBOTS" CONTENT="INDEX, NOFOLLOW">
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

<meta name="author" content="" />

<!--- ship -->

<script src="{{asset('bundles/benchadmin/scripts/jquery.js')}}"></script>
<script src="{{asset('bundles/benchadmin/js/login.js')}}"></script>





<!--- ship -->
<link href="{{asset('bundles/benchadmin/bootstrap/css/bootstrap.css')}}" rel="stylesheet" id="main-theme-script" />
<link href="{{asset('bundles/benchadmin/css/themes/default.css')}}" rel="stylesheet" id="theme-specific-script" />
<link href="{{asset('bundles/benchadmin/bootstrap/css/bootstrap-responsive.css')}}" rel="stylesheet" />


<link rel="stylesheet" type="text/css" href="{{asset('bundles/benchadmin/scripts/fullcalendar/fullcalendar/fullcalendar.css')}}" />

<link href="{{asset('bundles/benchadmin/scripts/datepicker/css/datepicker.css')}}" rel="stylesheet" />





<link rel="stylesheet" type="text/css" media="screen,projection" href="{{asset('bundles/benchadmin/scripts/uniform/css/uniform.default.css')}}" />


<link type="text/css" href="{{asset('bundles/benchadmin/scripts/chosen/chosen/chosen.intenso.css')}}" rel="stylesheet" />


<link href="{{asset('bundles/benchadmin/css/simplenso.css')}}" rel="stylesheet" />


<link rel="shortcut icon" href="images/ico/favicon.ico" />

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{asset('bundles/benchadmin/images/ico/apple-touch-icon-144-precomposed.png')}}" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{asset('bundles/benchadmin/images/ico/apple-touch-icon-114-precomposed.png')}}" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{asset('bundles/benchadmin/images/ico/apple-touch-icon-72-precomposed.png')}}" />
<link rel="apple-touch-icon-precomposed" href="{{asset('bundles/benchadmin/images/ico/apple-touch-icon-57-precomposed.png')}}" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body id="dashboard" class="hidden">

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">&nbsp;</div>
    <div class="span4">
        <div class="page-header">
            <h1>Login Bench Banking</h1>
        </div>
      <div class="box" style="margin-bottom:500px;">
        <h4 class="box-header round-top"> </h4>
        <div class="box-container-toggle">
          <div class="box-content">
            


            <form class="well form-search" action="{{path('ingresoAdmin')}}" method="post"  id="login"/>
              <input type="text" class="input-small" placeholder="Usuario" name="nombre" id="nombre"  />
              <input type="password" class="input-small" placeholder="Password" name="contrasena"  id="contrasena"/>
              <button  id="butingreso" class="btn">Ingresar </button>
              <label class="inline uniform" for="remember" style="vertical-align: bottom;">
              

     
            </form>

            <section id="respuesta">

               

            </section>


          </div>
        </div>
      </div>
  
    <div class="span4">&nbsp;</div>
  </div>

</div>


<footer>
  <p class="pull-right">&copy; </p>
</footer>
</div>




<script src="{{asset('bundles/benchadmin/scripts/DataTables/media/js/jquery.dataTables.js')}}"></script> 


<script src="{{asset('bundles/benchadmin/scripts/jquery-ui/ui/minified/jquery.ui.core.min.js')}}"></script> 
<script src="{{asset('bundles/benchadmin/scripts/jquery-ui/ui/minified/jquery.ui.widget.min.js')}}"></script> 
<script src="{{asset('bundles/benchadmin/scripts/jquery-ui/ui/minified/jquery.ui.mouse.min.js')}}"></script>
<script src="{{asset('bundles/benchadmin/scripts/jquery-ui/ui/minified/jquery.ui.sortable.min.js')}}"></script> 
<script src="{{asset('bundles/benchadmin/scripts/jquery-ui/ui/minified/jquery.ui.widget.min.js')}}"></script> 


<script src="{{asset('bundles/benchadmin/scripts/jquery-ui/ui/minified/jquery.ui.draggable.min.js')}}"></script> 
<script src="{{asset('bundles/benchadmin/scripts/jquery-ui/ui/minified/jquery.ui.droppable.min.js')}}"></script> 


<script src="{{asset('bundles/benchadmin/bootstrap/js/bootstrap.min.js')}}"></script> 
<script src="{{asset('bundles/benchadmin/scripts/bootbox/bootbox.min.js')}}"></script> 


<script src="{{asset('bundles/benchadmin/scripts/datepicker/js/bootstrap-datepicker.js')}}"></script> 


<script src="{{asset('bundles/benchadmin/scripts/jquery.cookie/jquery.cookie.js')}}"></script> 


<script type='text/javascript' src='{{asset('bundles/benchadmin/scripts/fullcalendar/fullcalendar/fullcalendar.min.js')}}'></script> 

<script type="text/javascript" src="{{asset('bundles/benchadmin/scripts/ckeditor/ckeditor.js')}}"></script>

<!-- Chosen multiselect --> 
<script type="text/javascript" language="javascript" src="{{asset('bundles/benchadmin/scripts/chosen/chosen/chosen.jquery.min.js')}}"></script> 

<!-- Uniform --> 
<script type="text/javascript" language="javascript" src="{{asset('bundles/benchadmin/scripts/uniform/jquery.uniform.min.js')}}"></script> 


 

<script src="{{asset('bundles/benchadmin/scripts/simplenso/simplenso.js')}}"></script>
</body>
</html>