
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Administrador Bench Banking</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="" />
<meta name="robots" content="noindex">
<META NAME="ROBOTS" CONTENT="NOINDEX, FOLLOW">
<META NAME="ROBOTS" CONTENT="INDEX, NOFOLLOW">
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

  <link href="{{ asset('bundles/benchadmin/bootstrap/css/bootstrap.css')}}" rel="stylesheet" id="main-theme-script" />
  <link href="{{ asset('bundles/benchadmin/css/themes/default.css')}}" rel="stylesheet" id="theme-specific-script" />
  <script src="{{ asset('bundles/benchadmin/js/mask.js') }}"></script>
  <script src="{{ asset('bundles/benchadmin/scripts/jquery.js')}}"></script>
  <script type="text/javascript" src="php/combo.js"></script>
  <script type="text/javascript" src="php/asignar.js"></script>




     <script src="{{ asset('bundles/benchadmin/scripts/tables/jquery.dataTables.min.js')}}" type="text/javascript"></script>

     <script src="{{ asset('bundles/benchadmin/scripts/tables/jquery.dataTables.columnFilter.js')}}" type="text/javascript"></script>

  
    <script type="text/javascript" src="{{ asset('bundles/benchadmin/scripts/usuarios/listausuario.js')}}"></script>


    <script src="{{ asset('bundles/benchpaginas/js/jquery.avgrund.js') }}"></script>

    <link href="{{ asset('bundles/benchpaginas/css/avgrund.css')}}" rel="stylesheet" id="main-theme-script" />

  
  <link href="{{ asset('bundles/benchadmin/scripts/datepicker/css/datepicker.css')}}" rel="stylesheet" />
  


  <link rel="stylesheet" type="text/css" media="screen,projection" href="{{ asset('bundles/benchadmin/scripts/uniform/css/uniform.default.css')}}" />
  

  <link type="text/css" href="{{asset('bundles/benchadmin/scripts/chosen/chosen/chosen.intenso.css')}}" rel="stylesheet" />   

 
  <link href="{{ asset('bundles/benchadmin/css/simplenso.css')}}" rel="stylesheet" />
  

  <link rel="shortcut icon" href="{{ asset('bundles/benchadmin/images/ico/favicon.ico')}}" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/benchadmin/images/ico/apple-touch-icon-144-precomposed.png')}}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/benchadmin/images/ico/apple-touch-icon-114-precomposed.png')}}" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/benchadmin/images/ico/apple-touch-icon-72-precomposed.png')}}" />
  <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/benchadmin/images/ico/apple-touch-icon-57-precomposed.png')}}" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body id="dashboard" class="hidden">






 <div id="div_carga">
   <img id="cargador" src="./img/loader.gif"/>
   </div>

<!-- Top navigation bar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="index.html">Bench banking</a>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-user"></i> 
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
        
          <li><a href="login.html">Logout</a></li>
        </ul>
      </div>
      <div class="nav-collapse">
          
          
        <ul class="nav">
        
              
          <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Menu
                      <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                	  <li class="nav-header">Main</li>        
          <li class="active"><a href="listados.php"><i class="icon-home"></i> Home </a></li>
          <li><a href="listados.php"><i class="icon-edit"></i>Listado de Usuarios </a></li>
          
               <h6><a href="todos">Ver todos los usuarios</a></h6>
           <li><a href="listados2.php"><i class="icon-edit"></i>Listad de usuarios Archivados</a>11</li>
         
                </ul>
          </li>
       
        </ul>
      </div>
    </div>
  </div>
</div>
  
<div class="container-fluid">
  <div class="row-fluid">
    
    <!-- Bread Crumb Navigation -->
  <div class="span10">
      

   
  
         
         <!-- Portlet Set 5 -->
             

             <h6><a href="todos.php">Ver todos los usuarios</a></h6>
        
	  <!-- Table -->
      <div  style="width:1900px; height:auto; margin:auto;">
      
        <div class="span12">
         	 <!-- Portlet: Browser Usage Graph -->
             <div class="box" id="box-0">
              <h4 class="box-header round-top">Usuarios
                  <a class="box-btn" title="close"><i class="icon-remove"></i></a>
                     <a class="box-btn" title="toggle"><i class="icon-minus"></i></a>  
                 
              </h4>         
              <div class="box-container-toggle">
                  <div class="box-content" style="">
                    

      
      

                     <section id="contenido">
                         
                         
          
                         



                     </section>










                  </div>
              </div>
            </div><!--/span-->




   </div>
      </div>  
 
    </div><!--/span-->
  </div><!--/row-->



<div style="clear:both;"></div>










  <footer>
    <p>&copy; Bench Banking</p>
  </footer>
    <div id="box-config-modal" class="modal hide fade in" style="display: none;">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3></h3>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal"></a>
        <a href="#" class="btn" data-dismiss="modal"></a>
      </div>
    </div>
</div><!--/.fluid-container-->



    
  
    <script src="{{ asset('bundles/benchadmin/scripts/jquery-ui/ui/minified/jquery.ui.core.min.js')}}"></script>
	<script src="{{ asset('bundles/benchadmin/scripts/jquery-ui/ui/minified/jquery.ui.widget.min.js')}}"></script>
	<script src="{{ asset('bundles/benchadmin/scripts/jquery-ui/ui/minified/jquery.ui.mouse.min.js')}}"></script>
	<script src="{{ asset('bundles/benchadmin/scripts/jquery-ui/ui/minified/jquery.ui.sortable.min.js')}}"></script>
    <script src="{{ asset('bundles/benchadmin/scripts/jquery-ui/ui/minified/jquery.ui.widget.min.js')}}"></script>
    
  
    <script src="{{ asset('bundles/benchadmin/scripts/jquery-ui/ui/minified/jquery.ui.draggable.min.js')}}"></script>
    <script src="{{ asset('bundles/benchadmin/scripts/jquery-ui/ui/minified/jquery.ui.droppable.min.js')}}"></script>

 
    <script src="{{ asset('bundles/benchadmin/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('bundles/benchadmin/scripts/bootbox/bootbox.min.js')}}"></script>

    <script src="{{ asset('bundles/benchadmin/scripts/datepicker/js/bootstrap-datepicker.js')}}"></script>

		
    <!-- jQuery Cookie -->    
    <script src="{{ asset('bundles/benchadmin/scripts/jquery.cookie/jquery.cookie.js')}}"></script>
    
    <!-- Full Calender -->
    <script type='text/javascript' src='{{ asset('bundles/benchadmin/scripts/fullcalendar/fullcalendar/fullcalendar.min.js')}}'></script>
    
    <!-- CK Editor -->
	<script type="text/javascript" src="{{ asset('bundles/benchadmin/scripts/ckeditor/ckeditor.js')}}"></script>
    
    <!-- Chosen multiselect -->
    <script type="text/javascript" language="javascript" src="{{ asset('bundles/benchadmin/scripts/chosen/chosen/chosen.jquery.min.js')}}"></script>  
    
    <!-- Uniform -->
    <script type="text/javascript" language="javascript" src="{{ asset('bundles/benchadmin/scripts/uniform/jquery.uniform.min.js')}}"></script>
    
    
	
    <script src="{{ asset('bundles/benchadmin/scripts/simplenso/simplenso.js')}}"></script>
  </body>