<!DOCTYPE HTML>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>BenchBanking - Estado de situación</title>

<style>
        
	* { margin: 0; padding: 0; }
	
	body {font-family: Verdana, Geneva, sans-serif !important; font-size: 12px; line-height: 18px; background-image: url(img/bg_icons.jpg.jpg);
background-position: center top;
background-repeat: no-repeat;}

header{
	width:626px;
	height:160px;
	margin:0 auto;
}
	a { text-decoration: none; }
	.container{margin: 20px auto; width: 612px; height: auto; background-color:#0FF; -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px; background-color:#EEEEEE;}
	h3 { padding:2px 0 2px 10px; font-size: 14px; background-color: #F60; color:#FFF; -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin:5px 0;}
	h4 { padding:4px 0 4px 10px; font-size: 16px; background-color: #666; color:#FFF; -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin:5px 0;}
	
	
	.cols {
column-count: 3;
-moz-column-count:3; /* Firefox */
-webkit-column-count:3; /* Safari and Chrome */
}
	
	#contactform {
	
	width: 580px;
	padding: 5px 16px;
	overflow:auto;
	
	/*border: 1px solid #cccccc;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;	
	
	-moz-box-shadow: 2px 2px 2px #cccccc;
	-webkit-box-shadow: 2px 2px 2px #cccccc;
	box-shadow: 2px 2px 2px #cccccc;*/
	
	}
	
	.field{margin-bottom:2px;}
	
	label {
		color:#666;
	font-family: Verdana, Geneva, sans-serif !important; 
	display: block; 
	float: left; 
	font-weight: normal; 
	text-align: left; 
	width: 100%; 
	line-height: 15px; 
	font-size: 12px; 
	}
	
	.label-adress {
		color:#666;
	font-family: Verdana, Geneva, sans-serif !important; 
	text-shadow: 1px 1px 1px #ccc;
	display: block; 
	float: left; 
	font-weight: normal; 
	margin-right:10px; 
	text-align: left; 
	width: auto; 
	line-height: 15px; 
	font-size: 12px; 
	}
	
	.input-adress{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family: Verdana, Geneva, sans-serif !important;
	font-size: 11px; 
	padding: 1px;
	margin:1px 0;
	border: 1px solid #b9bdc1; 
	width: 99%;
	height:16px; 
	color: #797979;	
	}
	
	.input{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family: Verdana, Geneva, sans-serif !important; 
	font-size: 11px; 
	padding: 1px;
	margin:1px 0;
	border: 1px solid #b9bdc1; 
	width: 97%;
	height:16px; 
	color: #797979;	
	}
	
	.input:focus{
	background-color:#E7E8E7;
	border:1px solid #F95B00;	
	}
	
	.textarea {
	height:150px;	
	}
	
	.hint{
	display:none;
	left:190px;
	}
	
	.field:hover .hint {  
	position: absolute;
	display: block;  
	margin: -30px 0 0 455px;
	color: #FFFFFF;
	padding: 7px 10px;
	background: rgba(0, 0, 0, 0.6);
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;	
	}
	
	.button{
	float: right;
	margin:10px 55px 10px 0;
	font-weight: bold;
	line-height: 1;
	padding: 6px 10px;
	cursor:pointer;   
	color: #fff;
	
	text-align: center;
	text-shadow: 0 -1px 1px #64799e;
	
	/* Background gradient */
	background: #a5b8da;
	background: -moz-linear-gradient(top, #a5b8da 0%, #7089b3 100%);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5b8da), to(#7089b3));
	
	/* Border style */
  	border: 1px solid #5c6f91;  
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
  
	/* Box shadow */
	-moz-box-shadow: inset 0 1px 0 0 #aec3e5;
	-webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
	box-shadow: inset 0 1px 0 0 #aec3e5;
	
	}
	
	.button:hover {
	background: #848FB2;
    cursor: pointer;
	}
	
	.box-patri{
		width:100%;
		height:auto;
		text-align:left;
		color: #666;
		font-size:14px;
		border-top: 1px solid #999;
		padding:5px 0;
	}
	
	.box-patri img{
		vertical-align: bottom;
	}
	
	/*----- TABLE CSS -------*/
	
	
	.datagrid table { border-collapse: collapse; text-align: left; width: 100%; }
	.datagrid {font: normal 12px/150% Verdana, Geneva, sans-serif !important, sans-serif; background: #fff;  border: 1px solid #B9BDC1; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; /*width: 95%;*/}
	.datagrid table td, .datagrid table th { padding: 3px 10px; }
	.datagrid table thead th {background-color:#B9BDC1; color:#FFFFFF; font-size: 12px; font-weight: normal; border-left: 1px solid #A3A3A3; }
	.datagrid table thead th:first-child { border: none; }
	.datagrid table tbody td { color: #7D7D7D; border-left: 1px solid #DBDBDB;font-size: 12px;font-weight: normal; }
	.datagrid table tbody .alt td { background: #EBEBEB; color: #7D7D7D; }
	.datagrid table tbody td:first-child { border-left: none; }
	.datagrid table tbody tr:last-child td { border-bottom: none; }
	
	
/*NEW*/	
	
td{
	/*background-color:#0FF;*/
	width:33%;}	
        
 </style>       

</head>

<body>
<div><img src="http://www.theclick.cl/img/header.png" width="626" height="160"></div>

<!------- PAGINA 1 --------->

<div class="container">

</br>
<form id="contactform" class="rounded" method="post" action="">

<h3>Datos Personales</h3>
<table width="100%" border="0" cellspacing="2" cellpadding="0">
  <tr>
    <td>
    <input type="text" class="input" name="name" id="name" /></td>
    <td>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
  	<input type="text" class="input" name="name" id="name" /></td>
  </tr>
  <tr>
    <td>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
<input type="text" class="input" name="name" id="name" /></td>
    <td>
  	<input type="text" class="input" name="name" id="name" /></td>
  </tr>
  <tr>
    <td>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
  	<input type="text" class="input" name="name" id="name" /></td>
  </tr>
  <tr>
    <td>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
  	<input type="text" class="input" name="name" id="name" /></td>
  </tr>
  <tr>
    <td>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
  	<input type="text" class="input" name="name" id="name" /></td>
  </tr>
  <tr>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
  	<input type="text" class="input" name="email" id="email" />
    </td>
    <td>
  	<input type="text" class="input" name="name" id="name" /></td>
  </tr>
  <tr>
    <td colspan="3">
      <input type="text" class="input-adress" name="name" id="name" />
    </td>
  </tr>
</table>


</br>



<h3>Datos Laborales</h3>
<table width="100%" border="0" cellspacing="2" cellpadding="0">
  <tr>
    <td>
    <label for="name">Situación Laboral:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
    <label for="name">Rut Empresa:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
    <label for="email">Tipo de Sueldo:</label>
  	<input type="text" class="input" name="email" id="email" /></td>
  </tr>
  <tr>
    <td>
    <label for="name">Empleador:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
    <label for="name">Región:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
    <label for="name">Sueldo Fijo:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
  </tr>
  <tr>
    <td>
    <label for="name">Industria:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
    <label for="name">Comuna:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
    <label for="name">Sueldo Variable:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
  </tr>
  <tr>
    <td>
    <label for="name">fecha de ingreso:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td><label for="name">Ciudad:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
    <label for="name">Sueldo Líquido:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
  </tr>
  <tr>
    <td>
    <label for="name">Cargo Actual:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
    <label for="name">Teléfono:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3">
    <label class="label-adress" for="name">Dirección:</label>
  	<input type="text" class="input-adress" name="name" id="name" />
    </td>
    </tr>
</table>

<div class="cols">
<div class="field">
	
</div>

<div class="field">
	
</div>

<div class="field">
	
</div>

<div class="field">
	
</div>

<div class="field">
	
</div>



<div class="field">
	
</div>

<div class="field">
	
</div>

<div class="field">
	
</div>

<div class="field">
	
</div>

<div class="field">
	
</div>

<div class="field">
	
	<!--<p class="hint">Enter your email.</p>-->
</div>

<div class="field">
	
</div>

<div class="field">
	
</div>

<div class="field">
	
</div>

</div>

<div class="field">
	
</div>


</br>
<h3>Datos Conyuge</h3>
<table width="100%" border="0" cellspacing="2" cellpadding="0">
  <tr>
    <td>
    <label for="name">Nombres:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
    <label for="name">Nivel de Educación:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
    <label for="name">Antiguedad Laboral:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
  </tr>
  <tr>
    <td>
    <label for="name">Apellidos:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
    <label for="name">Profesión:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
    <label for="name">Renta Líquida:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
  </tr>
  <tr>
    <td>
    <label for="name">Rut:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
    <label for="name">Universidad:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
    <label for="name">Empresa:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
  </tr>
  <tr>
    <td>
    <label for="name">Fecha de Nacimiento:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
    <label for="name">Actividad:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
    <label for="name">Teléfono:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
  </tr>
  <tr>
    <td>
    <label for="name">Nacionalidad:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
    <label for="name">Cargo Actual:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>&nbsp;</td>
  </tr>
</table>
</br>



</form>

</div>


</div>

<!------- PAGINA 2 --------->

<div class="container">

<form id="contactform" class="rounded" method="post" action="">
</br>

<h3>Resumen Activos</h3>
<table width="100%" border="0" cellspacing="2" cellpadding="0">
  <tr>
    <td>
    <label for="name">Bienes Raices:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
    <label for="name">Automóviles:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
    <label for="name" style="color:#F60;">TOTAL ACTIVOS:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
  </tr>
  <tr>
    <td>
    <label for="name">Ahorro e inversión:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
    <label for="name">Sociedades:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>&nbsp;</td>
  </tr>
</table>
</br>

<h3>Resumen Pasivos</h3>
<table width="100%" border="0" cellspacing="2" cellpadding="0">
  <tr>
    <td>
    <label for="name">Créditos Hipotecarios</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
    <label for="name">Tarjeta de Crédito:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
    <label for="name" style="color:#F60;">TOTAL PASIVOS:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
  </tr>
  <tr>
    <td>
    <label for="name">Línea de Crédito:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>
    <label for="name">Créditos de Consumo:</label>
  	<input type="text" class="input" name="name" id="name" /></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3">
    <div class="box-patri"><img src="img/star.png" width="23" height="24"> PATRIMONIO: DATA</div>
    </td>
    </tr>
</table>
</br>



</br>

</form>
</div>


<!------- PAGINA 3 --------->

<div class="container">

<form id="contactform" class="rounded" method="post" action="">
</br>
<h4>Activos</h4>
<h3>Bienes Raices</h3>
<div class="datagrid"><table>
<thead><tr>
    <th>Tipo</th>
    <th>Dirección</th>
    <th>Región</th>
    <th>Comuna</th>
    <th>Avalúo Fiscal</th>
    <th>Rol</th>
    <th>Hipotecario</th></tr></thead>
<tbody><tr><td>data</td><td>data</td>
  <td>data</td>
  <td>data</td>
  <td>data</td>
  <td>data</td>
  <td>data</td></tr>
<tr class="alt"><td>data</td><td>data</td>
  <td>data</td>
  <td>data</td>
  <td>data</td>
  <td>data</td>
  <td>data</td></tr>
<tr><td>data</td><td>data</td>
  <td>data</td>
  <td>data</td>
  <td>data</td>
  <td>data</td>
  <td>data</td></tr>
<tr class="alt"><td>data</td><td>data</td>
  <td>data</td>
  <td>data</td>
  <td>data</td>
  <td>data</td>
  <td>data</td></tr>
</tbody>
</table></div>
</br>

<h3>Ahorro de Inversión</h3>
<div class="datagrid"><table>
<thead><tr>
    <th>Tipo</th>
    <th>Institución</th>
    <th>Valor Comercial</th>
    <th>Prendado</th></tr></thead>
<tbody><tr><td>data</td><td>data</td><td>data</td><td>data</td></tr>
<tr class="alt"><td>data</td><td>data</td><td>data</td><td>data</td></tr>
<tr><td>data</td><td>data</td><td>data</td><td>data</td></tr>
<tr class="alt"><td>data</td><td>data</td><td>data</td><td>data</td></tr>
</tbody>
</table></div>

</br>

<h3>Automóviles</h3>
<div class="datagrid"><table>
<thead><tr>
    <th>Tipo</th>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Patente</th>
    <th>Año de Auto</th>
    <th>Valor Comercial</th>
    <th>Prendado</th>
</tr>
</thead>
<tbody><tr><td>data</td><td>data</td><td>data</td><td>data</td>
  <td>data</td>
  <td>data</td>
  <td>data</td>
</tr>
<tr class="alt"><td>data</td><td>data</td><td>data</td><td>data</td>
  <td>data</td>
  <td>data</td>
  <td>data</td>
</tr>
<tr><td>data</td><td>data</td><td>data</td><td>data</td>
  <td>data</td>
  <td>data</td>
  <td>data</td>
</tr>
<tr class="alt"><td>data</td><td>data</td><td>data</td><td>data</td>
  <td>data</td>
  <td>data</td>
  <td>data</td>
</tr>
</tbody>
</table></div>
</br>

<h3>Participación en Sociedades</h3>
<div class="datagrid"><table>
<thead><tr>
    <th>Nombre Sociedad</th>
    <th>Rut</th>
    <th>Porcentaje (%)</th>
    <th>Valor Participativo</th></tr></thead>
<tbody><tr><td>data</td><td>data</td><td>data</td><td>data</td></tr>
<tr class="alt"><td>data</td><td>data</td><td>data</td><td>data</td></tr>
<tr><td>data</td><td>data</td><td>data</td><td>data</td></tr>
<tr class="alt"><td>data</td><td>data</td><td>data</td><td>data</td></tr>
</tbody>
</table></div>


</br>

</form>
</div>

<!------- PAGINA 4 --------->

<div class="container">

<form id="contactform" class="rounded" method="post" action="">
</br>
<h4>Pasivos</h4>
<h3>Hipotecario</h3>
<div class="datagrid"><table>
<thead><tr>
    <th>Institución</th>
    <th>Pago Mensual</th>
    <th>Deuda Total</th>
    <th>Vencimiento Final</th>
    <th>Deuda Vigente</th></tr></thead>
<tbody><tr><td>data</td><td>data</td><td>data</td>
  <td>data</td>
  <td>data</td></tr>
<tr class="alt"><td>data</td><td>data</td><td>data</td>
  <td>data</td>
  <td>data</td></tr>
<tr><td>data</td><td>data</td><td>data</td>
  <td>data</td>
  <td>data</td></tr>
<tr class="alt"><td>data</td><td>data</td><td>data</td>
  <td>data</td>
  <td>data</td></tr>
</tbody>
</table></div>
</br>

<h3>Tarjeta de Crédito</h3>
<div class="datagrid"><table>
<thead><tr>
    <th>Tipo de Tarjeta</th>
    <th>Institución</th>
    <th>Monto Aprobado</th>
    <th>Monto Utilizado</th>
    <th>Vencimiento</th></tr></thead>
<tbody><tr><td>data</td><td>data</td><td>data</td>
  <td>data</td>
  <td>data</td></tr>
<tr class="alt"><td>data</td><td>data</td><td>data</td>
  <td>data</td>
  <td>data</td></tr>
<tr><td>data</td><td>data</td><td>data</td>
  <td>data</td>
  <td>data</td></tr>
<tr class="alt"><td>data</td><td>data</td><td>data</td>
  <td>data</td>
  <td>data</td></tr>
</tbody>
</table></div>
</br>

<h3> Línea de Crédito</h3>
<div class="datagrid"><table>
<thead><tr>
    <th>Institución</th>
    <th>Monto Aprobado</th>
    <th>Monto Utilizado</th>
    <th>Vencimiento</th>
    </tr></thead>
<tbody><tr><td>data</td><td>data</td><td>data</td>
  <td>data</td>
  </tr>
<tr class="alt"><td>data</td><td>data</td><td>data</td>
  <td>data</td>
  </tr>
<tr><td>data</td><td>data</td><td>data</td>
  <td>data</td>
  </tr>
<tr class="alt"><td>data</td><td>data</td><td>data</td>
  <td>data</td>
</tr>
</tbody>
</table></div>
</br>

<h3>Créditos de Consumo</h3>
<div class="datagrid"><table>
<thead><tr>
    <th>Institución</th>
    <th>Pago Mensual</th>
    <th>Deuda Total</th>
    <th>Vencimiento Final</th>
    <th>Deuda</th></tr></thead>
<tbody><tr><td>data</td><td>data</td><td>data</td>
  <td>data</td>
  <td>data</td></tr>
<tr class="alt"><td>data</td><td>data</td><td>data</td>
  <td>data</td>
  <td>data</td></tr>
<tr><td>data</td><td>data</td><td>data</td>
  <td>data</td>
  <td>data</td></tr>
<tr class="alt"><td>data</td><td>data</td><td>data</td>
  <td>data</td>
  <td>data</td></tr>
</tbody>
</table></div>

</br>

</form>
</div>

<!------- PAGINA 5 --------->

<div class="container">

<form id="contactform" class="rounded" method="post" action="">
</br>
<h4>Pedidos</h4>
<h3>Créditos de Consumo</h3>
<div class="datagrid"><table>
<thead><tr>
    <th>Monto Crédito</th>
    <th>Plazo de Crédito</th>
    <th>Degravamen</th>
    <th>Cesantía</th>
    <th>¿Para qué utilizarás el dinero?</th>
    <th>Fecha<br>
      del<br>
      pedido</th></tr></thead>
<tbody><tr><td>data</td><td>data</td><td>data</td>
  <td>data</td>
  <td>&nbsp;</td>
  <td>data</td></tr>
</tbody>
</table></div>

</br>

<h3>Automotriz</h3>
<div class="datagrid"><table>
<thead><tr>
    <th>Monto del Auto:</th>
    <th>Monto del Píe:</th>
    <th>Plazo del Crédito</th>
    <th>¿Cuándo piensas comprar tu auto?</th>
    <th>Marca</th>
    <th>Año</th>
    </tr></thead>
<tbody><tr><td>data</td><td>data</td><td>data</td>
  <td>data</td>
  <td>data</td>
  <td>data</td>
</tr>
</tbody>
</table></div>
</br>

<h3>Hipotecario</h3>
<div class="datagrid"><table>
<thead><tr>
    <th>Valor Propiedad</th>
    <th>Monto Píe</th>
    <th>Porcentaje</th>
    <th>Monto de Crédito</th>
    <th>Plazo de Crédito</th>
    <th>Tipo de propiedad</th>
    <th>dfl2</th>
    <th>Fecha de Pedido</th></tr></thead>
<tbody><tr><td>data</td><td>data</td><td>data</td>
  <td>data</td>
  <td>data</td>
  <td>data</td>
  <td>data</td>
  <td>data</td></tr>
</tbody>
</table></div>

</br>

<h3>Consolidación de deuda / Refinanciamiento</h3>
<div class="datagrid"><table>
<thead><tr>
    <th>Crédito a
      Consolidar /
      Refinanciar</th>
    <th>Monto de
      Crédito</th>
    <th>Plazo
      Solicitado</th>
    <th>Fecha
      del
      pedido</th>
    </tr></thead>
<tbody><tr><td>data</td><td>data</td><td>data</td>
  <td>data</td>
  </tr>
<tr class="alt"><td>data</td><td>data</td><td>data</td>
  <td>data</td>
  </tr>
<tr><td>data</td><td>data</td><td>data</td>
  <td>data</td>
  </tr>
<tr class="alt"><td>data</td><td>data</td><td>data</td>
  <td>data</td>
</tr>
</tbody>
</table></div>

</br>

<h3>Pedidos / Cuenta Corriente</h3>
<div class="datagrid"><table>
<thead><tr>
    <th>Producto</th>
    <th>Fecha del pedido</th>
    </tr></thead>
<tbody><tr><td>data</td><td>data</td>
</tr>
</tbody>
</table></div>

</br>

</form>

</div>


</body>

</html>