<!DOCTYPE HTML>
  


<html>

<head>
        
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<script src="{{asset('bundles/benchpaginas/js/jquery.min.js')}}"></script>
<script src="{{asset('bundles/benchpaginas/js/jquery.Rut.min.js')}}"></script>
<script src="{{asset('bundles/benchpaginas/js/in2.js')}}"></script>
<script src="{{ asset('bundles/benchpaginas/js/registro.js') }}"></script>

<script src="{{ asset('bundles/benchpaginas/js/parsley.js')}}"></script>
<script src="{{ asset('bundles/benchpaginas/js/parsley.extend.js') }}"></script>


<link href="{{ asset('bundles/benchpaginas/css/style.css') }}" rel="stylesheet">  
<link href="{{ asset('bundles/benchpaginas/css/ship.css') }}" rel="stylesheet">  
<link href="{{ asset('bundles/benchpaginas/css/basic.css') }}" rel="stylesheet"> 
<link href="{{ asset('bundles/benchpaginas/css/flexslider.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/benchpaginas/css/form.css') }}" rel="stylesheet">








 {% include "BenchPaginasBundle:Default:header.html.twig" %}
    {% block header %}
    
    
    
    {% endblock%}


 <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>





<div class="wrapper">
    <div class="wrapper-border-radius">
    <div class="title-section">Ingresa tus datos  s personales</div>
    
<div class="icon-registro"></div>
<!-- formulario de registro -->
<form class="form-box" style="padding:0 0 5% 10%;" action="{{ path('guardaRegistro') }}" id="FormRegistro" method="POST" data-validate="parsley" autocomplete="off" >
<label class="label-text"  >RUT:</label>
		<input type="text" name="rutRegistro"  class="input-box" id="rut2"  data-required="true"data-minlength-message="Rut invalido"   />
		

<input type="hidden" id="token" value="{{token}}">

    <label class="label-text" for="nombres">Nombres:</label>
		<input type="text" name="nombre" id="nombreRegistro" class="input-box" data-required="true"   id="nombres" />
               
                
              
                
                
<label class="label-text" >Apellido Paterno:</label>
		<input type="text" name="aapellido1" id="apellido1Registro" class="input-box" data-required="true"  />
        

 <label class="label-text" >Apellido Materno:</label>
    <input type="text" name="apellido2" class="input-box" id="apellido2Registro" data-required="true"  />
        

<label class="label-text" for="email">E-mail:</label>
	  <input type="text" name="email" class="input-box"  id="emailRegistro"  value="{{ EmailUsuario }}" data-required="true"  data-type="email" />



<label class="label-text" for="email">Teléfono :</label>
 <input type="text" name="tele" class="input-box"  id="telefono"  data-required="true"  data-type="telefono" />





    <label class="label-text" for="contrasena">Contraseña:</label>
		<input type="password" name="pas1" class="input-box" id="pas1"  data-required="true" />

                
<label class="label-text" for="conf_contrasena">Confirmar Contraseña:</label>

<input type="password" name="password2" class="input-box" data-required="true"   id="pas2" data-equalto="#pas1"  />
        
                
    <div class="clearfix"></div>                     

            
    
<input  style="float:left;"  type="submit" id="RegistroButon"  class="classname" value="Guardar Registro">

<div class="flix-clear"></div>

<div class="alert-form4"  id="rutnovalido">
<img src="{{asset ('bundles/benchpaginas/img/alert_icon.png')}}">
Rut no válido

</div>

<div id="alertregistro" class="alert-form4" ></div>
</form>


 


</div>  



<!-- formulario de registro -->
<div class="flix-clear"></div>
    
                 
</div>




<div class="clearfix"></div>

           


  
</body>
</html>
