
	* { margin: 0; padding: 0; }
	
	body {font-family: Verdana, Arial; font-size: 12px; line-height: 18px; background-image: url(img/bg_icons.jpg.jpg);
background-position: center top;
background-repeat: no-repeat;}

header{
	width:626px;
	height:160px;
	margin:0 auto;
}
	a { text-decoration: none; }
	.container{margin: 20px auto; width: 612px; height: auto; background-color:#0FF; -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px; background-color:#EEEEEE;}
	h3 { padding:2px 0 2px 10px; font-size: 14px; background-color:#F60; color:#FFF; -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin:5px 0;}
	h4 { padding:4px 0 4px 10px; font-size: 16px; background-color: #666; color:#FFF; -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin:5px 0;}
	
	
	.cols {
column-count: 3;
-moz-column-count:3; /* Firefox */
-webkit-column-count:3; /* Safari and Chrome */
}
	
	#contactform {
	
	width: 580px;
	padding: 5px 16px;
	overflow:auto;
	
	/*border: 1px solid #cccccc;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;	
	
	-moz-box-shadow: 2px 2px 2px #cccccc;
	-webkit-box-shadow: 2px 2px 2px #cccccc;
	box-shadow: 2px 2px 2px #cccccc;*/
	
	}
	
	.field{margin-bottom:2px;}
	
	label {
		color:#666;
	font-family: Verdana, Geneva, sans-serif; 
	text-shadow: 1px 1px 1px #ccc;
	display: block; 
	float: left; 
	font-weight: normal; 
	margin-right:10px; 
	text-align: left; 
	width: 200px; 
	line-height: 15px; 
	font-size: 12px; 
	}
	
	.label-adress {
		color:#666;
	font-family: Verdana, Geneva, sans-serif; 
	text-shadow: 1px 1px 1px #ccc;
	display: block; 
	float: left; 
	font-weight: normal; 
	margin-right:10px; 
	text-align: left; 
	width: auto; 
	line-height: 15px; 
	font-size: 12px; 
	}
	
	.input-adress{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family: Arial, Verdana; 
	font-size: 11px; 
	padding: 1px;
	margin:1px 0;
	border: 1px solid #b9bdc1; 
	width: 99%;
	height:16px; 
	color: #797979;	
	}
	
	.input{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family: Arial, Verdana; 
	font-size: 11px; 
	padding: 1px;
	margin:1px 0;
	border: 1px solid #b9bdc1; 
	width: 97%;
	height:16px; 
	color: #797979;	
	}
	
	.input:focus{
	background-color:#E7E8E7;
	border:1px solid #F95B00;	
	}
	
	.textarea {
	height:150px;	
	}
	
	.hint{
	display:none;
	left:190px;
	}
	
	.field:hover .hint {  
	position: absolute;
	display: block;  
	margin: -30px 0 0 455px;
	color: #FFFFFF;
	padding: 7px 10px;
	background: rgba(0, 0, 0, 0.6);
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;	
	}
	
	.button{
	float: right;
	margin:10px 55px 10px 0;
	font-weight: bold;
	line-height: 1;
	padding: 6px 10px;
	cursor:pointer;   
	color: #fff;
	
	text-align: center;
	text-shadow: 0 -1px 1px #64799e;
	
	/* Background gradient */
	background: #a5b8da;
	background: -moz-linear-gradient(top, #a5b8da 0%, #7089b3 100%);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5b8da), to(#7089b3));
	
	/* Border style */
  	border: 1px solid #5c6f91;  
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
  
	/* Box shadow */
	-moz-box-shadow: inset 0 1px 0 0 #aec3e5;
	-webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
	box-shadow: inset 0 1px 0 0 #aec3e5;
	
	}
	
	.button:hover {
	background: #848FB2;
    cursor: pointer;
	}
	
	.box-patri{
		width:100%;
		height:auto;
		text-align:left;
		color: #666;
		font-size:14px;
		border-top: 1px solid #999;
		padding:5px 0;
	}
	
	.box-patri img{
		vertical-align: bottom;
	}
	
	/*----- TABLE CSS -------*/
	
	
	.datagrid table { border-collapse: collapse; text-align: left; width: 100%; }
	.datagrid {font: normal 12px/150% Verdana, Arial, Helvetica, sans-serif; background: #fff;  border: 1px solid #B9BDC1; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; /*width: 95%;*/}
	.datagrid table td, .datagrid table th { padding: 3px 10px; }
	.datagrid table thead th {background-color:#B9BDC1; color:#FFFFFF; font-size: 12px; font-weight: normal; border-left: 1px solid #A3A3A3; }
	.datagrid table thead th:first-child { border: none; }
	.datagrid table tbody td { color: #7D7D7D; border-left: 1px solid #DBDBDB;font-size: 12px;font-weight: normal; }
	.datagrid table tbody .alt td { background: #EBEBEB; color: #7D7D7D; }
	.datagrid table tbody td:first-child { border-left: none; }
	.datagrid table tbody tr:last-child td { border-bottom: none; }

	
	
