{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Usuario list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Apellidoseg</th>
                <th>Email</th>
                <th>Contrasena</th>
                <th>Sexo</th>
                <th>Nacionalidad</th>
                <th>Fechanacimiento</th>
                <th>Estadocivil</th>
                <th>Niveleducacion</th>
                <th>Profesion</th>
                <th>Universidad</th>
                <th>Tipocasa</th>
                <th>Ndependientes</th>
                <th>Direccion</th>
                <th>Region</th>
                <th>Comuna</th>
                <th>Montoarriendo</th>
                <th>Fechaingreso</th>
                <th>Telefono</th>
                <th>Final</th>
                <th>Asignar</th>
                <th>Navegador</th>
                <th>Archivar</th>
                <th>Dicom</th>
                <th>Veceslogin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('usuario_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.rut }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.apellido }}</td>
                <td>{{ entity.apellidoseg }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.contrasena }}</td>
                <td>{{ entity.sexo }}</td>
                <td>{{ entity.nacionalidad }}</td>
                <td>{{ entity.fechaNacimiento }}</td>
                <td>{{ entity.estadocivil }}</td>
                <td>{{ entity.niveleducacion }}</td>
                <td>{{ entity.profesion }}</td>
                <td>{{ entity.universidad }}</td>
                <td>{{ entity.tipocasa }}</td>
                <td>{{ entity.ndependientes }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.region }}</td>
                <td>{{ entity.comuna }}</td>
                <td>{{ entity.montoArriendo }}</td>
                <td>{% if entity.fechaIngreso %}{{ entity.fechaIngreso|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.final }}</td>
                <td>{{ entity.asignar }}</td>
                <td>{{ entity.navegador }}</td>
                <td>{{ entity.archivar }}</td>
                <td>{{ entity.dicom }}</td>
                <td>{{ entity.vecesLogin }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('usuario_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('usuario_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('usuario_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
