{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Usuario</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Rut</th>
                <td>{{ entity.rut }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ entity.apellido }}</td>
            </tr>
            <tr>
                <th>Apellidoseg</th>
                <td>{{ entity.apellidoseg }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Contrasena</th>
                <td>{{ entity.contrasena }}</td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td>{{ entity.sexo }}</td>
            </tr>
            <tr>
                <th>Nacionalidad</th>
                <td>{{ entity.nacionalidad }}</td>
            </tr>
            <tr>
                <th>Fechanacimiento</th>
                <td>{{ entity.fechaNacimiento }}</td>
            </tr>
            <tr>
                <th>Estadocivil</th>
                <td>{{ entity.estadocivil }}</td>
            </tr>
            <tr>
                <th>Niveleducacion</th>
                <td>{{ entity.niveleducacion }}</td>
            </tr>
            <tr>
                <th>Profesion</th>
                <td>{{ entity.profesion }}</td>
            </tr>
            <tr>
                <th>Universidad</th>
                <td>{{ entity.universidad }}</td>
            </tr>
            <tr>
                <th>Tipocasa</th>
                <td>{{ entity.tipocasa }}</td>
            </tr>
            <tr>
                <th>Ndependientes</th>
                <td>{{ entity.ndependientes }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ entity.region }}</td>
            </tr>
            <tr>
                <th>Comuna</th>
                <td>{{ entity.comuna }}</td>
            </tr>
            <tr>
                <th>Montoarriendo</th>
                <td>{{ entity.montoArriendo }}</td>
            </tr>
            <tr>
                <th>Fechaingreso</th>
                <td>{{ entity.fechaIngreso|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Final</th>
                <td>{{ entity.final }}</td>
            </tr>
            <tr>
                <th>Asignar</th>
                <td>{{ entity.asignar }}</td>
            </tr>
            <tr>
                <th>Navegador</th>
                <td>{{ entity.navegador }}</td>
            </tr>
            <tr>
                <th>Archivar</th>
                <td>{{ entity.archivar }}</td>
            </tr>
            <tr>
                <th>Dicom</th>
                <td>{{ entity.dicom }}</td>
            </tr>
            <tr>
                <th>Veceslogin</th>
                <td>{{ entity.vecesLogin }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('usuario') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('usuario_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('usuario_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
