

<script type="text/javascript" src="{{asset('bundles/benchfilepicker/js/carnet.js')}}"></script>
<div class="container-upload">

<div class="box-upload">
<span class="orange">Fotocopia Carnet. <span class="color-porcentaje" id="porcentajeCarnet">  </span> <span class="carga-ie" id="carnetie"><img src="{{asset('bundles/benchfilepicker/img/load.gif')}}"></span></span>







<span class="subir" id="porcentajefile"></span> </span></span> 
        <ul id="listaCarnet" style="width:600px;height:auto;">
            
        <li>
            
            
      
        <span id="nombrefile"></span>
       
        <span style="float:right; color:#999;" id="porcentajefile"> </span>
        
        
        <!--   
        <img src="img/fileicon.jpg">
        <span id="nombrefile">File Name</span>
        <a href="#"><span style="float:right; color:#F60; font-weight:bold; margin:0 10px;" id="porcentajefile">X</span></a>
        <span style="float:right; color:#999;" id="porcentajefile"> <p>100%</p></span>-->
        
        </li>
        
       
        
        {% if archivo7 %}
        
        {% for archivo7 in archivo7 %}
       
    
            
            <li class="li-upload" id="itemCarnet-{{archivo7.llave}}">
                
            <a href="{{archivo7.url}}"  target="_blank"> <img src="img/fileicon.jpg"> <span id="nombrefile">{{archivo7.nombreArchivo}}</a></span><button class="del_button" id="del-{{archivo7.llave}}">X</button>
            
            </li>
            
         
        {% endfor %}
        {% endif %}    
            
        
        
                                                                                                                                                                                                      
        </ul>
        <div style="clear: both;"></div>
        <!--<input type="file" id="AgregarCarnet" class="buttonupload">-->
        <div class="file-input-wrapper">
        <button class="btn-file-input">Agregar Archivos</button>
        <input type="file" name="file" id="AgregarCarnet"/>
       </div>
        
        
        
      
        
     
        
        
        
        </div>
    
    </div>


