{# empty Twig template #}

<script type="text/javascript" src="{{asset('bundles/benchfilepicker/js/cartolaAfp.js')}}"></script>
<div class="container-upload">
<div class="box-upload">
<span class="orange">Cartola de últimas 12 cotizaciones afp. <span class="color-porcentaje" id="porCartolaAfp"></span><span class="carga-ie" id="cartolaAfpie"><img src="{{asset('bundles/benchfilepicker/img/load.gif')}}"></span> </span>

<span class="subir" id="porcentajefile"> </span> 
        <ul id="listaAfp" style="width:600px;height:auto;">
            
        <li>
            
            
      
        <span id="nombrefile"></span>
       
        <span style="float:right; color:#999;" id="porcentajefile"> </span>
        
        
        <!--   
        <img src="img/fileicon.jpg">
        <span id="nombrefile">File Name</span>
        <a href="#"><span style="float:right; color:#F60; font-weight:bold; margin:0 10px;" id="porcentajefile">X</span></a>
        <span style="float:right; color:#999;" id="porcentajefile"> <p>100%</p></span>-->
        
        </li>
        
       
        
        {% if archivo3 %}
        
        {% for archivo3 in archivo3 %}
       
     
            
            <li class="li-upload" id="itemAfp-{{archivo3.llave}}">
                
            <a href="{{archivo3.url}}"  target="_blank"> <img src="img/fileicon.jpg"> <span id="nombrefile">{{archivo3.nombreArchivo}}</a></span><button class="del_button" id="del-{{archivo3.llave}}">X</button>
            
            </li>
            
         
        {% endfor %}
        {% endif %}    
            
        
        
                                                                                                                                                                                                      
        </ul>

        <div style="clear: both;"></div>

        <!--<input type="file" id="AgregarCartolaAfp" class="buttonupload">-->
        <div class="file-input-wrapper">
        <button class="btn-file-input">Agregar Archivos</button>
        <input type="file" name="file" id="AgregarCartolaAfp"/>
       </div>
        
        
        
      
        
        
        
     
        
        
        
        </div>
    
    </div>


