{# empty Twig template #}

<script type="text/javascript" src="{{asset('bundles/benchfilepicker/js/impuesto3.js')}}"></script>
<div class="container-upload">

<div class="box-upload">
<span class="orange">3 últimas declaraciones de impuesto.<span class="color-porcentaje" id="porcentajeImpuesto3"> </span> <span class="carga-ie" id="declaracion3ie"><img src="{{asset('bundles/benchfilepicker/img/load.gif')}}"></span></span>








        <ul id="listaImpuesto3" style="width:600px;height:auto;">
            
        <li>
            
            
      
        <span id="nombrefile"></span>
       
        <span style="float:right; color:#999;" id="porcentajefile"> </span>
        
        
        <!--   
        <img src="img/fileicon.jpg">
        <span id="nombrefile">File Name</span>
        <a href="#"><span style="float:right; color:#F60; font-weight:bold; margin:0 10px;" id="porcentajefile">X</span></a>
        <span style="float:right; color:#999;" id="porcentajefile"> <p>100%</p></span>-->
        
        </li>
        
       
        
        {% if archivo5 %}
        
        {% for archivo5 in archivo5 %}
       
    
            
        <li class="li-upload" id="itemImpuesto3-{{archivo5.llave}}">
       
            <a href="{{archivo5.url}}"  target="_blank"> <img src="img/fileicon.jpg"> <span id="nombrefile">{{archivo5.nombreArchivo}}</a></span><button class="del_button" id="del-{{archivo5.llave}}">X</button>
            
            </li>
            
         
        {% endfor %}
        {% endif %}    
            
        
        
                                                                                                                                                                                                      
        </ul>
        <div style="clear: both;"></div>
        <!--<input type="file" id="AgregarImpuesto3" class="buttonupload">-->
        <div class="file-input-wrapper">
        <button class="btn-file-input">Agregar Archivos</button>
        <input type="file" name="file" id="AgregarImpuesto3"/>
       </div>
        
        
        
      
        
     
        
        
        
        </div>
    
    </div>


