{# empty Twig template #}

<script type="text/javascript" src="{{asset('bundles/benchfilepicker/js/anual.js')}}"></script>
<div class="container-upload">

<div class="box-upload">
<span class="orange">Declaración Anual de los Últimos dos Años. <span  class="color-porcentaje" id="porcentajeAnual"  type="filepicker" data-fp-maxsize="2000" ></span><span class="carga-ie" id="declaracionAnualie"><img src="{{asset('bundles/benchfilepicker/img/load.gif')}}"></span> </span>











        <ul id="listaAnual" style="width:600px;height:auto;">
            
        <li>
            
            
      
        <span id="nombrefile"></span>
       
        <span style="float:right; color:#999;" id="porcentajefile"> </span>
        
        
        <!--   
        <img src="img/fileicon.jpg">
        <span id="nombrefile">File Name</span>
        <a href="#"><span style="float:right; color:#F60; font-weight:bold; margin:0 10px;" id="porcentajefile">X</span></a>
        <span style="float:right; color:#999;" id="porcentajefile"> <p>100%</p></span>-->
        
        </li>
        
       
        
        {% if archivo6 %}
        
        {% for archivo6 in archivo6 %}
       
    
            
            <li class="li-upload" id="itemAnual-{{archivo6.llave}}">
                
            <a href="{{archivo6.url}}"  target="_blank"> <img src="img/fileicon.jpg"> <span id="nombrefile">{{archivo6.nombreArchivo}}</a></span><button class="del_button" id="del-{{archivo6.llave}}">X</button>
            
            </li>
            
         
        {% endfor %}
        {% endif %}    
            
        
        
                                                                                                                                                                                                      
        </ul>
        <div style="clear: both;"></div>
   
        <div class="file-input-wrapper">
        <button class="btn-file-input">Agregar Archivos</button>
        <input type="file"  id="AgregarAnual"/>
       </div>
        
        
        
      
        
     
        
        
        
        </div>
    
    </div>


