
<html>
  

    <head>
        <style>
        
#progressBar {
		width: 400px;
		height: 22px;
		border: 1px solid #111;
		background-color: #292929;
}

#progressBar div {
		height: 100%;
		color: #fff;
		text-align: right;
		line-height: 22px; /* same as #progressBar height if we want text middle aligned */
		width: 0;
		background-color: #0099ff;
}
            </style>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <link href="https://drpyjw32lhcoa.cloudfront.net/96d7a47/css/codeblock.css" rel="stylesheet">
        <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js"></script>
        <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
        <script>
            filepicker.setKey('A70JKQ4oKSY6zp7TVMi03z')

            </script>

            <link href="https://drpyjw32lhcoa.cloudfront.net/96d7a47/css/bootstrap.min.css" rel="stylesheet">
            <link href="https://drpyjw32lhcoa.cloudfront.net/96d7a47/css/style_site.css" rel="stylesheet">

            <link href="https://drpyjw32lhcoa.cloudfront.net/96d7a47/css/prettify.min.css" rel="stylesheet">

        </head>

        <body>

            <form id="formSaveFile" action="{{path('SaveFile')}}" method="post"></form>

             <script>

                    $(document).ready(function() {
                        $('#read-input').click(function() {

                           filepicker.pickAndStore({mimetype: "image/*",services:['COMPUTER', 'FACEBOOK', 'GMAIL'], container: 'modal'},
                       
                            {location: "S3"}, function(InkBlobs) {

                                var archivo = (InkBlobs);
                                var url = archivo[0]['url'];
                                var filename = archivo[0]['filename'];
                                var size = archivo[0]['size'];
                                console.log('todos');

                                console.log(url);


                                console.log(archivo);
                                

                                var myData = 'url=' + url
                                        + 'filename=' + filename;

                                jQuery.ajax({
                                    type: "POST",
                                    url: $("#formSaveFile").attr("action"),
                                    dataType: "text",
                                    data: myData,
                                    success: function(response) {

                                        console.log('agrega elemento a la lista');

                                        $("#listaArchivos").append('<li>Nombre  archivo  ' + filename + ' kb ' + size + ' kb  X</li>')



                                    },
                                    error: function(xhr, ajaxOptions, thrownError) {
                                        alert(thrownError);



                   },
                                });






                            });
                        });
                    });

                    </script>


                   <script>

                    $(document).ready(function() {
                        
                        $('#read-input2').click(function() {

                            filepicker.pickAndStore({services:['COMPUTER', 'DROPBOX', 'GMAIL'],container: 'window' ,multiple: true},
                       
                            {location: "S3"}, function(InkBlobs) {
                            
                

                                var archivo = (InkBlobs);
                                var url = archivo[0]['url'];
                                var filename = archivo[0]['filename'];
                                var size = archivo[0]['size'];


                                console.log(url);


                                console.log(archivo);

                                var myData = 'url=' + url
                                        + 'filename=' + filename;
                                
                                

                                jQuery.ajax({
                                    type: "POST",
                                    url: $("#formSaveFile").attr("action"),
                                    dataType: "text",
                                    data: myData,
                                    success: function(response) {

                                        console.log('agrega elemento a la lista');

                                        $("#listaArchivos2").append('<li>Nombre  archivo  ' + filename + ' kb ' + size + ' kb  X</li>')



                                    },
                                            
                                            
                                    error: function(xhr, ajaxOptions, thrownError) {
                                        alert(thrownError);



                   },
                                });






                            });
                        });
                    });

                    </script>

                    
                   <script>
                       
                        $(document).ready(function() {
                            
                            function progress2(percent, $element) {
	var progressBarWidth = percent * $element.width() / 100;
	$element.find('div').animate({ width: progressBarWidth }, 500).html(percent + "%&nbsp;");
}

$('#store-input[type=file]').change(function() {
    progress2(0, $('#progressBar'));
             
                       var input = document.getElementById("store-input");
if (!input.value) {
    console.log("");
} else {
    
    filepicker.store(input,{location: "S3"}, function(InkBlobs) {
        
 
     
        
                             
                      
                                console.log('subiendo');
                                 console.log(InkBlobs);
                                 var archivo =InkBlobs;
                                 url = archivo.url;
                                 console.log(url);
                                
                         
                                
                                var url = archivo.url;
                                var filename = archivo.filename;
                                var size = archivo.size;
                                var key = archivo.key;
                                var llave = key.split('_');
                                var llave2 = llave[0];
                                
                              
                                
                                console.log(llave2);
                                
                               
                                
                               
                                var myData = 'url=' + url
                                        + 'filename=' + filename;
                                
                                

                                jQuery.ajax({
                                    type: "POST",
                                    url: $("#formSaveFile").attr("action"),
                                    dataType: "text",
                                    data: myData,
                                    success: function(response) {

                                        console.log('agrega elemento a la lista');

                                        $("#listaArchivos3").append('<li id="item_'+llave2+'">Nombre  archivo  ' + filename + ' kb ' + size + ' kb <button class="del_button" id="del-'+llave2+'"> X</button></li>')

                                        

                                    },
                                           
        
        
                                            
                                  
                                });
                                
                              
                        

        }, function(FPError) {
            console.log(FPError.toString());
        }, function(progress) {
            $('#porcentaje').text(progress);
            
            console.log("Loading: "+progress+"%");
            progress2(progress, $('#progressBar'));
            
           

        }
   );
}

        });

  

        
        
          $("#listaArchivos3").on("click", ".del_button", function(e) {
          e.preventDefault();
          console.log('eliminando');
         
          
        var clickedID = this.id.split('-');
        var DbNumberID = clickedID[1]; // toma el numero del array
          console.log(DbNumberID);
          
           $("#item_"+DbNumberID+"").remove();
          console.log('#item_'+DbNumberID);
          
          
          
          });
        
        
              });
        
        
        
                   </script>




                    




                    <!-- JS -->


                    prueba filepicker










                    <button id="read-input">Agregar Archivo con modal</button>
                    
                    <ul  id="listaArchivos">
                        <li>Archivos </li>

                    </ul>

                    <br>
                    <br>
                    <br>
                    <br>

                    <button id="read-input2">Agregar Archivos ventana aparte </button>
                    <ul  id="listaArchivos2">
                        <li>Archivos </li>

                    </ul>
                    
                    
                    <br>
                    <br>
                    <br>
                    <br>
                    
                    <h1>agregar archivos con un boton solamente</h1>
                    
                    <input type="file" id="store-input">
                   <h1> 
                    Porcentaje <h1 id="porcentaje"></h1> %</h1>
                    
                    <div id="progressBar"><div></div></div>
                    
                    
                      <ul  id="listaArchivos3">
                      

                    </ul>

                    
                    <br>
                    <br>
                    <br>
                    <br>

                </body>




            </html>