{# empty Twig template #}
<script type="text/javascript" src="{{asset('bundles/benchfilepicker/js/circulacion.js')}}"></script>
<div class="container-upload">

<div class="box-upload">
<span class="orange">Padrón o Permiso de Circulación de Automoviles. <span class="color-porcentaje" id="porCirculacion"></span> <span class="carga-ie" id="circulacionpie"><img src="{{asset('bundles/benchfilepicker/img/load.gif')}}"></span></span>








    

<ul id="listaCirculacion">
            
        <li>
            
            
      
        <span id="nombrefile"></span>
       
        <span style="float:right; color:#999;" id="porcentajefile"> </span>
        
        
        <!--   
        <img src="img/fileicon.jpg">
        <span id="nombrefile">File Name</span>
        <a href="#"><span style="float:right; color:#F60; font-weight:bold; margin:0 10px;" id="porcentajefile">X</span></a>
        <span style="float:right; color:#999;" id="porcentajefile"> <p>100%</p></span>-->
        
        </li>
        
       
        
        {% if archivo4 %}
        
        {% for archivo4 in archivo4 %}
       
    
            
        <li class="li-upload" id="itemCirculacion-{{archivo4.llave}}">
                
            <a href="{{archivo4.url}}"  target="_blank"> <img src="img/fileicon.jpg"> <span id="nombrefile">{{archivo4.nombreArchivo}}</a></span><button class="del_button" id="del-{{archivo4.llave}}">X</button>
            
            </li>
            
         
        {% endfor %}
        {% endif %}    
            
        
        
                                                                                                                                                                                                      
        </ul>
        <div style="clear: both;"></div>
        <!--<input type="file" id="AgregarCirculacion" class="buttonupload">-->
        <div class="file-input-wrapper">
        <button class="btn-file-input">Agregar Archivos</button>
        <input type="file" name="file" id="AgregarCirculacion"/>
       </div>
        
        
        
      
        
     
        
        
        
        </div>
    
    </div>


