<script type="text/javascript" src="{{asset('bundles/benchfilepicker/js/variable6.js')}}"></script>
<div class="container-upload">

<div class="box-upload">
<span class="orange">Sueldo Variable 6 últimas líquidaciones de sueldo. <span class="color-porcentaje" id="porsueldoVariable6"></span><span class="carga-ie" id="sueldoVariableie"><img src="{{asset('bundles/benchfilepicker/img/load.gif')}}"></span>  </span>







        <ul  id="listaVariable6" style="width:600px;height:auto;">
            
       
        
       
        
        {% if archivo2 %}
        
        {% for archivo2 in archivo2 %}
       

            
            <li  class="li-upload" id="itemVariable6-{{archivo2.llave}}">
                
            <a href="{{archivo2.url}}"  target="_blank"> <img src="img/fileicon.jpg"> <span id="nombrefile">{{archivo2.nombreArchivo}}</a></span><button class="del_button" id="del-{{archivo2.llave}}">X</button>
            
            </li>
            
         
        {% endfor %}
        {% endif %}    
            
        
        
                                                                                                                                                                                                      
        </ul>
        <!--<input type="file" id="AgregarVariable6" class="buttonupload">-->
        
        <div style="clear: both;"></div>
        
        <div class="file-input-wrapper">
        <button class="btn-file-input">Agregar Archivos</button>
        <input type="file" name="file" id="AgregarVariable6"/>
       </div>
        
        
        
      
        
     
        
        
        
        </div>
    
    </div>


