{# empty Twig template #}

 <link href="{{ asset('bundles/benchfilepicker/css/upload.css') }}" rel="stylesheet">  

 
 <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
 
 
  <script type="text/javascript" src="{{asset('bundles/benchfilepicker/js/sueldofijo3.js')}}"></script>

<form id="uploadFilepicker" action="{{path('SaveFile')}}" method="post"></form>
<form id="delFilepicker" action="{{path('DelFile')}}" method="post"></form>



<div class="container-upload">

<div class="box-upload">
<span class="orange">Sueldo Fijo 3 últimas líquidaciones de sueldo.<span class="color-porcentaje" id="porsuelodfijo3"></span><span class="carga-ie" id="sueldofijo3ie"><img src="{{asset('bundles/benchfilepicker/img/load.gif')}}"> </span></span>



        <ul id="listaSueldoFijo3" >
            
        
        
        {% for archivos1 in archivos1 %}
       
    
            
            <li class="li-upload" id="itemFijo3-{{archivos1.llave}}">
                
            <a href="{{archivos1.url}}"   target='_blank'  > <img src="img/fileicon.jpg"> <span id="nombrefile">{{archivos1.nombreArchivo}}</a></span><button class="del_button" id="del-{{archivos1.llave}}">X</button>
            
            </li>
            
            <br>
            
            
            
           
    
        
        {% endfor %}
        
        
                                                                                                                                                                                                      
        </ul>

        <!--<input type="file"  class="buttonupload">
        <div class="classname">nffknak</div><input />-->
        
        <div style="clear: both;"></div>
        
       <div class="file-input-wrapper">
        <button class="btn-file-input">Agregar Archivos</button>
        <input type="file" name="file" id="AgregarSueldoFijo3"/>
       </div>
        
        
        
      
        
     
        
        
        
        </div>
    
    </div>


