<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	saddsa
</body>
  {% for arch in arch %} 
       {{arch.id}}
       {{arch.file}}
{% endfor %}
</html>