



<br>


<form  method="post" action="{{path('uploadfijo3ultimas')}}">
	<div id="uploader" style="width:900px;height:200px;margin-top: 80px;">
		<p></p>
	</div>
</form>
<script type="text/javascript">
    

$(function() {
	$("#uploader").plupload({
		// General settings
		runtimes : 'html5,flash',
		url : 'uploadfijo3ultimas',
		max_file_size : '1000mb',
		max_file_count: 20, // user can add no more then 20 files at a time
		chunk_size : '1mb',
                autostart : true,
		rename: true,
		multiple_queues : true,

		// Resize images on clientside if we can
		// resize : {width : 320, height : 240, quality : 90},
		
		// Rename files by clicking on their titles
		rename: true,
		
		// Sort files
		sortable: true,

		// Specify what files to browse for
		filters : [
			{title : "Image files", extensions : "jpg,gif,png"},
			{title : "Zip files", extensions : "zip,avi,pdf,doc,pdf"}
		],

		// Flash settings
		flash_swf_url : "{{asset('bundles/benchupload/js/plupload.flash.swf')}}",

		// Silverlight settings
		silverlight_xap_url : "{{asset('bundles/benchupload/js/plupload.silverlight.xap')}}",
	});

	// Client side form validation
	$('form').submit(function(e) {
        var uploader = $('#uploader').plupload('getUploader');

        // Files in queue upload them first
        if (uploader.files.length > 0) {
            // When all files are uploaded submit form
            uploader.bind('StateChanged', function() {
                if (uploader.files.length === (uploader.total.uploaded + uploader.total.failed)) {
                    $('form')[0].submit();
                }
            });
                
            uploader.start();
        } else
            alert('You must at least upload one file.');

        return false;
    });
	 

});


</script>