<form  method="post" action="{{path('carnet')}}">

    <div id="uploader12" style="width:950px;height:200px;margin-top:250px;position: relative;">
        
        <p></p>
        
        
    </div>
</form>

<script type="text/javascript">


    $(document).ready(function() {



        $(function() {
            $("#uploader12").plupload({
              
                runtimes: 'html5,flash',
                url: 'carnet',
                max_file_size: '1000mb',
                autostart : true,
                max_file_count: 20, 
                chunk_size: '1mb',
                rename: true,
                multiple_queues: true,
              
                rename: true,
                     
                        sortable: true,
              
                filters: [
                    {title: "Image files", extensions: "jpg,gif,png"},
                    {title: "Zip files", extensions: "zip,avi,pdf,doc,pdf"}
                ],
          
          
          
                flash_swf_url: "{{asset('bundles/benchupload/js/plupload.flash.swf')}}",
              
                silverlight_xap_url: "{{asset('bundles/benchupload/js/plupload.silverlight.xap')}}",
            });

            $('form').submit(function(e) {
                var uploader = $('#uploader').plupload('getUploader');

                if (uploader.files.length > 0) {
                
                
                
                    uploader.bind('StateChanged', function() {
                        if (uploader.files.length === (uploader.total.uploaded + uploader.total.failed)) {
                            $('form')[0].submit();
                        }
                    });

                    uploader.start();
                } else
                    alert('You must at least upload one file.');

                return false;
            });


        });
    });
    </script>
    


