<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>



<style type="text/css">
	body {
		font-family:Verdana, Geneva, sans-serif;
		font-size:13px;
		color:#333;
		background:url(bg.jpg);
	}
</style>

<script src="{{ asset('bundles/benchpaginas/js/html5.js') }}"></script>
<script type="text/javascript" src="http://bp.yahooapis.com/2.4.21/browserplus-min.js"></script>

<script type="text/javascript" src="{{asset('bundles/benchupload/js/plupload.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/benchupload/js/plupload.gears.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/benchupload/js/plupload.silverlight.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/benchupload/js/plupload.flash.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/benchupload/js/plupload.browserplus.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/benchupload/js/plupload.html4.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/benchupload/js/plupload.html5.js')}}"></script>

</head>
<body>

<h1>test upload nuevo</h1>

<p>.</p>

<div id="container">
    <div id="filelist">lista archivos.</div>
    <br />
    <a id="pickfiles" href="javascript:;">Selecciona</a> 
    <a id="uploadfiles" href="javascript:;">[Upload files]</a>
</div>


<div id="container">





<form id='upload5' action="{{path('uploadArchivo5')}}" method='post'></form>

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>


<script type="text/javascript">
    $('document').ready(function() {
// Custom example logic

var navegador = navigator.appName;

if (navegador == 'Microsoft Internet Explorer'){
    

function $(id) {
	return document.getElementById(id);	
}

var uploader = new plupload.Uploader({
	
        
        runtimes : 'flash',
	browse_button : 'pickfiles',
	container: 'container',
	max_file_size : '10mb',
	url : 'uploadArchivo5',
	//resize : {width : 320, height : 240, quality : 90},
	flash_swf_url : '  {{asset('bundles/benchupload/js/plupload.flash.swf')}}',
	silverlight_xap_url : 'bundles/benchupload/js/plupload.silverlight.xap',
        
        
      
	filters : [
		{title : "Image files", extensions : "jpg,gif,png"},
		{title : "Zip files", extensions : "zip"}
	]
});


uploader.bind('Init', function(up, params) {
	$('filelist').innerHTML = "<div>Current runtime: " + params.runtime + "</div>";
});

uploader.init();

uploader.bind('FilesAdded', function(up, files) {
	for (var i in files) {
		$('filelist').innerHTML += '<div id="' + files[i].id + '">' + files[i].name + ' (' + plupload.formatSize(files[i].size) + ') <b></b></div>';
	}
});

uploader.bind('UploadProgress', function(up, file) {
	$(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
});

$('uploadfiles').onclick = function() {
	uploader.start();
	return false;
};


}else{
    
    
    function $(id) {
	return document.getElementById(id);	
}


var uploader = new plupload.Uploader({
	
        runtimes : 'html5',
	browse_button : 'pickfiles',
	container: 'container',
	max_file_size : '10mb',
	url : 'uploadArchivo5',
	resize : {width : 320, height : 240, quality : 90},
	flash_swf_url : '  ',
	silverlight_xap_url : 'bundles/benchupload/js/plupload.silverlight.xap',
        
        
      
	filters : [
		{title : "Image files", extensions : "jpg,gif,png"},
		{title : "Zip files", extensions : "zip"}
	]
});


uploader.bind('Init', function(up, params) {
	$('filelist').innerHTML = "<div>Current runtime: " + params.runtime + "</div>";
});

uploader.init();

uploader.bind('FilesAdded', function(up, files) {
	for (var i in files) {
		$('filelist').innerHTML += '<div id="' + files[i].id + '">' + files[i].name + ' (' + plupload.formatSize(files[i].size) + ') <b></b></div>';
	}
});

uploader.bind('UploadProgress', function(up, file) {
	$(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
});

$('uploadfiles').onclick = function() {
	uploader.start();
	return false;
};

    
    
}
});
</script>


  
</body>
</html>
