/* 


*/

/* estilos upload */

.subir p{
    font-size: 30px;
    
}
.subir{
    
    color:#999;margin-left: -400px;position: relative;width: 200px;height:20px; margin-top: 300px;;
    
}
.container-upload{
	font-family:Verdana, Geneva, sans-serif;
	width:640px;
	height: auto;
	float:left;
        margin-left: 20px;
        margin-top: 20px;
        
}

.box-upload{
	margin:10px 0;
	width:100%;
	height: auto;
	float:left;
}

.li-upload{
	margin:4px 0;
	color:#666;
	background-color: #F4F5F7;
    border-top: 3px solid #D3D3D3;
    font-size: 0.8em;
    line-height: 20px;
    padding-bottom: 8px;
    padding-top: 6px;
    float: left;
    width: 600px;
	}

.li-upload img{
	margin:0 10px;
	vertical-align:middle;
        float: left;
}


/*----Estos estilos ya existen solo se pusieron para visualizar bien ---*/
.orange {
    color: #F60;
    float: left;
    
}






.file-input-wrapper {
    width: 200px;
    height: 40px;
    overflow: hidden;
    position: relative;
}
.file-input-wrapper > input[type="file"] {
    font-size: 200px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}

.btn-file-input {
    -moz-box-shadow:inset 0px 1px 0px 0px #ff8400;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ff8400;
	box-shadow:inset 0px 1px 0px 0px #ff8400;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f95b00), color-stop(1, #d94d1f) );
	background:-moz-linear-gradient( center top, #f95b00 5%, #d94d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f95b00', endColorstr='#d94d1f');
	background-color:#f95b00;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #c74200;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight: normal;
	padding:3px 20px;
	text-decoration:none;
	text-shadow:1px 1px 0px #a33900;
	cursor:pointer;
        float:left;
}

.btn-file-input:hover {
    background-color:rgba(255,204,0,0.8);
}

.del_button{
    
    float:right;
    color:#F60;
    font-weight:bold;
    margin:0 10px;
}

#nombrefile{
    float: left;
}






.avisoUploadExlorer{
    
    width: 200px;
    height: 10px;
    position: relative;
    margin-left: -20px;
    margin-top: -30px;
    
    
}


.color-porcentaje{
    color: #666;
}

.carga-ie{
    
    width: 100px;
    height: 30px;
    margin-left: 20px;
    display: none;
}