{# empty Twig template #}
<script src="{{ asset('bundles/benchcreditos/js/CreditoHipotecario.js') }}"></script>
<script src="{{ asset('bundles/benchcreditos/js/calcularHipo.js') }}"></script>


<form class="form-box-qn" style="padding:0 0 5% 10%;" id="formCreditoHipotecario" action="{{path('guardahipotecario')}}" method="POST" data-validate="parsley" autocomplete="off">
     

<input type="hidden" id="token" value="{{token}}">       

<div class="col1" id="calculo">



    
    
    
    
<label class="label-text" for="rut">Valor Propiedad:</label>
    {%  if credito.tipo == 'Crédito Hipotecario' %}
		<input type="text" name="valor" placeholder="UF"  value="{{ credito.montoCredito }}"class="input-box" id="valor99" title="Debes ingresar el valor de la propiedad en Unidad de Fomento"   onkeyup="puntitos(this,this.value.charAt(this.value.length-1))"  />

    {%  else %}

       <input type="text" name="valor" placeholder="UF" class="input-box" id="valor99" title="Debes ingresar el valor de la propiedad en Unidad de Fomento"   onkeyup="puntitos(this,this.value.charAt(this.value.length-1))"  />



   {%  endif %}


    <input type="hidden" value="" name="idUCreditoHipotecario" >

  
        
<label class="label-text" for="rut">Monto de Píe:</label>

    {%  if credito.tipo == 'Crédito Hipotecario' %}

		<input type="text" name="pie" placeholder="UF" value="{{ credito.pie }}"class="input-box" id="pie99" title="Debes ingresar el valor de la propiedad en Unidad de Formento, generalmente es un 10% o 20%" onkeyup="puntitos(this,this.value.charAt(this.value.length-1))" />


    {% else %}




        <input type="text" name="pie" placeholder="UF" class="input-box" id="pie99" title="Debes ingresar el valor de la propiedad en Unidad de Formento, generalmente es un 10% o 20%" onkeyup="puntitos(this,this.value.charAt(this.value.length-1))" />



    {% endif %}


<label class="label-text" for="rut">Porcentaje:</label>

    {%  if credito.tipo == 'Crédito Hipotecario' %}

		<input type="text" name="porcentaje" value="{{ credito.pieP }}" placeholder="%" class="input-box" id="porcentaje99" />

    {%  else %}

        <input type="text" name="porcentaje" placeholder="%" class="input-box" id="porcentaje99" />

    {% endif %}
  

  <label class="label-text" for="rut">Monto de Crédito:</label>



    {%  if credito.tipo == 'Crédito Hipotecario' %}

  <input type="text" name="monto" value="{{ credito.montoPropiedadSin }}" placeholder="$" title="Ingresa monto en pesos sin puntos ni comas" class="input-box" id="total99" onkeyup="puntitos(this,this.value.charAt(this.value.length-1))"  />
    
   {% else %}

    <input type="text" name="monto" placeholder="$" title="Ingresa monto en pesos sin puntos ni comas" class="input-box" id="total99" onkeyup="puntitos(this,this.value.charAt(this.value.length-1))"  />


    {% endif %}
        
        </div>


        

        
        
        
        <div class="col1">
        
       

    <label class="label-text" for="nombres">Plazo de Cr&eacute;dito</label>
<select class="data" select="selected" name="plazo" id="plazoCreditoH">
    {%  if credito.tipo == 'Crédito Hipotecario' %}

        <option value="{{ credito.plazo }}">{{ credito.plazo }} años</option>

    {% else %}



    {% endif %}

<option value="">Opción</option>
<option value="6">6 años</option>
<option value="7">7 años</option>
<option value="8">8 años</option>
<option value="9">9 años</option>
<option value="10">10 años</option>
<option value="11">11 años</option>
<option value="12">12 años</option>
<option value="13">13 años</option>
<option value="14">14 años</option>
<option value="15">15 años</option>
<option value="16">16 años</option>
<option value="17">17 años</option>
<option value="18">18 años</option>
<option value="19">19 años</option>
<option value="20">20 años</option>
<option value="21">21 años</option>
<option value="22">22 años</option>
<option value="23">23 años</option>
<option value="24">24 años</option>
<option value="25">25 años</option>
<option value="26">26 años</option>
<option value="27">27 años</option>
<option value="28">28 años</option>
<option value="29">29 años</option>
<option value="30">30 años</option>

</select>

    <label class="label-text" for="nombres">Tipo de Propiedad</label>
               <select class="data" select="selected"  id="tipoPropiedad"name="tipopropiedad">
<option value="">Opción</option>
<option value="Casa">Casa</option>
<option value="Departamento">Departamento</option>
<option value="Terreno">Terreno</option>
<option value="Otro">Otro</option>
</select>

  <label class="label-text" for="nombres">Estado</label>
<select class="data" select="selected" name="estado" id="estadoPropiedad">
<option value="">Opción</option>
<option value"Usada">Usada</option>
<option value="Nueva">Nueva</option>

</select>


        
              <label class="label-text2" for="rut">¿Tu propiedad es DFL2 y nueva?</label>
              
              <p class="rad">
              <input type="radio" id="radio1" name="dfl2" value="si">
              <label for="radio1" >Si</label>
              <input type="radio" id="radio2" name="dfl2"value="no" checked>
              <label for="radio2"  >No</label>
              </p>
              
               <!--<p class="rad">Si<input type="radio"  id="radio1" value="si" name="dfl2">
			   No<input type="radio" value="no" name="dfl2"></p>--> 
               
               </div>   
    
    
    <div class="col1" style="margin-top: -2px;">




     <label class="label-text2" for="institucion">Cuándo piensas comprar </label>
               <select class="data" select="selected" name="tiempo" id="CuandoHipotecario">
<option value="">Opción</option>
<option value="En 30 días más">En 30 días más</option>
<option value="En 60 días más">En 60 días más</option>
<option value="En 90 días más">En 90 días más</option>
<option value="En más de 90 días">En más de 90 días</option>
</select>   




        
        <label class="label-text" for="nombres">Comuna donde desea comprar </label>
       
        <input type="text" name="comunaDondeComprar" class="input-box" id="comunaDondeComprar" data-validation-engine="validate[required]" data-required="true"   />
        
        
        <label class="label-text" for="nombres">Proyecto / Inmobiliaria </label>
        
        
        <input type="text" name="proyectoInmobiliaria"  class="input-box" id="proyectoInmobiliaria"    />
        
        
    



        
    
    
    </div>
        
    <div class="col-vacia"></div> 
    <div class="clearfix"></div>                              
<div class="col1">
      <button style="float:left;" id="BtnCreditoHipotecario" class="classname" value="Agregar" type="submit"  >GUARDAR Y SIGUIENTE</button></div>     
            </form>     

            <section id="RespuestaCreditoHipotecario">
              


            </section>  