{# empty Twig template #}

<script src="{{ asset('bundles/benchcreditos/js/combos.js') }}"></script>
<script src="{{ asset('bundles/benchcreditos/js/CreditoConsolidacion.js') }}"></script>

<form id="combocon"  action="{{path('comboconsolidacion')}}" autocomplete="off">
    

</form>
<form class="form-box-qn" style="padding:0 0 5% 10%;" id="formCons" action="{{path('guardaconsolidacion')}}" method="POST" autocomplete="off">
  

<input type="hidden" id="token" value="{{token}}">

    
    
  
  
  <div class="col1">
<label class="label-text" for="nombres">Crédito a Consolidar / Refinanciar</label>
               <select class="data" select="selected" name="tipo" id="ComboCon1" >
<option value="">Opción</option>
<option value="Hipotecario"> Hipotecario</option>
<option value="Consumo">Consumo</option>
<option value="Automotriz">Automotriz</option>
<option value="Tarjeta">Tarjeta de Crédito</option>
</select>

<label class="label-text" for="">Monto de Cr&eacute;dito:</label>
		<input type="text" name="montoCon1" id="montoCon1" class="input-box2" id="rut" title="Ingresa monto en pesos sin puntos ni comas" placeholder="$"  onkeyup="puntitos(this,this.value.charAt(this.value.length-1))" />
        
<label class="label-text" for="">Plazo Solicitado</label>
<select class="data" select="selected" name="plazo" id="ComboCon2">
<option value="">Opción</option>               

</select>        




</div>






  <div class="col1">
<label class="label-text" for="nombres">Crédito a Consolidar / Refinanciar</label>
               <select class="data" select="selected" name="tipo" id="ComboCon3">
<option value="">Opción</option>
<option value="Hipotecario"> Hipotecario</option>
<option value="Consumo">Consumo</option>
<option value="Automotriz">Automotriz</option>
<option value="Tarjeta">Tarjeta de Crédito</option>
</select>

<label class="label-text" for="rut">Monto de Cr&eacute;dito:</label>
		<input type="text" name="montoCon3" id="montoCon3" class="input-box2" id="rut" title="Ingresa monto en pesos sin puntos ni comas" placeholder="$"  onkeyup="puntitos(this,this.value.charAt(this.value.length-1))"/>

        
<label class="label-text" for="nombres">Plazo Solicitado</label>
               <select class="data" select="selected" name="plazo" id="ComboCon4">
<option value="">Opción</option>               

</select>        
        
 </div>       



 
  <div class="col1">
<label class="label-text" for="nombres">Crédito a Consolidar / Refinanciar</label>
               <select class="data" select="selected" name="tipo" id="ComboCon5">
<option value="">Opción</option>
<option value="Hipotecario"> Hipotecario</option>
<option value="Consumo">Consumo</option>
<option value="Automotriz">Automotriz</option>
<option value="Tarjeta">Tarjeta de Crédito</option>
</select>

<label class="label-text" for="rut">Monto de Cr&eacute;dito:</label>
		<input type="text" name="montoCon5" id="montoCon5" class="input-box2" title="Ingresa monto en pesos sin puntos ni comas"  placeholder="$"  onkeyup="puntitos(this,this.value.charAt(this.value.length-1))"/>
        
<label class="label-text" for="nombres">Plazo Solicitado</label>
               <select class="data" select="selected" name="plazo" id="ComboCon6">
<option value="">Opción</option>               

</select>        
        
 </div>       
        


        
  
      <button style="float:left;" id="guardadatos1" class="classname" value="Agregar" type="submit" >GUARDAR Y SIGUIENTE</button>     
      </form>
      <section id="RespuestaCons"></section>