{# empty Twig template #}


<script src="{{ asset('bundles/benchcreditos/js/CreditoConsumo.js') }}"></script>
 <form class="form-box-qn" style="padding:0 0 5% 10%;" action="{{path('guardaconsumo')}}" method="POST" id="formCreditoConsumo" autocomplete="off">


<input type="hidden" id="token" value="{{token}}">
<div class="col1">
<label class="label-text" for="rut">Monto de Cr&eacute;dito:</label>

    {%  if credito.tipo == 'Crédito Consumo' %}


        <input type="text" name="valor" class="input-box2" value="{{credito.montoCredito}}"id="montoCredito" title="Ingresar monto en pesos sin puntos ni comas" placeholder="$" onkeyup="puntitos(this,this.value.charAt(this.value.length-1))" />

    {% else %}

     <input type="text" name="valor" class="input-box2" value="{{credito.montoCredito}}"id="montoCredito" title="Ingresar monto en pesos sin puntos ni comas" placeholder="$" onkeyup="puntitos(this,this.value.charAt(this.value.length-1))" />


    {% endif %}




  <label class="label-text" for="nombres">Plazo de Cr&eacute;dito</label>
<select class="data" select="selected" name="plazo" id="plazoCreditoConsumo"  data-validation-engine="validate[required]" >
   {% if credito.tipo == 'Crédito Consumo' %}

      <option value="credito.plazo"> {{credito.plazo}}</option>


    {%  endif %}
    <option value="">Opción</option>
    <option value="6">  6 meses</option>
    <option value="12">12 meses</option>
    <option value="18">18 meses</option>
    <option value="24">24 meses</option>
    <option value="36">36 meses</option>
    <option value="48">48 meses</option>
    <option value="60">60 meses</option>



</select>
        
              <label class="label-text2" for="rut">Seguros Asociados</label>
              
               <p class="rad">
                   <input type="checkbox" id="chk1" name="seguro1" value="Degravamen">
                    <label for="chk1">Desgravamen</label>
                   <input type="checkbox" id="chk2" name="seguro1"value="Cesantía">
                    <label for="chk2">Cesantía</label>
                   
                   <!--Degravamen<input type="checkbox" value="Degravamen" name="seguro1">
         Cesantía<input type="checkbox" value="Cesantía" name="seguro1">-->
                   
                   </p> 
         
         </div>
         
         <div class="col1">
         <label class="label-text" for="nombres">¿Para qué utilizarás el Dinero?</label>
         <textarea class="textarea2" id="paraqueConsumo" title="Ingresa un breve comentario, por ejemplo: Vacaciones, Renovar tu hogar, etc."  cols="" rows="" name="paraque"></textarea>
         </div>        
        <div class="clearfix"></div>
    <div class="col1">

      
      <button style="margin-top:20px; float:left;" id="guardaCreditoConsumo" class="classname" value="Agregar" type="submit" onClick="">GUARDAR Y SIGUIENTE</button></div>     
            
    <section id="respuestaconsumo2"></section>
     </form>