
{# empty Twig template #}

<script src="{{asset('bundles/benchcreditos/js/CreditoCuentaCor.js') }}"></script>

<form class="form-box-qn" style="padding:0 0 5% 10%;" action="{{path('guardaCuentaCorriente')}}"  method="POST" id="formCuenta" autocomplete="off">



<input type="hidden" id="token" value="{{token}}">
<input type="hidden" name="idUser" value="<?php echo $idUser3;?>">
<label class="label-text" for="rut">Elije los productos que deseas contratar</label>
:
              
               <p class="rad">
                   
                   <input type="checkbox" id="producto1" name="producto1" value="Línea de Crédito">
                    <label for="producto1">Línea de Crédito</label>
                    
                   <input type="checkbox" id="producto2" name="producto2"value="Tarjeta de crédito">
                    <label for="producto2">Tarjeta de Crédito</label>
                    
                   <input type="checkbox" id="producto3" name="producto3" value="Cheques">
                    <label for="producto3">Chequera</label>
       
                  <!--<input type="checkbox" value="Linea de Crédito" id="producto1" name="producto1">  
                  Línea de Crédito<br>
			      <input type="checkbox" value="Tarjeta de crédito"  id="producto2"name="producto2">  
			      Tarjeta de Crédito<br>
                  <input type="checkbox" value="Cheques" name="producto3" id="producto3">  Cheques-->
               </p>   
                   
        
    <div class="col1">
      <button style="float:left; margin-top:20px;" id="guardacuenta" class="classname" value="Agregar" type="submit" >GUARDAR Y SIGUIENTE</button></div>     
  </form>
  <section id="RespuestaCuentac"></section>
  