{# empty Twig template #}

<script src="{{ asset('bundles/benchcreditos/js/CreditoAutomotriz.js') }}"></script>
<meta name="robots" content="noindex">
<form class="form-box-qn" style="padding:0 0 5% 10%;" id="formCreditoAutomotriz" action="{{path('guardaautomotriz')}}" method="POST" autocomplete="off">
  

<input type="hidden" id="token" value="{{token}}">            
 <input type="hidden" >
              <div class="col1">

              
<label class="label-text" for="rut">Monto del Auto:</label>

		<input type="text" name="valor" id="valorAutomotriz" data-toggle="tooltip" title="Ingresa monto en pesos sin puntos ni comas" placeholder="$" class="input-box2" id="valor" placeholder="$" onkeyup="puntitos(this,this.value.charAt(this.value.length-1))" />  
		
<label class="label-text" for="rut">Monto del Píe:</label>
		<input type="text" name="monto" placeholder="$"  class="input-box2" id="pieAutomotriz" title="Ingresa monto en pesos sin puntos ni comas" placeholder="$" onkeyup="puntitos(this,this.value.charAt(this.value.length-1))" />
        
       
                

                
        
 <label class="label-text2" for="institucion">Plazo del Crédito</label>
               <select class="data" select="selected" name="plazo" id="plazoAutomotriz">
<option value="">Opción</option>
<option value="6">  6 meses</option>
<option value="12">12 meses</option>
<option value="18">18 meses</option>
<option value="24">24 meses</option>
<option value="36">36 meses</option>
<option value="48">48 meses</option>
<option value="60">60 meses</option>
</select>

</div>

<div class="col1">
 <label class="label-text2" for="institucion">Cuándo piensas comprar tu auto</label>
               <select class="data" select="selected" name="tiempo" id="CuandoAutomotriz">
<option value="">Opción</option>
<option value="En 30 días más">En 30 días más</option>
<option value="En 60 días más">En 60 días más</option>
<option value="En 90 días más">En 90 días más</option>
<option value="En más de 90 días">En más de 90 días</option>
</select>                 
              
<label class="label-text2" for="institucion">Marca de Auto</label>
               <select class="data" select="selected" name="marca" id="marcaAutomotriz">
               <option value="">Opción</option>
               <option value="ACADIAN">ACADIAN</option>



												<option value="ALFA ROMEO">ALFA ROMEO</option>



												<option value="ASIA MOTORS">ASIA MOTORS</option>



												<option value="AUDI">AUDI</option>



												<option value="BMW">BMW</option>



												<option value="BRILLIANCE">BRILLIANCE</option>



												<option value="BYD">BYD</option>



												<option value="CHANGAN">CHANGAN</option>



												<option value="CHERY">CHERY</option>



												<option value="CHEVROLET">CHEVROLET</option>



												<option value="CHRYSLER">CHRYSLER</option>



												<option value="CITROEN">CITROEN</option>



												<option value="DAEWOO">DAEWOO</option>



												<option value="DAIHATSU">DAIHATSU</option>



												<option value="DODGE">DODGE</option>



												<option value="FIAT">FIAT</option>



												<option value="FORD">FORD</option>



												<option value="GEELY">GEELY</option>



												<option value="GREAT WALL">GREAT WALL</option>



												<option value="HAFEI">HAFEI</option>



												<option value="HAIMA">HAIMA</option>



												<option value="HONDA">HONDA</option>



												<option value="HYUNDAI">HYUNDAI</option>



												<option value="JAC">JAC</option>



												<option value="JAGUAR">JAGUAR</option>



												<option value="JEEP">JEEP</option>



												<option value="KIA">KIA</option>



												<option value="LANCIA">LANCIA</option>



												<option value="LAND ROVER">LAND ROVER</option>



												<option value="LEXUS">LEXUS</option>



												<option value="LIFAN">LIFAN</option>



												<option value="MAHINDRA">MAHINDRA</option>



												<option value="MAZDA">MAZDA</option>



												<option value="MERCEDES BENZ">MERCEDES BENZ</option>



												<option value="MG">MG</option>



												<option value="MINI">MINI</option>



												<option value="MITSUBISHI">MITSUBISHI</option>



												<option value="NISSAN">NISSAN</option>



												<option value="OPEL">OPEL</option>



												<option value="PEUGEOT">PEUGEOT</option>



												<option value="PORSCHE">PORSCHE</option>



												<option value="PROTON">PROTON</option>



												<option value="RENAULT">RENAULT</option>



												<option value="ROVER">ROVER</option>



												<option value="SAMSUNG">SAMSUNG</option>



												<option value="SEAT">SEAT</option>



												<option value="SKODA">SKODA</option>



												<option value="SSANGYONG">SSANGYONG</option>



												<option value="SUBARU">SUBARU</option>



												<option value="SUZUKI">SUZUKI</option>



												<option value="TOYOTA">TOYOTA</option>



												<option value="VOLKSWAGEN">VOLKSWAGEN</option>



												<option value="VOLVO">VOLVO</option>



												<option value="ZOTYE">ZOTYE</option>



												<option value="ZX AUTO">ZX AUTO</option>



										</select>
                                        
 <label class="label-text2" for="institucion">Año del Auto</label>
               <select class="data" select="selected" name="ano" id="anoAutomotriz">
<option value="">Opción</option><option value="1997">1997</option>
<option value="1998">1998</option>
<option value="1999">1999</option>
<option value="2000">2000</option>
<option value="2001">2001</option>
<option value="2002">2002</option>
<option value="2003">2003</option>
<option value="2004">2004</option>
<option value="2005">2005</option>
<option value="2006">2006</option>
<option value="2007">2007</option>
<option value="2008">2008</option>
<option value="2009">2009</option>
<option value="2010">2010</option>
<option value="2011">2011</option>
<option value="2012">2012</option>
<option value="2013">2013</option>
</select>
</div>
    <div class="clearfix"></div>                              
<div class="col1">
      <button style="float:left;" id="ButonCreditoAuto" class="classname" value="Agregar" type="submit" onClick="" >GUARDAR Y SIGUIENTE</button></div>     
            </form>      

            <section id="RespuestaCreditoAutomotriz">
            	

            </section> 
