<!DOCTYPE HTML>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Mis Cotizaciones</title>
<form id="cotizarForm" action="{{path('enviarCotizacion')}}"></form>
<link href="{{ asset('bundles/benchpaginas/css/form.css') }}" rel="stylesheet">
<script>
    
    $(document).ready(function() {
        
        $('#mensajeCot').hide('fast');
        
    $("#enviarCotizacion").on("click", ".checkCotizar", function(e) {
        
        var clickedID = this.id.split('-');
        var DbNumberID = clickedID[1]; // toma el numero del array
        
  
                var myData =   'idCredito=' + DbNumberID;
                 
                var input = document.getElementById("adjuntar-" + id);
                jQuery.ajax({
                    type: "POST",
                    url: $("#cotizarForm").attr("action"),
                    dataType: "text",
                    data: myData,
                    
                    success: function(response) {
                        
                     $("#MensajeCot-" + DbNumberID).css("display", "block");
               
                        
                        
                        
                        


                    },
                    error: function(xhr, ajaxOptions, thrownError) {

                        alert(thrownError);
                    }

                });
                
                
        
        console.log(DbNumberID);
        
        console.log('cotizar');
        
        
        
        
    });
      });
    
</script>    
</head>

<body>
    
      <h3 id="mensajeCot">Cotización Enviada</h3>
    
    {% set cotizaciones = usuario.cotizaciones %}
<div class="container-miscoti">

<div class="datagrid">
  <table id="Tablecotizacion1">
<thead><tr>
    <th width="25%">Fecha de Solicitud</th>
    <th width="25%">Producto</th>
    <th width="25%">Monto</th>
    <th width="25%">Plazo</th></tr></thead>
<tbody>
    
 {% set CreditoConsumo = usuario.creditoconsumo%}
 {% set CreditoAutomotriz = usuario.creditoautomotriz %}      
 {% set CreditoHipotecario  = usuario.creditohipotecario %}       
 {% set CreditoConsolidacion = usuario.creditoconsolidacion %}  
 {% set creditocuenta = usuario.creditocuenta %}    
    {% set cotizaciones = usuario.cotizaciones %}        

    
    
      {% for  CreditoConsumo  in CreditoConsumo %}
                   

            

                        <td ></td>
                        <td>Crédito Consumo</td>
           
                        <td>{{CreditoConsumo.montoCredito}}</td>
                       <td>{{CreditoConsumo.plazoCredito}}</td>
                     
                    </tr>
                    
     

                  {% endfor %}

                    <!-- INICIO  Credito Automotriz -->

                   {% for CreditoAutomotriz in CreditoAutomotriz %}
                    
                    
                    <tr>
                        <td></td>
                        <td>Crédito Automotriz </td>

                        <td>{{CreditoAutomotriz.monto}} </td>
                        <td>{{CreditoAutomotriz.plazo}} </td>
                        
                    </tr>
       
                    {% endfor %}



                    {% for CreditoHipotecario in CreditoHipotecario%}
     
                    <tr>

                        <td></td>
                        <td>Crédito Hipotecario </td>
                        <td>{{CreditoHipotecario.montoCredito|number_format(0, '.', '.')}} </td>
                        <td>{{CreditoHipotecario.plazoCredito}} </td>
                    </tr>    

                    <!-- FIN Credito Automotriz -->
    
                    {% endfor %}


                    <!-- Credito consolidacion -->
                  {% for CreditoConsolidacion in CreditoConsolidacion %}
                 
                    <tr>
                        
                        
            <td></td>            
            <td>Crédito Consolidacion Deuda</td>
            <td>{{CreditoConsolidacion.montoCredito|number_format(0, '.', '.')}} </td>
            <td>{{CreditoConsolidacion.plazo}} </td>
 
  
                    </tr>
                 
{% endfor %}
                    
                    
                    {% for creditocuenta in creditocuenta %}
             
                    
                    
                    <tr>
                        
                        <td></td>
                        <td>Cuenta Corriente {{creditocuenta.producto}} {{creditocuenta.producto2}} {{creditocuenta.producto3}} </td>
                        <td></td>
                        <td></td>
                        
                    </tr>
           
                    
                    {% endfor %}
                    
                    

</tbody>
</table>
</div>
<br>
<br>
<div class="datagrid">
  <table id="enviarCotizacion">
    <thead>
      <tr>
        <th width="23%">Bancos</th>
        <th width="70%">Oferta</th>
        <th width="7%">Contratar</th>
        </tr>
    </thead>
    <tbody>
      
        {% for cotizaciones in cotizaciones %}
         {% if cotizaciones.estado != 'Cotizado' %}
        
        <tr  id="cotizacionTr-{{cotizaciones.id}}" >
            
        <td>{{cotizaciones.banco}}  </td>
        
        <td>
            {% if cotizaciones.motivoRechazo %}
            {{cotizaciones.motivoRechazo}}
             {% else %}   
            
            <a href="{{cotizaciones.Archivourl}}" target="_blank"><img src="{{ asset('bundles/benchpaginas/img/view_icon.png')}}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a><span id="MensajeCot-{{cotizaciones.id}}" style="display:none;width: 140px;height: auto;position:relative;float:right;margin-left: -500px;">Cotización Enviada</span></td>
        
            {% endif %}
            <td>
          <div class="squaredTwo">
            <input type="hidden" id="tipoCotizacion-{{cotizaciones.id}}" value="{{cotizaciones.tipo}}">
            <input type="checkbox" id="chk4-{{cotizaciones.id}}"  class="checkCotizar"name="name" value="SI">
            <label for="chk4-{{cotizaciones.id}}"></label>
          </div></td>
        </tr>
        
        
        {% endif %}
 
        {% endfor %}
        
  
  
    </tbody>
  </table>
</div>


<div class="line-separator"></div>



</body>

</html>

