
{% extends "BenchPaginasBundle:Default:credito1.html.twig" %}

  



 {% block formulario %}






     <div class="boxRounder">
         <div class="linea"><h2>&nbsp;&nbsp;&nbsp;&nbsp;Elige las condiciones de tu crédito</h2>  </div>
         <br>


         <h1 class="titulo">Crédito Hipotecario</h1>







         <img id="" src="{{asset('bundles/benchpaginas/img/icon_hi_gray.png')}}" style="position:absolute;width:130px;
    height: 130px;margin-left:84%;margin-top:2%; ">



         <div style="clear:both;"></div>

         <br>



         <style>


         </style>
         </h1>

         <input type="hidden"  value="{{token}}" id="token">
         <form id="usuarioNoRegistrados" action="{{path('usuarioNoRegistrados')}}" ></form>




         <div class="mensajes2" style="margin-top: 5%; ">



             <div style="width:100px;height:0px; margin-top:1%; "></div>

             <div style="width:100px;height:10px; margin-top:-10%;"></div>


             <ul id="respuestaTexto" class="respuestaTexto2">






             </ul>



         </div>

         <div style="width:100px;height:40px;"></div>
         <div style="clear:both;"></div>

         <section id="formularioHipo" style="max-left:40%; margin-top: -5%;">






             <section class="columna1" id="columnaIzq" style="margin-left:4%;">





                 <div class="form-group">
                     <label for="inputEmail3" class="col-sm-2 control-label">Sueldo Liquido (Pesos)</label>


                     <div class="col-sm-10">
                         <input type="text" class="form-control" style="margin-left:;" id="sueldoConsumo" placeholder="$" onkeyup="puntitos(this,this.value.charAt(this.value.length-1))">
                     </div>
                 </div>


                 <div class="form-group">
                     <label for="inputEmail3" class="col-sm-2 control-label"> Valor Propiedad (UF) </label>


                     <div class="col-sm-10">
                         <input type="text" class="form-control" style="margin-left:;" id="ValorPropiedad" placeholder="UF" onkeyup="puntitos(this,this.value.charAt(this.value.length-1))">
                     </div>
                 </div>
                 <div class="form-group">
                     <label for="inputPassword3" class="col-sm-2 control-label">Pie en UF</label>

                     <div class="col-sm-10">
                         <input type="text" class="form-control"  style=""  id="montoPropiedad" placeholder="UF" onkeyup="puntitos(this,this.value.charAt(this.value.length-1))" >
                     </div>
                 </div>



             </section>



             <section class="separador"></section>

             <section class="columna1" style="">


                 <div class="form-group">

                     <label for="inputPassword3" class="col-sm-2 control-label">Pie</label>

                     <div class="col-sm-10">
                         <input type="email" class="form-control"  style="" id="pie"  READONLY id="email" placeholder="Pie">
                     </div>
                 </div>


                 <div class="form-group">

                     <label for="inputPassword3" class="col-sm-2 control-label">Plazo años</label>
                     <div class="col-sm-10">
                         <select class="form-control"  select="selected" name="plazo" id="plazoCredito">
                             <option value="">Opción</option>
                             <option value="6">6 años</option>
                             <option value="7">7 años</option>
                             <option value="8">8 años</option>
                             <option value="9">9 años</option>
                             <option value="10">10 años</option>
                             <option value="11">11 años</option>
                             <option value="12">12 años</option>
                             <option value="13">13 años</option>
                             <option value="14">14 años</option>
                             <option value="15">15 años</option>
                             <option value="16">16 años</option>
                             <option value="17">17 años</option>
                             <option value="18">18 años</option>
                             <option value="19">19 años</option>
                             <option value="20">20 años</option>
                             <option value="21">21 años</option>
                             <option value="22">22 años</option>
                             <option value="23">23 años</option>
                             <option value="24">24 años</option>
                             <option value="25">25 años</option>
                             <option value="26">26 años</option>
                             <option value="27">27 años</option>
                             <option value="28">28 años</option>
                             <option value="29">29 años</option>
                             <option value="30">30 años</option>
                         </select>
                     </div>
                 </div>

                 <div class="form-group">
                     <label for="inputPassword3" class="col-sm-2 control-label">Email</label>

                     <div class="col-sm-10">
                         <input type="email" class="form-control"  style=""  id="email" placeholder="Email">
                     </div>
                 </div>




             </section>


             <div style="clear:both;"></div>


             <button class="classname"  id="simular" style="margin-left:4%;">Simular</button>



             <div id="separador" style="widht:20px;height:20px;"></div>
             <div id="respuesta" style="display:none;">


                 <form id="simulacionesSave" action="{{ path('simulacionesSave') }}" method="post"></form>

             </div>




         </section>




     </div>



     <a href="#" id="show" class="button left" style="display:none;">Show it</a>
     <script src="{{ asset('bundles/benchpaginas/js/jquery.avgrund.js') }}"></script>


     <script>
     $('document').ready(function($) {



         function validarEmail( email ) {
             expr = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

             if ( !expr.test(email) ){


                 return 0;

             }else{

                 return  1;



             }

         }

         $('#mensajes2').hide('fast')
         var uf2 = '{{uf}}';

         var uf2 = uf2.replace(",", "m");
         var uf2 = uf2.replace(".", "");
         var uf2 = uf2.replace(".", "");
         var uf2 = uf2.replace("m", ".");
         var respuestaPos = jQuery('#respuesta').offset().top;

         var tasaMensual =  Math.pow (  ((4.4/100) + 1 )    , (1/12) ) - 1;




         function formato_numero(numero, decimales, separador_decimal, separador_miles) {
             numero = parseFloat(numero);
             if (isNaN(numero)) {
                 return "";
             }

             if (decimales !== undefined) {
                 //
                 numero = numero.toFixed(decimales);
             }

             //
             numero = numero.toString().replace(".", separador_decimal !== undefined ? separador_decimal : ",");

             if (separador_miles) {
                 //
                 var miles = new RegExp("(-?[0-9]+)([0-9]{3})");
                 while (miles.test(numero)) {
                     numero = numero.replace(miles, "$1" + separador_miles + "$2");
                 }
             }

             return numero;
         }




// input suledo condiciones 
         $("#sueldoConsumo").focusout(function(){

             $('#respuestaTexto1').empty();

             $('.mensajes2').css("display", "none");
             $(".columna1").css("margin-top", "10%");



             var sueldo = $('#sueldoConsumo').val();
             var largo = sueldo.length;
             var i = 0;
             var sueldoSin = sueldo.replace(".", "");
             while(i <= largo ){i++; var sueldoSin = sueldoSin.replace(".", "");}


             if(sueldoSin <= 500000){









             }else{

                 $('#respuestaTexto').empty();

             }

             $('#montoPropiedad').focusout(function(event) {

                 $('#respuestaTexto').empty();

                 var sueldo = $('#sueldoConsumo').val();
                 var largo = sueldo.length;
                 var i = 0;
                 var sueldoSin = sueldo.replace(".", "");
                 while(i <= largo ){i++; var sueldoSin = sueldoSin.replace(".", "");}


                 var montoPropiedad = $('#montoPropiedad').val();
                 var largoMontopropiedad = montoPropiedad.length;
                 var i = 0;
                 var montoPropiedadSin = montoPropiedad.replace(".", "");
                 while(i <= largoMontopropiedad){ i++ ;   var montoPropiedadSin = montoPropiedadSin.replace(".", "");};


                 var ValorPropiedad = $('#ValorPropiedad').val();
                 var largoValorPropiedad = ValorPropiedad.length;
                 var i = 0;
                 var valorPropiedadSin = ValorPropiedad.replace("." , "");
                 while(i <= largoValorPropiedad){i++ ; var valorPropiedadSin = valorPropiedadSin.replace("." , "");};


                 // calculo pie


                 var pie  = valorPropiedadSin - montoPropiedadSin;
                 var por2 = (montoPropiedadSin * 100 / valorPropiedadSin ).toFixed(0);
                 $('#pie').val(por2+'%');
                 if(por2 < 10.00){




                     $('#pie').val(por2 + '%');

                 }





                 var sueldoUF = (sueldoSin / uf2).toFixed(2);
                 var condicion = (pie / sueldoUF).toFixed(2);



                 if(condicion >= 45){




                 }











                 $('#plazoCredito1').focusout(function(event) {
                     $('#respuestaTexto').empty();

                     var plazoAnos =   $('#plazoCredito').val();




                     var plazoMensual = plazoAnos * 12;
                     var sueldo = $('#sueldoConsumo').val();
                     var largo = sueldo.length;
                     var i = 0;
                     var sueldoSin = sueldo.replace(".", "");
                     while(i <= largo ){i++; var sueldoSin = sueldoSin.replace(".", "");}


                     if(sueldoSin <= 500000){

                     }else{
                         $('#respuestaTexto').empty();

                     }



                     var montoPropiedad = $('#montoPropiedad').val();
                     var largoMontopropiedad = montoPropiedad.length;
                     var i = 0;
                     var montoPropiedadSin = montoPropiedad.replace(".", "");
                     while(i <= largoMontopropiedad){ i++ ;   var montoPropiedadSin = montoPropiedadSin.replace(".", "");};

                     var ValorPropiedad = $('#ValorPropiedad').val();
                     var largoValorPropiedad = ValorPropiedad.length;
                     var i = 0;
                     var valorPropiedadSin = ValorPropiedad.replace("." , "");
                     while(i <= largoValorPropiedad){i++ ; var valorPropiedadSin = valorPropiedadSin.replace("." , "");};




                     var monto  = valorPropiedadSin - montoPropiedadSin;

                     var valorCuota = (monto * tasaMensual) / (1 - Math.pow(1 / (1 + tasaMensual), plazoMensual));




                     var redondiado = Math.floor(valorCuota);

                     var numero = formato_numero(redondiado, '0', '.', '.');
                     var totalPesos = numero * uf2;
                     var totalPesos = formato_numero(totalPesos, '0', '.','.');




                 });











             });




         });





//$('#tablaSueldo').css('display','none');

         $('#simular').click(function(event) {





             $('.mensajes2').css("display", "none");
             $(".columna1").css("margin-top", "10%");

             $('#respuestaTexto').empty();

             var plazoAnos =   $('#plazoCredito').val();
             var plazoMensual = plazoAnos * 12;
             var tasaMensual =  Math.pow (  ((4.4/100) + 1 )    , (1/12) ) - 1;
             var sueldo = $('#sueldoConsumo').val();
             var largo = sueldo.length;
             var i = 0;
             var sueldoSin = sueldo.replace(".", "");
             while(i <= largo ){i++; var sueldoSin = sueldoSin.replace(".", "");}







             var montoPropiedad = $('#montoPropiedad').val();
             var largoMontopropiedad = montoPropiedad.length;
             var i = 0;
             var montoPropiedadSin = montoPropiedad.replace(".", "");
             while(i <= largoMontopropiedad){ i++ ;   var montoPropiedadSin = montoPropiedadSin.replace(".", "");};

             var ValorPropiedad = $('#ValorPropiedad').val();
             var largoValorPropiedad = ValorPropiedad.length;
             var i = 0;
             var valorPropiedadSin = ValorPropiedad.replace("." , "");
             while(i <= largoValorPropiedad){i++ ; var valorPropiedadSin = valorPropiedadSin.replace("." , "");};



             if(montoPropiedad == '' || ValorPropiedad  == '' ||  plazoAnos == '' || sueldo == ''){

                 $('.mensajes2').css("display", "block");
                 $(".columna1").css("margin-top", "2%");
                 $('#respuestaTexto').append('<li> Debes completar todos los campos </li>');



             }else{



                 var tasaMensual =  Math.pow (  ((4.4/100) + 1 )    , (1/12) ) - 1;
                 var monto  = valorPropiedadSin - montoPropiedadSin;
                 var valorCuota = (monto * tasaMensual) / (1 - Math.pow(1 / (1 + tasaMensual), plazoMensual));
                 var redondiado = Math.floor(valorCuota);
                 var numero = formato_numero(redondiado, '0', '.', '.');
                 var totalPesos = numero * uf2;
                 var totalPesos = formato_numero(totalPesos, '0', '.','.');

                 var pie  = valorPropiedadSin - montoPropiedadSin;



                 var por2 = (montoPropiedadSin * 100 / valorPropiedadSin ).toFixed(0);


                 $('#pie').val(por2+'%');


                 if(por2 < 10.00){

                     $('.mensajes2').css("display", "block");
                     $(".columna1").css("margin-top", "2%");

                     $('#respuestaTexto').append('<li>El PIE debe ser mayor a un 10% del valor total de la propiedad. </li>');
                     $('#pie').val(por2 + '%');

                 }else{

                     var conpor = 1;

                 }





                 if(sueldoSin <= 500000){

                     $('.mensajes2').css("display", "block");
                     $(".columna1").css("margin-top", "2%");

                     $('#respuestaTexto').append('<li>Tu sueldo debe ser mayor a $500.000 líquido.</li>');

                 }else{
                     $('#respuestaTexto').empty();
                     var conSueldo = 1;


                 }





                 var sueldoUF = (sueldoSin / uf2).toFixed(2);
                 var condicion = (pie / sueldoUF).toFixed(2);
                 condicion =  Math.floor(condicion);


                 if(condicion >= 45){

                     $('.mensajes2').css("display", "block");
                     $(".columna1").css("margin-top", "2%");

                     $('#respuestaTexto').append('<li> El monto solicitado es muy alto para su renta, le recomendamos complementar renta a nivel grupo familiar o solicitar un monto menor. </li>');


                 }else{

                     var cond45 = 1;

                 }



                 if(conpor == 1 && conSueldo == 1 && cond45 == 1){


                     var monto2  = valorPropiedadSin - montoPropiedadSin;
                     var montoSolicitado =  monto2 * uf2;
                     var totalPesosSolicitados = formato_numero(montoSolicitado, '0', '.','.');





                     $('#show').avgrund({
                         height: 500,
                         holderClass: 'custom',
                         showClose: true,
                         showCloseText: 'Cerrar',
                         onBlurContainer: '.containerBench',
                         template: '' +
                                 '<div class="cajaModalCreditos">' +
                                 '<div class="chanchoS"><h1> <img id="" src="{{asset('bundles/benchpaginas/img/cancho-sucess.png')}}"><span> ¡ Felicitaciones !  </span></h1></div>' +
                                 '<ul class="listaModalCreditos">' +
                                 '<li> </li>' +
                                 '<li><p class="textoModal">De acuerdo a la información entregada, cumples con los criterios mínimos requeridos para iniciar el proceso de cotización. <p></li>' +
                                 '<li> <br> <li>'+
                                 '<li><p class="textoModal" >Regístrate en BenchBanking, completa toda la información que te pediremos y con ella buscaremos la mejor opción de financiamiento para tí. </p></li>'+
                                 '<li><br></li>'+
                                 '<li class="textoModal2">Monto Solicitado: $ ' +  totalPesosSolicitados   + '  </li> '+
                                 '<li class="textoModal2">Plazo: ' + plazoAnos +  ' años </li>' +
                                 '<li><p class="textoModal2">Valor de la cuota: $' +  totalPesos + '  ' + '('  + numero + ' UF  ) ' +  '</p></li>'+
                                 '<li> <br> </li>'+
                                 '<li><a href="{{path("registro")}}"  class="classname" style="text-decoration:none;" >  Siguiente </a> </li>'+
                                 '</div>'
                     });


                     $('#show')[0].click();


                     var trackPageview = '/simulacion/creditoHipotecario/Cumple';
                     dataLayer.push({
                         'event':'PageView',
                         'trackPageview': trackPageview });






                 }else{


                     $('.mensajes2').css("display", "block");
                     $(".columna1").css("margin-top", "2%");

                     $('#respuestaTexto').append('<li> No cumples con los criterios mínimos recomendados por las instituciones financieras </li>')



                     var myData = 'email=' + $("#email").val()
                             + '&token=' + $("#token").val();



                     var trackPageview = '/simulacion/creditoHipotecario/NoCumple';
                     dataLayer.push({
                         'event':'PageView',
                         'trackPageview': trackPageview });




                     jQuery.ajax({
                         type: "POST", // metodo post o get
                         url: $("#usuarioNoRegistrados").attr("action"),
                         dataType: "text", // tipo datos text o json etc
                         data: myData,
                         success: function(response) {


                             var respuesta = response;


                             if (respuesta == 100) {





                             }

                             if(respuesta == 200){





                             }

                             if(respuesta == 900){




                                 $('#respuestaTexto').append('<li> Email Invalido </li>')

                             }

                         },
                         error: function(xhr, ajaxOptions, thrownError) {
                             alert(thrownError);

                         },

                     });



                 }




             }

// Guardando
             var valorPropiedad = $('#ValorPropiedad').val() ;
             var pie = $('#montoPropiedad').val();


             var ValorPropiedad = $('#ValorPropiedad').val();
             var largoValorPropiedad = ValorPropiedad.length;
             var i = 0;
             var valorPropiedadSin = ValorPropiedad.replace("." , "");
             while(i <= largoValorPropiedad){i++ ; var valorPropiedadSin = valorPropiedadSin.replace("." , "");};


             var pie = $('#montoPropiedad').val();
             var largoPie = pie.length;
             var i = 0;
             var pieSin = pie.replace("." , "");
             while(i <= largoPie){i++ ; var pieSin = pieSin.replace("." , "");};



             var montoCreditoSin =  valorPropiedadSin - pieSin;

             var montoCreditoSin = formato_numero(montoCreditoSin, '0', '.', '.');









             var myData = 'sueldo='+$("#sueldoConsumo").val()
                             + '&montoCredito='+ $('#ValorPropiedad').val()
                             + '&pie='+$("#montoPropiedad").val()
                             + '&tipo='+'Crédito Hipotecario'
                             + '&plazo='+$('#plazoCredito').val()
                             + '&email='+$('#email').val()
                             + '&pieP=' + $('#pie').val()
                             + '&montoPropiedadSin=' + montoCreditoSin

                     ;




             jQuery.ajax({
                 type: "POST", // metodo post o get
                 url: $("#simulacionesSave").attr("action"),
                 dataType: "text", // tipo datos text o json etc
                 data:myData,
                 success:function(response){


                     var respuesta = response;

                     if(respuesta == '200'){





                     }else{






                     }
                 },

                 error:function(xhr, ajaxOptions, thrownError){
                     alert(thrownError);



                 }

             });

         });


         $('#email').focusout(function(event) {

             $('#respuestaTexto').empty();

             $('.mensajes2').css("display", "none");
             $(".columna1").css("margin-top", "10%");






             var cond = validarEmail($('#email').val());




             if(cond == 0){





             }



         });



     });

     </script>

 {% endblock %}
