<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META name="keywords" content="credito hipotecario, credito consumo, simulador, tasa, banco">
<title> BenchBanking │ Créditos Convenientes </title>
<META name="description" content="Créditos más convenientes y mejor informados, compara las tasas antes de contratarlo">
<meta name="google-site-verification" content="4sibG4Sz2wGxTyteKnT1E8uJM6vt67srq5ANMPkQ5Vg" />
<link href="{{ asset('bundles/benchpaginas/css/style.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/benchpaginas/css/ship.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/benchpaginas/css/basic.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/benchpaginas/css/flexslider.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/benchpaginas/css/botCreditos.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/benchpaginas/css/avgrund.css') }}" rel="stylesheet">
<script src="{{ asset('bundles/benchpaginas/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/jquery.Rut.min.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/jquery.flexslider-min.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/jquery.carouFredSel-6.1.0-packed.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/iniciador.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/botoneshead.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/html5.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/bootstrap.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/puntos.js') }}"></script>
<link rel="shortcut icon" href="{{ asset('bundles/benchpaginas/img/favicon.ico')}}" type="image/x-icon">
<link rel="icon" href="{{ asset('bundles/benchpaginas/img/favicon.ico')}}" type="image/x-icon">

</head>




</ul>




<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T8RRB4"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T8RRB4');</script>
<!-- End Google Tag Manager -->




<body>
<section class="contenido99">

{% include "BenchPaginasBundle:Default:headerCreditos.html.twig" %}



{% block header %}


{% endblock%}

<input type="hidden" id="token" value="{{token}}">
<div class="wrapper" style="padding-top:20px;">

<div class="container-sections">

    <style>

    .boxRounder{

        width:982px;
        height:500px;
        position: relative;
        background-color:#e6e6e6;
        border-radius: 8px;



    }




    #formulario1{
        width: auto;
        height: auto;
        position: relative;
        margin-top: 2%;

    }

    .columna1{

        width:300px;
        height:auto;
        float:left;

        margin-top:10%;
        margin-left:10%;


    }

    .separador{
        width:30px;
        height: 20px;
        position: relative;
        float: left;




    }

    .lado{
        position: absolute;
        width:34px;
        height:34px;
        background-color:#cccccc;
        margin-top:0.9%;

        margin-left:0.1%;


    }

    .lado p{

        font-size:20px;
        margin-left:30%;
        position:relative;
        color:#ffffff;

    }

    .titulo{

        margin-left:4%;
        margin-top:3%;
        position:absolute;
        width: 400px;
        height: 20px;
        color:#e75221;



    }


    hr {
        color: #565656;
        height: 2px;
        width: 900px;
        margin-top: 20px;
        position: relative;
    }



    label{

        color:#565656;
        margin-left:1%;


    }

    .linea{
        width:982px;
        height:auto;
        background-color: #e75221;
        color:#e75221;
        position:absolute;

    }

    .linea h2{

        font-size:25px;
        color:#ffffff;
        margin-left:10px;

    }
    .datagrid{
        margin-left: 24px;
        margin-top: 20px;

    }


    #logoC{

        position: relative;
        width: 120px;
        height: 120px;
        margin-left: 85%;



    }


    .alerta{

        width: 650px;
        height: 20px;
        position:absolute;
        margin-top:3%;
    }

    .respuestaTexto2{
        font-size: 16px;
        color:#e75221;
        position: relative;
        width: 800px;
        height: auto;
        margin-left: 20px;
        margin-top: 10%;



    }



    .respuestaTexto2 li{

        margin-left:2%;
        margin-top:1%;
        margin-bottom:1%;
        width: 600px;

        list-style-image:url('../img/alert_icon.png');
    }

    .respuestaTexto2 li{

        margin-left:2%;
        width: 600px;
        list-style-image:url('../img/alert_icon.png');
    }

    #respuesta{

        width: 910px;
        margin-top:10%;
        height: 200px;
        background-color: #cccccc;
        position: relative;
        margin:auto;
        border-radius:6px ;
        border-color: 10px #ff8000;
        display: none;






    }

    .uf{

        width: 200px;
        height: 20px;
        position: relative;
        margin-left: 53%;


    }

    .linea h1{

        font-size: 18px;

    }

    .form-control{

        width: 300px;


    }

    .mensajes2{

        width: 724px;
        position: relative;
        margin-top:100px;
        background-color:#faf9f9;
        border-radius:6px;
        height: auto;
        position: relative;
        margin-top:5%;
        margin-left: 4%;
        border:1px solid #ff8000;
        border-color: solid 3px #009933;
        display: none;




    }





    /* ventana modal */

    .cajaModalCreditos{
        width:580px;
        height:200px;
        margin-top:100px;

        background-color: #ededed ;

    }



    .listaModalCreditos{

        width:500px;
        height:190px;
        position: relative;
        margin:auto;
        margin-top:1%;

    }

    .textoModal{

        color:#4b4b4b;
        font-size:13px;
        text-align:justify;
    }


    .textoModal2{

        color:#4b4b4b;
        font-size:13px;
        text-align:justify;
        font-weight:bold;



    }

    .chanchoS{

        width: 640px;
        height: 76px;
        position: relative;
        margin-top: -14%;
        margin-left: 23%;

    }

    .chanchoS span{
        color: #009933;
        font-size: 30px;
        margin-top: 2%;


        position: absolute;
        width: 220px;
        height: 50px;


    }
    </style>


 <div class="containerBench">
 {% block formulario %}






    {% endblock %}

 </div>





</div>

</div>

<div class="clearfix"></div>



</body>





<script src="{{ asset('bundles/benchpaginas/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/jquery.Rut.min.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/jquery.flexslider-min.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/jquery.carouFredSel-6.1.0-packed.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/iniciador.js') }}"></script>

<script src="{{ asset('bundles/benchpaginas/js/basic.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/parsley.js')}}"></script>
<script src="{{ asset('bundles/benchpaginas/js/parsley.extend.js') }}"></script>

<script src="{{ asset('bundles/benchpaginas/js/jquery.avgrund.js') }}"></script>




{% include "BenchPaginasBundle:Default:footerCreditos.html.twig" %}


</section>

</html>





</body>

