
   {% extends "BenchPaginasBundle:Default:credito1.html.twig" %}

  



 {% block formulario %}









<input type="hidden"  value="{{token}}" id="token">
<form id="usuarioNoRegistrados" action="{{path('usuarioNoRegistrados')}}" ></form>





<div class="boxRounder">
<div class="linea"><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Elige las condiciones de tu crédito<h2></div>
<br>


<h1 class="titulo" style="margin-left:4.5%;">Crédito Consolidación</h1>


<img id="" src="{{asset('bundles/benchpaginas/img/icon_cdd_gray.png')}}" style="position:absolute;width:130px;
    height: 130px;margin-left:84%;margin-top:2%; ">

<div style="clear:both;"></div>

<br>





<div class="mensajes2" style="position: relative;">
    <div style="width:100px;height:10px; margin-top:-10%;"></div>

    <ul id="respuestaTexto" class="respuestaTexto2">



    </ul>



</div>


<section id="formulario1">

<section class="columna1"   style="margin-left:4%;">





 <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Sueldo</label>

  
    <div class="col-sm-10">
      <input type="text" class="form-control" style="margin-left:;" id="sueldo" placeholder="$" onkeyup="puntitos(this,this.value.charAt(this.value.length-1))">
    </div>
  </div>


  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Monto Total  Credito</label>

  
    <div class="col-sm-10">
      <input type="text" class="form-control" style="margin-left:;" id="montoCredito" placeholder="$" onkeyup="puntitos(this,this.value.charAt(this.value.length-1))">
    </div>
  </div>
  


 
 
 
 

  
</section>



<section class="separador"></section>

<section class="columna1">




 
 

    <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Email</label>
    
    <div class="col-sm-10">
      <input type="email" class="form-control"    id="email" placeholder="Email">
    </div>
  </div>




</section>


<div style="clear:both;"></div>
<button class="classname" style="margin-left:4%;" id="simularCreditoConsumo">Simular</button>

<a href="#" id="show" class="button left" style="display:none;">Show it</a>
<script src="{{ asset('bundles/benchpaginas/js/jquery.avgrund.js') }}"></script>

<form id="simulacionesSave" action="{{ path('simulacionesSave') }}" method="post"></form>



<script>
  $('document').ready(function($) {


   function formato_numero(numero, decimales, separador_decimal, separador_miles) { 
    numero = parseFloat(numero);
    if (isNaN(numero)) {
      return "";
    }

    if (decimales !== undefined) {
            // 
            numero = numero.toFixed(decimales);
          }

        // 
        numero = numero.toString().replace(".", separador_decimal !== undefined ? separador_decimal : ",");

        if (separador_miles) {
            // 
            var miles = new RegExp("(-?[0-9]+)([0-9]{3})");
            while (miles.test(numero)) {
              numero = numero.replace(miles, "$1" + separador_miles + "$2");
            }
          }

          return numero;
        }



   var uf2 = '{{uf}}';
   var uf2 = uf2.replace(",", "m");
   var uf2 = uf2.replace(".", "");
   var uf2 = uf2.replace(".", "");
   var uf2 = uf2.replace("m", ".");



$('#sueldo11').focusout(function(){

 $('#respuestaTexto').empty();
 var sueldo = $('#sueldo').val();
 var largo = sueldo.length;
 var i = 0;
 var sueldoSin = sueldo.replace(".", "");
 while(i <= largo ){i++; var sueldoSin = sueldoSin.replace(".", "");}
 console.log('sueldo es ' + sueldoSin);

 if(sueldoSin <= 500000){




 }else{

  $('#respuestaTexto').empty();

}



});


$('#montoCredito11').focusout(function(event) {
  
  $('#respuestaTexto').empty();
  var montoCredito =  $('#montoCredito').val();
  var largoMonto = montoCredito.length;
  var i = 0;
  var  MontoSin = montoCredito.replace(".", "");
  while(i <= largoMonto ){ i++ ;   var MontoSin = MontoSin.replace(".", "");};




  var sueldo = $('#sueldo').val();
  var largo = sueldo.length;
  var i = 0;
  var sueldoSin = sueldo.replace(".", "");
  while(i <= largo ){i++; var sueldoSin = sueldoSin.replace(".", "");}
   




  if(sueldoSin <= 500000){





   }else{

  $('#respuestaTexto').empty();

  }


    var condicion = (MontoSin / sueldoSin).toFixed(2); 
    condicion =  Math.floor(condicion);
    console.log('condicion es  ' +  condicion);

   if(condicion >= 45){


    }



});



$('#plazo11').focusout(function(event) {

  $('#respuestaTexto').empty();
  var plazo = $('#plazo').val();
  var plazoMensual = plazo;
  var montoCredito =  $('#montoCredito').val();
  var largoMonto = montoCredito.length;
  var i = 0;
  var  MontoSin = montoCredito.replace(".", "");
  while(i <= largoMonto ){ i++ ;   var MontoSin = MontoSin.replace(".", "");};

  var sueldo = $('#sueldo').val();
  var largo = sueldo.length;
  var i = 0;
  var sueldoSin = sueldo.replace(".", "");
  while(i <= largo ){i++; var sueldoSin = sueldoSin.replace(".", "");}
   

  if(sueldoSin <= 500000){



   }else{

  $('#respuestaTexto').empty();
  var cond1 = 1;

  }


    var condicion = (MontoSin / sueldoSin).toFixed(2); 
    condicion =  Math.floor(condicion);
    console.log('condicion es  ' +  condicion);

   if(condicion >= 45){


    }else{


     var cond2 = 1;
    }

        var plazoCredito = $('#plazo').val();

        var tasaMensual = 1.347 / 100;

     
        
        var valorCuota = (MontoSin * tasaMensual) / (1 - Math.pow(1 / (1 + tasaMensual), plazo));



        var cuota = Math.floor(valorCuota);

});



$('#simularCreditoConsumo').click(function(event) {

    $('.mensajes2').css("display", "none");
    $(".columna1").css("margin-top", "10%");

  $('#respuestaTexto').empty();
  var plazo = $('#plazo').val();
  var plazoMensual = plazo;
  var montoCredito =  $('#montoCredito').val();
  var largoMonto = montoCredito.length;
  var i = 0;
  var  MontoSin = montoCredito.replace(".", "");
  while(i <= largoMonto ){ i++ ;   var MontoSin = MontoSin.replace(".", "");};

  var sueldo = $('#sueldo').val();
  var largo = sueldo.length;
  var i = 0;
  var sueldoSin = sueldo.replace(".", "");
  while(i <= largo ){i++; var sueldoSin = sueldoSin.replace(".", "");}
   



    if(plazo == '' || montoCredito == '' ){

        $('.mensajes2').css("display", "block");
        $(".columna1").css("margin-top", "2%");

   $('#respuestaTexto').append('<li>Debes completar todos los campos </li>');




    }else{


 



  if(sueldoSin <= 500000){

      $('.mensajes2').css("display", "block");
      $(".columna1").css("margin-top", "2%");

   $('#respuestaTexto').append('<li>Tu sueldo debe ser mayor a $500.000 líquido</li>');



   }else{

  $('#respuestaTexto').empty();
  var cond1 = 1;

  }


    var condicion = (MontoSin / sueldoSin).toFixed(2); 
    condicion =  Math.floor(condicion);


   if(condicion >= 45){

       $('.mensajes2').css("display", "block");
       $(".columna1").css("margin-top", "2%");
      $('#respuestaTexto').append('<li> El monto solicitado es muy alto para su renta, le recomendamos complementar renta a nivel grupo familiar o solicitar un monto menor. </li>');

    }else{


     var cond2 = 1;
    }

        var plazoCredito = $('#plazo').val();

        var tasaMensual = 1.347 / 100;

     
        
        var valorCuota = (MontoSin * tasaMensual) / (1 - Math.pow(1 / (1 + tasaMensual), plazo));



        var cuota = Math.floor(valorCuota);


     if(cond1 == 1 && cond2 == 1){


         var montoCredito =  $('#montoCredito').val();


         var trackPageview = '/simulacion/creditoConsolidacion/Cumple';
         dataLayer.push({
             'event':'PageView',
             'trackPageview': trackPageview });




         $('#show').avgrund({
             height: 400,
             holderClass: 'custom',
             showClose: true,
             showCloseText: 'Cerrar',
             onBlurContainer: '.containerBench',
             template: '' +
                     '<div class="cajaModalCreditos">' +
                     '<div class="chanchoS"><h1> <img id="" src="{{asset('bundles/benchpaginas/img/cancho-sucess.png')}}"><span>¡  Felicitaciones  !</span></h1></div>' +
                     '<ul class="listaModalCreditos">' +
                     '<li><p class="textoModal" >De acuerdo a la información entregada, cumples con los criterios mínimos requeridos para iniciar el proceso de cotización.<p></li>' +
                     '<li> <br> <li>'+
                     '<li><p class="textoModal">Regístrate en BenchBanking, completa toda la información que te pediremos y con ella buscaremos la mejor opción de financiamiento para tí.  </p></li>'+
                     '<li> <br> </li>' +
                     '<li><p class="textoModal2"> Monto Solicitado: $' + montoCredito + ' </p></li>'+
                     '<li><br></li>'+
                     '<li><a href="{{path("registro")}}"  class="classname"  style="text-decoration:none;">  Siguiente </a> </li>'+
                     '</div>'
         });


         $('#show')[0].click();


           


     }else{

        $('#respuestaTexto').append('<li> No cumples con los criterios mínimos recomendados por las instituciones financieras </li>');





         var trackPageview = '/simulacion/creditoConsolidacion/NoCumple ';
         dataLayer.push({
             'event':'PageView',
             'trackPageview': trackPageview });




     var myData = 'email=' + $("#email").val()
                            + '&token=' + $("#token").val();


    jQuery.ajax({
            type: "POST", // metodo post o get 
            url: $("#usuarioNoRegistrados").attr("action"),
            dataType: "text", // tipo datos text o json etc 
            data: myData,
            success: function(response) {


                var respuesta = response;
                

                if (respuesta == 100) {


              

              

  
                }
                    
                if(respuesta == 200){

                    
                


                    
                }

                if(respuesta == 900){


                    $('#respuestaTexto').append('<li> Email Invalido </li>')

                }

            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError);

            },

        });




     }



   }







    var myData = 'sueldo='+$("#sueldo").val()
                    + '&montoCredito='+ $('#montoCredito').val()
                    + '&pie='+ ' '
                    + '&tipo='+'Crédito Consolidacion'

                    + '&plazo='+ ''
                    + '&email='+$('#email').val();











    jQuery.ajax({
        type: "POST", // metodo post o get
        url: $("#simulacionesSave").attr("action"),
        dataType: "text", // tipo datos text o json etc
        data:myData,
        success:function(response){


            var respuesta = response;

            if(respuesta == '200'){





            }else{






            }
        },

        error:function(xhr, ajaxOptions, thrownError){
            alert(thrownError);



        }

    });



});






$('#email').focusout(function(event) {


    $('#respuestaTexto').empty();

function validarEmail( email ) {
    expr = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    
    if ( !expr.test(email) ){
        
return 0;

}else{

  return  1; 

}

}


var cond = validarEmail($('#email').val());




if(cond == 0){

    $('#respuestaTexto').append('<li>Email invalido</li>');



}

});







    

  });

</script>


</div>



    
  {% endblock %}