<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <meta http-equiv="X-UA-Compatible" content="IE=9" />

        <META Http-Equiv="Cache-Control" Content="no-cache">
        <META Http-Equiv="Pragma" Content="no-cache">


        <head>
            <link href="{{ asset('bundles/benchpaginas/css/style.css') }}" rel="stylesheet">  
                <link href="{{ asset('bundles/benchpaginas/css/bootstrap.css') }}" rel="stylesheet">
                    <link href="{{ asset('bundles/benchpaginas/css/form.css') }}" rel="stylesheet">
                        <link href="{{ asset('bundles/benchpaginas/css/ship.css') }}" rel="stylesheet">  
                            <link href="{{ asset('bundles/benchpaginas/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
                                <link href="{{ asset('bundles/benchpaginas/css/basic.css') }}" rel="stylesheet">
                                    <script src="{{ asset('bundles/benchpaginas/js/jquery.min.js') }}"></script>
                                    <script src="{{ asset('bundles/benchpaginas/js/jquery.Rut.min.js') }}"></script>
                                    <script src="{{ asset('bundles/benchpaginas/js/bootstrap.js') }}"></script>
                                    <script src="{{ asset('bundles/benchpaginas/js/puntos.js') }}"></script>
                                    <script src="{{ asset('bundles/benchpaginas/js/mask.js') }}"></script>
                                    <script src="{{ asset('bundles/benchpaginas/js/mascara.js') }}"></script>
                                    <script src="{{ asset('bundles/benchpaginas/js/mask.js') }}"></script>
                                    <script src="{{ asset('bundles/benchpaginas/js/tipoSueldoUpload.js') }}"></script>
                                    <script src="{{ asset('bundles/benchpaginas/js/tienesAp.js') }}"></script>
                                    <script src="{{ asset('bundles/benchpaginas/js/panelControl.js') }}"></script>
                                    <script src="{{ asset('bundles/benchpaginas/js/parsley.js')}}"></script>
                                    <script src="{{ asset('bundles/benchpaginas/js/parsley.extend.js') }}"></script>
                                    <script src="{{ asset('bundles/benchpaginas/js/iniciador2.js') }}"></script>  
                                    <script src="{{ asset('bundles/benchpaginas/js/validaciontablokeo.js') }}"></script>  
                                    <script src="{{ asset('bundles/benchpaginas/js/validacionDesblokeo.js') }}"></script> 
                                    <script src="{{ asset('bundles/benchpaginas/js/validacionDesblokeo.js') }}"></script> 
                                    <script src="{{ asset('bundles/benchpaginas/js/comboRegion.js')}}"></script> 
                                    <script src="{{ asset('bundles/benchtienes/js/tienesSiNo.js') }}"></script>
                                    <script src="{{ asset('bundles/benchtienes/js/tienesSiNoGuarda.js') }}"></script>
                                    <script src="{{ asset('bundles/benchdebes/js/debesSiNoGuarda.js') }}"></script>
                                    <script src="{{ asset('bundles/benchsolicitudescreditos/js/guarda.js') }}"></script>
                                    <script src="{{ asset('bundles/benchsolicitudescreditos/js/enviar.js') }}"></script>
                                    <script src="{{ asset('bundles/benchpaginas/js/botoneshead.js') }}"></script>
                                    <script src="{{ asset('bundles/benchpaginas/js/autoscroll.js') }}"></script>
                                    <script src="{{ asset('bundles/benchpaginas/js/html5.js') }}"></script>

                                    <link rel="stylesheet" href="{{asset('bundles/benchpaginas/css/jqueryui.css')}}" type="text/css" />


                                    <link rel="stylesheet" href="{{asset('bundles/benchupload/js/jquery.ui.plupload/css/jquery.ui.plupload.css')}}" type="text/css" />




                                    <script type="text/javascript" src="{{asset('bundles/benchpaginas/js/jqueryui.js.js')}}"></script>
                                    <script type="text/javascript" src="{{asset('bundles/benchpaginas/js/jqueryui.js.js')}}"></script>
                                   

                                   <script type="text/javascript" src="{{asset('bundles/benchpaginas/js/CreditosBotones.js')}}"></script>


                       
                                   
                                  
                                    
                                    <script type="text/javascript" src="{{asset('bundles/benchpaginas/js/iniciadorTooltip.js')}}"></script>
                                     
                                  
                                    
     
                                        
<link rel="shortcut icon" href="{{asset('bundles/benchpaginas/favicon.ico')}}" type="image/x-icon"/>

<META name="keywords" content="credito hipotecario, credito consumo, simulador, tasa, banco">
<title> BenchBanking │ Créditos Convenientes </title>
<META name="description" content="Créditos más convenientes y mejor informados, compara las tasas antes de contratarlo">  
<link rel="shortcut icon" href="{{ asset('bundles/benchpaginas/img/favicon.ico')}}" type="image/x-icon">
<link rel="icon" href="{{ asset('bundles/benchpaginas/img/favicon.ico')}}" type="image/x-icon">






        </head>





    <body>


</ul>




    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T8RRB4"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T8RRB4');</script>
    <!-- End Google Tag Manager -->


<script>




</script>

 <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>

    

 {% include "BenchPaginasBundle:Default:headertab.html.twig" %}





              {%block containerheadertab %} 





 {%endblock %} 
                                            
                                            <input type="hidden" value="{{token}}" id="token" >



                                            <div id="div_carga">
                                                <img id="cargador" src="{{asset('bundles/benchpaginas/img/loader2.gif')}}"/>
                                            </div>
                                            
                                            <div class="wrapper">
                                              
                                                
<!-- DASHBOARD -->                                                               
    <div class="container-dashboard" style="margin-top:4%">
        <div class="lengueta_title"><img src="{{asset('bundles/benchpaginas/img/home_icon.png')}}"/>Panel de Control</div>
        <div id="btn-tabs-dashboard01">
            <a href="#" id="solicitarCredito">Solicitar un<br>nuevo Cr&eacute;dito</a> 
        </div>
        <div id="btn-tabs-dashboard02">
            <a href="#" id="informacionCliente">Mi<br>Informaci&oacute;n</a> 
	</div>
        <div id="btn-tabs-dashboard03">
            <a href="#" id="miscotizacionesButton" >Mis<br>Cotizaciones</a> 
	</div>
        <div id="btn-tabs-dashboard04">
            <a href="#"  id="simuladorButton">Simulador<br>Autom&aacute;tico</a> 
	</div>
    </div>





<!-- FIN DASHBOARD --> 

                                                <input type="hidden" value="<?php echo $totaLBienes ; ?>" id="totaLBienes">

                                                    <input type="hidden" value="<?php echo $idUser3;?>" id="Iduser3">
                                                        <input type="hidden" value="SI" id="SIform">
                                                            <div class="alert" style="width:400px; margin-left:50em" id="alertpedidos">



                                                            </div>

                                                            <div id="content">




                                                                <ul id="tab1" class="nav nav-tabs" data-tabs="tabs" style="margin-top: 5%;">
                                                                    <!--<div class="lengueta_title"><img src="{{asset('bundles/benchpaginas/img/home_icon.png')}}"/>Panel de Control</div>-->
                                                                    
                                                                    <li class="active"><a href="#quenecesitas" data-toggle="tab" ><strong>1.</strong> Qué Necesitas</a></li>
                                                                    <li><a href="#01"  id="tusDatos"    data-toggle="tab" ><strong>2.</strong> Tus Datos</a></li>
                                                                    <li><a href="#yellow" id="linkquetienes"  data-toggle="tab"><strong>3.</strong> Qué Tienes?</a></li>
                                                                    <li><a href="#green" id="linkquedebes" data-toggle="tab"><strong>4.</strong> Qué debes?</a></li>
                                                                    <li id="cot3"><a href="#blue" id="linkdondecotizar" data-toggle="tab" id="con6"><strong>5.</strong>Donde Cotizar</a></li>
                                                                    <li id="cot6"><a href="#misCotizaciones" data-toggle="tab"><strong></strong>Mis Cotizaciones</a></li>
                                                                     
                                                                    <li id="cot7" style="display:none;"><a href="#simulador" data-toggle="tab"><strong></strong>Mis Cotizaciones</a></li>
                                                                </ul>
                                                                
                                                                
 





                                                                <div class="tab-content">
                                                                    
                                                                    
                                                                    
                                                                    
                                                                    
                                                                    
                                                                    
                                                                    <div class="tab-pane active" id="quenecesitas">
                                                                        
                                                                        <div id="flip3" class="flip">
                                                                            <img id="imgCreditoHipotecario" src="{{asset('bundles/benchpaginas/img/icon_hi.png')}}">
                                                                                
                                                                           <input type="hidden" id="estadoCreditoHipotecario" value="desactivo">
                                                                               
                                                                             
                                                                               
                                                                            <h3 style="display:block; margin-top:10px;">Cr&eacute;dito Hipotecario</h3></div>
                                                                        <div class="line-flip"></div>

                                                                        <div id="flip1" class="flip">
                                                                            <input type="hidden" id="estadoCreditoConsumo"  value="desactivo"></input>
                                                                            
                                                                            <img id="imgCreditoConsumo"src="{{asset('bundles/benchpaginas/img/icon_cc.png')}}">
                                                                                <h3 style="display:block; margin-top:10px;">Cr&eacute;dito de Consumo</h3></div>
                                                                        <div class="line-flip"></div>

                                                                        <div id="flip2" class="flip">
                                                                        
                                                                            <img  id="imgCreditoAutomotriz"src="{{asset('bundles/benchpaginas/img/icon_au.png')}}">
                                                                           
                                                                               <input type="hidden" id="estadoAutomotriz" value="desactivo"></input>
                                                                                   
                                                                            
                                                                           <h3 style="display:block; margin-top:10px;">Cr&eacute;dito Automotriz</h3></div>
                                                                        <div class="line-flip"></div>

                                                                        <div id="flip4" class="flip">
                                                                            
                                                                            
                                                                            
                                                                            
                                                                            <img id="imgConsolidacion" src="{{asset('bundles/benchpaginas/img/icon_cdd.png')}}">
                                                                                
                                                                            <input type="hidden" id="estadoCon" value="desactivo"></input>
                                                                           
                                                                             
                                                                           <h3 style="display:block; margin-top:10px;">Consolidaci&oacute;n de deuda / Refinanciamiento</h3></div>
                                                                        <div class="line-flip"></div>

                                                                        <div id="flip5" class="flip">
                                                                            <img  id="imgCuentaCorriente" src="{{asset('bundles/benchpaginas/img/icon_ccu.png')}}">
                                                                              
                                                                                
                                                                            <h3 style="display:block; margin-top:10px;">Cuenta Corriente</h3></div>
                                                                            
                                                                                  <input type="hidden"  id="estadoCuentaCorriente" value="desactivo"></input>


                                                                        <!-- Credito consumo --> 

                                                                        <section id="panel1" class="panel">

                                                                            <!--<div class="alert-form2" id="respuestaconsumo2"><p>Acá va el mensaje oculto de respuesta</p></div>-->  

          {% include "BenchCreditosBundle:Default:CreditoConsumo.html.twig" %}






              {%block containerCreditoConsumo %} 





 {%endblock %} 






                                                                        </section> 

                                                                        <!-- Credito consumo --> 




                                                                        <!-- Credito Automotriz -->

                                                                        <section id="panel2" class="panel">



                {% include "BenchCreditosBundle:Default:CreditoAutomotriz.html.twig" %}








              {%block containerCreditoAutomotriz %} 





 {%endblock %} 




                                                                        </section>


                                                                        <!-- fin  Credito Automotriz -->


                                                                        <section id="panel3" class="panel">




              {% include "BenchCreditosBundle:Default:CreditoHipotecario.html.twig.twig" %}






              {%block containerCreditoHipotecario %} 





             {%endblock %} 



                                                                        </section>


                                                                        <section id="panel4" class="panel">





                {% include "BenchCreditosBundle:Default:CreditoConsolidacion.html.twig" %}






              {%block containerCreditoConsolidacion %} 





             {%endblock %} 






                                                                        </section>




                                                                        <section id="panel5" class="panel">




                {% include "BenchCreditosBundle:Default:CreditoCuentaC.html.twig" %}






              {%block containerCreditoC %} 





             {%endblock %} 






                                                                        </section>





                                                                    </div>
                                                                        

                                                                        
                                                                        
                                                                        
                                                                        
                                                                        

                                                                    <div class="tab-pane" id="01"  >
                                                                        <ul id="tabpersonal" class="nav nav-tabs2" data-tabs="tabs">
                                                                            <li class="active"><a href="#dp01" id="tabDatosPersonales" data-toggle="tab">Datos Personales</a></li>
                                                                            <li><a href="#dp02" data-toggle="tab" id="laborallink">Datos Laborales</a></li>
                                                                            <li id="con99"><a href="#dp03" data-toggle="tab" id="linkConyuge">Datos Conyuge</a></li>
                                                                            <li><a href="#dp04" data-toggle="tab" id="linkAdjunta">Adjunta Documentos</a></li>
                                                                        </ul>

                                                                        <div class="tab-content">


                                                                            <section class="tab-pane active" id="dp01">  <!----------------------- inicio Datos personales ---------------------------------->





 {% include "BenchUsuariosBundle:Default:datospersonales.html.twig" %}





              {%block containerDatosPersonales %} 





 {%endblock %} 

                                                                            </section> <!-------------------------------- fin Datos personales ------------------------------------------------------>



                                                                            <section class="tab-pane" id="dp02">  <!--------------------------- inicio datos laborales ---------------------------------->






 {% include "BenchUsuariosBundle:Default:antecedentelaborales.html.twig" %}


{%block containerDatosLaborales %} 





 {%endblock %} 




                                                                            </section><!------------------ fin  datos laborales ------------------------------------------------------------------------>




                                                                            <section class="tab-pane" id="dp03">

{% include "BenchUsuariosBundle:Default:conyuge.html.twig" %}


{%block containerConyuge %} 





 {%endblock %} 







                                                                            </section>



                                                                            <section class="tab-pane" id="dp04" style="">








                                                                        
                                                                                <section id="SueldoFijo3">


                      


{% include "BenchFilepickerBundle:Default:SueldoFijo3.html.twig" %}
                                                                                
                                                                                </section>

                                                                                
                                                                           
                                                                                  <section id="SueldoVariable6">


                      


{% include "BenchFilepickerBundle:Default:SueldoVariable6.html.twig" %}
                                                                                      
                                                                                
                                                                                </section>
                                                                                
                                                                                
                                                                                <section id="cotizacionAfp">
                                                                                    
                                                                                    
                                                                                    
                                                                                    
                                                                                    {% include "BenchFilepickerBundle:Default:cotizacionAfp.html.twig" %}
                                                                                
                                                                                
                                                                                </section>
                                                                                
                                                                                
                                                                                
                                                                                
                                                                                
                                                                                <section id="permisoCirculacion">
                                                                                    
                                                                                    
                                                                                    
                                                                                    
                                                                                    {% include "BenchFilepickerBundle:Default:permisoCirculacion.html.twig" %}
                                                                                
                                                                                    
                                                                                    
                                                                                </section>
                                                                                
                                                                                
                                                                                
                                                                                
                                                                                 
                                                                                <section id="declaraciones3">
                                                                                    
                                                                                    
                                                                                    
                                                                                    
                                                                                    {% include "BenchFilepickerBundle:Default:declaraciones3.html.twig" %}
                                                                                
                                                                                    
                                                                                    
                                                                                </section>
                                                                                
                                                                                
                                                                                
                                                                                  <section id="declaracionAnual">
                                                                                    
                                                                                    
                                                                                    
                                                                                      
                                                                                    
                                                                                    {% include "BenchFilepickerBundle:Default:declaracionAnual.html.twig" %}
                                                                                
                                                                                    
                                                                                    
                                                                                </section>
                                                                                
                                                                                
                                                                                
                                                                                
                                                                                 <section id="carnet">
                                                                                    
                                                                                    
                                                                                    
                                                                                      
                                                                                   
                                                                                    
                                                                                    {% include "BenchFilepickerBundle:Default:carnet.html.twig" %}
                                                                                
                                                                                    
                                                                                    
                                                                                </section>
                                                                                
                                                                                
                                                                      
                                                                                
                                                                                
                                                                              
                                                                                   <div style="clear: both;"></div>
                                                                                   
                                                                                  
                                                                                   
                                                                                 <buttton style="width: 500px;height: 20px;margin-left: -30%; position: relative; margin-top:20px;" id="Sigui" class="classname"> Debes selecciónar un tipo Sueldo / Vuelve a datos Laborales</buttton>
                                                                          
                                                                                
                                                                                
                                                                                
                                                                                <div style="clear: both;"></div>
                                                                                 <buttton style="width: 200px;height: 20px;margin-left: -63%; position: relative; margin-top:20px;" id="SiguienteUpload" class="classname">Siguiente</buttton>
                                                                                

                                                                                <!-- fin de upload explorer -->


                                                                                   <div style="clear: both;"></div>
                                                                                   
                                                                               

                                                                            </section>
                                                                            
                                                                            
                                                                            
                                                                            <!-- FIN UPLOD -->



                                                                        </div>
                                                                    </div>












                                                                    <section class="tab-pane" id="yellow"><!-------------------------------- tab que tienes inicio ------------------------------------------>


                                                                        <div class="tabbable"> 
                                                                            <ul class="nav nav-tabs2" id="tabtienes">
                                                                                <li class="active"><a href="#tabBienesRaices"  id="linkBienesRaices"data-toggle="tab">Bienes Raices</a></li>
                                                                                <li><a href="#tabAhorroInversion" id="linkAhorroInversion" data-toggle="tab">Ahorro  e Inversión</a></li>
                                                                                <li><a href="#tabAutomoviles" id="linkAutomoviles" data-toggle="tab">Automoviles</a></li>
                                                                                <li><a href="#tabSociedades" id="linkSociedades" data-toggle="tab">Sociedades</a></li>
                                                                            </ul>
                                                                            <div class="tab-content">


                                                                                <div class="tab-pane active" id="tabBienesRaices"> <!---------------- iniccio detalle bienes raices -------------------------------------------------->



    {% include "BenchTienesBundle:Default:tienesBienesRaices.html.twig" %}
    {% block tienesBienesRaices %}



    {% endblock%}





                                                                                </div> <!---------------- fin detalle bienes raices ---------------------------------------------->


                                                                                <div class="tab-pane" id="tabAhorroInversion"><!--- Ahorro inversion -->


 {% include "BenchTienesBundle:Default:tienesAhorroInversion.html.twig" %}




 {%block containerAhorroinversion %} 





 {%endblock %} 







                                                                                </div><!--- fin  Ahorro inversion -->


                                                                                <div class="tab-pane" id="tabAutomoviles"><!--- AUTOMOVILES -->




 {% include "BenchTienesBundle:Default:tienesAutomoviles.html.twig" %}




 {%block containerAutomoviles %} 





 {%endblock %} 



                                                                                </div> <!--- FIN  AUTOMOVILES -->





                                                                                <div class="tab-pane" id="tabSociedades"> <!------------ Sociedades ------------------------------------------------------------------------------------>



  {% include "BenchTienesBundle:Default:tienesSociedades.html.twig" %}




 {%block container   %} 





 {%endblock %} 




                                                                                </div><!------------  fin  Sociedades ------------------------------------------------------------------------------------>





                                                                            </div>




                                                                        </div>







                                                                    </section><!-----------------------------------------------------------------------------------------------  fin de que tienes ---------------------------------->



                                                                    <!------------------ que debes ------------------------------------------------------------>

                                                                    <section class="tab-pane" id="green">


                                                                        <div class="tabbable"> <!-- Only required for left/right tabs -->
                                                                            <ul class="nav nav-tabs2" id="ulDebes">


                                                                                <li class="active"><a href="#debesHipo" id="linkDebesHipotecario" data-toggle="tab">Hipotecario</a></li>
                                                                                <li><a href="#debeLcredito" id="linkLcredito" data-toggle="tab">Tarjeta de Crédito</a></li>
                                                                                <li><a href="#debesTarjetaCredito" id="linkTarjetaCredito2"  data-toggle="tab">Linea de Crédito</a></li>
                                                                                <li><a href="#debesCreditoConsumo" id="linkCreditoConsumo" data-toggle="tab">Crédito de Consumo</a></li>
                                                                            </ul>







                                                                            <div class="tab-content">


                                                                                <div class="tab-pane active" id="debesHipo"> <!--------------------- debes hipotecario ------------------------------------>



   {% include "BenchDebesBundle:Default:debesHipotecario.html.twig" %}


{%block containerdebes %} 





 {%endblock %} 




                                                                                </div> 


                                                                                <div class="tab-pane" id="debeLcredito">  <!-------------------------- debes linea credito ------------------------------------------------------>



   {% include "BenchDebesBundle:Default:debesTarjetaCredito.html.twig" %}


{%block tarjetaCreditodebes %} 





 {%endblock %} 





                                                                                </div> <!-------------------------- debes linea credito ------------------------------------------------------>


                                                                                <div class="tab-pane" id="debesTarjetaCredito"><!----- debes tajeta credito -->



        {% include "BenchDebesBundle:Default:debesLineCredito.html.twig" %}


{%block lineaCreditodebes %} 







 {%endblock %} 





                                                                                </div><!-----  fin debes tajeta credito -->



                                                                                <div id="debesCreditoConsumo" class="tab-pane" ><!----- debes Credito consumo-->



          {% include "BenchDebesBundle:Default:debesCreditoConsumo.html.twig" %}


{%block lineaCreditoConsumo %} 







 {%endblock %} 




                                                                                </div>


                                                                                <!----- debes Credito consumo-->



                                                                            </div>
                                                                        </div>

                                                                    </section>

                                                                    <!--------------------- que Debes final -------------------------------------------------------->       


                                                                    <!-------------------------------- tab donde -->
                                                                    <section class="tab-pane" id="blue">

                                                                        <section id="secdonde">

                    {% include "BenchUsuariosBundle:Default:donde.html.twig" %}

                                                                        </section>
                                                                        <section id="mensajeDonde">

                                                                            <h1 style="margin:50px auto; color:#F95B00;">Muchas Gracias por cotizar con nosotros, tu solicitud de crédito se encuentra en trámite...</h1>
                                                                            <button id="siguientePaso">Ir Al siguiente</button> 



                                                                        </section>





                                                                    </section>





                                                             





                                                              
                                                                    
                                                                    
                                                                    
                                                                    
                                                                    
                                                                    
                                                                    
                                                                    <!--- Inicio mis Cotizaciones -->
                                                                        <section class="tab-pane" id="misCotizaciones">
           


{% include "BenchPaginasBundle:Default:cotizaciones.html.twig" %}

                                                                  

                                                                            
                                                                            


                                                                    </section>
                                                                
                                                                   
                                                                   <!--- Fin mis Cotizaciones -->

                                                                   
                                                                   
                                                                   
                                                      <!--- Inicio Simulador  -->                       
                                                                        <section class="tab-pane" id="simulador">
           

                                                                  
                                                                            
                                                                    {% include "BenchPaginasBundle:Default:simuladorLog.html.twig" %}
                                                                            <div></div>

                                                                    </section>
                                                      
                                                      
                                                      <!-- fin simulador -->

                                                                </div>    

                                                            </div>    
                                                            </div>


                                                            <div class="clearfix"></div>










     {% include "BenchPaginasBundle:Default:footer2.html.twig" %}









</ul>
 </ul>
 </ul>
 </ul>












                                        </body>




    <script>
        $(document).ready(function() {


                var user = '{{ user }}';





            var tipo = '{{ credito.tipo }}' ;



            if(tipo == 'Crédito Hipotecario'){



                if(user == 'nuevo'){


                    var trackPageview = '/registro/registrado/CreditoHipotecario';
                    dataLayer.push({
                        'event':'PageView',
                        'trackPageview': trackPageview });



                }



                $("#panel3").slideToggle("slow");
                $("#panel1").hide("slow");
                $("#panel2").hide("slow");
                $("#panel4").hide("slow");
                $("#panel5").hide("slow");

            }

            if(tipo == 'Crédito Consumo'){



                if(user == 'nuevo'){


                    var trackPageview = '/registro/registrado/CreditoConsumo';
                    dataLayer.push({
                        'event':'PageView',
                        'trackPageview': trackPageview });



                }

                $("#panel1").slideToggle("slow");
                $("#panel2").hide("slow");
                $("#panel3").hide("slow");
                $("#panel4").hide("slow");
                $("#panel5").hide("slow");

            }

            if(tipo == 'Crédito Consolidacion'){


                if(user == 'nuevo'){


                    var trackPageview = '/registro/registrado/CreditoConsolidacion';
                    dataLayer.push({
                        'event':'PageView',
                        'trackPageview': trackPageview });



                }


                $("#panel4").slideToggle("slow");
                $("#panel1").hide("slow");
                $("#panel2").hide("slow");
                $("#panel3").hide("slow");
                $("#panel5").hide("slow");

            }

            if(tipo == 'Cuenta Corriente'){



                if(user == 'nuevo'){


                    var trackPageview = '/registro/registrado/CuentaCorriente';
                    dataLayer.push({
                        'event':'PageView',
                        'trackPageview': trackPageview });



                }


                $("#panel5").slideToggle("slow");
                $("#panel1").hide("slow");
                $("#panel2").hide("slow");
                $("#panel3").hide("slow");
                $("#panel4").hide("slow");

            }

            $('#tusDatos').click(function(){



                var trackPageview = '/formulario/tus-datos';
                dataLayer.push({
                    'event':'PageView',
                    'trackPageview': trackPageview });



            });

            $("#laborallink").click(function(){


                var trackPageview = '/formulario/tus-datos/datos-laborales';
                dataLayer.push({
                    'event':'PageView',
                    'trackPageview': trackPageview });


            });

            $('#linkAdjunta').click(function(){


                var trackPageview = '/formulario/tus-datos/adjuntar';
                dataLayer.push({
                    'event':'PageView',
                    'trackPageview': trackPageview });



            });



            $('#linkAhorroInversion').click(function(){
                var trackPageview = '/formulario/que-tienes/ahorro-inversion';
                dataLayer.push({
                    'event':'PageView',
                    'trackPageview': trackPageview });


            });

            $('#linkAutomoviles').click(function(){
                var trackPageview = '/formulario/que-tienes/automoviles';
                dataLayer.push({
                    'event':'PageView',
                    'trackPageview': trackPageview });

            });


            $('#linkquetienes').click(function(){


                var trackPageview = '/formulario/que-tienes';
                dataLayer.push({
                    'event':'PageView',
                    'trackPageview': trackPageview });


            });

            $('#linkSociedades').click(function(){

                var trackPageview = '/formulario/que-tienes/sociedades';
                dataLayer.push({
                    'event':'PageView',
                    'trackPageview': trackPageview });


            });

            $('#linkquedebes').click(function(){
                var trackPageview = '/formulario/que-debes';
                dataLayer.push({
                    'event':'PageView',
                    'trackPageview': trackPageview });


            });

            $('#linkDebesHipotecario').click(function(){

                var trackPageview = '/formulario/que-debes/hipotecario';
                dataLayer.push({
                    'event':'PageView',
                    'trackPageview': trackPageview });


            });

            $('#linkLcredito').click(function(){

                var trackPageview = '/formulario/que-debes/tarjeta-credito';
                dataLayer.push({
                    'event':'PageView',
                    'trackPageview': trackPageview });

            });


            $('#linkTarjetaCredito2').click(function(){


                var trackPageview = '/formulario/que-debes/linea-credito';
                dataLayer.push({
                    'event':'PageView',
                    'trackPageview': trackPageview });

            });


            $('#linkCreditoConsumo').click(function(){




                var trackPageview = '/formulario/que-debes/consumo-credito';
                dataLayer.push({
                    'event':'PageView',
                    'trackPageview': trackPageview });


            });

            $('#linkdondecotizar').click(function(){
                var trackPageview = '/formulario/donde-cotizar';
                dataLayer.push({
                    'event':'PageView',
                    'trackPageview': trackPageview });


            });


        });

    </script>









</html>


