

{% block header %}

<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<meta name="google-site-verification" content="4sibG4Sz2wGxTyteKnT1E8uJM6vt67srq5ANMPkQ5Vg" />
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<meta http-equiv="X-Frame-Options" content="deny">
<link rel="shortcut icon" href="{{ asset('bundles/benchpaginas/img/favicon.ico')}}" type="image/x-icon">
<link rel="icon" href="{{ asset('bundles/benchpaginas/img/favicon.ico')}}" type="image/x-icon">
<script src="{{ asset('bundles/benchlogin/js/login.js') }}"></script>


<META Http-Equiv="Cache-Control" Content="no-cache">
<META Http-Equiv="Pragma" Content="no-cache">
<META Http-Equiv="Expires" Content="0">
<header>

<div class="wrapper-header">
   <a href="{{path('home')}}" id="logo"><img src="{{asset('bundles/benchpaginas/img/logo.png')}}"></a>
  <nav>
<style>



#menu-nav2{
    height: 220px; width: 325px;
    overflow: hidden;
    text-align: center;
}

#menu-nav2 ul li-nav {
    float: left;
    margin: 0 1px;
    list-style-type: none;
}

/* Menu Link Styles */
#menu-nav2 ul a.top {
    background: #F95B00; color: #fff;
}

#menu-nav2 ul a {
    display: block;
    background: #E8501F; color: #fff;
    height: 220px; width: 160px;
    font: lighter 1em/200px 'junctionregular';
    text-decoration: none;
}  

.form-control{
    height: 30px;
    width: 100px;

} 


#formlogin{
 margin-left: -2%;
 position: relative;

}

.box-login{
    position:relative;
    margin-left: 2.1%;
    height: 220px;
}


  </style>
<div id="menu-nav2">
<ul>
        
        <li-nav>
        <a href="{{path('quehacemos')}}" class="top"><img src="{{asset('bundles/benchpaginas/img/icon_qa2.png')}}"></a><a href="{{path('quehacemos')}}" target="_parent"><img src="{{asset('bundles/benchpaginas/img/icon_qa.png')}}"></a>
        </li-nav>
        <li-nav>
        <a href="{{path('conocecreditos')}}" class="top"><img src="{{asset('bundles/benchpaginas/img/icon_cdc2.png')}}"></a><a href="{{path('conocecreditos')}}" target="_parent"><img src="{{asset('bundles/benchpaginas/img/icon_cdc.png')}}"></a>
        </li-nav>
    </ul>
</div>
</nav>
 
           <div class="box-login">
           <h1 style="font-size:20px;margin-top:-5%;margin-left: -2%;">Iniciar Sesión</h1>
           <div id="div_carga"><img id="cargador" src="{{asset('bundles/benchpaginas/img/loader2.gif')}}"/></div>
           <form class="form-login" id="formlogin" action="{{path('login')}}" id="ingreso"  method="post" autocomplete="off" >
           <label class="col-sm-2 control-label" style="margin-top: -4%;"><p>RUT</p></label>
           <input name="rut" class="form-control"  style="width:240px; height:23px;margin-top:-3%;" id="rut" type="text">
           <label class="col-sm-2 control-label"><p>Clave</p></label>
           
           <input name="contrasena" id="contrasenaform"  style="width:240px;height:23px;margin-top:-3%;" class="form-control" type="password">
           <br>
           <input name="" class="classname" type="submit"  value="Acceder" id="butingreso"  style="margin-top:-10%;position:relative;"onClick="">
           
               
          </form>
           <div  id="alert" class="alert-form"> </div>
          
      
           <div class="btn-register" style="margin-left:-1%;"><a href="{{path('registro')}}"><img src="{{asset('bundles/benchpaginas/img/icon_register.png')}}" width="45" height="40">   <span class="white">¡Regístrate !</span></a></div>
           <div class="alert-form3"><p><a href="{{('recupera')}}">¿Has olvidado tu contraseña?</a></p></div>
        </div>
       
       <div class="box-btnes-right">
       
  <a href="{{path('home')}}" class="btn-hm" title="Home"><span class="displace">Home</span></a><br>

  <a href="https://twitter.com/benchbanking" class="btn-tw" title="Twitter"><span class="displace">Twitter</span></a><br>
  </div>
  <div class="clearfix"></div>
  
  </div>

</header> 
<input type="hidden" id="token" value="{{token}}">
<script>

$(document).ready(function() {
    $("#butingreso").click(function(e) {

      $(".spinner").css("display", "block");





        e.preventDefault();
        var myData = 'rut=' + $("#rut").val()
                + '&contrasena=' + $("#contrasenaform").val()
                + '&token=' + $('#token').val(); 
                ;


        var token =  $('#token').val(); 
      

        jQuery.ajax({
            type: "POST", // metodo post o get 
            url: $("#formlogin").attr("action"),
            dataType: "text", // tipo datos text o json etc 
            data: myData,
            success: function(response) {



      $(".spinner").css("display", "none");



                $('#loading').append(' ');


                var respuesta = response;
                

                if (respuesta == 100) {
      var username=$("#rut").val();
  
{

}



                    window.location = "{{path('formulario')}}";


                } else {


                    $('#alert').empty();
                    $("#alert").append(response);


                }



            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError);



            },
        });
    });
});


</script>
{%endblock%}




