{# empty Twig template #}




<header>

<meta http-equiv="X-Frame-Options" content="deny">
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />

    <div class="wrapper-header" >
        <a href="{{path('home')}}" id="logo2"><img  src="{{asset('bundles/benchpaginas/img/logo2.png')}}"></a>
        <nav class="nav2">
            <div id="menu-nav2">
                <ul>
                    <li-nav>
                        
                        <a href="#" class="top">Qué Hacemos</a><a href="{{path('quehacemos')}}" target="_parent">Qué Hacemos</a>
                        
                    </li-nav>
                    <li-nav>
                        <a href="#" class="top">Conoce de Créditos</a><a href="{{path('conocecreditos')}}" target="_parent">Conoce de Créditos</a>
                    </li-nav>
                </ul>
            </div>

        </nav>
        <div class="box-btnes-right2">

            <a href="{{path('home')}}" class="btn-hm" title="Home"><span class="displace">Home</span></a><br>
            <a href="#" class="btn-fb" title="Facebook"><span class="displace">Facebook</span></a><br>
            <!--<a href="#" class="btn-tw" title="Twitter"><span class="displace">Twitter</span></a><br>-->
        </div>

        <!--<a href="#" class="btn-ajuste" data-dropdown="#dropdown-1"></a><br>-->
        <a href="{{path('logout')}}"><div class="btn-logout">Cerrar Sesión</div></a>

        <div class="title-profile-header">Bienvenido(a):<br>
            
            <span class="orange"> {{usuario.nombre}} {{usuario.apellido}}</span></div>
            
        <div class="clearfix"></div>

    </div>


    <!-- Remember to put your dropdown menus before your ending BODY tag -->
    <!--<div id="dropdown-1" class="dropdown-menu has-tip">
            <ul>
                    <li><a href="logout.php" id="CerraSession">Cerrar Sesión</a></li>
        <li class="divider"></li>
                    <li><a href="#2">Ver mis pedidos</a></li>
        <li class="divider"></li>
                    <li><a href="#3">Cerrar Sesión</a></li>
    
            </ul>
    </div>-->

</header> 















