

{% block header %}

<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<meta name="google-site-verification" content="4sibG4Sz2wGxTyteKnT1E8uJM6vt67srq5ANMPkQ5Vg" />

<META Http-Equiv="Cache-Control" Content="no-cache">
<META Http-Equiv="Pragma" Content="no-cache">
<META Http-Equiv="Expires" Content="0">


<script src="{{ asset('bundles/benchlogin/js/login.js') }}"></script>





<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T8RRB4"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T8RRB4');</script>
<!-- End Google Tag Manager -->



<header>









<!--

-->


<noscript>

</noscript>

<div class="wrapper-header">
   <a href="{{path('home')}}" id="logo"><img src="{{asset('bundles/benchpaginas/img/logo.png')}}"></a>
  <nav>
<div id="menu-nav">
    
    
    
    <ul>
        
        <li-nav>
        <a href="{{path('quehacemos')}}" class="top"><img src="{{asset('bundles/benchpaginas/img/icon_qa2.png')}}"></a><a href="{{path('quehacemos')}}" target="_parent"><img src="{{asset('bundles/benchpaginas/img/icon_qa.png')}}"></a>
        </li-nav>
        <li-nav>
        <a href="{{path('conocecreditos')}}" class="top"><img src="{{asset('bundles/benchpaginas/img/icon_cdc2.png')}}"></a><a href="{{path('conocecreditos')}}" target="_parent"><img src="{{asset('bundles/benchpaginas/img/icon_cdc.png')}}"></a>
        </li-nav>
    </ul>
</div>
          
          
	
  </nav>
 
           <div class="box-login">
           <h1 style="font-size:20px;">Iniciar Sesión</h1>
           <div id="div_carga"><img id="cargador" src="{{asset('bundles/benchpaginas/img/loader2.gif')}}"/></div>
           <form class="form-login" id="formlogin" action="{{path('login')}}"   method="post" autocomplete="off" >
           <label>
           <p>RUT</p></label>
           <input name="rut" class="input-box-h" id="rut" type="text">
        
           <label>
           <p>Clave</p>
           </label>
           
           <input name="contrasena" id="contrasenaform" class="input-box-h" type="password">
           <br>
           <input name="" class="classname" type="submit" value="Acceder" id="butingreso" onClick="">
           
               
          </form>
           <div  id="alert" class="alert-form"> </div>
          
      
          <div class="btn-register"><a href="{{path('registro')}}"><img src="{{asset('bundles/benchpaginas/img/icon_register.png')}}" width="45" height="40">   <span class="white">¡Regístrate Ahora!</span></a></div>
           
           
           <div class="alert-form3">
             <p><a href="{{path ('recupera')}}">¿Has olvidado tu contraseña?</a></p></div>
           
           
          
           
       </div>
       
       <div class="box-btnes-right">
       
  <a href="{{path('home')}}" class="btn-hm" title="Home"><span class="displace">Home</span></a><br>

  <a href="https://twitter.com/benchbanking" class="btn-tw" title="Twitter"><span class="displace">Twitter</span></a><br>
  </div>
  <div class="clearfix"></div>
  
  </div>

</header> 

<script>

$(document).ready(function() {
    $("#butingreso").click(function(e) {

      $(".spinner").css("display", "block");





        e.preventDefault();
        var myData = 'rut=' + $("#rut").val()
                + '&contrasena=' + $("#contrasenaform").val()
                + '&token=' + $('#token').val(); 
                ;


        var token =  $('#token').val(); 
      

        jQuery.ajax({
            type: "POST", // metodo post o get 
            url: $("#formlogin").attr("action"),
            dataType: "text", // tipo datos text o json etc 
            data: myData,
            success: function(response) {



      $(".spinner").css("display", "none");



                $('#loading').append(' ');


                var respuesta = response;
                

                if (respuesta == 100) {
      var username=$("#rut").val();
  
{

}



                    window.location = "{{path('formulario')}}";


                } else {


                    $('#alert').empty();
                    $("#alert").append(response);


                }



            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError);



            },
        });
    });
});


</script>

{%endblock%}