<!DOCTYPE HTML>
 <html>
<head>

<meta http-equiv="X-Frame-Options" content="deny">
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />
        
<script type="text/javascript">
var WRInitTime=(new Date()).getTime(); </script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="{{ asset('bundles/benchpaginas/js/jquery.min.js') }}"></script>
<link href="{{ asset('bundles/benchpaginas/css/style.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/benchpaginas/css/ship.css') }}" rel="stylesheet">  
<link href="{{ asset('bundles/benchpaginas/css/basic.css') }}" rel="stylesheet"> 
<link href="{{ asset('bundles/benchpaginas/css/flexslider.css') }}" rel="stylesheet"> 
<script src="{{ asset('bundles/benchpaginas/js/jquery.Rut.min.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/jquery.flexslider-min.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/jquery.carouFredSel-6.1.0-packed.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/iniciador.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/botoneshead.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/html5.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/jquery.simplemodal.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/basic.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/parsley.js')}}"></script>
<script src="{{ asset('bundles/benchpaginas/js/parsley.extend.js') }}"></script>

<META name="keywords" content="credito hipotecario, credito consumo, simulador, tasa, banco">
<meta name="google-site-verification" content="4sibG4Sz2wGxTyteKnT1E8uJM6vt67srq5ANMPkQ5Vg" />
<title> BenchBanking │ Créditos Convenientes </title>
<META name="description" content="Créditos más convenientes y mejor informados, compara las tasas antes de contratarlo">  
<link rel="shortcut icon" href="{{ asset('bundles/benchpaginas/img/favicon.ico')}}" type="image/x-icon">
<link rel="icon" href="{{ asset('bundles/benchpaginas/img/favicon.ico')}}" type="image/x-icon">
    </head>

<body>

 <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>

    

    <!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->



    <input type="hidden" id="token" value="{{token}}">
    
    
    
    {% include "BenchPaginasBundle:Default:header.html.twig" %}
    {% block header %}
    {% endblock%}






    
    
    <div class="wrapper" style="padding-top:20px;">


  <div class="creditosHome">
  

   <section class="credito1">

      <a href="{{path('credito1')}}" target="_self">
       <img id="" src="{{asset('bundles/benchpaginas/img/icon_hi_gray.png')}}">
        <h3 style="color:#f95b00;" class="tituloCreditos" >Cr&eacute;dito Hipotecario</h3>

      </a>
       <button class="classname" style="margin-top:10px;"><a href="{{path('credito1')}}" target="_self"> <p style="color:#f0f0f0;font-size:14px; ">Simular</p></a></button>


   </section>
   


    <section class="credito1">

      <a href="{{path('credito2')}}" target="_self">
     <img id="" src="{{asset('bundles/benchpaginas/img/icon_cc_gray.png')}}">
     <h3  style="color:#f95b00;"  class="tituloCreditos">Cr&eacute;dito de Consumo</h3></a>


    <button class="classname" style="margin-top:10px;"><a href="{{path('credito2')}}" target="_self"> <p style="color:#f0f0f0;font-size:14px; ">Simular</p></a></button>





    </section>


<section class="credito1">
<a href="{{path('credito3')}}" target="_self">
  <img id="" src="{{asset('bundles/benchpaginas/img/icon_cdd_gray.png')}}">
 <h3 style="color:#f95b00;"  class="tituloCreditos" >Consolidaci&oacute;n de deuda </h3>

    <button class="classname" style="margin-top:10px;"><a href="{{path('credito3')}}" target="_self"> <p style="color:#f0f0f0;font-size:14px; ">Simular</p></a></button>


</a>

   </section>

    <section class="credito1">

    

    <a href="{{path('credito4')}}"  target="_self">
    <img id="" src="{{asset('bundles/benchpaginas/img/icon_ccu_gray.png')}}">

    <h3 style="color:#f95b00;"  class="tituloCreditos">Cuenta Corriente</h3>

        <button class="classname" style="margin-top:10px;"><a href="{{path('credito4')}}" target="_self"> <p style="color:#f0f0f0;font-size:14px; ">Simular</p></a></button>


    </a>


   </section>





  <div>
  </div>


  </div>


  <div style="width:200px;height:30px;"></div>
<div class="clearfix"></div>        


  <div class="box-slider">



  	
  <div class="flexslider">
	    <ul class="slides">
	    	<li>
	    		
                    <img src="{{asset('bundles/benchpaginas/img/slider/info01.jpg')}}"/>
                <!--<p class="flex-caption">Captions and cupcakes. Winning combination.</p>-->
	    	</li>
            <li>
	    		<img src="{{asset('bundles/benchpaginas/img/slider/info02.jpg')}}"/>
	    	</li>
            <li>
	    		<img src="{{asset('bundles/benchpaginas/img/slider/info03.jpg')}}"/>
	    	</li>
            <li>
	    		<img src="{{asset('bundles/benchpaginas/img/slider/info04.jpg')}}"/>
	    	</li>
	    	<li>
	    		<div id='basic-modal'><a href="#" class="basic5"><img src="{{asset('bundles/benchpaginas/img/slider/02.jpg')}}"/></a></div>
	    	</li>
	    </ul>
	  </div>
              </div>


  <div class="box-datos">
      <!--<a target="_blank" href='http://benchbanking.blogspot.com/'><img src="{{asset('bundles/benchpaginas/img/caluga_blog.png')}}"/></a>-->
      <div class="box-caluga01" style="margin-top:-1%;width:358px;height:273px; background-color:; ">
          <a href="http://benchbanking.blogspot.com/"  target="_blank">
          <img src="{{asset('bundles/benchpaginas/img/blogGrande.png')}}" style="position:relative;width:358px;height:273px;margin:auto;"/>
          </a>
          
      </div>

  </div>
  <!--
  <a href="{{path('registro')}}" class="btn-cotiza" title="cotiza y compara"><span class="displace">cotiza7 y compara</span></a>
  -->

  <!-- Testimonios -->
     
<!--
      <div class="list_carousel">
		<ul id="foo2">
        <li>
          <div class="box-photo-test"><div id='basic-modal'><a href="#" class="basic5"><img src="{{asset('bundles/benchpaginas/img/testimonies/test_img00.jpg')}}" width="145" height="86"></a> Video</div></div>
 <p style="display:block; text-align:left; margin-top:10px;">Conócenos a través de nuestro video explicativo.</p>
		  </li>
					<li><div class="box-photo-test"><img src="{{asset('bundles/benchpaginas/img/testimonies/test_img01.jpg')}}" width="145" height="86">Guillermo</div>
 <p style="display:block; text-align:left; margin-top:10px;">BenchBanking me ha ayudado a tomar la mejor decisión para elegir mi crédito automotriz.</p>
		  </li>
					<li>
 <div class="box-photo-test"><img src="{{asset('bundles/benchpaginas/img/testimonies/test_img02.jpg')}}" width="145" height="86">Juan</div>
 <p style="display:block; text-align:left; margin-top:10px;">Gracias a Bench Banking pude continuar mis estudios en el extranjero.</p>
		  </li>
	<li>
 <div class="box-photo-test"><img src="{{asset('bundles/benchpaginas/img/testimonies/test_img03.jpg')}}" width="145" height="86">Loreto y Matías</div>
 <p style="display:block; text-align:left; margin-top:10px;">Al cotizar mi crédito hipotecario pudimos acceder a la casa de nuestros sueños.</p>
	</li>
            <li>
          <div class="box-photo-test"><div id='basic-modal'><a href="#" class="basic5"><img src="{{asset('bundles/benchpaginas/img/testimonies/test_img00.jpg')}}" width="145" height="86"></a> Video</div></div>
 <p style="display:block; text-align:left; margin-top:10px;">Conócenos a través de nuestro video explicativo.</p>
		  </li>
<li>
 <div class="box-photo-test"><img src="{{asset('bundles/benchpaginas/img/testimonies/test_img01.jpg')}}" width="145" height="86">Guillermo</div>
 <p style="display:block; text-align:left; margin-top:10px;">BenchBanking me a ayudado a tomar la mejor decisión para elegir mi crédito hipotecario, ahora disfruto junto a mi familia la casa de mis sueños.</p>
 ..
</li>
<li>
 <div class="box-photo-test"><img src="{{asset('bundles/benchpaginas/img/testimonies/test_img02.jpg')}}" width="145" height="86">Juan</div>
 <p style="display:block; text-align:left; margin-top:10px;">Gracias a Bench Banking pude continuar mis estudios en el extranjero.</p>
</li>
<li>
 <div class="box-photo-test"><img src="{{asset('bundles/benchpaginas/img/testimonies/test_img03.jpg')}}" width="145" height="86">Loreto y Matías</div>
 <p style="display:block; text-align:left; margin-top:10px;">Al cotizar mi crédito hipotecario pudimos acceder a la casa de nuestros sueños.</p>
</li>
				</ul>
		
	    <a id="prev2" class="prev" href="#"><img src="{{asset('bundles/benchpaginas/img/test_arrow_pre.png')}}"></a>
	    <a id="next2" class="next" href="#"><img src="{{asset('bundles/benchpaginas/img/test_arrow_next.png')}}"></a>



      </div> -->


      <!-- fin de testimonios -->



<div class="clearfix"></div>                
</div>

 <div style="width:10px;height:20px;position: relative;"></div>
<div class="clearfix"></div>

 <script>


 </script>

    
    
      {% include "BenchPaginasBundle:Default:footer.html.twig" %}




  <!-- ClickTale Bottom part -->
  
  <script type='text/javascript'>
  // The ClickTale Balkan Tracking Code may be programmatically customized using hooks:
  // 
  //   function ClickTalePreRecordingHook() { /* place your customized code here */  }
  //
  // For details about ClickTale hooks, please consult the wiki page http://wiki.clicktale.com/Article/Customizing_code_version_2
  
  document.write(unescape("%3Cscript%20src='"+
  (document.location.protocol=='https:'?
  "https://clicktalecdn.sslcs.cdngc.net/www02/ptc/16e0b4e0-35fc-48d1-ba47-23a3f23ad1e0.js":
  "http://cdn.clicktale.net/www02/ptc/16e0b4e0-35fc-48d1-ba47-23a3f23ad1e0.js")+"'%20type='text/javascript'%3E%3C/script%3E"));
  </script>
  




</body>
