{# empty Twig template #}
{# empty Twig template #}
{# empty Twig template #}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Remax</title>

<style>

header{
    width: 626px;
    height: 160px;
    margin: 0 auto;
}

.container-js{
    width: 1000px;
    height: 1200px;
    margin: 0 auto;
    position: relative;
    
}

</style>

</head>

<body>
    
    <header>
        <img src="{{asset('bundles/benchpaginas/img/header.png')}}"/>
    </header>
    
    <div class="container-js">

        
        
        <script type="text/javascript" src="https://www.formstack.com/forms/js.php?1666426-WhGckOFoZp-v3"></script><noscript><a href="https://www.formstack.com/forms/?1666426-WhGckOFoZp" title="Online Form">Online Form - Formulario INMOBILIARIA - FULL</a></noscript>
        
    </div>

</body>
</html>


