{# empty Twig template #}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Invitacion</title>

<style>

header{
    width: 626px;
    height: 160px;
    margin: 0 auto;
}

.container-js{
    width: 626px;
    height: 160px;
    margin: 0 auto;
    position: relative;
    
}

</style>

</head>

<body>
    
    <header>
        <img src="{{asset('bundles/benchpaginas/img/header.png')}}"/>
    </header>
    <div class="container-js">

<<<<<<< HEAD
        <iframe src="https://docs.google.com/a/benchbanking.com/forms/d/1JMOsHNj-pZPQz97uMwQfHtNdmC9TLAxj_W_Nu37sTvY/viewform?embedded=true" width="626" height="500" frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe>
=======
        <iframe src="https://docs.google.com/a/benchbanking.com/forms/d/1JMOsHNj-pZPQz97uMwQfHtNdmC9TLAxj_W_Nu37sTvY/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe>
>>>>>>> develop
    
    
        
    </div>

</body>
</html>


