{# empty Twig template #}
<html>
    </head>
    <title> Upps, Lo sentimos, no es posible encontrar esta página. </title>
    
    
    <link href="{{ asset('bundles/benchpaginas/css/style.css') }}" rel="stylesheet">  
                <link href="{{ asset('bundles/benchpaginas/css/bootstrap.css') }}" rel="stylesheet">
                    <link href="{{ asset('bundles/benchpaginas/css/form.css') }}" rel="stylesheet">
                        <link href="{{ asset('bundles/benchpaginas/css/ship.css') }}" rel="stylesheet">  
                            <link href="{{ asset('bundles/benchpaginas/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
                                <link href="{{ asset('bundles/benchpaginas/css/basic.css') }}" rel="stylesheet">
                                    <script src="{{ asset('bundles/benchpaginas/js/jquery.min.js') }}"></script>
                                    <script src="{{ asset('bundles/benchpaginas/js/jquery.Rut.min.js') }}"></script>
                                    <script src="{{ asset('bundles/benchpaginas/js/bootstrap.js') }}"></script>
                                    
          </head>                          

          <body>
          
              <div  style="width: 300px;height: 159px;position:relative;margin: auto;margin-top: 15%;">       
      <img src="{{ asset('bundles/benchpaginas/img/logo2.png')}}">
    
    
    </div>
               <div  style="width: 500px;height: 159px;position:relative;margin: auto;">    
              <h1> Upps, Lo sentimos, no es posible  esta página esta en mantencion.</h1>
              </div>

    </body>
    

</html>