{# empty Twig template #}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<h1>Pagina de test</h1>
 <link href="{{ asset('bundles/benchpaginas/css/prueba.css.css') }}" rel="stylesheet"> 

<ul id="menu">
    <li> <a href="#"><img id="imag1" src="{{asset('bundles/benchpaginas/img/icon_hi.png')}}" class="menuImg"></a></li>
    
    
    <li id="segunda"><img id="imag2" src="{{asset('bundles/benchpaginas/img/icon_au.png')}}"  class="menuImg"></a></li>
    
    
    
    <li id="tercera"><img  id="imag3"src="{{asset('bundles/benchpaginas/img/icon_cdd.png')}}" class="menuImg"></a></li>
             
    
</ul>
 
 
 <script>
     
   
     
  </script>
  

	

<script type="text/javascript">
    $(document).ready(function(){
        var cambio = false;
        $('#menu li a').each(function(index) {
             var clase = $(this).className;
             console.log(clase);
             
             
             console.log(current);
                $(this).parent().addClass("menuActivo");
                cambio = true;
        
        });
        if(!cambio){
            $('#menu li:first').addClass("menuActivo");
        }
    });
</script>