{# empty Twig template #}
<!DOCTYPE HTML>
  
<html>

<head>
        
    
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link href="{{ asset('bundles/benchpaginas/css/style.css') }}" rel="stylesheet">  
<link href="{{ asset('bundles/benchpaginas/css/ship.css') }}" rel="stylesheet">  
<link href="{{ asset('bundles/benchpaginas/css/basic.css') }}" rel="stylesheet"> 
<link href="{{ asset('bundles/benchpaginas/css/flexslider.css') }}" rel="stylesheet"> 

<script src="{{ asset('bundles/benchpaginas/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/jquery.Rut.min.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/jquery.flexslider-min.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/jquery.carouFredSel-6.1.0-packed.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/iniciador.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/botoneshead.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/html5.js') }}"></script>

<META name="keywords" content="credito hipotecario, credito consumo, simulador, tasa, banco">
<title> BenchBanking │ Créditos Convenientes </title>
<META name="description" content="Créditos más convenientes y mejor informados, compara las tasas antes de contratarlo">  
<meta name="google-site-verification" content="4sibG4Sz2wGxTyteKnT1E8uJM6vt67srq5ANMPkQ5Vg" />
<link rel="shortcut icon" href="{{ asset('bundles/benchpaginas/img/favicon.ico')}}" type="image/x-icon">
<link rel="icon" href="{{ asset('bundles/benchpaginas/img/favicon.ico')}}" type="image/x-icon">
</head>

<body>
    
    {% include "BenchPaginasBundle:Default:header.html.twig" %}
    {% block header %}
    
    
    
    
    
    
    {% endblock%}
    
    
    
    <input type="hidden" id="token" value="{{token}}">
    
    
    
<div class="wrapper" style="padding-top:20px;">

<div class="container-sections">

<div class="h7" style="margin:10px auto;">Qué Hacemos</div>
			<p class="gray">Pedir un préstamo es una tarea abrumadora, toma mucho tiempo y es difícil de entender. En nuestra plataforma puedes subir en un solo lugar tu  información, elige los bancos donde deseas cotizar y nosotros se la enviamos.</p>
            <p class="gray">&nbsp;</p>
		    <br>
            <h6 class="gray">¡ÚNETE!</h6>
<br>
            
            <div style="margin:auto; text-align:center;"><img src="{{asset('bundles/benchpaginas/img/flujo.jpg')}}"></div>
            
            </div>
               
</div>

<div class="clearfix"></div>



</body>





<script src="{{ asset('bundles/benchpaginas/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/jquery.Rut.min.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/jquery.flexslider-min.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/jquery.carouFredSel-6.1.0-packed.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/iniciador.js') }}"></script>


  {% include "BenchPaginasBundle:Default:footer.html.twig" %}






</html> 