{# empty Twig template #}
{# empty Twig template #}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Remax</title>

    <style>

        header{
            width: 626px;
            height: 160px;
            margin: 0 auto;
        }

        .container-js{
            width: 1000px;
            height: 1200px;
            margin: 0 auto;
            position: relative;

        }

    </style>

</head>

<body>

<header>
    <img src="{{asset('bundles/benchpaginas/img/header.png')}}"/>
</header>
<div class="container-js">

    <script type="text/javascript" src="https://www.formstack.com/forms/js.php?1660803-WhGckOFoZp-v3&referrer=www.benchbanking.com/referidos"></script><noscript><a href="https://www.formstack.com/forms/?1660803-WhGckOFoZp" title="Online Form">Online Form - BenchBanking: Formulario de Referencias </a></noscript>
</div>

</body>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{ asset('bundles/benchpaginas/js/jquery.Rut.min.js') }}"></script>

<form action="" id="formRemax"></form>
<input type="hidden" id="userApi" value="bench">
<input type="hidden" id="userPassword" value="bench2012" >
<input type="hidden" id="origin" value="remax">


<script>
    $( document ).ready(function() {




    });

</script>
</html>


