
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>

    <style>

        header{
            width: 626px;
            height: 160px;
            margin: 0 auto;
        }

        .container-js{
            width: 860px;
            height: 1200px;
            margin: 0 auto;
            position: relative;

        }

    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script>




    </script>

</head>

<body>

<header>
    <img src="{{asset('bundles/benchpaginas/img/header.png')}}"/>
</header>
<div class="container-js">


    <iframe src="https://www.formstack.com/forms/?1747404-WhGckOFoZp" id="uno" width="860" height="3200" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    <!-- <iframe src="https://docs.google.com/a/benchbanking.com/forms/d/157fM5lltNjA1cdvSRA6bTB_UDamBtK-_UCxLK3aa_P8/viewform?embedded=true" width="626" height="1300" frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe>-->

</div>

<script language="javascript">







    $('document').ready(function () {
        $("#uno").load(function () {


            var frame = document.getElementById('uno');
            var txt = frame.contentWindow.document.getElementById('entry_1509667085').value;
            console.log(txt);






        });
    });
</script>


</body>
</html>


