




<!DOCTYPE HTML>
  
<html>

    
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META Http-Equiv="Cache-Control" Content="no-cache">
<META Http-Equiv="Pragma" Content="no-cache">


<link href="{{ asset('bundles/benchpaginas/css/style.css') }}" rel="stylesheet">  
<link href="{{ asset('bundles/benchpaginas/css/ship.css') }}" rel="stylesheet">  
<link href="{{ asset('bundles/benchpaginas/css/basic.css') }}" rel="stylesheet"> 
<link href="{{ asset('bundles/benchpaginas/css/flexslider.css') }}" rel="stylesheet"> 

<script src="{{ asset('bundles/benchpaginas/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/jquery.Rut.min.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/jquery.flexslider-min.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/jquery.carouFredSel-6.1.0-packed.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/iniciador.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/botoneshead.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/html5.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/recupera.js') }}"></script>

<link href="{{ asset('bundles/benchpaginas/css/style.css') }}" rel="stylesheet">

<link href="{{ asset('bundles/benchpaginas/css/form.css') }}" rel="stylesheet">

<script src="{{ asset('bundles/benchpaginas/js/main.js') }}"></script>

<script src="{{ asset('bundles/benchpaginas/js/puntos.js') }}"></script>
                                    
</head>


<meta name="google-site-verification" content="" />
<META name="keywords" content="credito hipotecario, credito consumo, simulador, tasa, banco">
<title> BenchBanking │ Créditos Convenientes </title>
<META name="description" content="Créditos más convenientes y mejor informados, compara las tasas antes de contratarlo">  
<link rel="shortcut icon" href="{{ asset('bundles/benchpaginas/img/favicon.ico')}}" type="image/x-icon">
<link rel="icon" href="{{ asset('bundles/benchpaginas/img/favicon.ico')}}" type="image/x-icon">
</head>


<body>
    
    {% include "BenchPaginasBundle:Default:header.html.twig" %}
    {% block header %}
    
    
    
    
    
    
    {% endblock%}
    
    
    
    

<div class="wrapper" style="padding-top:20px;">

<div class="container-sections">


    
    
 
<section style="width: auto;height: auto;margin-left: 40px;">
    
    <div class="h7" style="margin:10px auto;">Simulador de Créditos</div>
      <input type="hidden" id="ufa" value="{{uf}}">



      

      <div></div>

        <span class="orange">Elije el Tipo de Crédito :</span>
        <div style="clear:both;"></div>
        <select id="tipoCreditoSimulador" class="datasimulador" name="tipocredito">
        	<option value="">Opción</option>
            <option value="Crédito Hipotecario">Crédito Hipotecario </option>
            <option value="Crédito de Consumo">Crédito de Consumo </option>
        </select>
        

                
                <div style="clear: both;"></style>

    
    <!-- Simulador de crédito de consumo -->
    
        <div class="container-simulador" id="simuladorConsumo">
            
            
        <div class="col1" style="width: 300px;">
        
        
		
        
        
        <br>
        <section>
        <span class="orange">Monto del Crédito $:</span>
        <input type="text" name="montocredito" placeholder="ingresa el monto" class="input-box" id="valueSliderMontoC"    onkeyup="puntitos(this,this.value.charAt(this.value.length-1))"/>

	</section>
        
        <div style="clear:both;"></div>
        
        <section>
            
        <span class="orange">Plazo del Crédito (Meses):</span>
        <input type="text" name="plazocredito" placeholder="ingresa el plazo" class="input-box" id="valueSliderPlazo" />

	</section>
        
        
           <section>
            
        <span class="orange">Ingresa tu Sueldo:</span>
    <input type="text" name="sueldosimulador" placeholder="Ingresa tu Sueldo" class="input-box" id="sueldo22"  onkeyup="puntitos(this,this.value.charAt(this.value.length-1))"/>

	</section>
        
        
        
        
    

       
        
        <span class="orange" id="resultado2"></span>
    
       


        <div style="clear:both"></div>
        
   
        <button id="calculoBut"  class="classname" >Calcular </button>
        <button id="Registro"   class="classname"  onclick=location.href='registro'> Registrate</button>
        
        
        </div>
            
        </div>
    
    <div style="clear: both; width: 100%;"></div>
    
    
    <!-- Simulador de crédito Hipotecario -->
    
     <div class="container-simulador" id="simuladorHipotecario2">
        
        <div class="col2" style="width: 300px;height: auto;">
   
            <br>
            <span class="orange">Valor Propiedad:</span>

		<input type="text" name="valor" placeholder="Pesos" class="input-box" id="valor992" title="Debes ingresar el valor de la propiedad en Unidad de Fomento"   onkeyup="puntitos(this,this.value.charAt(this.value.length-1))"  />
    <input type="hidden" value="<?php echo $idUser3 ; ?>" name="idUCreditoHipotecario" >

    
    <br>
    
    

    
  
        
<span class="orange">Monto de Píe:</span>
<input type="text" name="pie" placeholder="UF" class="input-box" id="pie992" title="Debes ingresar el valor de la propiedad en Unidad de Formento, generalmente es un 10% o 20%" onkeyup="puntitos(this,this.value.charAt(this.value.length-1))" /> 
        
  <br>
    
<span class="orange">Porcentaje:</span>
<input type="text" name="porcentaje" placeholder="%" class="input-box" id="porcentaje992" /> 
  
  



            <br>
      
             
     <span class="orange">Monto Credito:</span>
     <input type="text" name="valor" placeholder="UF"  class="input-box" id="MontoCredito99" title="Debes ingresar el valor de la propiedad en Unidad de Fomento"   onkeyup="puntitos(this,this.value.charAt(this.value.length-1))"  />

      <br>
    
     
  <span class="orange">Plazo del Crédito:</span>
<select class="data" select="selected" name="plazo" id="plazoCreditoH99">
<option value="">Opción</option>
<option value="6">6 años</option>
<option value="7">7 años</option>
<option value="8">8 años</option>
<option value="9">9 años</option>
<option value="10">10 años</option>
<option value="11">11 años</option>
<option value="12">12 años</option>
<option value="13">13 años</option>
<option value="14">14 años</option>
<option value="15">15 años</option>
<option value="16">16 años</option>
<option value="17">17 años</option>
<option value="18">18 años</option>
<option value="19">19 años</option>
<option value="20">20 años</option>
<option value="21">21 años</option>
<option value="22">22 años</option>
<option value="23">23 años</option>
<option value="24">24 años</option>
<option value="25">25 años</option>
<option value="26">26 años</option>
<option value="27">27 años</option>
<option value="28">28 años</option>
<option value="29">29 años</option>
<option value="30">30 años</option>

</select>
  
  <br>
  <span class="orange">Sueldo:</span>
<input type="text" name="sueldosimulador" placeholder="Ingresa tu Sueldo" class="input-box" id="sueldosimulador992"  onkeyup="puntitos(this,this.value.charAt(this.value.length-1))"/>


       
      
    

    </div>
        
        <div style="clear:both;"></div>
     
          
                 <button id="calculoBut2"  class="classname"  style="position:relative;">Calcular </button>
       
       
       
 
         <br>
         <br>
         
         <span class="orange" id="resultado3"></span>
         
          
          
         
    </div>

    
        
    
    <!--- TABLA y ALERTA -->
    
    <div style="clear:both;"></div>
    
    <section>
        
        <div class="alert-form4" id="menosde" style="display: block;">
<img src="{{asset ('bundles/benchpaginas/img/alert_icon.png')}}">
De acuerdo a su renta, su carga financiera es <span></span> lo que está sobre/bajo la carga máxima recomendada.
</div>
         
         
         
         
         
         <div style="clear:both;"></div>
         
         <br>
         
         
         <div class="datagrid">
  <table id="tablaSueldo">
<thead><tr>
    <th width="50%">Tramo de Renta Líquida</th>
    <th width="50%">Carga Financiera Máxima</th></tr></thead>
<tbody>
    
   <tr id="tramo1">
  <td>$400.000 - $600.000</td>
  <td>25%</td></tr>
  <tr class="alt" id="tramo2">
    <td>$601.000 - $1.300.000</td>
    <td>40%</td>
  </tr>
  
  
  <tr id="tramo3">
    <td>$1.301.000 - $2.500.000</td>
    <td>50%</td>
  </tr>
  
  
  <tr class="alt" id="tramo4">
    <td>$2.501.000 y más</td>
    <td>55%</td>
  </tr>
  
  
  <tr id="respuesta">
    <td colspan="2">*Los tramos de carga financieras son recomendaciones realizadas por el SERNAC según información que se pudo recopilar de instituciones finacieras y fiscalizadoras.</td>
  </tr>
</tbody>
</table>
</div>
    </section>
         <!--- FIN TABLA y ALERTA -->

        
        
    </section>


    
    
</div> 

<!-- modal content -->
<div id="basic-modal-content4">
		<div class="h7" style="margin:10px auto;">Privacidad</div>
        
        
<h1 class="orange" style="margin:20px auto;">Protegemos su información personal y sus datos </h1>
			

<p class="gray">Debido a la actividad comercial que desarrolla BenchBanking Chile recoge y, en algunos casos, comunica información sobre los Usuarios de su Sitio web.</p>

<h1 class="orange" style="margin:20px auto">1. Protegiéndolo</h1>
<p class="gray">BenchBanking Chile está comprometido a proteger su privacidad. En esta Política de Privacidad se describe la información que BenchBanking Chile recoge sobre sus Usuarios y visitantes y lo que puede ocurrir con dicha información. Si no está de acuerdo con esta Política de Privacidad no utilice el Sitio. Nuestra Política de Privacidad asegura que cualquier información que nos provea será mantenida privada y segura. Para dar fe de esto, en este documento proveemos los detalles de qué información recabamos y de qué manera la utilizamos. Nunca recolectaremos información sin su consentimiento explícito. Este documento es parte integrante de los Términos y Condiciones de BenchBanking Chile. Mediante la aceptación de los Términos y Condiciones el Usuario acepta las Políticas de Privacidad aquí contenidas. </p>
        
        <h1 class="orange" style="margin:20px auto">2. La información que recabamos. </h1> 
        <p class="gray"> Recabamos información de identificación personal (IIP) que es cedida voluntariamente durante el proceso de registración o en respuesta a requerimientos explícitos presentados por BenchBanking Chile También podemos recabar su dirección de IP (Internet Protocol) para ayudar a diagnosticar problemas con nuestro servidor, y para administrar el Sitio. Una dirección de IP es un número que se le asigna a su computadora cuando usa internet. Su dirección de IP también es utilizada para ayudar a identificarle dentro de una sesión particular y para recolectar información demográfica general. Podemos solicitarte tu e-mail durante la utilización del sitio.

Se establece que en cualquier momento los Usuarios de BenchBanking Chile podrán solicitar la baja de su solicitud y la eliminación de su cuenta e información de la base de datos de BenchBanking Chile. BenchBanking Chile recoge y almacena automáticamente cierta información sobre la actividad de los Usuarios dentro de nuestro Sitio web. Tal información puede incluir la URL de la que provienen (estén o no en nuestro Sitio web), a qué URL acceden seguidamente (estén o no en nuestro Sitio web), qué navegador están usando, así como también las páginas visitadas, las búsquedas realizadas, las publicaciones, compras o ventas, mensajes, etc. </p>   
        
        <h1 class="orange" style="margin:20px auto">3. Uso que hacemos de la información. </h1> 
        <p class="gray"> Para suministrar mejores cotizaciones de créditos por parte de los bancos, BenchBanking Chile requiere ciertos datos de carácter personal. La recolección de información nos permite ofrecerles servicios y funcionalidades que se adecuan mejor a sus necesidades. Los Datos Personales que recabamos tienen las siguientes finalidades:

- Entregar a los bancos un resumen de cada usuario para recibir cotización de créditos. - Ponernos en contacto directo con Ud. cada vez que BenchBanking Chile lo considere conveniente con el fin de ofrecerle por distintos medios y vías (incluyendo mail, SMS, etc.) BenchBankinges de otros productos y/o servicios. -Mejorar nuestras iniciativas comerciales y promocionales para analizar las páginas más visitadas por los Usuarios, las búsquedas realizadas, perfeccionar nuestra oferta de contenidos, personalizar dichos contenidos, presentación y servicios. -Enviar información o mensajes sobre cotizaciones de bancos. Si el Usuario lo prefiere, puede solicitar que lo excluyan de las listas para el envío de información promocional o publicitaria. - -Suministrar los Datos Personales de los Usuarios a las entidades que intervengan en la resolución de disputas entre los mismos, tales como: Compañías de Seguros o tribunales competentes para solucionar tales disputas. </p>
        
        <h1 class="orange" style="margin:20px auto">4. Confidencialidad de la información. </h1> 
        <p class="gray">Los datos de los Usuarios serán suministrados únicamente por BenchBanking Chile en las formas establecidas en estas Políticas de Privacidad. BenchBanking Chile hará todo lo que esté a su alcance para proteger la privacidad de la información. Puede suceder que en virtud de órdenes judiciales, o de regulaciones legales, BenchBanking Chile se vea compelido a revelar información a las autoridades o terceras partes bajo ciertas circunstancias, o bien en casos que terceras partes puedan interceptar o acceder a cierta información o transmisiones de datos en cuyo caso BenchBanking Chile no responderá por la información que sea revelada. </p>
        
        <h1 class="orange" style="margin:20px auto">5. Menores de Edad  </h1>
        <p class="gray">Nuestros servicios sólo están disponibles para aquellas personas que tengan capacidad legal para contratar. Por lo tanto, aquellos que no cumplan con esta condición deberán abstenerse de suministrar información personal para ser incluida en nuestras bases de datos. </p>
        
        <h1 class="orange" style="margin:20px auto">6. Cookies  </h1>
        <p class="gray">El Usuario del Sitio web de BenchBanking Chile conoce y acepta que BenchBanking Chile podrá utilizar un sistema de seguimiento mediante la utilización de cookies (las "Cookies"). Las Cookies son pequeños archivos que se instalan en el disco rígido, con una duración limitada en el tiempo que ayudan a personalizar los servicios. También ofrecemos ciertas funcionalidades que sólo están disponibles mediante el empleo de Cookies. Las Cookies se utilizan con el fin de conocer los intereses, el comportamiento y la demografía de quienes visitan o son visitantes de nuestro Sitio web y de esa forma, comprender mejor sus necesidades e intereses y darles un mejor servicio o proveerle información relacionada. También usaremos la información obtenida por intermedio de las Cookies para analizar las páginas navegadas por el visitante o Usuario, las búsquedas realizadas, mejorar nuestras iniciativas comerciales y promocionales, mostrar publicidad o promociones, banners de interés, noticias sobre BenchBanking Chile, perfeccionar nuestra oferta de contenidos y artículos, personalizar dichos contenidos, presentación y servicios. Adicionalmente BenchBanking Chile utiliza las Cookies para que el Usuario no tenga que introducir su clave tan frecuentemente durante una sesión de navegación, también para contabilizar y corroborar los registros, la actividad del Usuario y otros conceptos y acuerdos comerciales, siempre teniendo como objetivo de la instalación de las Cookies, el beneficio del Usuario que la recibe, y no será usado con otros fines ajenos a BenchBanking Chile. Se establece que la instalación, permanencia y existencia de las Cookies en el computador del Usuario o del visitante depende de su exclusiva voluntad y puede ser eliminada de su computador cuando así lo desee. Para saber cómo quitar las Cookies del sistema es necesario revisar la sección Ayuda (Help) del navegador. También, se pueden encontrar Cookies u otros sistemas similares instalados por terceros en ciertas páginas de nuestro Sitio. BenchBanking Chile no controla el uso de Cookies por terceros. </p>
        
        <h1 class="orange" style="margin:20px auto">7. Emails </h1>
        <p class="gray"> Podemos enviarle e-mails con los siguientes propósitos:

- Como parte del Servicio. Por ejemplo, le enviaremos (o podríamos enviarle) e-mails en las siguientes circunstancias -- Luego de la registración, notificándole los datos de su cuenta -- E-mails con recordatorios de los servicios que ofrecemos (especialmente aquellos que aun no haya utilizado o no haya utilizado en un tiempo considerable) -- Para enviar información sobre los creditos que haya pedido - Como parte de un Newsletter - Como e-mails promocionales - Para ofrecer servicios relacionados

De todas maneras, en cada uno de los e-mails que enviemos siempre ofreceremos la posibilidad de desuscribirse (opt-out) para dejar de recibir e-mails en el futuro. </p>
        
        <h1 class="orange" style="margin:20px auto">8. Seguridad y almacenamiento  </h1>
        <p class="gray">Empleamos diversas técnicas de seguridad para proteger tales datos de accesos no autorizados por visitantes del Sitio de dentro o fuera de nuestra compañía. Sin embargo, es necesario tener en cuenta que la seguridad perfecta no existe en Internet. Por ello, BenchBanking Chile no se hace responsable por interceptaciones ilegales o violación de sus sistemas o bases de datos por parte de personas no autorizadas. BenchBanking Chile, tampoco se hace responsable por la indebida utilización de la información obtenida por esos medios. </p>
        
        <h1 class="orange" style="margin:20px auto">9. Transferencia en circunstancias especiales   </h1>
        <p class="gray">Si existe una venta, una fusión, consolidación, cambio en el control societario, transferencia de activos sustancial, reorganización o liquidación de BenchBanking Chile entonces, en nuestra discreción, podemos transferir, vender o asignar la información recabada en este Sitio a una o más partes relevantes. </p>
        
        <h1 class="orange" style="margin:20px auto">10. Servicio al cliente   </h1>
        <p class="gray">Si tiene alguna duda o preocupación no dude en contactarse con nuestro servicio al cliente: info@BenchBanking.com</p>
        
        <h1 class="orange" style="margin:20px auto">11. Modificaciones de las Políticas de Privacidad  </h1>
        <p class="gray">BenchBanking Chile podrá modificar en cualquier momento los términos y condiciones de estas Políticas de Privacidad y confidencialidad. Cualquier cambio será efectivo apenas sea publicado en el Sitio. Dependiendo de la naturaleza del cambio podremos anunciar el mismo a través de: (a) la página de inicio del Sitio, o (b) un e-mail. De todas maneras, el continuo uso de nuestro Sitio implica la aceptación por parte del Usuario de los Terminos de esta Politica de Privacidad. Si Ud. no está de acuerdo con la Politica de Privacidad vigente absténgase de utilizar el Sitio. </p>
            
            </div>
               
</div>


<div class="clearfix"></div>



</body>





<script src="{{ asset('bundles/benchpaginas/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/jquery.Rut.min.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/jquery.flexslider-min.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/jquery.carouFredSel-6.1.0-packed.js') }}"></script>
<script src="{{ asset('bundles/benchpaginas/js/iniciador.js') }}"></script>


  {% include "BenchPaginasBundle:Default:footer.html.twig" %}






</html> 