
#basic-modal-content {display:none;}
#basic-modal-content2 {display:none;}
#basic-modal-content3 {display:none;}
#basic-modal-content4 {display:none;}
#basic-modal-content5 {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container { padding:10px; height:500px; width:800px; color:#bbb; background-color: #F8F8F8; border:4px solid  #F60;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../img/basic/x.png) no-repeat; width:30px; height:30px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}


.prueba{
    width: auto;
    height: auto;
    position: relative;
    z-index: 99999999999999999999;
    position: relative;
    background-color: #000066;
}
