/* 
    Document   : form
    Created on : 14-jul-2013, 17:19:57
    Author     : giorgosbarkos
    Description:
        Purpose of the stylesheet follows.
*/




.input-box { 
	background: none repeat scroll 0 0 #EAEAEA;
	border: solid 1px #999;
	color: #666;
	font: normal 0.8em/100% Arial, Helvetica, sans-serif !important;
	width:89% !important;
	height: auto;
	padding: 3px 0 3px 2px;
	float:left;
	margin-bottom: 8px;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	}
	
.input-box2 {
	background: none repeat scroll 0 0 #EAEAEA;
	border: solid 1px #999;
	color: #666;
	font: normal 0.8em/100% Arial, Helvetica, sans-serif !important;
	width:89% !important;
	height: auto;
	padding: 3px 0 3px 2px;
	float:left;
	margin-bottom: 8px;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	}
	
select.data{
        Font: 0.8em/100% Arial,Helvetica,sans-serif;
	width:90% !important;
	color: #666;
	height: auto;
	float:left;
	background-color: #EAEAEA;
    border: 1px solid #999999;
	padding:3px 2px 3px 2px;
	margin-bottom: 8px;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	}
	
.label-text{
	float:left;
	width:90%;
	height: auto;
	text-align: left;
	padding-right:10px;
	margin-top:8px;
	color: #333;
	font-size:0.8em;
	
	}
	
.label-text2{
	float:left;
	width:90%;
	height: auto;
	text-align: left;
	padding-right:10px;
	margin-top:6px;
	color: #333;
	font-size:0.8em;
	}				
	

.textarea-box { 
	padding: 9px;
	border: 1px solid #E8501F;
	outline: 0;
	font: normal 12px/100% Arial, Helvetica, sans-serif !important;
	color:#666;
	width: 294px !important;
	height:50px !important;
	float:left;
	}	

.textarea-wrapper {
	border: solid 1px #E5E5E5; 
	width: 300px;
	max-width: 300px;
	height: 150px;
	line-height: 150%;
	float:left;
	}

.input-box:hover, .textarea-box:hover,
.input-box:focus, .textarea-box:focus { 
	border-color: #E8501F; 
	-webkit-box-shadow: #999 0px 0px 8px;
	-moz-box-shadow: #999 0px 0px 8px;
	-khtml-box-shadow: #999 0px 0px 8px;
	box-shadow: #999 0px 0px 8px;
        
	}

.form-box {
	color: #999999;
	width:305px;
	}
	
.form-box-qn {
	color: #666;
	width:90%;
	}	

.submit {
	width: auto;
	padding: 9px 15px;
	background: #617798;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}
	

	
	
/*Formularios nuevos*/

.form-personal {
	color: #999999;
	width:100%;
	}
	
	


.fila{
	 width:90%; 
	 /*margin-left:10%;
	 float:left;*/
	margin-top: 10px;
	margin:auto;
	}
	
	.col4{
		padding-top:1px;
	 width:90%;
	 margin:auto;
	 text-align:center;
	 border:none;

	}
.col3{
	 width:100%;
	 height:auto;
	 float:left;
	 /*background: none repeat scroll 0 0 white;*/
	 border:none;

	}
.col2{
	 /*width:68%;*/
         width:100%;
	 float:left;
	 /*background: none repeat scroll 0 0 white;*/
	 border:none;

	}
.col1{
	 width:33%; 
	 float:left; 
	
	}
	
.col-vacia{
	 width:33%;
	 height:200px; 
	 float:left; 
	
	}	
		
.borde{ 
	border-right: 1px dotted red;
    display: block;
    float: left;
    height: 396px;
    margin-right: 7px;
    overflow: auto;
	
	}


label.tipo{
	margin-top:10px;
	color:#333;
	 width:100%;
	 text-align: left;
	 font-size: 0.8em;
	 float: left;
	 
	}

.btn {
    background: none repeat scroll 0 0 #F95B00;
	border:0;
    color: #FFFFFF;
	font-weight:normal;
	padding-top:4px !important;
	float:left;
	width: 92%;
}

.btn2 {
    background: none repeat scroll 0 0 #F95B00;
    color: #FFFFFF;
    cursor: pointer;
	font-weight:normal;
	border:0;
	margin:0 auto;
}

h1.doc{ width:100%; float:left; text-align:left !important; margin:10px auto;
	}
/*.top{ margin-top:16px;
	}*/
/*button {
}
button, a.button, input[type="reset"], input[type="submit"], input[type="button"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(#FFFFFF, #DDDDDD) repeat-x scroll 0 0 #DDDDDD;
    border-color: #DDDDDD #BBBBBB #999999;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font: bold 12px/1.3 "Helvetica Neue",Arial,"Liberation Sans",FreeSans,sans-serif;
    margin: 5px 0;
    outline: 0 none;
    overflow: visible;
    padding: 3px 10px;
    text-decoration: none;
  
    vertical-align: top;

	float:left;
}*/

p.rad{ width:100%; float:left; text-align: left; margin-top: 2px; color: #333333;
}

.table2 {
    /*border: 1px solid #E0E0E0;*/
    margin-bottom: 10px;
	margin-top:10px;
    width: 100%;
}

.table2 th, .table2 td {
    border-top: 1px solid #DDDDDD;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}


.table {
    margin-bottom: 20px;
    width: 100%;
}

.table th, .table td {
    border-top: 1px solid #DDDDDD;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
th, td, caption {
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}
.delete{ width:30% !important;
}
#forelimina {
    width: 100px;
}

placeholder{
	
	color:#666;
	}

.star{
	width:auto;
	height:auto;
	float:left;
}

/*---- Mis cotizaciones-----*/

.datos-mc{
	font-family:Arial, Helvetica, sans-serif;
	 width:90%;
	 height:40px;
	 margin:20px auto;
	 text-align:center;
	 border:none;
	 display:block;

	}
	
.datos-mc-col01{
	 width:30%;
	 height:40px;
	 margin:auto;
	 text-align: left;
	 border:none;
	 float:left;
	 line-height:12px;

	}
	
	.box-orange-mc{
		font-family:Arial, Helvetica, sans-serif;
		padding-top:5px;
		margin-left:5px;
	 width:30%;
	 height:35px;
	 text-align: center;
	 border:none;
	 float:left;
	 line-height:16px;
	 background: #666;

	}	
	
	.box-ahorrototal{
		margin-top:5px;
		padding-top:5px;
	 width:100%;
	 height:18px;
	 text-align: center;
	 float:left;
	 background: #666;

	}
	
	.box-text-mc {
		font-family:Arial, Helvetica, sans-serif;
		padding:10px;
		text-align:left;
 background: #CCC;
 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius: 5px;
	width:80%;
	height: auto;
	margin:10px auto;
}




/*------ CHECKBOX -----*/


/*
.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: #fafafa;
	border: 1px solid #999;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 4px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	background-color: #e9ecee;
	border: 1px solid #999;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #F95B00;
}


.big-checkbox + label {
	padding: 0;
	margin:0;
}

.big-checkbox:checked + label:after {
	font-size: 28px;
	left: 5px;
}




  /*--Radio Button & checkbox STYLE --*/
/*

  input[type=radio] {
      
		display:none;
                
	}

input[type=radio] + label {
		display:inline-block;
		margin:-2px;
		padding: 2px 12px;
		margin-bottom: 0;
		font-size: 1.2em;
		line-height: 20px;
		color: #333;
		text-align: center;
		text-shadow: 0 1px 1px rgba(255,255,255,0.75);
		vertical-align: middle;
		cursor: pointer;
		background-color: #f5f5f5;
		background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
		background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
		background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
		background-image: -o-linear-gradient(top,#fff,#e6e6e6);
		background-image: linear-gradient(to bottom,#fff,#e6e6e6);
		background-repeat: repeat-x;
		border: 1px solid #ccc;
		border-color: #e6e6e6 #e6e6e6 #bfbfbf;
		border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
		border-bottom-color: #b3b3b3;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	}

	 input[type=radio]:checked + label{
		   background-image: none;
		outline: 0;
		-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
			background-color:#e0e0e0;
	
        }
        
        
  */     
        /*--Fin Radio Button & checkbox STYLE--*/
/*

#holder {
	width: 100%;
}

#holder > div {
	clear: both;
	padding: 2%;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
	float: left;
	width: 96%;
}

label {
	display: inline;
}

.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}


.big-checkbox + label {
	padding: 18px;
}

.big-checkbox:checked + label:after {
	font-size: 28px;
	left: 6px;
}

.tag {
	font-family: Arial, sans-serif;
	width: 200px;
	position: relative;
	top: 5px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	float: left;
}

.radio-1 {
	width: 193px;
}

.button-holder {
	float: left;
        background-color: #F95B00;
}

/* RADIO */
/*
.regular-radio {
	display: none;
}

.regular-radio + label {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
}

.regular-radio:checked + label:after {
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	top: 3px;
	background: #99a1a7;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	text-shadow: 0px;
	left: 3px;
	font-size: 32px;
}

.regular-radio:checked + label {
	background-color: #e9ecee;
	color: #99a1a7;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

.regular-radio + label:active, .regular-radio:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.big-radio + label {
	padding: 16px;
}

.big-radio:checked + label:after {
	width: 24px;
	height: 24px;
	left: 4px;
	top: 4px;
}

/* ------- IGNORE */



/* estilo dashboard */

.container-dashboard{
    background-color: #E3E3E3;
	font-family:Verdana, Geneva, sans-serif;
	width:172px;
	height: 490px;
        float: left;
        -webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-left-radius: 10px;
margin-right: 1px;
}

.lengueta_title{
	color:#666;
	background-color: #D6D6D6;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    font-size: 0.8em;
    line-height: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
	}

.lengueta_title img{
	margin:0 5px;
}







   
/*button 01 dashboard*/   
   #btn-tabs-dashboard01{
     margin:auto;
     padding: 0;
     width: 100%;
     height: 109px;
     text-align: center;
     background: url(../img/01_dash_hover.png) 64px 8px no-repeat;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);
}


#btn-tabs-dashboard01 a {
     padding-top: 60px;
     width: 100%;
     height: 100%;
     display: block;
     overflow: hidden;
     color: #999;
     font-size:13px;
     text-decoration: none;
     background: url(../img/01_dash.png) 64px 8px no-repeat;
	 
}
#btn-tabs-dashboard01 a:hover {
     background-position:0 -50px;
	 color:#666;
	 
}

#btn-tabs-dashboard01 a:active {
     background-position: -50px 0;
}

/*button 02 dashboard*/
#btn-tabs-dashboard02{
     margin:auto;
     padding: 0;
     width: 100%;
     height: 109px;
     text-align: center;
     background: url(../img/02_dash_hover.png) 64px 8px no-repeat;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);
}

#btn-tabs-dashboard02 a {
     padding-top: 60px;
     width: 100%;
     height: 100%;
     display: block;
     overflow: hidden;
     color: #999;
     font-size:13px;
     text-decoration: none;
     background: url(../img/02_dash.png) 64px 8px no-repeat;
	 
}
#btn-tabs-dashboard02 a:hover {
     background-position:0 -50px;
	 color:#666;
}

#btn-tabs-dashboard02 a:active {
     background-position: -50px 0;
}

/*button 03 dashboard*/
#btn-tabs-dashboard03{
     margin:auto;
     padding: 0;
     width: 100%;
     height: 109px;
     text-align: center;
     background: url(../img/03_dash_hover.png) 64px 8px no-repeat;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);
}

#btn-tabs-dashboard03 a {
     padding-top: 60px;
     width: 100%;
     height: 100%;
     display: block;
     overflow: hidden;
     color: #999;
     font-size:13px;
     text-decoration: none;
     background: url(../img/03_dash.png) 64px 8px no-repeat;
	 
}
#btn-tabs-dashboard03 a:hover {
     background-position:0 -50px;
	 color:#666;
}

#btn-tabs-dashboard03 a:active {
     background-position: -50px 0;
}

/*button 04 dashboard*/
#btn-tabs-dashboard04{
     margin:auto;
     padding: 0;
     width: 100%;
     height: 109px;
     text-align: center;
     background: url(../img/04_dash_hover.png) 64px 8px no-repeat;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);
}

#btn-tabs-dashboard04 a {
     padding-top: 60px;
     width: 100%;
     height: 100%;
     display: block;
     overflow: hidden;
     color: #999;
     font-size:13px;
     text-decoration: none;
     background: url(../img/04_dash.png) 64px 8px no-repeat;
	 
}
#btn-tabs-dashboard04 a:hover {
     background-position:0 -50px;
	 color:#666;
}

#btn-tabs-dashboard04 a:active {
     background-position: -50px 0;
}



/* fin estilo dashboard */



/* estilo mis cotizaciones*/

.container-miscoti{
    margin: 15px 0 0 15px;
	font-family:Verdana, Geneva, sans-serif;
	width:750px;
	height: auto;
	float:left;
}

.box-cont-totalahorro{
	width:180px;
	height:auto;
	float:right;
}

.box-totalahorro{
	display:block;
	background-color:#F60;
	width:175px;
	height:auto;
	padding:5px 0 5px 5px;
	margin:0 0 5px 0;
	color: #FFF;
	font-size:0.9em;
	font-weight:bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.box-txt-totalahorro{
	display:block;
	width:100%;
	height:auto;
	color: #F60;
	font-size:0.8em;
}

.box-nombreusuario{
	background-color:#B9BDC1;
	width:250px;
	height:auto;
	padding:5px 5px;
	margin:5px 0;
	float: left;
	color: #FFF;
	font-size:0.9em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
	
	.datagrid table { border-collapse: collapse; text-align: left; width: 100%; }
	.datagrid {font: normal 12px/150%; background: #fff;  border: 1px solid #B9BDC1; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; width: 750px;}
	.datagrid table td, .datagrid table th { padding: 3px 10px; }
	.datagrid table thead th {background-color:#B9BDC1; color:#FFFFFF; font-size: 12px; font-weight: normal; border-left: 1px solid #A3A3A3; }
	.datagrid table thead th:first-child { border: none; }
	.datagrid table tbody td { color: #7D7D7D; border-left: 1px solid #DBDBDB;font-size: 12px;font-weight: normal; }
	.datagrid table tbody .alt td { background: #EBEBEB; color: #7D7D7D; }
	.datagrid table tbody td:first-child { border-left: none; }
	.datagrid table tbody tr:last-child td { border-bottom: none; }
	
	.datagrid table tbody .alt tr: hover { background: #EBEBEB; color: #7D7D7D; }
	
	tr:hover { background: #DBDBDB; cursor:pointer; }
        
        
        
.line-separator {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);
    width: 100%;
    margin: 30px 0;
}




/* estilo selección de bancos */

.container-seleccbanks{
	/*background-color: #0FF;*/
	font-family:Verdana, Geneva, sans-serif;
	width:500px;
	height: auto;
	float:left;
}


/*button*/   
   #box-banks{
     margin:5px;
     width: 150px;
     height: 150px;
     text-align: center;
	 background-color:#FFF;
	 border:1px solid #CCC;
	 float:left;
}


#box-banks a {
	 padding: 30px 0 0 0;
     width: 100%;
     height:120px;
     display: block;
     overflow: hidden;
     color: #999;
     font-size:0.7em;
     text-decoration: none;
	 
	 
}


#box-banks a:hover {
	 color:#666;
	 -webkit-box-shadow: 0 0 4px rgba(0,0,0, .50);
-moz-box-shadow: 0 0 4px rgba(0,0,0, .50);
box-shadow: 0 0 4px rgba(0,0,0, .50);
	 
	 
}


.apretado{
	color: #FFF;
    background-image:url(../img/select_img_banks.png);
	 
}
.apretado span{
	color: #FFF;
	 
}




	
	
	
/*Estilos que estan en form.css*/
.squaredTwo {
	width: 20px;
	height: 20px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 4px auto;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.squaredTwo label {
	cursor: pointer;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 2px;
	top: 2px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredTwo label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 8px;
	height: 4px;
	background: transparent;
	top: 3px;
	left: 3px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredTwo label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredTwo input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

