/* 
    Document   : prueba.css
    Created on : 16-oct-2013, 12:23:03
    Author     : barkos ship
    Description:
        Purpose of the stylesheet follows.
*/

#menu {
    
    margin-left: 100px;
    position: relative;
    width: 200px;
    height: 600px;
    
}

.menuActivo {
    background-color: #009933;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    opacity:0.4;
    filter:alpha(opacity=90);
}

.menuImg  {
     opacity:0.9;
    filter:alpha(opacity=90);
}

