
@import "reset.css";
@font-face {
    font-family: "junctionregular";
    font-style: normal;
    font-weight: normal;
}
a {
    font-weight: normal;
    text-decoration: none;
	color:#666;
}





p {
    font-family:Verdana, Geneva, sans-serif;
    font-size: 0.65em;
	font-weight:lighter;
}
h1 {
    font-size: 1em;
	font-weight:normal;
}
h2 {
    color: #333333;
    font-size: 1.9em;
    font-weight: normal;
}
h3 {
    font-size: 0.9em;
	font-weight:normal;
}

h4 {
    font-size: 1em;
	font-weight:normal;
	color:#666;
}
h5 {
    font-size: 0.8em;
	font-weight:normal;
	color:#FFF;
}

h6 {
    font-size: 0.8em;
	font-weight:normal;
}

.h7{
border-bottom: 2px solid #F3F3F3;
    color: #666666;
    font-size: 1.3em;
    font-weight: normal;
}


span {
    
    text-decoration: none;
}
body {
    font-family:Verdana, Geneva, sans-serif;
	background-image:url(../img/bg_icons_services.jpg);
	background-position:center 402px;
	background-repeat:no-repeat; 
}
header {
    background: none repeat scroll 0 0 #F3F3F3;
    border-top: 5px solid #E7501E;
    /*height: 220px;*/
    padding-top: 8px;
    width: 100%;
	text-align:center;
	margin:auto;
	min-width:985px;
}

.wrapper-header {
    height: auto;
    margin: auto;
    padding: 0;
    text-align: center;
    width: 985px;
	min-width:985px;
	
}

#logo {
    display: block;
    float: left;
    margin: 20px 40px 0 0;
    text-align: center;
	padding:0;
}
/*#logo img {
    width: 68%;
}*/
#logo:hover {
    opacity: 0.8;
}

.wrapper {
    /*background: #EBEBEB;*/
    height: auto;
    margin: auto;
    padding: 0;
    text-align: center;
    width: 985px;
	min-width:985px;
        height: auto;
        min-height: 490px;
}

.flix-clear {
    clear: both;
}



.box-login {
    background-color: #CDCDCD;
    color: #666666;
    float: left;
    height: 210px;
    padding: 11px 0 0 20px;
    width: 260px;
	text-align:left;
}

.alert-form{
	width:100%;
	margin-top:5px;
	color:#F95B00;
	/*display:none;*/
	
}

.alert-form2{
	width:100%;
	margin-top:5px;
	color:#F95B00;
	text-align:left;
	font-size:0.8em !important;
	/*display:none;*/
	
}

.alert-form3{
	width:100%;
	margin:4px 0;
	color: #666;
	/*display:none;*/
	
}

.alert-form3 :hover {
	color: #333;
	
}

.alert-form4{
	width:600px;
	margin:10px auto;
	color:#F95B00;
	text-align:left;
	font-size:1em !important;
        float: left;
	/*display:none;*/
	
}

.alert-form-contact{
	width:100%;
	color:#F95B00;
	float:left;
	/*display:none;*/
	
}

.alert-form2{
	margin-top:20px;
	font-size:1.4em;
	width:100%;
	padding:4px auto;
	color:#F95B00;
	/*display:none;*/
	
}
form {
    height: auto;
    margin-bottom: 5px;
    margin-top: 10px;
    /*width: 285px;*/
}

.form-login {
    height: auto;
    margin-bottom: 1px;
    margin-top: 1px;
    width: 235px;
}

label {
    /*display: block;*/
    margin-bottom: 2px;
}

.input-box-h { 
	background: none repeat scroll 0 0 #EAEAEA;
	border: solid 1px #999;
	color: #666;
	font: normal 0.8em/100% Arial, Helvetica, sans-serif !important;
	width:95% !important;
	height: auto;
	padding: 3px 0 3px 2px;
	float:left;
	margin-bottom: 4px;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	}
/*input[type="text"], input[type="password"] {
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.8em;
	padding-left:2px;
    background: none repeat scroll 0 0 #EAEAEA;
    border: 1px solid #999;
    color: #666;
    height: 20px;
    margin-bottom: 3px;
    overflow: hidden;
    width:87% !important;
}*/

textarea{
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.8em;
	padding-left:2px;
    background: none repeat scroll 0 0 #EAEAEA;
	color:#666;
    border: 1px solid #999;
    height: 42px;
    margin-bottom: 8px;
    overflow: hidden;
    width: 150px;
}

.textarea2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.8em;
	padding-left:2px;
    background: none repeat scroll 0 0 #EAEAEA;
    border: 1px solid #999;
    color: #666;
    height: 88px;
    margin-bottom: 8px;
    overflow: hidden;
    width:87% !important;
	float:left;
}
/*input[type="button"] {
    background: none repeat scroll 0 0 #F95B00;
    border: 1px solid #CCCCCC;
    color: #FFFFFF;
    cursor: pointer;
    height: 24px;
    width: 60px;
	
}*/

input:hover, textarea:hover,
input:focus, textarea:focus { 
	border-color: #E8501F; 
-webkit-box-shadow: #999 0px 0px 8px;
	-moz-box-shadow: #999 0px 0px 8px;
	-khtml-box-shadow: #999 0px 0px 8px;
	box-shadow: #999 0px 0px 8px;
	}
	
.checkbox{
	float:left;
	display: inline-block
}
	
a.btn-ajuste {
    background: url("../img/ajuste.png") repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 20px;
    text-decoration: none;
	margin-bottom:5px;
    width: 20px;
}
a.btn-ajuste:hover {
    background-position: 0 -20px;
}
	
.img-btnes-nav {
    margin-top: 100px;
}
img {
    vertical-align: middle;
}
.btn-register {
	font-family:Arial, Helvetica, sans-serif;
	text-shadow:1px 1px 0px #a33900;
    background: none repeat scroll 0 0 #F95B00;
    color: #FFFFFF;
    cursor: pointer;
    height: 40px;
    padding: 0 20px 0 15px;
    width: 195px;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -khtml-border-radius: 3px 3px 3px 3px;
}
.btn-register:hover {
	font-family:Arial, Helvetica, sans-serif;
    background: none repeat scroll 0 0 #E8501F;
}

.btn-generic {
	font-family:Arial, Helvetica, sans-serif;
	text-shadow:1px 1px 0px #a33900;
    background: none repeat scroll 0 0 #F95B00;
    color: #FFFFFF;
    cursor: pointer;
    height: 55px;
    padding: 0 20px 0 15px;
    width: 320px;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -khtml-border-radius: 3px 3px 3px 3px;
	
}
.btn-generic:hover {
	font-family:Arial, Helvetica, sans-serif;
    background: none repeat scroll 0 0 #E8501F;
}

.white {
    color: #FFFFFF;
}
.box-btnes-right {
    float: left;
    height: auto;
    margin-left: 2px;
    width:36px;
	height:220px;
	background-color: #ECECEC;
}
.box-btnes-right2 {
    float: left;
    height: auto;
    margin-left: 2px;
    width:36px;
	height:101px;
	background-color: #ECECEC;
}

a.btn-hm {
    background: url("../img/button_home.png") repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 30px;
    text-decoration: none;
	margin-bottom:5px;
    width: 30px;
}

a.btn-hm:hover {
    background-position: -30px 0;
}
a.btn-fb {
    background: url("../img/button_facebook.png") repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 30px;
    text-decoration: none;
	margin-bottom:5px;
    width: 30px;
}
a.btn-fb:hover {
    background-position: -30px 0;
}
a.btn-tw {
    background: url("../img/button_twitter.png") repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 30px;
    text-decoration: none;
	margin-bottom:5px;
    width: 30px;
}
a.btn-tw:hover {
    background-position: -30px 0;
}
.displace {
    left: -5000px;
    position: absolute;
}
a.btn-cotiza {
    background: url("../img/btn-cotiza.png") repeat scroll 0 0 transparent;
    float: left;
    height: 119px;
    width: 360px;
}
a.btn-cotiza:hover {
    background-position: -360px 0;
}

a.btn-bancos {
    background: url("../img/btn-enviabanco.png") repeat scroll 0 0 transparent;
    float: left;
    height: 88px;
    width: 270px;
}
a.btn-bancos:hover {
    background-position: -270px 0;
}


.box-datos {
    /*background-color:#EBEBEB;*/
    display: block;
    float: left;
    height: 140px;
    margin-bottom: 15px;
    width: 360px;
}

.box-caluga01 {
    float: left;
    height: 140px;
    width: 175px;
}

.box-caluga02 {
    margin-left: 10px;
    float: left;
    height: 140px;
    width: 175px;
}

.box-title-datos {
	color:#666;
	text-align:center;
    background-color:#DBDBDB;
	padding-top:5px;
	margin-bottom:10px;
    float: left;
    height: 25px;
    width: 100%;
}

.box-img-freak{
	margin-left:20px;
	width:95px;
	height:85px;
	float:left;
}

.box-text-freak{
	margin-left:5px;
	padding-left:5px;
	color:#666;
	vertical-align:middle;
	text-align:left;
	border-left:1px solid #CCC;
	font-size:0.9em;
	width:220px;
	height:85px;
	float:left;
}

.box-txtpermiso {
	color:#666;
	text-align:justify;
    float: left;
    margin: 30px 0 0 0;
    height: auto;
    width: 270px;
}
	




.cn-images img {
    border-bottom: 5px solid #D0AB47;
    display: block;
    position: relative;
}
.cn-slideshow {
    height: auto;
}
.box-slider {
    display: block;
    float: left;
    height: auto;
    width: 57%;
	margin-right:6%;
    margin-top: -4px;
}

.cn-slideshow {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 5px solid #D0AB47;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    height: 410px;
    margin: 0 auto;
    position: relative;
    width: auto;
}
.cn-loading {
    background: url("../images/ajax-loader.gif") no-repeat scroll center center #000000;
    border-radius: 25px 25px 25px 25px;
    height: 50px;
    left: 50%;
    margin: -25px 0 0 -25px;
    opacity: 0.6;
    position: absolute;
    text-indent: -9000px;
    top: 50%;
    width: 50px;
    z-index: 999;
}
.cn-images {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.cn-images img {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
}
.cn-bar {
    background: url("../images/bar.png") repeat scroll left top transparent;
    bottom: 0;
    color: #F8F8F8;
    height: 74px;
    left: 50px;
    position: absolute;
    right: 50px;
    z-index: 999;
}
.cn-nav-content {
    height: 100%;
    left: 70px;
    overflow: hidden;
    position: absolute;
    right: 70px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    top: 0;
}
.cn-nav-content div {
    color: #AAAAAA;
    float: left;
    width: 130px;
}
.cn-nav-content span {
    color: #777777;
}
.cn-nav-content div.cn-nav-content-current {
    left: 50%;
    margin-left: -140px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 280px;
}
.cn-nav-content h2, .cn-nav-content h3 {
    font-family: Georgia,serif;
    font-size: 12px;
    font-style: italic;
    line-height: 24px;
    margin: 0;
    padding: 0;
}
.cn-nav-content h2 {
    color: #FFFFFF;
    font-size: 18px;
}
.cn-nav-content-current span {
    color: #D0AB47;
}
.cn-nav-content div.cn-nav-content-prev {
    margin-left: 20px;
}
.cn-nav-content div.cn-nav-content-next {
    float: right;
    margin-right: 20px;
    text-align: right;
}
.cn-nav-content div span {
    display: block;
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 18px;
    text-transform: uppercase;
}
.cn-nav > a {
    height: 70px;
    position: absolute;
    top: 0;
    width: 70px;
}
a.cn-nav-prev {
    left: 0;
}
a.cn-nav-next {
    right: 0;
}
.cn-nav a span {
    background-size: 17px 25px;
    border-radius: 23px 23px 23px 23px;
    cursor: pointer;
    display: block;
    height: 46px;
    left: 50%;
    margin: -23px 0 0 -23px;
    opacity: 0.9;
    position: absolute;
    text-indent: -9000px;
    top: 50%;
    transition: all 0.4s ease 0s;
    width: 46px;
}
.cn-nav a.cn-nav-prev span {
    background: url("../images/prev.png") no-repeat scroll center center #666666;
}
.cn-nav a.cn-nav-next span {
    background: url("../images/next.png") no-repeat scroll center center #666666;
}
.cn-nav a div {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 0 0 0 0;
    height: 0;
    left: 50%;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transition: all 0.2s ease-out 0s;
    width: 0;
}
.cn-nav a:hover span {
    background-color: #A8872D;
    background-size: 22px 32px;
    border-radius: 50px 50px 50px 50px;
    height: 100px;
    margin: -50px 0 0 -50px;
    opacity: 0.6;
    width: 100px;
}
.cn-nav a:hover div {
    background-size: 120% 120%;
    border-radius: 45px 45px 45px 45px;
    height: 90px;
    margin: -45px 0 0 -45px;
    width: 90px;
}


/*--COLORS---*/
.orange {
    color: #F60;
}

.gray{color:#666;
}

	
/*-- CARRUSEL--*/

.box-photo-test{
	width:100%;
	height:86px;
	text-align:left;
	display:block;
	font-size:0.8em;
	color: #F95B00;
	}
	
	.box-photo-test img{
		margin-right:5px;
		vertical-align:bottom
	}
	
	.list_carousel {
				/*background-color: #ccc;
				margin: 0 0 30px 60px;*/
				width: 985px;
				float:left;
				margin-top:10px;
			}
			.list_carousel ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: block;
			}
			.list_carousel li {
				color: #999;
				text-align: center;
				background-color:#EBEBEB;
				padding:10px;
				width: 258px;
				height: 144px;
				margin: 6px 10px;
				display: block;
				float: left;
			}
			
			.clearfix {
				float: none;
				clear: both;
			}
			.prev {
				float: left;
				margin-left:0;
				position:relative;
			}
			
			.next {
				float: right;
				margin-right:0;
				position:relative;

				

			}	
a.prev, a.next {
	margin-top:-100px;
	
}			
			
/*-- BOTONES ---*/

nav{
    width:325px;
	height:auto;
	float: left;
}
/*nav img{
    width:90%;
}*/

#menu ul li {
	float: left;
	margin: 0 5px;
	list-style-type: none;
}

/* Basic Menu Styles */

#menu-nav {
	height: 220px; width: 325px;
    overflow: hidden;
    text-align: center;
}

#menu-nav ul li-nav {
	float: left;
	margin: 0 1px;
	list-style-type: none;
}

/* Menu Link Styles */
#menu-nav ul a.top {
	background: #F95B00; color: #fff;
}

#menu-nav ul a {
	display: block;
	background: #E8501F; color: #fff;
	height: 220px; width: 160px;
	font: lighter 1em/200px 'junctionregular';
	text-decoration: none;
}	


/*-- FOOTER --*/

footer{
	width:100%;
	height:auto;
	background-color: #585858;
	border-top: 4px solid #E85B18;
	padding-bottom:10px;
	min-width:985px;
	
}


.pie{
	width:100%;
	height:40px;
	padding:5px 0 0 0;
	background-color: #000;
	display:block;
	vertical-align: sub;
}



.col01-pie{
	float: right;
	width: auto;
	margin-top:5px;
}

.col02-pie{
	float: left;
	width:720px;
}

.pie-wrapper {
 max-width:985px;
 margin:auto;
 text-align:center;
}

.col02-pie ul{ 
   height: 30px;
    margin: 0 auto;
    width: 720px;
}

.col02-pie ul li{ 
	border-right: 1px solid  #333;
    float: left;
    line-height: 1em;
    margin: 1% 0;
    padding: 0 1%;
    text-align: center;
    /*width: 150px;*/
	
    
}

.col02-pie ul li.last{ border: none;}
  

.col02-pie a{
	font-size:11px;
	color: #999;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.col02-pie a:hover{
	color: #F60;
}


.col01-footer{
	margin-left:0;
	padding-top: 20px;
	width:522px;
	height:auto;
	float:left;
	display:block;
}

.col02-footer{
	border-left:1px solid  #666;
	margin-left:10px;
	padding-top: 20px;
	padding-left:10px;
	width:424px;
	height:258px;
	float:left;
	display:block;
}

.block-color-footer{
	padding: 11px 11px 1px 11px;
	background:#333;
	width:44%;
	height: 150px;
	margin: 10px 5px 0 0;
	display:block;
	float:left;
}

.text-box-form {
	padding-left:2px;
    background: #333;
    color: #333;
    height: 20px;
    margin-bottom: 8px;
    overflow: hidden;
    width: 150px;
}

.col-form-contact{
	color:#999;
	text-align:left;
	margin:0 15px 0 0;
	width:150px;
	height:auto;
	display:block;
	float:left;
}

.form-contact {
    height: auto;
    margin-bottom: 5px;
    margin-top: 10px;
    width: 350px;
	display:block;
}

.box-data-contact{
	margin-top:10px;
	margin-left:2px;
	width:135px;
	height:70px;
	float:left;
	padding:0 2px 0 2px;
	text-align:left;
}

.main-wrapper {
    height: auto;
    margin: auto;
    padding: 0;
    text-align: center;
    width: 72%;
	min-width:985px;
	
}

.title-section{
	color:#666;
	font-size:1em;
	width:80%;
	text-align:left;
	margin:auto;
	overflow: hidden;
	padding-top: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);
}

.title-section2{
	color:#666;
	font-size:1.4em;
	width:95%;
	text-align:left;
	margin: auto;
	overflow: hidden;
	padding-top: 30px;
	padding-bottom:40px;
}


/*---FORM---*/

.wrapper-border-radius{
	margin:20px auto;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
	border-radius: 20px;
	background:#DDDDDD;
	height: auto;
	width:100%;
}





/* ------ HEADER 2 ------*/

#logo2 {
    display: block;
    float: left;
    margin: 5px 50px 0 10px;
    text-align: center;
	padding:0;
}

#logo2:hover {
    opacity: 0.8;
}

.nav2{
    width:350px;
	height:auto;
	float: left;
}



#menu-nav2 {
	height: 100px; width: 350px;
    overflow: hidden;
    text-align: center;
}

#menu-nav2 ul li-nav {
	float: left;
	margin: 0 1px;
	list-style-type: none;
}


#menu-nav2 ul a.top {
	background: #F95B00; color: #fff;
}

#menu-nav2 ul a {
	display: block;
	background: #E8501F; color: #E8D4BC;
	padding-top:20px;
	height: 200px; width: 173px;
	font: lighter 0.9em/120px Verdana, Geneva, sans-serif;
	text-decoration: none;
}

.title-profile-header{
	color:#666;
	font-size:0.9em;
	width:220px;
	text-align:left;
	float:left;
	overflow: hidden;
	margin-left:20px;
	margin-top:35px;
}


/*--- BUTTONS ---*/

.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #ff8400;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ff8400;
	box-shadow:inset 0px 1px 0px 0px #ff8400;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f95b00), color-stop(1, #d94d1f) );
	background:-moz-linear-gradient( center top, #f95b00 5%, #d94d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f95b00', endColorstr='#d94d1f');
	background-color:#f95b00;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #c74200;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight: normal;
	padding:3px 20px;
	text-decoration:none;
	text-shadow:1px 1px 0px #a33900;
	cursor:pointer;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d94d1f), color-stop(1, #f95b00) );
	background:-moz-linear-gradient( center top, #d94d1f 5%, #f95b00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d94d1f', endColorstr='#f95b00');
	background-color:#d94d1f;
}.classname:active {
	position:relative;
	top:1px;
}


.btn-form01 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ff8400;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ff8400;
	box-shadow:inset 0px 1px 0px 0px #ff8400;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f95b00), color-stop(1, #d94d1f) );
	background:-moz-linear-gradient( center top, #f95b00 5%, #d94d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f95b00', endColorstr='#d94d1f');
	background-color:#f95b00;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #c74200;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight: normal;
	padding:1px 65px;
	text-decoration:none;
	text-shadow:1px 1px 0px #a33900;
	cursor:pointer;
}

.btn-form01:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d94d1f), color-stop(1, #f95b00) );
	background:-moz-linear-gradient( center top, #d94d1f 5%, #f95b00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d94d1f', endColorstr='#f95b00');
	background-color:#d94d1f;
}

.btn-form01:active {
	position:relative;
	top:1px;
}

.icon-registro {
	width:330px;
	height:210px;
	float:right;
	z-index:1;
	margin-top:120px;
	margin-right:150px;
	background-image:url(../img/mono_registro.png);
}

.container-sections { height: auto; width:97%; color:#bbb; text-align:left; margin-bottom:40px;}

.btn-logout{
	padding-top:5px;
	font-size:0.8em;
	float:right;
	width:100px;
	height:22px;
	top:-1px;
	border:1px solid #999;
	color:#666;
}

.btn-logout:hover{
	background-color: #CCC;
}
	


/*@media all and (max-width: 1024px) and (min-width: 700px){
	
	body {
		background-color:#0CF;
}
	
}*/


                                               
                                    
                                            
.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 10px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}

.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}

.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}

.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}

.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #000000;
  border-width: 5px 5px 0;
}

.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-top-color: #000000;
  border-width: 5px 5px 0;
}

.tooltip.top-right .tooltip-arrow {
  right: 5px;
  bottom: 0;
  border-top-color: #000000;
  border-width: 5px 5px 0;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #000000;
  border-width: 5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #000000;
  border-width: 5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #000000;
  border-width: 0 5px 5px;
}

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-bottom-color: #000000;
  border-width: 0 5px 5px;
}

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-bottom-color: #000000;
  border-width: 0 5px 5px;
}


/**** Style Simulador****/

.container-simulador{
	font-family:Verdana, Geneva, sans-serif;
	width:600px;
	height: auto;
	float:left;
}

h1{
	font-size: 20px;
}

.slider{
	/*background: url('../img/grid.png') -25px -25px;*/
	height: 60px;
	position: relative;
	width: 335px;
}

.slider > .emptyprogress{
	background: #CCCCCC;
	border: 2px solid white;
	cursor: pointer;
	border-radius: 10px;
	height: 20%;
	top:25%;
	position: absolute;
	width: 100%;

	-webkit-box-shadow: 1px 1px 3px 0px #ccc;
	box-shadow: 1px 1px 3px 0px #ccc;
}

.slider > .progress{
	background: #F60;
	border: 3px solid white;
	cursor: pointer;
	border-radius: 10px;
	height: 20%;
	top:25%;
	position: absolute;
	width: 0%;

	-webkit-box-shadow: 1px 1px 3px 0px #ccc;
	box-shadow: 1px 1px 3px 0px #ccc;
}

.slider > .indicator{
	background: url('../img/pointer.png') no-repeat;
	/*border: 1px solid red;*/
	cursor: move;
	height: 100%;
	margin: 8px auto auto -20px;
	left: 0%;
	position: absolute;
	width:34px;
}

.info, .info> label > input{
	font-family: Verdana, Geneva, sans-serif;
	color: #F60;
}

.info{
	float: right;
	font-size: 18px;
	margin-top: -50px;
	width: auto;
}

.info> label > input{
	
	font-size: 16px;
	width: 250px;
}


select.datasimulador {
    background-color: #EAEAEA;
    border: 1px solid #999999;
    border-radius: 2px;
    color: #666666;
    float: left;
    font: 0.8em/100% Arial,Helvetica,sans-serif;
    height: auto;
    margin-bottom: 8px;
    padding: 3px 2px;
    width: 270px !important;
}




/**** FIN Style Simulador****/
   
/* Giorgos barkos */


       .creditosHome{

   margin-top: -10px;
   margin-left:-16px;
   width:1000px;
   height:200px;
 

}


.credito1{

  width: 225px;
  height: 195px;
  margin-left:5.5px;
  position: relative;

  float: left;
    margin-left:18px;
    border: 3px solid #cccccc;
  background-color:#ededed;
  border-radius: 4px;
    box-shadow: 1px 9px 11px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 1px 9px 11px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 1px 9px 11px rgba(0, 0, 0, 0.13);




}

.credito1 img {

  margin-top: 10px;
  width: 100px;
  height: 100px;


}


    
.credito1 h3 {

  color: #b3b3b3;
  
  
}

.tituloCreditos {


    display:block; margin-top:13px;  color: #f95b00;


}

.tituloCreditos h3 {

    color: #f95b00;


}

.box-caluga01{

    width: 374px;
    min-width: 200px;
    min-height: 130px;
    margin: auto;


}





/* Giorgos barkos */                              
                  
