{# empty Twig template #}



<script src="{{ asset('bundles/benchdebes/js/debeslinecredito.js') }}"></script>



		<div class="fila">
       
           <!--<h1 class="doc"><span class="orange">Tarjeta de Crédito</span></h1>-->
        	<div class="col1">
         

        

       
        
     
             
 

      <form  id="debesLineacredito1" action="{{path('debesLineaCreditoSiNo')}}" method="POST"  autocomplete="off" >

      

<input type="hidden" id="token" value="{{token}}">
       <label class="label-text2" for="rut">¿Debes alguna Línea de Crédito?</label>
    
     

       
 
           {%  if   usuario.debesLineaCreditoSiNo == 'SI' %}
         <p class="rad">Si<input type="radio" value="SI"  class="debesTarjetaCreditoRadio" name="debesTarjetaCreditoRadio" id="debesTarjetaCreditoRadio"  checked>
         No<input type="radio" value="NO" name="debesTarjetaCreditoRadio"  id="debesTarjetaCreditoRadio" class="debesTarjetaCreditoRadio"></p> 
   
             
        
  {% else %}

          
        
             <p class="rad">Si<input type="radio" value="SI" class="debesTarjetaCreditoRadio" name="debesTarjetaCreditoRadio" id="debesTarjetaCreditoRadio" >
         No<input type="radio" value="NO" name="debesTarjetaCreditoRadio" id="debesTarjetaCreditoRadio" class="debesTarjetaCreditoRadio" checked ></p> 
  
          
       {% endif %}    
          
          
          


<div style="float:left; height:10px; width:100%;"></div>
    <button style="float:left;" class="classname" value="Agregar" id="guardatarjetaC1" type="submit">GUARDAR Y SIGUIENTE</button> 

               </form>



                    

 <form class="form-personal" id="debesLineacredito2" action="{{path('lineacreditoguarda')}}" method="post">
     
     

             
               
      
               <label class="label-text2" for="institucion">Institución</label>
               <input type="text"class="input-box2" name="institucion" id="debesTarjetainstitucion" data-validation-engine="validate[required]" data-required="true">
              
               <label class="label-text2" for="rut">Monto Aprobado</label>
               <input type="text" class="input-box2" name="montoAprobado" id="debesTarjetamontoAprobado" placeholder="$" onkeyup="puntitos(this,this.value.charAt(this.value.length-1))" data-validation-engine="validate[required]" data-required="true">
              
         
               <label class="label-text2" for="rut">Monto Utilizado</label>
               <input type="text" class="input-box2" id="debesTarjetamontoUtilizado" name="debesTarjetamontoUtilizado" placeholder="$" onkeyup="puntitos(this,this.value.charAt(this.value.length-1))" data-validation-engine="validate[required]" data-required="true">
                
           
               <label class="label-text2" for="rut">Vencimiento</label>
               <input type="text" class="input-box2" id="debesTarjetavencimiento" name="debesTarjetavencimiento"  data-validation-engine="validate[required]" data-required="true" >
                

                
           
              
              
              
            </div>
            
                    <div class="clearfix"></div>
                   
       	  <div class="col2">
          <button style="float:left;margin-top:10px;" id="guardatarjetaC" class="classname" value="Agregar" type="submit">AGREGAR</button>
           <div id="SiguienteDebesTarjetaCredito" class="classname" style="margin-top:10px; margin-left: 1%; position: relative;width: 80px; float: left;" >SIGUIENTE</div>
        </div>
                    
        </form>
        <div class="flix-clear"></div>

<div class="clearfix"></div>
      <br>
            
            <div class="col2">
          <table class="table table-striped" id="respuesta3">
			    <thead style="background:#F60">
          <tr>
			
					<td><p style="text-align:center;color:#FFF;">Institución</p></td>
					<td><p style="text-align:center;color:#FFF;">Monto Aprobado</p></td>
					<td><p style="text-align:center;color:#FFF;">Monto Utilizado</p></td>
					<td><p style="text-align:center;color:#FFF;">Vencimiento</p></td>
          <td><p style="text-align:center;color:#FFF;">Eliminar</p></td>
				  </tr>
				</thead>
      <tbody style="background:#F8F8F8;  font-family: Arial, Helvetica, sans-serif;">	    
       {% for debesLineaCredito  in debesLineaCredito %}  
            
              
                


     
   

        
          <tr  id="itemLinea_{{debesLineaCredito.id}}">
				
					<td><p style="text-align:center;color:#666;">{{debesLineaCredito.institucion}}</p></td>
					<td><p style="text-align:center;color:#666;">{{debesLineaCredito.montoAprobado}}</p></td>
					<td><p style="text-align:center;color:#666;">{{debesLineaCredito.montoUtilizado}}</p></td>
				  <td><p style="text-align:center;color:#666;">{{debesLineaCredito.vencimientofinal}}</p></td>
          <td><p style="text-align:center;color:#666;"> <a href="#" class="del_button" id="del-{{debesLineaCredito.id}}">eliminar</a> </p> </td>

          </tr>

          
          

         {%  endfor %}
	</tbody>


                      
			 
             </table>
              
              
              
              
              
              
              
             
              
              
             
            
            </div>
            
            

	
		</div>
	
        

        
            



</form>

<form id="debeslineacreditoForm" action="{{path('deldebeslineaCredito')}}"></form>