{# empty Twig template #}


<script src="{{ asset('bundles/benchdebes/js/debestarjetacredito.js') }}"></script>


<div class="fila">

    <!--<h1 class="doc"><span class="orange">Línea de Crédito</span></h1>-->
    <div class="col1">


        <form  id="DebesLineCreditosino" action="{{path('debesTarjetaCreditoSiNo')}}"  method="POST"  autocomplete="off" >
          

<input type="hidden" id="token" value="{{token}}">

            <label class="label-text2" for="rut">¿Tienes algúna Tarjeta de Crédito ?</label>
            <input type="hidden" value="<?php echo $idUser3;?>" name="debesLineaCredito" id="debesLineaCredito">

      {%  if   usuario.debesTarjetaCreditoSiNo == 'SI' %}

  <p class="rad">Si<input type="radio" value="SI"  class="debesLcreditoRadio" name="debesLcreditoRadio" id="debesLcreditoRadio"  checked>
                No<input type="radio" value="NO" name="debesLcreditoRadio"  id="debesLcreditoRadio" class="debesLcreditoRadio"></p> 

          
 {% else %}

   
  <p class="rad">Si<input type="radio" value="SI"  class="debesLcreditoRadio" name="debesLcreditoRadio" id="debesLcreditoRadio" >
                No<input type="radio" value="NO" name="debesLcreditoRadio" id="debesLcreditoRadio" class="debesLcreditoRadio" checked></p> 


           {% endif %}





          
            <button style="float:left;" class="classname" value="Agregar" id="guardaLineaC1" type="submit">GUARDAR Y SIGUIENTE</button> 

        </form>


      




        <form class="form-personal"  id="debesTarjeta" action="{{path('tarjetacreditoguarda')}}">

            <label class="label-text2" for="institucion">Tipo de Tarjeta </label>
            <input type="text" class="input-box2" autofocus name="tipo"  id="debeslctipo" data-validation-engine="validate[required]" data-required="true">
            <input type="hidden" value="<?php echo $idUser3;?>" name="id" id="debeslcID" >



            <label class="label-text2" for="institucion">Institucion</label>
            <input type="text"class="input-box2" name="institucion" id="debeslcinstitucion"  data-validation-engine="validate[required]" data-required="true">
          
            <label class="label-text2" for="institucion">Monto Aprobado</label>
            <input type="text" class="input-box2" name="montoAprobado" id="debeslcmontoAprobado" placeholder="$" onkeyup="puntitos(this, this.value.charAt(this.value.length - 1))"  data-validation-engine="validate[required]" data-required="true">
    
          
      </form>
            </div>
            <div class="col1">
       

        <br><br><br><br><br>

        

        <form id="debesTarjetaCredito2">
    
            <label class="label-text2" for="rut">Monto Utilizado</label>
            <input type="text" class="input-box2" id="debeslcmontoUtilizado" name="debeslcmontoUtilizado" placeholder="$" onkeyup="puntitos(this, this.value.charAt(this.value.length - 1))"  data-validation-engine="validate[required]" data-required="true">
 
        </form>

    </div>

    <div class="clearfix"></div>
    <div class="col2">
        <button style="float:left;margin-top:10px;" id="guardaLineaC" class="classname" value="Agregar" type="submit">AGREGAR</button>
        <div id="SiguienteDebesLineaCredito" class="classname" style="margin-top:10px; margin-left: 1%; position: relative;width: 80px; float: left;" >SIGUIENTE</div>
    </div> 

    <div class="flix-clear"></div>

    <div class="clearfix"></div>
    <br>

    <div class="col2">

        <table class="table table-striped" id="respuesta2">
            <thead style="background:#F60">
                <tr>
                    <td><p style="text-align:center; color:#FFF;">Tipo de Tarjeta</p></td>
                    <td><p style="text-align:center;color:#FFF;">Institución</p></td>
                    <td><p style="text-align:center;color:#FFF;">Monto Aprobado</p></td>
                    <td><p style="text-align:center;color:#FFF;">Monto Utilizado</p></td>

                    <td><p style="text-align:center;color:#FFF;">Eliminar</p></td>
                </tr>
            </thead>


{% for debesTarjetaCredito  in debesTarjetaCredito %}  


            <tbody style="background:#F8F8F8;  font-family: Arial, Helvetica, sans-serif;">



                <tr  id="itemTarjeta_{{debesTarjetaCredito.id}}">

                    <td><p style="text-align:center;color:#666;">{{debesTarjetaCredito.tipotarjeta}}</p></td>
                    <td><p style="text-align:center;color:#666;">{{debesTarjetaCredito.institucion}}</p></td>
                    <td><p style="text-align:center;color:#666;">{{debesTarjetaCredito.montoaprobado}}</p></td>
                    <td><p style="text-align:center;color:#666;">{{debesTarjetaCredito.montoutilizado}}</p></td>

                    <td><p style="text-align:center;color:#666;"> <a href="#" class="del_button" id="del-{{debesTarjetaCredito.id}}">eliminar</a> </p> </td>

                </tr>



            </tbody>

         {% endfor %}




        </table>












    </div>


<form id="debestarjetacreditoform" action="{{path('deldebesTarjeta')}}" ></form>

</div>


