{# empty Twig template #}

<script src="{{ asset('bundles/benchdebes/js/debeshipotecario22.js') }}"></script>

    <div class="fila">
           <!--<h1 class="doc"><span class="orange">Hipotecario</span></h1>-->
          <div class="col1">
     

       <form  id="DebesHipotecario" action="{{path('debesBienesRaicesSiNo')}}" method="POST" autocomplete="off"  >

       

<input type="hidden" id="token" value="{{token}}">
       <label class="label-text2" for="rut">¿Debes algún Credito Hipotecario?</label>
       <input type="hidden" value="" name="debeshipoid" id="debeshipoid">
      
    {%  if   usuario.debesHipotecarioSiNo == 'SI' %}
       
         <p class="rad">Si<input type="radio" value="SI"  class="DebesHipotecarioRadio" name="DebesHipotecarioRadio" id="DebesHipotecarioRadio"   checked>
         No<input type="radio" value="NO" name="DebesHipotecarioRadio"   id="DebesHipotecarioRadio" class="DebesHipotecarioRadio"></p> 
      
       
{% else %}
          
          
          
          <p class="rad">Si<input type="radio" value="SI" class="DebesHipotecarioRadio" name="DebesHipotecarioRadio" id="DebesHipotecarioRadio" >
         No<input type="radio" value="NO" name="DebesHipotecarioRadio" id="DebesHipotecarioRadio" class="DebesHipotecarioRadio" checked ></p> 
   
          
          {% endif %}



    

    <div style="float:left; height:10px; width:100%;"></div>
    <button style="float:left;" class="classname" value="Agregar" id="debesHipotecario1" type="submit">GUARDAR Y SIGUIENTE</button> 

               </form>

               <div id="RespuestaDebesHipotecario">

               </div>
              




               <form class="form-personal" id="debesHipotecario2" action="{{path('hipotecarioguarda')}}" method="post" >
                     
              
             
               
              <label class="label-text2" for="institucion">Instituci&oacute;n</label>
              <input type="text" class="input-box2" autofocus name="institucion" id="institucion"   data-validation-engine="validate[required]" data-required="true">
               <input type="hidden" class="input-box2" value="" autofocus name="id" id="id">
               
               
             <label class="label-text2" for="institucion">Pago Mensual</label>
              <input type="text"class="input-box2" name="pagoM" placeholder="$" id="pagoM"  onkeyup="puntitos(this,this.value.charAt(this.value.length-1))"  data-validation-engine="validate[required]" data-required="true" >
              
              <label class="label-text2" for="rut">Deuda Total</label>
              <input type="text" class="input-box2" name="deudaT" onkeyup="puntitos(this,this.value.charAt(this.value.length-1))"  placeholder="$" id="deudaT"  data-validation-engine="validate[required]" data-required="true">
              </div>
              </form>
              <div class="col1">
              <form id="debesHipotecario3">
              <label class="label-text2" for="rut">Vencimiento Final</label>
              <input type="text" class="input-box2" id="vencimientoF" name="vencimientoF"  data-validation-engine="validate[required]" data-required="true">
              
              <label class="label-text2" for="rut">Deuda Vigente</label>
             

              <input type="text" class="input-box2"  placeholder="$" onkeyup="puntitos(this,this.value.charAt(this.value.length-1))"  name="deudaV" id="deudaV"  data-validation-engine="validate[required]" data-required="true">
              
              </form>
              
            </div>
            
            <div class="clearfix"></div>
            <div class="col2"><button id="debesHipotecario" class="classname" value="Agregar" style=" float:left;margin-top:10px;" >AGREGAR </button>

             <div id="SiguienteDebesHipotecario" class="classname" style="margin-top:10px; margin-left: 1%; position: relative;width: 80px; float: left;" >SIGUIENTE</div>
            </div>
            <div class="flix-clear"></div>
    
            <div class="clearfix"></div>
            <br>

           

     

      </form>
         
            <div class="col2">
              <table class="table table-striped" id="respuestaDebesHipo">
                <thead style="background:#F60">
                  <tr>
                    <td><p style="text-align:center; color:#FFF;">Institución</p></td>
                    <td><p style="text-align:center;color:#FFF;">Pago Mensual</p></td>
                    <td><p style="text-align:center;color:#FFF;">Deuda Total</p></td>
                    <td><p style="text-align:center;color:#FFF;">Vencimiento Final</p></td>
                    <td><p style="text-align:center;color:#FFF;">Deuda Vigente</p></td>
                      <td><p style="text-align:center;color:#FFF;">Eliminar</p></td>
                  </tr>
                </thead>
               <tbody style="background:#F8F8F8;  font-family: Arial, Helvetica, sans-serif;"> 
                   {% for debesHipotecario  in debesHipotecario %}  
      
                  <tr id="itemDebesHipotecario_{{debesHipotecario.id}}">

                    <td> <p style="text-align:center; color: #666;">{{debesHipotecario.institucion}}</p></td>
                    <td><p style="text-align:center;color:#666;">{{debesHipotecario.pagomensual}}</p></td>
                    <td><p style="text-align:center;color:#666;">{{debesHipotecario.deudatotal}}</p></td>
                    <td><p style="text-align:center;color:#666;">{{debesHipotecario.venciminetofinal}}</p></td>
                    <td><p style="text-align:center;color:#666;">{{debesHipotecario.duedavigente}}</p></td>
                    
                    <td><p style="text-align:center;color:#666;"> <a href="#" class="del_button" id="del-{{debesHipotecario.id}}">eliminar</a> </p> </td>
                  </tr>

            
                {% endfor %}
                  
                      </tbody>
                
                
              </table>
            </div>
            
            

  
    </div>
  
        
    

          

            



</form>

<form id="deldebesHipotecario" action="{{path('deldebesHipotecario')}}"></form>