
<script src="{{ asset('bundles/benchdebes/js/debescreditoconsumo.js') }}"></script>
		<div class="fila">
 
           <!--<h1 class="doc"><span class="orange">Crédito de Consumo</span></h1>-->
        	<div class="col1">

 <form  id="DebesCreditoConsumo" action="{{path('debesCreditoConsumoSiNo')}}" method="POST" autocomplete="off"  >
     

<input type="hidden" id="token" value="{{token}}">
     
       <label class="label-text2" for="rut">¿Tienes algún  Crédito de Consumo?</label>
       <input type="hidden" value="<?php echo $idUser3;?>" name="debesCreditoConsumo" id="debesCreditoConsumo">
 

       
              {%  if   usuario.debesCreditoConsumoSiNo == 'SI' %}

          
          <p class="rad">Si<input type="radio" value="SI" class="DebesCreditoConsumoRadio" name="DebesCreditoConsumoRadio" id="DebesCreditoConsumoRadio"  checked >
         No<input type="radio" value="NO"   name="DebesCreditoConsumoRadio" id="DebesCreditoConsumoRadio" class="DebesCreditoConsumoRadio"></p> 


         {% else %}
    
          <p class="rad">Si<input type="radio" value="SI" class="DebesCreditoConsumoRadio" name="DebesCreditoConsumoRadio" id="DebesCreditoConsumoRadio" >
         No<input type="radio" value="NO"    name="DebesCreditoConsumoRadio" id="DebesCreditoConsumoRadio" class="DebesCreditoConsumoRadio" checked ></p> 


          
     
    {% endif %}  



          
          
    
	<div style="float:left; height:10px; width:100%;"></div>
    <button style="float:left;" class="classname" value="Agregar" id="guardaConsumo1" type="submit">GUARDAR Y SIGUIENTE</button> 



               </form>


             
              
              
               <form id="debes_credito_consumo" method="post" action="{{path('creditoConsumo')}}" class="form-personal">
               <label class="label-text2" for="institucion">Institución</label>
               
               <input type="text" class="input-box2 validate[required]" autofocus name="InstitucionConsumo"  id="InstitucionConsumo"  data-validation-engine="validate[required]" data-required="true">
         

               
             <label class="label-text2" for="institucion">Pago Mensual</label>
               <input type="text"class="input-box2 validate[required]" name="PagoMensualConsumo" id="PagoMensualConsumo"   placeholder="$" onkeyup="puntitos(this,this.value.charAt(this.value.length-1))"  data-validation-engine="validate[required]" data-required="true" >
              
              <label class="label-text2" for="rut">Deuda Total</label>
              <input type="text" class="input-box2 required" name="deudaTotalConsumo" id="deudaTotalConsumo"  placeholder="$" onkeyup="puntitos(this,this.value.charAt(this.value.length-1))"  data-validation-engine="validate[required]" data-required="true">
              
              </div>
              </form>
              <div class="col1">
                  <form id="debes_credito22">
              <label class="label-text2" for="rut">Fecha Último Pago</label>
              <input type="text" class="input-box2 validate[required]" id="VencimientoFinalConsumo" name="VencimientoFinalConsumo"  data-validation-engine="validate[required]" data-required="true" >
              
              <label class="label-text2" for="rut">Deuda Vigente</label>
              <input type="text" class="input-box2 validate[required]"  name="DeudaVigenteConsumo" id="DeudaVigenteConsumo"  placeholder="$" onkeyup="puntitos(this,this.value.charAt(this.value.length-1))"  data-validation-engine="validate[required]" data-required="true">
              </form>
              
              
            </div>
            
            <div class="clearfix"></div>
            

       	  <div class="col2">
          <button style="float:left;margin-top:10px;" id="guardaConsumo" class="classname" value="Agregar" type="submit" onClick="">AGREGAR</button>
        <div id="SiguienteDebesCreditoConsumo" class="classname" style="margin-top:10px; margin-left: 1%; position: relative;width: 80px; float: left;" >SIGUIENTE</div>
        </div>

            
    
        <div class="flix-clear"></div>

           <div class="clearfix"></div>
      <br> 
            
            <div class="col2">
          <table class="table table-striped" id="respuesta4">
			    <thead style="background:#F60">
          <tr>
					<td><p style="text-align:center; color:#FFF;">Institución</p></td>
					<td><p style="text-align:center;color:#FFF;">Pago Mensual </p></td>
					<td><p style="text-align:center;color:#FFF;">Deuda Total</p></td>
					<td><p style="text-align:center;color:#FFF;">Fecha Último Pago</p></td>
					<td><p style="text-align:center;color:#FFF;">Deuda Vigente</p></td>
          <td><p style="text-align:center;color:#FFF;">Eliminar</p></td>
				  </tr>
				</thead>
	    
     

      <tbody style="background:#F8F8F8;  font-family: Arial, Helvetica, sans-serif;">

          

        {% for debesCreditoConsumo  in debesCreditoConsumo %}  
            
      
          <tr  id="itemDebesConsumo_{{debesCreditoConsumo.id}}">
				
					<td><p style="text-align:center;color:#666;">{{debesCreditoConsumo.institucion}}</p></td>
					<td><p style="text-align:center;color:#666;">{{debesCreditoConsumo.pagomensual}}</p></td>
					<td><p style="text-align:center;color:#666;">{{debesCreditoConsumo.deudatotal}}</p></td>
					<td><p style="text-align:center;color:#666;">{{debesCreditoConsumo.fechaultimopago}}</p></td>
				  <td><p style="text-align:center;color:#666;">{{debesCreditoConsumo.deudavigente}}</p></td>
          <td><p style="text-align:center;color:#666;"> <a href="#" class="del_button" id="del-{{debesCreditoConsumo.id}}">eliminar</a> </p> </td>

          </tr>

        {% endfor %}
    </tbody>


                      
			 
             </table>
              
              
              
              
              
              
              
             
              
              
             
            
            </div>
            
            

	
		</div>
	
        

        
            



</form>
                    
                    <form id="debescreditoconsumoForm" action="{{path('deldebesCreditoconsumo')}}"></form>