{# empty Twig template #}






<script src="{{ asset('bundles/benchusuarios/js/datoslaborales.js') }}"></script><form class="form-personal"  action="{{path('datoslaboralesguarda')}}"  method="post"  id="formLaboral" data-validate="parsley" autocomplete="off" >



<input type="hidden" id="token" value="{{token}}">

    <div class="fila">


        <div class="col1">


 {% if antecedentes %}

     
 {% else %}

         
 {% endif %}          

            <label class="label-text2" for="nombres">Situación Laboral</label>
            
            <select class="data" autofocus data-validation-engine="validate[required]" id="combolaboral2" name="situacion_laboral" data-required="true">
{% if antecedentes %}  

                    <option value=""></option>

                    <option value="{{antecedentes.situacionlaboral}}" selected>{{antecedentes.situacionlaboral}}</option>


                 {% else %}
                    <option value="">Opción</option>


                    {% endif %} 

                    <option value="Dependiente - Renta Fija">Dependiente - Renta Fija</option>
                    <option value="Dependiente - Renta Variable">Dependiente - Renta Variable</option>
                    <option value="Independiente">Independiente</option>
                    <option value="Sin trabajo">Sin trabajo</option>
                    

                </select>

                <label class="label-text2" for="empresa">Empleador Empresa</label>

          {% if antecedentes %}     
                <input type="text" name="empresa"  class="input-box2" id="laboralempresa" value="{{antecedentes.empleadorempresa}}" data-required="true" />



               {% else %}


                <input type="text" name="empresa"  class="input-box2" id="laboralempresa" value="" data-validation-engine="validate[required]" data-required="true" />


               {% endif %}     



                <input type="hidden" value="" name="iduser">

                <label class="label-text2" for="industria">Industria</label>

         {% if antecedentes %}  

                <input type="text"  class="input-box2" id="laboralIndustria" name="industria"  value="{{antecedentes.industria}}" data-required="true"  />


         {% else %}

                <input type="text"  class="input-box2" id="laboralIndustria" name="industria"  value="" data-required="true"  />



            {% endif %}  


                <label class="label-text2" for="ingreso">Fecha de Ingreso</label>



              {% if antecedentes %}  


                <input type="text" name="fechaingreso" id="fechaingresoLaboral" title="Ingresar Día/Mes/Año" class="input-box2" id="laboralingresoa" value="{{antecedentes.fechaingreso}}" data-required="true" />


             {% else %}


                <input type="text" name="fechaingreso" id="fechaingresoLaboral" class="input-box2" id="laboralingresoa" value="" data-required="true" />



            {% endif %}  


                <label class="label-text2" for="cargo">Cargo Actual</label>


             {% if antecedentes %}  



                <input type="text" name="cargo" id="cargoLaboral"class="input-box2" id="laboralcargo"  value="{{antecedentes.cargoactual}}" data-required="true" />




              {% else %}



                <input type="text" name="cargo" id="cargoLaboral"class="input-box2" id="laboralcargo"  value="" data-required="true" />





               {% endif %}  


                <label class="label-text2" for="">RUT Empresa</label>



                 {% if antecedentes %}  




                <input type="text" name="rutempresa" class="input-box2" id="laboralrutempresa"  value="{{antecedentes.rutempresa}}"  />



                  {% else %}




                <input type="text" name="rutempresa" class="input-box2" id="laboralrutempresa"  value=""  />






                  {% endif %}  






            </div>

            <div class="col1">



                <label class="label-text2" for="rutempresa">Dirección</label>


                 {% if antecedentes %}  

                <input type="text" name="direccion" class="input-box2" id="laboraldirecccion" value="{{antecedentes.direccion}}" data-required="true" />             


                 {% else %}



                <input type="text" name="direccion" class="input-box2" id="laboraldirecccion" value="" data-required="true" />             


                 {% endif %}  

                <label class="tipo" for="region">Región</label>

                <select class="data" select="selected" data-validation-engine="validate[required]" id="ComboLaboralRegion" name="region" data-required="true" >        

{% if antecedentes %}

                    <option value="{{antecedentes.region}}">{{antecedentes.region}}</option>
                     {% else %}


                    <option value="">Elige tu region</option>


                    {% endif %}  





               

 <option value="Región de Antofagasta">Región de Antofagasta </option>


<option value="Región de Arica y Parinacota">Región de Arica y Parinacota </option>


<option value="Región de Atacama">Región de Atacama </option>


<option value="Región de Aysén del General Carlos Ibáñez del Campo">Región de Aysén del General Carlos Ibáñez del Campo </option>


<option value="Región de Coquimbo">Región de Coquimbo </option>


<option value="Región de la Araucanía">Región de la Araucanía </option>


<option value="Región de Los Lagos" >Región de Los Lagos </option>


<option value="Región de Los Lagos">Región de Los Ríos </option>


<option value="Región de Magallanes">Región de Magallanes y la Antártica Chilena </option>


<option value="Región de Tarapacá">Región de Tarapacá </option>


<option value="Región de Valparaiso">Región de Valparaiso </option>


<option value="Región del Bío-Bío">Región del Bío-Bío </option>



<option value="Región del Libertador General Bernardo O Higgins">Región del Libertador General Bernardo O Higgins </option>


<option value="Región del Maule">Región del Maule </option>


<option value="Región Metropolitana">Región Metropolitana </option>




                </select>


                <label class="tipo" for="comuna">Comuna</label>

                <select class="data" id="ComboLaboralComuna" name="comuna" data-required="true">

                 {% if antecedentes %}
                {% if antecedentes.comuna %}




                    <option value="{{antecedentes.comuna}}"selected> {{antecedentes.comuna}} </option>




                    {% else %}



                    <option value="">Seleccione Comuna</option>



                    {% endif %}

  {% endif %}
        



                </select>



                <label class="label-text2" for="rutempresa">Ciudad</label>


                 {% if antecedentes %}



                <input type="text" name="cuidad" class="input-box2" id="laboralcuidad" value="{{antecedentes.ciudad}}" data-required="true" />                



                  {% else %}


                <input type="text" name="cuidad" class="input-box2" id="laboralcuidad" value="" data-required="true" />                


                 {% endif %}



                <label class="label-text2" for="telefono">Teléfono</label>



                 {% if antecedentes %}



                <input type="text" class="input-box2" autofocus name="telefono4" id="laboraltelefono4" value="{{antecedentes.telefono}}" data-required="true" >



                  {% else %}



                <input type="text" class="input-box2" autofocus name="telefono4" id="laboraltelefono4" value="" data-required="true" >


                 {% endif %}



            </div>





            <div class="col1">





                <!--<label class="tipo" for=""> Tipo de Sueldo</label>


                <select class="data" name="tiporenta" id="laboraltiporenta" data-required="true">


                    {% if antecedentes %}


                    <option value="{{antecedentes.tiposueldo}}">{{antecedentes.tiposueldo}}</option>


                     {% else %}

                    <option value="">Opción</option>
                    




                     {% endif %}




                      <option value="Renta fija">Sueldo Fijo</option>
                    <option value="Renta Variable">Sueldo Variable</option>

                </select>

                <label class="tipo" for=""> Sueldo Fijo</label>
                
                  {% if antecedentes %}
                
                 <input type="text"  class="input-box2" value="{{antecedentes.sueldofijo}}" name="sueldofijo" id="sueldofijoLaboral"  placeholder="$" title="Ingresa monto en pesos sin puntos ni comas" onkeyup="puntitos(this, this.value.charAt(this.value.length - 1))"  data-required="true"  >

                
                 {% else %}
                 
                  <input type="text"  class="input-box2" value="" name="sueldofijo" id="sueldofijoLaboral"  placeholder="$" onkeyup="puntitos(this, this.value.charAt(this.value.length - 1))"  data-required="true"  >

                
                 {% endif %}
                
                
                
                
              

                <label class="tipo" for=""> Sueldo Variable</label>
                 {% if antecedentes %}
                
                <input type="text"  class="input-box2" value="{{antecedentes.rentavariable}}" name="rentavariable" id="rentavariableLaboral" placeholder="$" title="Ingresa monto en pesos sin puntos ni comas" onkeyup="puntitos(this, this.value.charAt(this.value.length - 1))" >
                  
                
                  {% else %}
                
                
               <input type="text"  class="input-box2" value="" name="rentavariable" id="rentavariableLaboral" placeholder="$" onkeyup="puntitos(this, this.value.charAt(this.value.length - 1))" >
                
                 
                
                  {% endif %}
                
                
                
                -->
                
                <section style="position: relative;width: 300px;height: 20px;margin-top: -5px;">
                <label class="tipo" for=""> Sueldo Líquido (Mínimo 500.000 pesos)</label>
                
                
                 {% if antecedentes %}
                
                <input type="text"  class="input-box2" value="{{antecedentes.independientesueldoliquido}}" name="indepsueldoliquido" id="indepsueldoliquidoLaboral" placeholder="$" title="Ingresa monto en pesos sin puntos ni comas" onkeyup="puntitos(this, this.value.charAt(this.value.length - 1))" >

                      {% else %}
                 
                <input type="text"  class="input-box2" value="" name="indepsueldoliquido" id="indepsueldoliquidoLaboral" placeholder="$" onkeyup="puntitos(this, this.value.charAt(this.value.length - 1))" >

                
                         {% endif %}
                
                </section>

            </div>
        </div>




        <div class="fila">
            <div class="col1"><br></div> 
            <div class="clearfix"></div>
            <div class="col1"> 
                <br>                   
                <button style="float:left;" id="GuardaLaborl1" class="classname" value="Guardar" type="submit" onClick="" >GUARDAR Y SIGUIENTE</button>
            </div>

        </div>


        <section id="respuestaLaboral3">




        </section>




    </form>
