{# empty Twig template #}

{%block containerConyuge %} 

<script src="{{ asset('bundles/benchusuarios/js/conyuge.js') }}"></script>

<form class="form-personal" id="formConyuge" method="post" action="{{path('datosconyugeguarda')}}" autocomplete="off" >


<input type="hidden" id="token" value="{{token}}">
    <div class="fila">

        <!--<h1 class="doc"><span class="orange">Datos Conyugue</span></h1>-->
        <div class="col1">
            <label class="label-text2" for="nombres">Nombres:</label>


                   {% if conyuge %}


            <input type="text" name="nombres" value="{{conyuge.nombre}}" id="Connombres" class="input-box2" data-validation-engine="validate[required]"   >


                  {% else %} 

            <input type="text" name="nombres" value="" id="Connombres" class="input-box2" data-validation-engine="validate[required]"   >

                  {% endif %} 




            <label class="label-text2" for="apellido1">Apellido Paterno:</label>


           {% if conyuge %}


            <input type="text" name="apellido1" class="input-box2" id="Conapellido1" value="{{conyuge.apellido}}" data-validation-engine="validate[required]"  />



         {% else %} 

            <input type="text" name="apellido1" class="input-box2" id="Conapellido1" value="" data-validation-engine="validate[required]"  />

          {% endif %} 



            <label class="label-text2" for="apellido2">Apellido Materno:</label>

               {% if conyuge %}

            <input type="text" name="apellido2" class="input-box2" id="Conapellido2"  value="{{conyuge.apellidoseg}}" data-validation-engine="validate[required]"  />


                {% else %} 


            <input type="text" name="apellido2" class="input-box2" id="Conapellido2"  value="" data-validation-engine="validate[required]"  />



                   {% endif %} 

            <label class="label-text2" for="rut">RUT:</label>


             {% if conyuge %}

            <input type="text" name="rut" class="input-box2" id="Conrutconyuge" value="{{conyuge.rut}}" data-validation-engine="validate[required]"  />

                      {% else %} 

            <input type="text" name="rut" class="input-box2" id="Conrutconyuge" value="" data-validation-engine="validate[required]"  />



                       {% endif %} 




            <label class="label-text2">Fecha de Nacimiento:</label>

                {% if conyuge %}




            <input type="text" name="nacimiento" id="Connacimiento" class="input-box2"  value="{{conyuge.fechanacimiento}}" data-validation-engine="validate[required]"  />

       {% else %} 


            <input type="text" name="nacimiento" id="Connacimiento" class="input-box2"  value="" data-validation-engine="validate[required]"  />

              {% endif %} 



        </div>

        <div class="col1">

            <label class="tipo" for="">Nacionalidad</label>



            <select class="data" data-errormessage-value-missing="Debe seleccionar un opcion" data-validation-engine="validate[required]" name="nacionalidad"  id="Connacionalidad" data-validation-engine="validate[required]" >


                 {% if conyuge %}

                <option value="{{conyuge.nacionalidad}}" selected>{{conyuge.nacionalidad}}</option>


                    {% else %} 



                <option value="">Opción</option>

                    {% endif %} 



                <option value="Chileno">Chileno</option>
                <option value="Extranjero Residente">Extranjero Residente</option>
                <option value="Extranjero No Residente">Extranjero No Residente</option>
            </select>



            <label class="tipo" for="" >Nivel de Educación</label>



            <select class="data" 
                    data-errormessage-value-missing="Debe seleccionar un opcion" data-validation-engine="validate[required]"  name="niveleducacion" id="Conniveleducacion">





  {% if conyuge %}

                <option value="{{conyuge.niveleducacion}}"><p class="seleccionado"> {{conyuge.niveleducacion}} </p></option>
 {% else %} 

                <option value="" select>Opción</option>

     {% endif %} 




                <option value="basico">Basico</option>
                <option value="medio">Medio</option>
                <option value="tecnico">Técnico</option>
                <option value="universitario">Universitario</option>
                <option value="postgrado">Postgrado</option>



            </select>





            <label class="label-text2" for="Profesión">Profesión</label>


              {% if conyuge %}



            <input type="text" class="input-box2" autofocus  value="{{conyuge.profesion}}" name="profesion"  id="Conprofesion" data-validation-engine="validate[required]" >




             {% else %}

            <input type="text" class="input-box2" autofocus  value="" name="profesion"  id="Conprofesion" data-validation-engine="validate[required]" >


              {% endif %}  






            <label class="label-text2" >Universidad o Instituto</label>


            {%  if conyuge %}

            <input type="text" class="input-box2" autofocus  value="{{conyuge.universidad}}" name="universidad" id="Conuniversidad" data-validation-engine="validate[required]" >

              {% else %}

            <input type="text" class="input-box2" autofocus  value="" name="universidad" id="Conuniversidad" data-validation-engine="validate[required]" >

             {% endif %}  



            <label class="label-text2" for="">Actividad</label>


           {%  if conyuge %}
            
            
            

            
            
            <input type="text" class="input-box2" autofocus value="{{conyuge.actividad}}" name="actividad" id="Conactividad" data-validation-engine="validate[required]" >

            
            
           {% else %}

            
            
            <input type="text" class="input-box2" autofocus value="" name="actividad" id="Conactividad" data-validation-engine="validate[required]" >



           {% endif %}  


        </div>
        <div class="col1">


            <label class="tipo" for="">Cargo Actual</label>
            
            
                  {%  if conyuge %}
            
            
            <input type="text" class="input-box2"  autofocus=""  id="Concargo" name="cargo" value="{{conyuge.cargoactual}}"  data-validation-engine="validate[required]" >

            
                   {% else %}

            <input type="text" class="input-box2"  autofocus=""  id="Concargo" name="cargo" value=""  data-validation-engine="validate[required]" >

            
            
                   {% endif %}  

            
            
            <label class="tipo" for="">Antigüedad Laboral</label>
            
            
             {%  if conyuge %}
            
            
            <input type="text" class="input-box2"  autofocus=""  name="antiguedad"  id="ConAntiguedad" value="{{conyuge.antiguedadlaboral}}" data-validation-engine="validate[required]" >

               {% else %}
            
            
              
            <input type="text" class="input-box2"  autofocus=""  name="antiguedad"  id="ConAntiguedad" value="" data-validation-engine="validate[required]" >

            
              {% endif %}  
              
              
            
            
            
            
            <label class="tipo" for=""> Renta Líquida</label>
            
            
              {%  if conyuge %}
            
            
            <input type="text" onkeyup="puntitos(this, this.value.charAt(this.value.length - 1))" id="ConRenta" class="input-box2" value="{{conyuge.rentaliquidad}}" name="renta" placeholder="$" data-validation-engine="validate[required]">

            
                {% else %}
            
              
            <input type="text" onkeyup="puntitos(this, this.value.charAt(this.value.length - 1))" id="ConRenta" class="input-box2" value="" name="renta" placeholder="$" data-validation-engine="validate[required]">

            
                {% endif %}  
                
                
            
            <label class="tipo" for="direccion">Empresa Trabajo</label>
            
            
             
            
              {%  if conyuge %}
            
            
            <input type="text" class="input-box2" autofocus name="empresa" id="Conempresa"  value="{{conyuge.empresa}}" data-validation-engine="validate[required]" >
                
            
            
              {% else %}
            
            
              <input type="text" class="input-box2" autofocus name="empresa" id="Conempresa"  value="" data-validation-engine="validate[required]" >
                
            
              {% endif %}  
                
            
            
            <label class="label-text2" for="telefono">Teléfono</label>
            
            
             {%  if conyuge %}
            
            
            <input type="text" class="input-box2" autofocus  name="telefono"  id="Contelefono" value="{{conyuge.telefono}}" data-validation-engine="validate[required]" >


              {% else %}
            
            
            <input type="text" class="input-box2" autofocus  name="telefono"  id="Contelefono"value="" data-validation-engine="validate[required]" >


            {% endif %}  
                





        </div>



    </div>


    <div class="fila">
        <div class="col1"><br></div> 
        <div class="clearfix"></div>
        <div class="col1">
            <br>                    
            <button style="float:left;" id="botonconyugue" class="classname" value="Guardar" type="submit">GUARDAR Y SIGUIENTE</button>
        </div>
        </form>
        <div class="col1"><br></div> 
    </div>

    <section id="respuestaConyuge"></section>


         {%endblock %} 
