<script src="{{ asset('bundles/benchusuarios/js/datospesonales.js') }}"></script>


  {%block containerDatosPersonales %} 
   

  <form class="form-personal" id="DatosPersonalesForm" method="post" action="{{path('datospersonalesguarda')}}" data-validate="parsley" autocomplete="off">  
    <div class="fila">

    

<input type="hidden" id="token" value="{{token}}">
      
          <!-- <h1 class="doc" style="margin-bottom:20px;"><span class="orange">Datos Personales</span></h1>-->
          <div class="col1">
            <label class="label-text2" >Nombres</label>
   

        
        <input type="text"   autofocus class="input-box2" id="nombreUsario" value="{{usuario.nombre}}" data-required="true" />
        
        
              <label class="label-text2" >Apellido Paterno</label>
        <input type="text" name="apellido1" class="input-box2" id="apellido1"  value="{{usuario.apellido}}"  data-required="true" />
      
              <label class="label-text2" >Apellido Materno</label>
        <input type="text" name="apellido2" class="input-box2" id="apellido2" value="{{usuario.apellidoSeg}}" data-required="true"  />
          
              <label class="label-text2" >RUT</label>
          <input type="text"  class="input-box2" id="rutpersonal" name="rut" value="{{usuario.rut}}"   data-required="true" />
          
              <label class="label-text2" >Fecha de Nacimiento</label>
        <input type="text" name="nacimiento" class="input-box2" id="nacimiento" title="Ingresar Día/Mes/Año" value="{{usuario.fechaNacimiento}}" data-required="true"  />
                
              <label class="tipo" >Sexo</label>


              <select class="data" data-errormessage-value-missing="Debe seleccionar un opcion" data-validation-engine="validate[required]" name="sexo"  id="sexoper" data-required="true" >
      
                  
              

{% if usuario.sexo %}
                  
           <option value="{{usuario.sexo}}" selected> <h1  style="font-family: Arial; font-size: 8px;">{{usuario.sexo}}</h1> </option>
                  
   {% else %}               
   
              
           <option value="">Opción</option>
              
              
              {% endif %}  
        
        
      
        <option value="Hombre">Hombre</option>
        <option value="Mujer">Mujer</option>

 





   
          </select>
                

              
              

              <label class="tipo" for="">Nacionalidad</label>


          <select class="data"  data-errormessage-value-missing="Debe seleccionar un opcion" data-required="true"  id="nacionalidad">
                
         {%  if usuario.nacionalidad %}
              
              <option value="{{usuario.nacionalidad}}"> {{usuario.nacionalidad}}</option>
              
              {% else %}
              
              
               <option value="">Opción</option>
              
              
              {% endif %}
         
          <option value="Chilena">Chilena</option>
          <option value="Extranjero Residente">Extranjero Residente</option>
          <option value="Extranjero No Residente">Extranjero No Residente</option>

         
        </select>
            </div>
            
            <div class="col1">
              <label class="tipo" for="">Estado Civil</label>
              <select class="data" 
              data-errormessage-value-missing="Debe seleccionar un opcion" data-required="true"  name="estadociv" id="estadociv" data-validation-engine="validate[required]">
               
             
                  
                  {% if  usuario.estadocivil %}
                  
                  
                  
                 <option value="{{usuario.estadocivil}}">{{usuario.estadocivil}}</option>
                  
                  {% else %}
                 
                 

                    <option value="">Opcion</option>
                  
                  {% endif %}

              
                <option value="Soltero">Soltero</option>
                <option value="Separado">Separado</option>
                <option value="Viudo">Viudo</option>
                <option value="Casado sociedad conyugal">Casado Sociedad Conyugal</option>
                <option value="Casado con separación de bienes">Casado con Separación de Bienes</option>


               

             
        


        </select>
                
              <label class="tipo" for="">Nivel de Educación</label>


              
              <select class="data" 
              data-errormessage-value-missing="Debe seleccionar un opcion" id="niveleduc"  name="niveleducacion" data-validation-engine="validate[required]">
   
                  
        {% if usuario.niveleducacion %}
                  
                    
                   <option value="{{usuario.niveleducacion}}">{{usuario.niveleducacion}} </option>
                  
                  {% else  %}
                  
                    
                    <option value="">Opción </option>
                  
                  {% endif %}
      
        <option value="Basica">Básica</option> 
        <option value="medio">Medio</option>
        <option value="Técnico">Técnico</option>
        <option value="universitario">Universitario</option>
        <option value="Postgrado">Postgrado</option>


        

        </select>
              
              
              
              <label class="label-text2" for="profesion">Profesión u Oficio</label>
              
              
              <input type="text" class="input-box2"  name="profesion" id="profesion2"  value="{{usuario.profesion}}"  data-required="true" >
              
              <label class="label-text2" for="universitad">Universidad o Instituto</label>
              <input type="text" class="input-box2"  name="universidad" id="universidad" value="{{usuario.universidad}}"  data-required="true" data-required="true"  >
              
              <label class="label-text2" for="rut">Celular</label>
              
              <input type="text" class="input-box2" title="Debes anteponer el 09 al número telefónico"  name="telefono1" id="celularPersonal" value="{{usuario.telefono}}" data-required="true"  >
            
            
            </div>
            <div class="col1">
              <label class="tipo" for="">Tipo de Casa</label>
       
      <select class="data" data-errormessage-value-missing="Debe seleccionar un opcion" name="tipocasa" id="tipocasa" data-required="true">
        
          
                      
          {% if usuario.tipocasa %}
          
          
         <option select="selected" value="{{usuario.tipocasa }}">{{usuario.tipocasa}} </option>
          
        

         {% else %}
          
          
           <option value="">Opción </option>
           
           
          
          {%endif %}
          
          
     
        <option value="Propia con Hipoteca">Propia con Hipoteca</option>
        <option value="Propia sin Hipoteca ">Propia sin Hipoteca</option>
        <option value="Arrendada">Arrendada</option>
        <option value="De la familia">De la familia</option>

     
        </select>
              
              <label class="tipo" for="">N° de Dependientes </label>
              <input type="text" class="input-box2"  name="ndependientes" id="ndependientes"  value="{{usuario.ndependientes}}" data-required="true" data-type="number" >
              
              <label class="tipo" for=""> Monto de Arriendo o Dividendo</label>
              
              <input type="text" class="input-box2"  id="montoardiv" name="montoardiv" title="Ingresa monto en pesos sin puntos ni comas"  data-required="true"  value="{{usuario.montoarriendo}}" placeholder="$" onkeyup="puntitos(this,this.value.charAt(this.value.length-1))" >
              
              
              <label class="tipo" >Dirección</label>
              
              
              <input type="text" class="input-box2" name="direccion" id="direccionPerson" value="{{usuario.direccion}}" data-required="true" >
              
              
               <label class="tipo" for="region">Región</label>
              
               
               
               <select class="data" select="selected" data-required="true" data-required="true"  id="pesonalRegion" name="regionP">

 
                   
                   
<option value="">Opción</option>
    

        {% if usuario.region %}
    
<option value="{{usuario.region}}" selected>{{usuario.region}}</option>


     {% else %}





      {% endif %}
    

 <option value="">Elige tu region</option>




 <option value="Región de Antofagasta">Región de Antofagasta </option>


<option value="Región de Arica y Parinacota">Región de Arica y Parinacota </option>


<option value="Región de Atacama">Región de Atacama </option>


<option value="Región de Aysén del General Carlos Ibáñez del Campo">Región de Aysén del General Carlos Ibáñez del Campo </option>


<option value="Región de Coquimbo">Región de Coquimbo </option>


<option value="Región de la Araucanía">Región de la Araucanía </option>


<option value="Región de Los Lagos" >Región de Los Lagos </option>


<option value="Región de Los Lagos">Región de Los Ríos </option>


<option value="Región de Magallanes">Región de Magallanes y la Antártica Chilena </option>


<option value="Región de Tarapacá">Región de Tarapacá </option>


<option value="Región de Valparaiso">Región de Valparaiso </option>


<option value="Región del Bío-Bío">Región del Bío-Bío </option>



<option value="Región del Libertador General Bernardo O Higgins">Región del Libertador General Bernardo O Higgins </option>


<option value="Región del Maule">Región del Maule </option>


<option value="Región Metropolitana">Región Metropolitana </option>




        </select>
              
              
              <label class="tipo" for="comuna">Comuna</label>
              
              <select class="data" name="comunaP"  id="comunaP" data-required="true">
                  
                  
                  
        {% if usuario.comuna %}
    
<option value="{{usuario.comuna}}" selected>{{usuario.comuna}}</option>


     {% else %}

      <option value="" selected  >Seleccione Comuna</option>



      {% endif %}
        
              
              
            
  
                 
                 </option>

         
               
        </select>
</div>

       

  
    </div>
  
        
        <div class="fila">
          <div class="col1"><br></div>
          <div class="clearfix"></div>
          <div class="col1"> 
              
          <br>                   
             <button style="float:left;" id="guardaDatosPersonales" class="classname" value="Guardar" >GUARDAR Y SIGUIENTE</button>
          </div>
          
         
        <div id="RespuestaDatosPersonales">
            
          
     
        </div>

         <div class="col1"><br></div> 
        </div>

        
            



</form> 

<form id="formRegiones" action="{{path('comboRegion')}}"></form>


   {%endblock %} 