<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Plantilla BBVA</title>
        <style>

         body{

        font-family: arial, sans-serif;
        font-size: 12px;
    }

    
            #contenido{
                width: 710px;
            }
            
            .tabla{
                width: 710px;
                background: #efefef;
            }
            
            .simuInput{
                width: 100%;
                height: 20px;
                border-bottom: 1px;
                border-left: 0px;
                border-right: 0px;
                border-top: 0px;
                border-style: solid;
                position: relative;
                float: left;
            }
            
            table {
  border-collapse: separate;
  border-spacing:  10px 15px;
}

  table{
        margin-left:10px;
        position:relative;
        width:auto;
        height:auto;

    }  




        </style>
    </head>
    <body>




        <div id="contenido">


        <table width="695">
    <tr>
        <td width="300" height="96"><img src="http://www.mediadiv.cl/imgPdf/bvva.jpg"></td>
        <td width="383" style="background-color:#001d6e"><span style="color:#FFF;width:auto;height:auto;float:right;margin-right:4px;margin-top:60px;"> </span></td>

    </tr>

</table>



            <!-- Titulo cabecera -->
            <table class="tabla">
                <tbody>
                    <tr>
                        <td>Estado de situación:</td>
                        <td>PERSONA NATURAL</td>
                        <td><div class="simuInput"></div></td>
                        <td><img src=""></td>
                    </tr>
                </tbody>
            </table>
            <!-- Titulo cabecera -->
            <br>
            <br>
            
            <!-- Antecedentes Personales -->
            <table class="tabla" >
                <thead>
                <th colspan="6" align="left">
                    ANTECEDENTES PERSONALES:
                </th>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="1">Rut</td>
                        <td colspan="3" >Nombres Apellidos</td>
                      
                    
                    </tr>
                    <tr>
                        <td colspan="1" ><div class="simuInput">&nbsp; {% if usuario.rut %} {{ usuario.rut }} {% endif %}</div></td>
                        <td colspan="3"><div class="simuInput">&nbsp;

{% if usuario.nombre %} {{ usuario.nombre }} {% endif %} {% if usuario.apellido %}  {{ usuario.apellido }} {% endif %} {% if usuario.apellidoseg  %}{{ usuario.apellidoseg }} {% endif %}
                        </div></td>
                      
                    </tr>


                    
                    <tr>
                  
                        <td>Fecha de nacimiento </td>
                          <td>Sexo</td>
                        
                    
                    </tr>
                    
                    <tr>
                    
            
                    <td><div class="simuInput">&nbsp; {%  if usuario.fechaNacimiento  %}{{ usuario.fechaNacimiento }} {% endif %}</div></td>
                    <td><div class="simuInput">&nbsp;{% if usuario.sexo %} {{ usuario.sexo }} {% endif %} </div></td>
                    
                    </tr>
                    
                    <tr>
                      
                        <td>Nacionalidad</td>
                        <td colspan="2">Estado civil</td>
                        <td>Dependientes</td>
                    
                    </tr>
                    <tr>
                      
                        <td><div class="simuInput">&nbsp; {% if usuario.nacionalidad %} {{ usuario.nacionalidad }} {% endif %}</div></td>
                        <td colspan="2" ><div class="simuInput">&nbsp;{% if usuario.estadocivil  %}{{ usuario.estadocivil }} {% endif %} </div></td>
                        <td><div class="simuInput">&nbsp;{% if  usuario.ndependientes %} {{ usuario.ndependientes }} {% endif %} </div></td>
                 
                    </tr>
                    
                        
                    <tr>
                     
                         <td>Personas grupo familiar</td>
                        <td>Nivel educacional</td>



                    </tr>

                    <tr>

                        <td><div class="simuInput">&nbsp;</div></td>
                        <td><div class="simuInput">&nbsp; {% if usuario.niveleducacion %} {{ usuario.niveleducacion }}   {% endif %}</div></td>

                    </tr>



                      <tr>


                       <tr>
                     
                         <td>Sueldo Liquido</td>
                



                    </tr>

                    <tr>

                        <td><div class="simuInput">&nbsp; {% if antecedentes %} {{ antecedentes.independientesueldoliquido }} {% endif %}</div></td>
                  

                    </tr>




 <tr>


                       <tr>
                     
                         <td>Telefono</td>
                         <td>Email</td>



                    </tr>

                    <tr>

                      <td><div class="simuInput">&nbsp; {% if  usuario  %}{{ usuario.telefono }}  {% endif %} </div></td>
                        <td><div class="simuInput">&nbsp; {% if usuario  %} {{ usuario.email }}  {% endif %}</div></td>
                  

                    </tr>





                      
                    <td>&nbsp;</td>
                    </tr>
                    <tr>
                    
                    
                    <tr>
                    <td>
                    DIRECCIÓN PARTICULAR:
                    </td>
                    
                    
                       
                      <tr>
                    <td>&nbsp;</td>
                    </tr>
               
                    
                    
                    
                  
                       <tr>
                        <td colspan="2">Avenida/Calle</td>
                        <td>N°</td>
                        <td>Depto</td>
                      
                       </tr>
                    
                    <tr>
                        <td colspan="2" ><div class="simuInput">&nbsp; {% if usuario.direccion %} {{ usuario.direccion }} {% endif %}</div></td>
                        <td><div class="simuInput">&nbsp;  </div></td>
                        <td><div class="simuInput">&nbsp; </div></td>
                 
              
                    </tr>
                    
                    
                    
                     
                       <tr>

                     
                        <td colspan="1">Comuna</td>
                        <td colspan="3">Region </td>
                      
                       </tr>
                    
                    <tr>
                  
                        <td colspan="1"><div class="simuInput">&nbsp;{% if usuario.comuna  %}  {{ usuario.comuna }} {% endif %}  </div></td>
                        <td colspan="3"><div class="simuInput">&nbsp;
                        {% if usuario.region  %} {{ usuario.region  }} {% endif %}

                            
                        </div></td>
              
                    </tr>
                    
                    
                    
                      <tr>
                    <td>
                  DIRECCIÓN COMERCIAL
:
                    </td>
                    
                    
                       
                      <tr>
                    <td>&nbsp;</td>
                    </tr>
               
                    
                    
                    
                  
                    
                    
                  
                       <tr>
                        <td colspan="2">Avenida/Calle</td>
                        <td>N°</td>
                        <td>Depto</td>
                      
                       </tr>
                    
                    <tr>
                        <td colspan="2" ><div class="simuInput">&nbsp; {% if antecedentes %} {{ usuario.direccion }} {% endif %}</div></td>
                        <td><div class="simuInput">&nbsp;  </div></td>
                        <td><div class="simuInput">&nbsp; </div></td>
                 
              
                    </tr>
                    
                    
                    
                     
                       <tr>

                     
                        <td colspan="1">Comuna</td>
                        <td colspan="3">Region </td>
                      
                       </tr>
                    
                    <tr>
                  
                        <td colspan="1"><div class="simuInput">&nbsp;{% if antecedentes %}  {{ antecedentes.comuna }} {% endif %}  </div></td>
                        <td colspan="3"><div class="simuInput">&nbsp;
                        {% if antecedentes  %} {{ antecedentes.region  }} {% endif %}

                            
                        </div></td>
              
                    </tr>
                    
                    
                    
                    
                    
                  
                    
                  
                    
                    
              
              </tbody>
            </table>
            <!-- Antecedentes Personales -->
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <!-- Antecedentes Laborlales -->
            <table class="tabla" >
                <thead>
                <th colspan="4" align="left">
                    ANTECEDENTES LABORALES
                </th>
                </thead>
                <tbody>
                    <tr>
                        <td>Situación laboral</td>
                        <td>Profesión</td>
                        <td>Actividad o Cargo</td>
                    </tr>


                    <tr>
                        <td><div class="simuInput">&nbsp; {% if  antecedentes  %}  {{ antecedentes.situacionlaboral }}   {% endif %}</div></td>
                        <td><div class="simuInput">&nbsp;{% if  antecedentes  %}  {{ usuario.profesion }}  {% endif %}</div></td>
                        <td><div class="simuInput">&nbsp;{% if  antecedentes  %} {{ antecedentes.cargoactual }} {% endif %}</div></td>
                    </tr>




           


                    <tr>
                        <td>Nombre completo empleador</td>
                        <td>Rut Empleador</td>
                        <td>Giro Empressa</td>
                        <td>Fecha ingreso empleador</td>
                    </tr>
                    <tr>
                        <td><div class="simuInput">&nbsp;{% if  antecedentes  %}  {{ antecedentes.empleadorempresa }}  {% endif %}</div></td>
                        <td><div class="simuInput">&nbsp;{% if  antecedentes  %}  {{ antecedentes.rutempresa}} {% endif %}</div></td>
                        <td><div class="simuInput">&nbsp;{% if  antecedentes  %}  {% endif %}</div></td>
                        <td><div class="simuInput">&nbsp;{% if  antecedentes  %} {{ antecedentes.fechaingreso }}  {% endif %}</div></td>
                    </tr>
                    <tr>
                        <td>Nombre empleador anterior</td>
                        <td>Antgüedad laboral </td>
                        <td>Inicio actividad independiente</td>
                        <td>Otra actividad</td>
                    </tr>
                    <tr>
                        <td><div class="simuInput">&nbsp;{% if  antecedentes  %}  {% endif %}</div></td>
                        <td><div class="simuInput">&nbsp;{% if  antecedentes  %} {{ tiempoTrabajo }}   {% endif %}</div></td>
                        <td><div class="simuInput">&nbsp;{% if  antecedentes  %}  {% endif %}</div></td>
                        <td><div class="simuInput">&nbsp;{% if  antecedentes  %}  {% endif %}</div></td>
                    </tr>


                    <tr>
                        <td>Sueldo</td>

                    </tr>

                    <tr>
                       <td colspan="3">

                       <div class="simuInput">{% if  antecedentes  %}  {{ antecedentes.independientesueldoliquido }} {% endif %}   </div> </td> 

                    </tr>
                </tbody>
            </table>
            <!-- Antecedentes Laborlales -->
            <br>
            <br>
            <br>
            <br>
            <!-- Antecedentes Conyuge -->
            <table class="tabla" >
                <thead>
                <th colspan="7" align="left">Antencedentes del (de la) Conyuge:</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Rut</td>
                        <td colspan="2" >Nombres </td>
                        <td colspan="3">Apellido Materno</td>
                       
                    </tr>
                    <tr>
                        <td><div class="simuInput">&nbsp; {% if Conyuge %}  {{ Conyuge.rut }} {% endif %}</div></td>
                        <td colspan="2"><div class="simuInput">&nbsp;{% if Conyuge %}  {{ Conyuge.nombre }} {% endif %}</div></td>
                        <td colspan="3"><div class="simuInput">&nbsp;{% if Conyuge %} {{ Conyuge.apellido }}  {% endif %}</div></td>
                      
                    </tr>
                    
                    <tr>
                    
                     <td colspan="2">Apellido Paterno</td>
                        <td>Fecha de nacimientos</td>
                        
                    </tr>
                    
                    <td colspan="2"><div class="simuInput">&nbsp; {% if Conyuge %} {{ Conyuge.apellidoseg }} {% endif %}</div></td>
                     <td><div class="simuInput">&nbsp; {% if Conyuge %} {{ Conyuge.fechanacimiento }} {% endif %}</div></td>
                    
                    <tr>
                    
                    
                    </tr>
                    
                    
                    <tr>
                        <td>Sexo</td>
                        <td colspan="2">Nacionalidad</td>
                        <td>Dependientes</td>
                      
                    </tr>
                    <tr>
                        <td><div class="simuInput">&nbsp; {% if usuario.sexo %} {% if usuario.sexo == 'Hombre' %} Mujer  {% else %} Hombre {% endif %}{% endif %} </div></td>
                        <td colspan="2"><div class="simuInput">&nbsp; {% if Conyuge %}  {{ Conyuge.nacionalidad }}{% endif %}</div></td>
                        <td><div class="simuInput">&nbsp;</div></td>
                        
                    </tr>
                    
                    <tr>
                      <td colspan="2">Nivel educacional</td>
                    </tr>
                    <tr>
                      <td colspan="2"><div class="simuInput">&nbsp; {% if Conyuge %} {{ Conyuge.niveleducacion }} {% endif %}</div> </td>
                    </tr>
                    <tr>
                        <td colspan="7">
                              ANTECEDENTES LABORALES:
                        </td>
                    </tr>
                    <tr>
                        <td>Profesión</td>
                        <td colspan="2">Actividad o cargo</td>
                        <td colspan="3">Nombre completo empleador</td>
                    </tr>
                    <tr>
                        <td><div class="simuInput">&nbsp; {% if Conyuge %} {{ Conyuge.profesion }}  {% endif %} </div></td>
                        <td colspan="2"><div class="simuInput">&nbsp; {% if Conyuge %} {{ Conyuge.actividad }}  {% endif %}</div></td>
                        <td colspan="3"><div class="simuInput">&nbsp;{% if Conyuge %} {{ Conyuge.empresa }}  {% endif %}</div></td>
                    </tr>
                    <tr>
                        <td>Fecha ingreso empleador:</td>
                        <td>Direccion Comercial:</td>
                        <td>Oficina</td>
                   
                    </tr>
                    <tr>
                        <td><div class="simuInput">&nbsp;  </div></td>
                        <td><div class="simuInput">&nbsp; </div></td>
                        <td><div class="simuInput">&nbsp; </div></td>
            
                    </tr>
                    
                    <tr>
                        <td colspan="2">Cargo Actual:</td>
                        <td colspan="2">Antiguedad Laboral:</td>
                     
                    </tr>
                    
                    <tr>
                
                    <td colspan="2" ><div class="simuInput">&nbsp;{% if Conyuge %} {{ Conyuge.cargoactual }}  {% endif %} </div></td>
                    <td colspan="2"><div class="simuInput">&nbsp; {% if Conyuge %} {{ Conyuge.antiguedadlaboral }}  {% endif %} </div></td>
                 
            
                       </tr>
                       
                       
                      
                 
                    <tr>
                        <td>Sueldo liquido mensual</td>
                      
                    </tr>
                    <tr>
                        <td><div class="simuInput">&nbsp; {% if Conyuge %} {{ Conyuge.rentaliquidad}}  {% endif %} </div></td>
          
                    </tr>
                </tbody>
            </table>
            <!-- Antecedentes Conyuge -->
            <br>
            <br>
            <br>
            <br>
            <br>
            <!-- Bienes Activos -->
            <table class="tabla" >
                <thead>
                <th colspan="4" align="left"> ACTIVOS </th>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="4" align="4" >DEPOSITOS A PLAZO, AHORRO, FONDOS MUTUOS o INVERSIONES / {% if tienesAhorroInversion %} SI {% else %}  {% if totalAhorroInversionApi %}SI {% else %} NO  {% endif %}{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Tipo</td>
                        <td>Institución</td>
               
                        <td>Valor</td>
                        <td>Prendado</td>
                    </tr>

                    {% for tienesAhorroInversion in tienesAhorroInversion %}
                    <tr>
                        <td><div class="simuInput">&nbsp; {{ tienesAhorroInversion.tipo }}</div></td>
                        <td><div class="simuInput">&nbsp; {{ tienesAhorroInversion.institucion }}</div></td>
                         <td><div class="simuInput">&nbsp; {{ tienesAhorroInversion.valorcomercial }}</div></td>
             
                        <td><div class="simuInput">&nbsp; {{ tienesAhorroInversion.prendado }} </div></td>
                    </tr>
                   {% endfor %}

                </tbody>
                
                <tr>
                    <td><div class="simInput">&nbsp; {% if totalAhorroInversion  %}   Total  {{totalAhorroInversion | number_format(0,'.' , '.') }} {% else %} {{totalAhorroInversionApi| number_format(0,'.' , '.') }}  {% endif %}</div> </td>
                </tr>


            </table>

          
            <br>
            <br>
            <br>
            <br>
            <br>
            <!-- Vehiculos -->
            <table class="tabla" >
                <thead> 
                <th align="left" colspan="7">Vehículo    / {% if  tienesAutomoviles  %} SI {%  else %} {% if TotalAutomovilesApi %} SI  {% else %}  NO {% endif %} {% endif %}</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Marca</td>
                        <td>Tipo</td>
                        <td>Modelo</td>
                        <td>Año</td>
                        <td>Valor comercial</td>
                        <td>Prenda</td>
            
                    </tr>

                    {% if  tienesAutomoviles  %}
                    {% for tienesAutomoviles in tienesAutomoviles %}
                    <tr>
                        <td><div class="simuInput">&nbsp; {{ tienesAutomoviles.marcaauto }}</div></td>
                        <td><div class="simuInput">&nbsp; {{ tienesAutomoviles.tipo }}</div></td>
                        <td><div class="simuInput">&nbsp; {{ tienesAutomoviles.modelo }}</div></td>
                        <td><div class="simuInput">&nbsp; {{ tienesAutomoviles.anoauto }}</div></td>
                        <td><div class="simuInput">&nbsp; {{ tienesAutomoviles.valorcomercial }}</div></td>
                        <td><div class="simuInput">&nbsp; {{ tienesAutomoviles.prendado }}</div></td>
                       
                    </tr>

                    {% endfor %}
                    {% endif %}
                  
                    <tr>
                        <td colspan="3" align="right">TOTAL VALOR COMERCIAL VEHICULOS</td>
                        <td colspan="4"><div class="simuInput">&nbsp; {% if totalAutomoviles %} {{ totalAutomoviles| number_format(0,'.' , '.') }} {% else %} {% if TotalAutomovilesApi %} {{ TotalAutomovilesApi| number_format(0,'.' , '.') }} {% endif %} {% endif %}</div></td>


                    </tr>
                </tbody>
            </table>
            <!-- Vehiculos -->
            <br>
            <br>
            <br>
            <!-- Propiedades -->
            <table class="tabla" >
                <thead>
                <th align="left" colspan="5" >
                    PROPIEDADES /  {% if tienesHiporecario %} SI {% else %} {% if TotalPropiedadesApi %}  SI  {% else %} NO {% endif %}{% endif %}
                </th>
                </thead>
                <tbody>
                  
                    <tr>
                        <td>Tipo</td>
                        <td>Direccion</td>
                        <td>Region</td>

                        <td>Avalúo Fiscal </td>
                        <td>Rol </td>
                        <td>Hipotecado </td>
                    </tr>



                    {% for tienesHiporecario in tienesHiporecario %}


                        
                        <tr>
                        <td><div class="simuInput" style="width:90px;">&nbsp; {{ tienesHiporecario.tipo }}</div></td>
                        <td><div class="simuInput" style="width:140px;font-size:10px;" >&nbsp; {{ tienesHiporecario.direccion }}</div></td>
                        <td><div class="simuInput" style="width:140px;font-size:10px;">&nbsp; {{ tienesHiporecario.region }}</div></td>

                        <td><div class="simuInput" style="width:90px;"> &nbsp; {{ tienesHiporecario.avaluo }}</div></td>
                        <td><div class="simuInput" style="width:90px;font-size:10px;"> &nbsp; {{ tienesHiporecario.rol }}</div></td>
                        <td><div class="simuInput" style="width:40px;"> &nbsp; {{ tienesHiporecario.hipotecado }}</div></td>
                        </tr>
                  


                    {% endfor %}

                    <tr>
                        <td align="right" colspan="3">TOTAL VALOR COMERCIAL PROPIEDADES</td>
                        <td colspan="2"><div class="simuInput">&nbsp; {% if totalHipotecario %}  {{ totalHipotecario|number_format(0,'.' , '.') }} {% else %} {{ TotalPropiedadesApi|number_format(0,'.' , '.') }}  {% endif %} </div></td>
                    </tr>
                    <tr>
                        <td align="right" colspan="3">TOTAL ACTIVOS</td>
                        <td colspan="2"><div class="simuInput">&nbsp; 
                        <!-- TOTAL DE ACTIVOS -->


                         
                        {% set totalAct =  totalHipotecario +  totalAutomoviles  + totalAhorroInversion  %}
                            
                          {{totalAct|number_format(0,'.' , '.')  }}




                        <!-- TOTAL  -->



                        </div></td>
                    </tr>
                </tbody>
            </table>
            <!-- Propiedades -->
            <br>
            <br>
            <br>
            <!-- Pasivos -->
            <table class="tabla">
                <thead>
                <th align="left" colspan="6">PASIVOS (Deudas Vigentes)</th>
                </thead>
                <tbody>
                    <tr>
                        <td align="left" colspan="6">DEUDAS DE CORTO PLAZO ( Líneas de Crédito )    {% if debesLineaCredito   %} SI {% else %} NO {% endif %}</td>
                    </tr>
                    <tr>
                    
                    <td>Institución</td>
                    <td>Monto Aprobado</td>
                    <td>Monto Utilizado</td>
                    <td>Vencimiento </td>
                    </tr>


                     {% if debesLineaCredito   %}
                    {% for debesLineaCredito  in debesLineaCredito   %}
                        <tr>
                            <td><div class="simuInput">&nbsp; {{ debesLineaCredito.institucion   }}</div></td>
                            <td><div class="simuInput">&nbsp; {{ debesLineaCredito.montoAprobado   }}</div></td>
                            <td><div class="simuInput">&nbsp; {{ debesLineaCredito.montoUtilizado   }}</div></td>
                            <td><div class="simuInput">&nbsp; {{ debesLineaCredito.vencimientofinal   }}</div></td>

                        </tr>

                    {% endfor  %}

                {% endif %}

                  <tr>
                        <td align="right" colspan="3">TOTAL </td>
                        <td colspan="2"><div class="simuInput">&nbsp;  {{ totalDebesLinea|number_format(0,'.' , '.') }} </div></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
            <br>
            <!-- TARJETAS DE CREDITO BANCARIAS -->
            <table class="tabla" >
                <thead>
                <th colspan="5" align="left">TARJETAS DE CREDITO BANCARIAS / {% if debesTarjetaCredito   %} SI {% else  %} NO {% endif %}</th>
                </thead>
                <tbody>


                    <tr>
                    <td>Tipo de Tarjeta</td>
                    <td>Institucion</td>
                    <td>Monto Aprobado</td>
                    <td>Monto Utilizado</td>
                    </tr>

                

                {% if debesTarjetaCredito   %}
                {% for debesTarjetaCredito  in debesTarjetaCredito   %}
                <tr>
                    <td><div class="simuInput">&nbsp; {{ debesTarjetaCredito.tipotarjeta   }}</div></td>
                    <td><div class="simuInput">&nbsp; {{ debesTarjetaCredito.institucion  }}</div></td>
                    <td><div class="simuInput">&nbsp; {{ debesTarjetaCredito.montoaprobado   }}</div></td>
                    <td><div class="simuInput">&nbsp; {{ debesTarjetaCredito.montoutilizado   }}</div></td>


                </tr>


                {% endfor  %}

                {% endif %}



                        <tr>
                          <td align="right" colspan="3">TOTAL </td>
                        <td colspan="2"><div class="simuInput">&nbsp;  {{ totalDebesLinea|number_format(0,'.' , '.') }} </div></td>
                    </tr>






                    <tr>
                        <td align="right" colspan="3">TOTAL TARJETAS DE CREDITO BANCARIAS</td>
                        <td colspan="2"><div class="simuInput">&nbsp; {% if totalDebesTarjeta %} {{ totalDebesTarjeta|number_format(0,'.' , '.') }}  {% endif %}</div></td>
                    </tr>
                </tbody>
            </table>


<br>
<br>
<br>
<br>
<br>
<br>
<br>


            <table class="tabla" >
                <thead>
                <th colspan="5" align="left">Crédito  Consumo                  {% if debesCreditoConsumo   %} / SI {% else %} NO {% endif %}</th>
                </thead>
                <tbody>

                <tr>
                    <td>Institución</td>
                    <td>Monto Aprobado</td>
                    <td>Monto Utilizado</td>
                    <td>Vencimiento </td>

                </tr>
                
                


                {% if debesCreditoConsumo   %}
                    {% for debesCreditoConsumo  in debesCreditoConsumo   %}
                        <tr>
                            <td><div class="simuInput">&nbsp; {{ debesCreditoConsumo.institucion   }}</div></td>
                            <td><div class="simuInput">&nbsp; {{ debesCreditoConsumo.pagomensual  }}</div></td>
                            <td><div class="simuInput">&nbsp; {{ debesCreditoConsumo.deudatotal  }}</div></td>
                            <td><div class="simuInput">&nbsp; {{ debesCreditoConsumo.fechaultimopago   }}</div></td>
                          <td><div class="simuInput">&nbsp; {{ debesCreditoConsumo.deudavigente   }}</div></td>

                        </tr>

                    {% endfor  %}

                {% endif %}





                        <tr>
                          <td align="right" colspan="3">TOTAL </td>
                        <td colspan="2"><div class="simuInput">&nbsp;  {{ totalDebesCredito|number_format(0,'.' , '.') }} </div></td>
                    </tr>






                </tbody>
            </table>



            <!-- TARJETAS DE CREDITO BANCARIAS -->
            <br>
            <br>
            <br>
            <table class="tabla" >
                <thead>
                <th colspan="6" align="left">DEUDAS DE LARGO PLAZO (Créditos Hipotecarios)  /  {% if debesHipotecario   %} SI {% else %} NO {% endif %} </th>
                </thead>
                <tbody>
                     <tr>
                        <td>Institución</td>
                        <td>Pago Mensual</td>
                        <td>Deuda Total</td>
                        <td>Vencimiento Final</td>
                        <td>Deuda Vigente</td>
                    </tr>


                  
                   
                    {% if debesHipotecario   %}
                         {% for debesHipotecario  in debesHipotecario   %}
                <tr>
                    <td><div class="simuInput">&nbsp; {{ debesHipotecario.institucion  }}</div></td>
                    <td><div class="simuInput">&nbsp;{{ debesHipotecario.pagomensual  }}</div></td>
                    <td><div class="simuInput">&nbsp;{{ debesHipotecario.deudatotal  }}</div></td>
                    <td><div class="simuInput">&nbsp;{{ debesHipotecario.venciminetofinal  }}</div></td>
                    <td><div class="simuInput">&nbsp;{{ debesHipotecario.duedavigente  }}</div></td>

                </tr>

                    {% endfor  %}
                    {% endif %}


                     <tr>
                          <td align="right" colspan="3">TOTAL </td>
                        <td colspan="2"><div class="simuInput">&nbsp;  {{ totalDebesHipotecario|number_format(0,'.' , '.') }} </div></td>
                    </tr>


                </tbody>
            </table>
            <br>
            <br>
            <br>
            <table class="tabla" >
                <thead>
                <th colspan="5" align="left">DEUDAS INDIRECTAS</th>
                </thead>
                <tbody>
                    <tr>
                        <td>INSTITUCION</td>
                        <td>NOMBRE AVALADO</td>
                        <td>FECHA DE VENCIMIENTO</td>
                        <td>PAGO MENSUAL</td>
                        <td>DEUDA VIGENTE</td>
                    </tr>
                    <tr>
                        <td><div class="simuInput">&nbsp;</div></td>
                        <td><div class="simuInput">&nbsp;</div></td>
                        <td><div class="simuInput">&nbsp;</div></td>
                        <td><div class="simuInput">&nbsp;</div></td>
                        <td><div class="simuInput">&nbsp;</div></td>
                    </tr>
                  
                        <td colspan="3" align="right">TOTAL DEUDAS INDIRECTAS</td>
                        <td colspan="2"><div class="simuInput">&nbsp;</div></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
            <br>
            <table class="tabla" >
                <thead>
                <th colspan="3" align="left">ARRIENDOS PAGADOS</th>
                </thead>
                <tbody>
                    <tr>
                        <td>DESCRIPCION</td>
                        <td>PAGO MENSUAL</td>
                        <td>TIEMPO DE RESIDENCIA</td>
                    </tr>
                    <tr>
                        <td><div class="simuInput">&nbsp;</div></td>
                        <td><div class="simuInput">&nbsp;</div></td>
                        <td><div class="simuInput">&nbsp;</div></td>
                    </tr>
                  
                    <tr>
                        <td colspan="2" align="right">TOTAL ARRIENDOS PAGADOS</td>
                        <td><div class="simuInput">&nbsp;</div></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
            <br>
            <table class="tabla">
                <thead>
                <th colspan="4" align="left">RENTA LIQUIDA MENSUAL</th>
                </thead>
                <tbody>
                <tbody>
                    <tr>
                        <td>SUELDO LIQUIDO MENSUAL</td>
                        <td>PROMEDIO ULTIMOS 6 PPM</td>
                        <td>RENTA GLOBAL COMPLEMENTARIO</td>
                        <td>BOLETAS DE HONORARIOS</td>
                    </tr>
                    <tr>
                        <td><div class="simuInput">&nbsp;</div></td>
                        <td><div class="simuInput">&nbsp;</div></td>
                        <td><div class="simuInput">&nbsp;</div></td>
                        <td><div class="simuInput">&nbsp;</div></td>
                    </tr>
                    <tr>
                        <td>ARRIENDOS</td>
                        <td>OTROS</td>
                        <td colspan="2">RENTA LIQUIDA MENSUAL TOTAL</td>
                    </tr>
                    <tr>
                        <td><div class="simuInput">&nbsp;</div></td>
                        <td><div class="simuInput">&nbsp;</div></td>
                        <td colspan="2"><div class="simuInput">&nbsp;</div></td>
                    </tr>
                </tbody>
                </tbody>
            </table>
            <!-- Pasivos -->



               <br/><br/><br/><br/><br/><br/><br/><br/>
               <br>
               <br>
               <br>
               <br>
               <br> 
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>

               
            <div style="width: 710px;">
                <hr style="color: #808080;" size="8" noshade>
                <h1 align="right">SOLICITUD DE PRODUCTOS</h1>
                <hr style="color: #808080;" size="8" noshade>
            </div>


            <h3>Crédito de consumo:</h3>
            <table class="tabla">

                <table class="tabla">
                    <thead>

                    </thead>
                    <tbody>
                    <tr>
                        <td>Monto de Crédito:</td>
                        <td>Plazo de Crédito </td>
                        <td>Seguros Asociados </td>
                        <td>¿Para qué utilizarás el Dinero? </td>

                    </tr>



                            <tr>
                                <td><div class="simuInput">&nbsp;   {% if creditoConsumo   %} {{ creditoConsumo.montoCredito   }} {% endif %}</div></td>
                                <td><div class="simuInput">&nbsp;    {% if creditoConsumo   %} {{ creditoConsumo.plazoCredito  }} {% endif %}</div></td>
                                <td><div class="simuInput">&nbsp;    {% if creditoConsumo   %} {{ creditoConsumo.segurosAsociados   }} {% endif %} </div></td>
                                <td><div class="simuInput">&nbsp;    {% if creditoConsumo   %} {{ creditoConsumo.paraque   }} {% endif %}</div></td>


                            </tr>






                    </tbody>
                </table>




                <h3>Crédito Hipotecario </h3>
                <table class="tabla">

                <table class="tabla">
                    <thead>

                    </thead>
                    <tbody>
                    <tr>
                        <td>Valor Propiedad :</td>
                        <td>Monto de Píe </td>
                        <td>Porcentaje </td>
                       

                    </tr>



                        <tr>
                            <td><div class="simuInput">&nbsp;   {% if creditoHipotecario %} {{ creditoHipotecario.valorPropiedad   }} UF {% endif %}</div></td>
                            <td><div class="simuInput">&nbsp; {% if creditoHipotecario %}  {{ creditoHipotecario.montoPie   }} UF {% endif %}</div></td>
                            <td><div class="simuInput">&nbsp;   {% if creditoHipotecario %} {{ creditoHipotecario.porcentaje   }} {% endif %}</div></td>
                        


                        </tr>



                    <tr> <td colspan="2">Monto de Crédito </td></tr>
                    <tr>
                        <td><div class="simuInput">&nbsp;  {% if creditoHipotecario %} {{ creditoHipotecario.montoCredito   }} UF {% endif %}</div></td>
                    </tr>





                    <tr>
                        <td>Plazo de Crédito </td>
                        <td>Tipo de Propiedad </td>
                    
                        <td>¿Tu propiedad es DFL2 y nueva ? </td>

                    </tr>



                        <tr>
                            <td><div class="simuInput">&nbsp; {% if creditoHipotecario %}  {{ creditoHipotecario.plazoCredito   }} {% endif %}  </div></td>
                            <td><div class="simuInput">&nbsp;{% if creditoHipotecario %} {{ creditoHipotecario.tipoPropiedad   }} {% endif %}   </div></td>
                           
                            <td><div class="simuInput">&nbsp; {% if creditoHipotecario %}{{ creditoHipotecario.dfl2   }} {% endif %}            </div></td>


                        </tr>



                <tr><td colspan="2">Estado</td></tr>

                <tr> <td colspan="2" ><div class="simuInput">&nbsp; {% if creditoHipotecario %}{{ creditoHipotecario.estadoPropiedad   }} {% endif %} </div></td></tr>








                    <tr>
                        <td>Comuna donde desea comprar</td>
                        <td>Proyecto / Inmobiliaria </td>


                    </tr>



                        <tr>
                            <td><div class="simuInput">&nbsp; {% if creditoHipotecario %}  {{ creditoHipotecario.comunaComprar   }} {% endif %}</div></td>
                            <td><div class="simuInput">&nbsp; {% if  creditoHipotecario %} {{ creditoHipotecario.proyecto   }}     {% endif %}</div></td>


                        </tr>







                    </tbody>
                </table>

    <h3>Crédito Automotriz</h3>

                    <table class="tabla">
                        <thead>

                        </thead>
                        <tbody>
                        <tr>
                            <td>Monto del Auto </td>
                            <td>Monto del Píe  </td>
                            <td>Plazo del Crédito </td>


                        </tr>


                                <tr>
                                    <td><div class="simuInput">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.monto  }} {% endif %}  </div></td>
                                    <td><div class="simuInput">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.pie }}    {% endif %}</div></td>
                                    <td><div class="simuInput">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.plazo }}  {% endif %}</div></td>


                                </tr>



                        <tr>
                            <td>Cuándo piensas comprar tu auto </td>
                            <td>Marca de Auto  </td>
                            <td>Año del Auto </td>


                        </tr>


                        <tr>
                            <td><div class="simuInput">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.cuandocompras }} {% endif %}</div></td>
                            <td><div class="simuInput">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.marcaauto }} {% endif %}</div></td>
                            <td><div class="simuInput">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.ano }} {% endif %}</div></td>


                        </tr>





                        </tbody>
                    </table>




<table class="tabla" >

<h3>
DATOS CRÉDITO CONSOLIDACION 
</h3>
<tr>
    <th>Crédito </th>
    <th>Monto </th>
    <th>Plazo </th>

  
    </tr>



    </thead>

    <tr>
    {% set con  = 0 %}
    {% if creditoConsolidacion   %}
    {% for creditoConsolidacion in creditoConsolidacion %}
    {% set con = con +1 %}

    {% if con <= 1 %}

    <tr>   

        <td><div class="simuInput" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.tipoCredito}} </div></td>
        <td><div class="simuInput" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.montoCredito}} </div></td>
        <td><div class="simuInput" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.plazo}} </div> </td>
     </tr>
        
       <tr>    

        <td><div class="simuInput" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.tipoCredito2}} </div></td>
        <td><div class="simuInput" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.montoCredito2}} </div></td>
        <td><div class="simuInput" style="width:80px;margin-left:5px;">  &nbsp;{{creditoConsolidacion.plazo2}} </div> </td>
</tr>
<tr>   


        <td><div class="simuInput" style="width:80px;margin-left:5px;">  &nbsp;{{creditoConsolidacion.tipoCredito3}}  </div></td>
        <td><div class="simuInput" style="width:80px;margin-left:5px;"> &nbsp; {{creditoConsolidacion.montoCredito3}} </div></td>
        <td><div class="simuInput" style="width:80px;margin-left:5px;"> &nbsp; {{creditoConsolidacion.plazo3}} </div></td>
       
   </tr> 
     {% endif %}
    {% endfor %}
    {% endif %}

    
        </tr>

</table></div>
                
        </div>
    </body>
</html>


