<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>


<style>
    body{

        font-family: arial, sans-serif;
        font-size: 12px;
    }
    #contenedor{
        width: 700px;
        height: 1000px;
        /*  background-color: #ffeeee; */
        position: relative;
        margin: auto;


    }

    .logo{
        width: 200px;
        height: 70px;
        background-color: #ffffff;
        position: relative;
        float: left;



    }

    .titulo{

        width: 700px;
        background-color: #001d6e;
        height: 70px;
        position: relative;
        float: right;



    }


    h3{

        color: #ffffff;



    }

    .titulo2{
        margin-top: 49px;
        float: right;
        margin-right: 5px;
        width: auto;
        height: auto;
        position: relative;

    }
    .row880{
        position: relative;
        height: 24px;
        width: 890px;
        margin: auto;

        background-color: #ffffff;

    }

    .row880Azul{
        position: relative;
        height: 21px;
        width: 900px;
        margin: auto;

        background-color: #001d6e;

    }



    .clear{

        clear: both;
    }
    input[type="text"] {
        padding: 10px;
        margin-top:-20px;
        border: none;
        text-align: center;
        border-bottom: solid 1px #000;
        transition: border 0.3s;
    }


    input[type="text"]:focus,
    input[type="text"].focus {
        border-bottom: solid 1px #000;
    }


    .titleInput1{
        position: relative;
        height: 100px;
        width: 100px;
        margin-top: 100px;

    }

    table{
        margin-top:10px;
    }

    .simuInput{
        width: 300px;
        height: 20px;
        border-bottom: 1px;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        border-style: solid;
        position: relative;
        float: left;


    }

    .titulo33{
        position: relative;
        width: auto;
        height: auto;
        float: left;
        margin-right: 8px;
    }
        

    

</style>



<div id="contenedor" style="background-color:#FFF;">


<table width="695">
    <tr>
        <td width="300" height="96"><img src="http://www.mediadiv.cl/imgPdf/bvva.jpg"></td>
        <td width="383" style="background-color:#001d6e"><span style="color:#FFF;width:auto;height:auto;float:right;margin-right:4px;margin-top:60px;">PREAPROBACION DE CREDITOS </span></td>

    </tr>

</table>
<table>

    <tr></tr>
</table>


<table width="700">
    <tr>


        <td width="301"><span class="titulo33">Inmobiliarias:       </span> <div class="simuInput" style="width:140px; "> &nbsp  {%  if creditoHipotecario  %} {% if creditoHipotecario.proyecto %}{{ creditoHipotecario.proyecto }} {% endif %}{% endif %}   </div>  </td>
        <td width="185"><span class="titulo33"> Proyecto: </span> <div class="simuInput" style="width:90px; "> &nbsp {%  if creditoHipotecario  %} {% if  creditoHipotecario.proyecto  %} {{ creditoHipotecario.proyecto }} {% endif %}{% endif %}   </div></td>

        <td width="198"> <span class="titulo33">Ejecutivo:</span> <div class="simuInput" style="width:110px; "> &nbsp </div></td>


    </tr>


</table>



<table width="700" height="10">
    <tr>

        <td  style="background-color: #001d6e;"><span style="color:#FFF;">ANTECEDENTES DEL CLIENTE</span></td>

    </tr>


</table>




<table width="702">
    <tr>
        <td width="489"><span class="titulo33">Nombre :</span> <div class="simuInput" style="width:390px; "> &nbsp; {% if usuario.nombre %} {{ usuario.nombre }} {% endif %} {% if usuario.apellido %}  {{ usuario.apellido }} {% endif %} {% if usuario.apellidoseg  %}{{ usuario.apellidoseg }} {% endif %}</div></td>

        <td width="201"> <span class="titulo33"> Rut:</span> <div class="simuInput" style="width:141px; ">&nbsp; {% if usuario.rut %} {{ usuario.rut }} {% endif %} </div></td>
    </tr>


</table>



<table width="700">
    <tr>
        <td colspan="2"><span class="titulo33" style="width:200px;"> Estado Civil:</span> <div class="simuInput" style="width:280px;">&nbsp; {% if usuario.estadocivil  %}{{ usuario.estadocivil }} {% endif %}</div> </td>
        <td width="219"> <span class="titulo33"> Fecha Nacimiento:</span> <div class="simuInput" style="width:130px; ">&nbsp; {%  if usuario.fechaNacimiento  %}{{ usuario.fechaNacimiento }}  {% endif %}</div></td>

        <td width="130"><span class="titulo33">  Edad:</span> <div class="simuInput" style="width:130px; "> &nbsp {{ edadUsuario }}  </div></td>
    </tr>


</table>


<table width="700">

    <td><span class="titulo33"> Domicilio: </span> <div class="simuInput" style="width:602px; "> {%  if usuario.direccion %} {{ usuario.direccion }} {% endif %} {% if usuario.comuna  %}  {{ usuario.comuna }} {% endif %} {% if usuario.region  %} {{ usuario.region  }} {% endif %}</div></td>
</table>


<table width="700">
    <tr>
        <td width="236"><span class="titulo33"> Vivienda: </span> <div class="simuInput" style="width:152px; "> &nbsp; {% if usuario.tipocasa %}  {{ usuario.tipocasa }}  {% endif  %}</div></td>
        <td width="252"><span class="titulo33"> Años residencia : </span> <div class="simuInput" style="width:150px; "> &nbsp; </div></td>

        <td width="196"><span class="titulo33"> Familiares Nº:</span> <div class="simuInput" style="width:78px;"> &nbsp; {% if  usuario.ndependientes %} {{ usuario.ndependientes }} {% endif %} </div></td>
    </tr>


</table>


<table width="700">
    <tr>
        <td width="264"><span class="titulo33"> Arriendo / Dividendo: </span> <div class="simuInput" style="width:100px;"> &nbsp; {% if usuario.montoArriendo  %} {{ usuario.montoArriendo }}  {% endif %}</div></td>
        <td width="224"><span class="titulo33"> Teléfono : </span> <div class="simuInput" style="width:120px;"> &nbsp; {% if  usuario.telefono %}{{ usuario.telefono }}  {% endif %}</div></td>

     
    </tr>




</table>


<hr style="color: #001d6e;
background-color: #001d6e;
height: 5px;">


<span style="color:#001d6e;">DATOS PROFESIONALES DEL CLIENTE</span>


{% if antecedentes %}
<table width="700">
    <tr>
        <td width="326"><span class="titulo33"> Actividad : </span> <div class="simuInput" style="width:233px;"> &nbsp {% if  usuario  %} {{ usuario.profesion  }}  {% endif %}</div></td>
        <td width="362"><span class="titulo33">  Empresa: </span> <div class="simuInput" style="width:271px;"> &nbsp {% if antecedentes   %}  {{ antecedentes.industria  }} {% endif %}</div></td>


    </tr>


</table>



<table width="700">
    <tr>
        <td width="205"><span class="titulo33"> Giro Emp: </span><div class="simuInput" style="width:110px;"> &nbsp  </div></td>
        <td width="179"><span class="titulo33">Rut: </span><div class="simuInput" style="width:133px;">&nbsp  {%  if antecedentes.rutempresa  %} {{ antecedentes.rutempresa }}  {% endif  %} </div></td>
        <td width="200"><span class="titulo33"> Teléfono Of.:  </span> <div class="simuInput" style="width:130px;">&nbsp {% if  antecedentes.telefono  %} {{ antecedentes.telefono }} {% endif %} </div></td>

    </tr>


</table>



<table width="700">
    <tr>
        <td width="326"><span class="titulo33"> Profesión:</span> <div class="simuInput" style="width:234px;"> &nbsp {{ usuario.profesion }}  </div></td>
        
        <td width="171"><span class="titulo33"> Fax.: </span> <div class="simuInput" style="width:110px;">&nbsp  </div></td>

    </tr>

    <tr>
        
<td width="187"><span class="titulo33"> Contrato:  </span> <div class="simuInput" style="width:202px;"> {%  if antecedentes.situacionlaboral %} &nbsp {{ antecedentes.situacionlaboral }}  {% endif  %}    </div></td>

    </tr>


</table>



<table width="700">
    <tr>

      
        


        <td width="233"><span class="titulo33"> Fecha Inicio / Act:</span> <div class="simuInput" style="width:90px;">&nbsp </div> </td>
        <td width="200"><span class="titulo33"> Email.: </span> <div class="simuInput" style="width:130px;">{{ usuario.email }} </div></td>

    </tr>


<tr>
    
      <td width="205"><span class="titulo33"> Cargo Actual: </span><div class="simuInput" style="width:210px;">&nbsp {% if antecedentes.cargoactual  %}  {{ antecedentes.cargoactual }} {% endif %}{% endif %}</div></td>


</tr>
</table>


<hr style="color: #001d6e;
background-color: #001d6e;
height: 5px;">


<span style="color:#001d6e;">DATOS PROFESIONALES DEL CLIENTE</span>
<div style="clear:both;"></div>

<table width="700" style="">
    <tr>
        <td width="161" style="border: solid 1px  #001d6e;" ><span style="font-size:10px; text-align:center;width:auto;position:relative;margin:auto;"> ACTIVOS </span></td>
        <td width="145"  style="border: solid 1px  #001d6e;" ><span style="font-size:10px; text-align:center;"> PASIVOS </span></td>
        <td width="378"  style="border: solid 1px  #001d6e;"><span style="font-size:10px;;"> INGRESOS LIQUIDOS MENSUAL </span></td>
    </tr>
</table>



<div class="clear:both;"></div>

<table width="700" height="20">

    <tr>
        <td width="55"><p style="font-size:9px;"> Tipo </p></td>
        <td width="102"><p style="font-size:9px;"> Valor Comercial </p></td>

        <td width="61"><p style="font-size:9px;"> Tipo deuda </p></td>
        <td width="81"><p style="font-size:9px;"> Deuda vigente </p></td>
        <td width="365"><p style="font-size:9px;"> Pago Mensual</p></td>
        <td width="8"></td>
    </tr>


</table>


<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;"><span class="titulo33">Bienes Raices</span> <div class="simuInput" style="width:100px;">&nbsp; {% if totalHipotecario  %} SI {{ totalHipotecario |number_format(0,'.' , '.')  }} {% else %} {% if TotalPropiedadesApi %} SI {{ TotalPropiedadesApi | number_format(0,'.' , '.') }} {% else %} NO {% endif %} {% endif %}</div></p></td>
        <td width="283"><p style="font-size:9px;"><span class="titulo33">Hipotecario </span> <div class="simuInput" style="width:100px;"> &nbsp; {%  if totalDebesHipotecario %} SI {{ totalDebesHipotecario | number_format(0,'.' , '.') }} {% else %} {% if pagoMensualApi %} SI {% else %} NO {% endif %} {% endif %}</div>  <div class="simuInput" style="width:100px;margin-left:10px;">&nbsp; {% if totalDebesHipotecarioMensual %} SI {{ totalDebesHipotecarioMensual | number_format(0,'.' , '.') }} {% else %} {% if pagoMensualApi %} SI {{ pagoMensualApi | number_format(0,'.' , '.')  }}  {% else %} NO  {% endif %} {% endif %}   </div></p></td>
        <td width="226"><p style="font-size:9px;"><span class="titulo33"> Sueldo  </span> <div class="simuInput" style="width:150px;">&nbsp; {% if antecedentes %} {{ antecedentes.independientesueldoliquido }} {% endif %} </div> </p></td>

    </tr>


</table>


<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;"><span class="titulo33"> Vehículos </span><div class="simuInput" style="width:115px;">&nbsp; {% if  totalAutomoviles %} SI {{ totalAutomoviles | number_format(0,'.' , '.') }} {% else %} {% if TotalAutomovilesApi %} SI {{ TotalAutomovilesApi | number_format(0,'.' , '.') }}  {% else %} NO {% endif %} {% endif %} </div> </p></td>
        <td width="283"><p style="font-size:9px;"><span class="titulo33"> Consumo </span> <div class="simuInput" style="width:100px;margin-left:5px;"> &nbsp; {%  if totalDebesCredito %} SI {{ totalDebesCredito |  number_format(0,'.' , '.') }} {% else %} {% if pagoMensualCreditoApi %} SI {% else %} NO  {% endif %} {% endif %}</div> <div class="simuInput" style="width:100px;margin-left:10px;">&nbsp; {% if totalPagoMensual %} SI 
        {{ totalPagoMensual |  number_format(0,'.' , '.') }} {% else %} {% if pagoMensualCreditoApi %} {{pagoMensualCreditoApi | number_format(0,'.' , '.') }}  {% else %} NO {% endif %} {% endif %} </div> </p></td>
        <td width="226"><p style="font-size:9px;"><span class="titulo33"> </span> <div class="simuInput" style="width:130px;">&nbsp;  </div> </p></td>

    </tr>


</table>


<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;"><span class="titulo33"> Acciones </span> <div class="simuInput" style="width:115px;">&nbsp; {% if totalAhorroInversionAcciones   %} SI {{ totalAhorroInversionAcciones | number_format(0,'.' , '.') }} {% else %} NO {% endif %}</div></p></td>
        <td width="283"><p style="font-size:9px;"><span class="titulo33">Tarjeta Crédito</span> <div class="simuInput" style="width:80px;margin-left:5px;">  &nbsp; {%  if totalDebesTarjeta  %} SI {{ totalDebesTarjeta | number_format(0,'.' , '.') }} {% else %} NO {% endif %} </div><div class="simuInput" style="width:100px;margin-left:5px;"> &nbsp;  </div></p></td>
        <td width="226"><p style="font-size:9px;"><span class="titulo33">Boletas Hon. </span> <div class="simuInput" style="width:140px;">&nbsp;  </div></p></td>

    </tr>


</table>



<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;"><span class="titulo33"> Ahorros </span><div class="simuInput" style="width:118px;">&nbsp; {% if  totalAhorroInversionCuentas  %} SI {{ totalAhorroInversionCuentas | number_format(0,'.' , '.')  }} {% else %} {% if totalAhorroInversionApi %} SI {{ totalAhorroInversionApi| number_format(0,'.' , '.') }} {% else %} NO  {% endif %}{% endif %} </div> </p></td>
        <td width="283"><p style="font-size:9px;"><span class="titulo33"> Linea sobregiro </span><div class="simuInput" style="width:80px;margin-left:5px;">  &nbsp; {%  if  totalDebesLinea %} SI {{ totalDebesLinea | number_format(0,'.' , '.') }}  {% else %}  {% if pagoMensualLineaCreditoApi %} SI {% else %} NO   {% endif %} {% endif %}</div> <div class="simuInput" style="width:100px;margin-left:5px;"> 


{% if pagoMensualLineaCreditoApi %} SI  {{pagoMensualLineaCreditoApi| number_format(0,'.' , '.')}} {% else %} NO {% endif %}
         &nbsp;</div> </p></td>
        <td width="226"><p style="font-size:9px;"><span class="titulo33">  Pension/Jubil.</span> <div class="simuInput" style="width:138px;">&nbsp;  </div> </p></td>

    </tr>


</table>


<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;"><span class="titulo33"> Otros </span> <div class="simuInput" style="width:125px;">&nbsp; {% if otrosTienes  %} SI {{ otrosTienes | number_format(0,'.' , '.')   }} {% else %} NO {% endif %}</div> </p></td>
        <td width="283"><p style="font-size:9px;"><span class="titulo33"> Otras Deudas <div class="simuInput" style="width:80px;margin-left:5px;">  &nbsp;</div>  <div class="simuInput" style="width:110px;margin-left:5px;">  &nbsp;</div> </p></td>
        <td width="226"><p style="font-size:9px;"><span class="titulo33"> Arriendos </span> <div class="simuInput" style="width:158px;">&nbsp;  </div> </p></td>

    </tr>


</table>



<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;"><span class="titulo33"> Total Act. </span><div class="simuInput" style="width:105px;">&nbsp;

         {% if totalActivos  %}   {{ totalActivos | number_format(0,'.' , '.')  }} {% endif %} 


         </div> </p></td>
        <td width="283"><p style="font-size:9px;"><span class="titulo33">Total Pas. </span> <div class="simuInput" style="width:220px;">&nbsp; {% if  totalDebes %} {{ totalDebes | number_format(0, '.' ,  '.') }} {% endif %}  </div>  </p></td>
        <td width="226"><p style="font-size:9px;"><span class="titulo33"> Total Ingresos</span> <div class="simuInput" style="width:138px;">&nbsp; {%  if antecedentes  %}{% if antecedentes.independientesueldoliquido %}  {{  antecedentes.independientesueldoliquido }} {% endif %} {% endif %} </div> </p></td>

    </tr>


</table>






<table width="700" height="10">
    <tr>

        <td  style="background-color: #001d6e;"><span style="color:#FFF;">ANTECEDENTES DEL CONYUGE</span><input type="checkbox"></td>







    </tr>


</table>




<table width="702">
    <tr>
        <td width="489"><span class="titulo33">Nombre : </span> <div class="simuInput" style="width:390px; "> &nbsp    {%  if Conyuge %}  {{ Conyuge.nombre }} {{ Conyuge.apellido }}  {{ Conyuge.apellidoseg }}    {% endif %}   </div></td>

        <td width="201"> <span class="titulo33"> Rut:</span> <div class="simuInput" style="width:141px; "> &nbsp {%  if Conyuge %} {{ Conyuge.rut }} {% endif %} </div></td>
    </tr>


</table>



<table width="700">
    <tr>
        <td width="214"><span class="titulo33"> Estado Civil:</span> <div class="simuInput" style="width:110px; ">&nbsp 

{%  if Conyuge %} Casado {% endif %}
        </div> </td>
        <td width="272"> <span class="titulo33"> Fecha Nacimiento:</span> <div class="simuInput" style="width:110px; ">&nbsp {% if Conyuge %}  {{ Conyuge.fechanacimiento }} {%  endif %}</div></td>

        <td width="198"><span class="titulo33">  Edad:</span> <div class="simuInput" style="width:130px; "> &nbsp  {{ edadCon }}  </div></td>
    </tr>


</table>


<table width="700">

    <td><span class="titulo33"> Domicilio: </span> <div class="simuInput" style="width:602px; "> 
{% if Conyuge %}  
{%  if usuario.direccion %} {{ usuario.direccion }} {% endif %} {% if usuario.comuna  %}  {{ usuario.comuna }} {% endif %} {% if usuario.region  %} {{ usuario.region  }} {% endif %}{% endif %}

    &nbsp </div></td>
</table>


<table width="700">
    <tr>
        <td width="400" colspan="2"><span class="titulo33"> Vivienda: </span> <div class="simuInput" style="width:302px; "> &nbsp{% if Conyuge %}   {% if usuario.tipocasa %}  {{ usuario.tipocasa }}  {% endif  %}{% endif  %} </div></td>
        <td width="300"><span class="titulo33"> Años residencia : </span> <div class="simuInput" style="width:150px; "> &nbsp </div></td>

     
    </tr>


</table>


<table width="700">
    <tr>
        <td width="264"><span class="titulo33"> Arriendo / Dividendo: </span> <div class="simuInput" style="width:100px;"> &nbsp {% if Conyuge %} {% if usuario.montoArriendo  %} {{ usuario.montoArriendo }}  {% endif %}  {% endif %}  </div></td>
        <td width="224"><span class="titulo33"> Teléfono : </span> <div class="simuInput" style="width:120px;"> &nbsp  {% if Conyuge %} {{  Conyuge.telefono }} {% endif %} </div></td>

    </tr>


</table>



<table width="700">
    <tr>
        <td width="264"><span class="titulo33">Profesión  </span> <div class="simuInput" style="width:100px;"> &nbsp {% if Conyuge %} {% if Conyuge.profesion  %} {{ Conyuge.profesion }}  {% endif %}  {% endif %}  </div></td>
        <td width="224"><span class="titulo33"> Universidad : </span> <div class="simuInput" style="width:220px;"> &nbsp  {% if Conyuge %} {{  Conyuge.universidad }} {% endif %} </div></td>

    </tr>


</table>



<table width="700">
    <tr>
        <td width="264"><span class="titulo33">Sueldo  </span> <div class="simuInput" style="width:100px;"> &nbsp {% if Conyuge %} {% if Conyuge.rentaliquidad  %} {{ Conyuge.rentaliquidad }}  {% endif %}  {% endif %}  </div></td>
        <td width="224"><span class="titulo33"> Cargo : </span> <div class="simuInput" style="width:200px;"> &nbsp  {% if Conyuge %} {{  Conyuge.cargoactual }} {% endif %} </div></td>

    </tr>



    <table width="700">
    <tr>
        <td width="264"><span class="titulo33">Empresa : </span> <div class="simuInput" style="width:100px;"> &nbsp {% if Conyuge %} {% if Conyuge.empresa %} {{ Conyuge.empresa }}  {% endif %}  {% endif %}  </div></td>
        <td width="224"><span class="titulo33"> Antiguedad Laboral: </span> <div class="simuInput" style="width:200px;"> &nbsp  {% if Conyuge %} {{  Conyuge.antiguedadlaboral }} {% endif %} </div></td>

    </tr>


</table>




<hr style="color: #001d6e;
background-color: #001d6e;
height: 5px;">







<span style="color:#001d6e;">DATOS PROFESIONALES DEL CLIENTE</span>
<div style="clear:both;"></div>


<table width="700" style="">
    <tr>
        <td width="161" style="border: solid 1px  #001d6e;" ><span style="font-size:10px; text-align:center;width:auto;position:relative;margin:auto;"> ACTIVOS </span></td>
        <td width="145"  style="border: solid 1px  #001d6e;" ><span style="font-size:10px; text-align:center;"> PASIVOS </span></td>
        <td width="378"  style="border: solid 1px  #001d6e;"><span style="font-size:10px;;"> INGRESOS LIQUIDOS MENSUAL </span></td>
    </tr>
</table>

<div class="clear:both;"></div>

<table width="700" height="20">

    <tr>
        <td width="55"><p style="font-size:9px;"> Tipo </p></td>
        <td width="102"><p style="font-size:9px;"> Valor Comercial </p></td>

        <td width="61"><p style="font-size:9px;"> Tipo deuda </p></td>
        <td width="81"><p style="font-size:9px;"> Deuda vigente </p></td>
        <td width="365"><p style="font-size:9px;"> Deuda vigente </p></td>
        <td width="8"></td>
    </tr>


</table>




<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;"><span class="titulo33">Bienes Raices</span> <div class="simuInput" style="width:100px;">&nbsp; </div></p></td>
        <td width="283"><p style="font-size:9px;"><span class="titulo33">Hipotecario </span> <div class="simuInput" style="width:100px;"> &nbsp;</div>  <div class="simuInput" style="width:100px;margin-left:10px;">&nbsp; </div></p></td>
        <td width="226"><p style="font-size:9px;"><span class="titulo33"> Sueldo Fijo</span> <div class="simuInput" style="width:150px;">&nbsp; </div> </p></td>

    </tr>


</table>


<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;"><span class="titulo33"> Vehículos </span><div class="simuInput" style="width:115px;">&nbsp; </div> </p></td>
        <td width="283"><p style="font-size:9px;"><span class="titulo33"> Consumo </span> <div class="simuInput" style="width:100px;margin-left:5px;"> &nbsp; </div> <div class="simuInput" style="width:100px;margin-left:10px;">&nbsp; </div> </p></td>
        <td width="226"><p style="font-size:9px;"><span class="titulo33"> Sueldo Variable</span> <div class="simuInput" style="width:130px;">&nbsp; </div> </p></td>

    </tr>


</table>


<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;"><span class="titulo33"> Acciones </span> <div class="simuInput" style="width:115px;">&nbsp; </div></p></td>
        <td width="283"><p style="font-size:9px;"><span class="titulo33">Tarjeta Crédito</span> <div class="simuInput" style="width:80px;margin-left:5px;">  &nbsp;</div><div class="simuInput" style="width:100px;margin-left:5px;"> &nbsp;  </div></p></td>
        <td width="226"><p style="font-size:9px;"><span class="titulo33">Boletas Hon. </span> <div class="simuInput" style="width:140px;">&nbsp;  </div></p></td>

    </tr>


</table>



<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;"><span class="titulo33"> Ahorros </span><div class="simuInput" style="width:118px;">&nbsp; </div> </p></td>
        <td width="283"><p style="font-size:9px;"><span class="titulo33"> Linea sobregiro </span><div class="simuInput" style="width:80px;margin-left:5px;">  &nbsp;</div> <div class="simuInput" style="width:100px;margin-left:5px;">  &nbsp;</div> </p></td>
        <td width="226"><p style="font-size:9px;"><span class="titulo33">  Pension/Jubil.</span> <div class="simuInput" style="width:138px;">&nbsp;  </div> </p></td>

    </tr>


</table>


<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;"><span class="titulo33"> Otros </span> <div class="simuInput" style="width:125px;">&nbsp; </div> </p></td>
        <td width="283"><p style="font-size:9px;"><span class="titulo33"> Otras Deudas <div class="simuInput" style="width:80px;margin-left:5px;">  &nbsp;</div>  <div class="simuInput" style="width:110px;margin-left:5px;">  &nbsp;</div> </p></td>
        <td width="226"><p style="font-size:9px;"><span class="titulo33"> Arriendos </span> <div class="simuInput" style="width:158px;">&nbsp;  </div> </p></td>

    </tr>


</table>



<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;"><span class="titulo33"> Total Act. </span><div class="simuInput" style="width:105px;">&nbsp;  </div> </p></td>
        <td width="283"><p style="font-size:9px;"><span class="titulo33">Total Pas. </span> <div class="simuInput" style="width:220px;">&nbsp;  </div>  </p></td>
        <td width="226"><p style="font-size:9px;"><span class="titulo33"> Total Ingresos</span> <div class="simuInput" style="width:138px;">&nbsp;  </div> </p></td>

    </tr>


</table>




<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>

<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>


<hr style="color: #001d6e;
background-color: #001d6e;
height: 5px;">



<span style="color:#001d6e;margin-top: 800px; position: relative;width: auto;height: auto;">
DATOS CRÉDITO HIPOTECARIO
</span>




<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;"><span class="titulo33">Valor Propiedad</span> <div class="simuInput" style="width:100px;">&nbsp; {% if creditoHipotecario %} {% if creditoHipotecario.valorPropiedad  %} {{ creditoHipotecario.valorPropiedad}} UF {% endif %}{% endif %}</div></p></td>
        <td width="283"><p style="font-size:9px;"><span class="titulo33">Reserva </span> <div class="simuInput" style="width:100px;"> &nbsp;</div>  <div class="simuInput" style="width:100px;margin-left:10px;">&nbsp; </div></p></td>
        <td width="226"><p style="font-size:9px;"><span class="titulo33"> Estado </span> <div class="simuInput" style="width:150px;">&nbsp; {% if creditoHipotecario %}{% if  creditoHipotecario.estado  %} {{ creditoHipotecario.estado}} &nbsp; {% if creditoHipotecario.dfl2 == 'si' %}  DFL2  {% endif %} {% endif %}{% endif %}</div> </p></td>

    </tr>


</table>


<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;"><span class="titulo33"> Estacionamiento </span><div class="simuInput" style="width:70px;">&nbsp; </div> </p></td>
        <td width="283"><p style="font-size:9px;"><span class="titulo33"> Pie  </span> <div class="simuInput" style="width:100px;margin-left:5px;"> &nbsp; {% if creditoHipotecario %}{%  if  creditoHipotecario.montoPie %}{{ creditoHipotecario.montoPie }} UF {% endif %} {% endif %}</div> <div class="simuInput" style="width:100px;margin-left:10px;">&nbsp; </div> </p></td>
        <td width="226"><p style="font-size:9px;"><span class="titulo33"> MONTO CRÉDITO </span> <div class="simuInput" style="width:130px;">&nbsp;{% if creditoHipotecario %} {%  if creditoHipotecario.montoCredito %} {{ creditoHipotecario.montoCredito }} {% endif %}{% endif %} </div> </p></td>

    </tr>


</table>


<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;"><span class="titulo33"> Bodega</span> <div class="simuInput" style="width:115px;">&nbsp; </div></p></td>
        <td width="283"><p style="font-size:9px;"><span class="titulo33"> Ahorro </span> <div class="simuInput" style="width:80px;margin-left:5px;">  &nbsp;</div><div class="simuInput" style="width:100px;margin-left:5px;"> &nbsp;  </div></p></td>
        <td width="226"><p style="font-size:9px;"><span class="titulo33">PLAZO (años) 	 </span> <div class="simuInput" style="width:140px;">&nbsp;{% if creditoHipotecario  %} {%  if  creditoHipotecario.plazoCredito %}{{ creditoHipotecario.plazoCredito}}  {% endif %} {% endif %} </div></p></td>

    </tr>


</table>



<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;"><span class="titulo33"> Descuento </span><div class="simuInput" style="width:118px;">&nbsp; </div> </p></td>
        <td width="283"><p style="font-size:9px;"><span class="titulo33"> Subsidio </span><div class="simuInput" style="width:80px;margin-left:5px;">  &nbsp;</div> <div class="simuInput" style="width:100px;margin-left:5px;">  &nbsp;</div> </p></td>
        <td width="226"><p style="font-size:9px;"><span class="titulo33">  % Financiamiento	</span> <div class="simuInput" style="width:138px;">&nbsp;  </div> </p></td>

    </tr>


</table>


<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;"><span class="titulo33"> Total </span> <div class="simuInput" style="width:125px;">&nbsp; </div> </p></td>
        <td width="283"><p style="font-size:9px;"><span class="titulo33"> Otras Deudas <div class="simuInput" style="width:80px;margin-left:5px;">  &nbsp;</div>  <div class="simuInput" style="width:110px;margin-left:5px;">  &nbsp;</div> </p></td>
        <td width="226"><p style="font-size:9px;"><span class="titulo33">Fecha de Entrega	  </span> <div class="simuInput" style="width:158px;">&nbsp;  </div> </p></td>

    </tr>


</table>


<br/><br/><br/>
<span style="color:#001d6e;margin-top: 800px; position: relative;width: auto;height: auto;">
DATOS CRÉDITO CONSUMO
</span>



<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;"><span class="titulo33"> Monto de Crédito: </span> <div class="simuInput" style="width:125px;">&nbsp;  {% if creditoConsumo %} {{ creditoConsumo.montoCredito|number_format(0, '.' ,  '.') }}  {% endif %}</div> </p></td>
        <td width="283"><p style="font-size:9px;"><span class="titulo33"> Plazo de Crédito <div class="simuInput" style="width:80px;margin-left:5px;">  &nbsp; {% if creditoConsumo %} {{ creditoConsumo.plazoCredito }}  {% endif %} </div>   </p></td>
        <td width="226"><p style="font-size:9px;"><span class="titulo33">Seguros Asociados  </span> <div class="simuInput" style="width:158px;">&nbsp;  {% if creditoConsumo%} {{ creditoConsumo.segurosAsociados  }}  {% endif %} </div> </p></td>

    </tr>


    <tr>
        <td width="175"><p style="font-size:9px;"><span class="titulo33"> Monto de Crédito: </span> <div class="simuInput" style="width:125px;">&nbsp; {% if creditoConsumo %} {{ creditoConsumo.paraque }}  {% endif %} </div> </p></td>


    </tr>


</table>


<br/><br/><br/>


<span style="color:#001d6e;margin-top: 800px; position: relative;width: auto;height: auto;">
DATOS CRÉDITO AUTOMOTRIZ
</span>



<table width="700" style="margin-top:3%;">
    <tr>
        <td width="175"><p style="font-size:9px;"><span class="titulo33"> Monto del Auto </span> <div class="simuInput" style="width:125px;">&nbsp;  {% if creditoConsumo %} {{ creditoConsumo.montoCredito }}  {% endif %}</div> </p></td>
        <td width="283"><p style="font-size:9px;"><span class="titulo33"> Plazo de Crédito <div class="simuInput" style="width:80px;margin-left:5px;">  &nbsp; {% if creditoConsumo %} {{ creditoConsumo.plazoCredito }}  {% endif %} </div>   </p></td>
        <td width="226"><p style="font-size:9px;"><span class="titulo33">Seguros Asociados  </span> <div class="simuInput" style="width:158px;">&nbsp;  {% if creditoConsumo%} {{ creditoConsumo.segurosAsociados  }}  {% endif %} </div> </p></td>

    </tr>


    <tr>
        <td width="175"><p style="font-size:9px;"><span class="titulo33"> Monto de Crédito: </span> <div class="simuInput" style="width:125px;">&nbsp; {% if creditoConsumo %} {{ creditoConsumo.paraque }}  {% endif %} </div> </p></td>


    </tr>


</table>


<br>
<br>
<br>
<br>
<br>
<br>
<br>


<table>
<thead>


<span style="color:#001d6e;margin-top: 800px; position: relative;width: auto;height: auto;">
DATOS CRÉDITO CONSOLIDACION 
</span>
<tr>
    <th>Crédito </th>
    <th>Monto </th>
    <th>Plazo </th>

  
    </tr>



    </thead>

    <tr>
    {% set con  = 0 %}
    {% if creditoConsolidacion   %}
    {% for creditoConsolidacion in creditoConsolidacion %}
    {% set con = con +1 %}

    {% if con <= 1 %}
    
    <tr>   

        <td><div class="simuInput" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.tipoCredito}} </div></td>
        <td><div class="simuInput" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.montoCredito}} </div></td>
        <td><div class="simuInput" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.plazo}} años </div> </td>
     </tr>
        
       <tr>    

        <td><div class="simuInput" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.tipoCredito2}} </div></td>
        <td><div class="simuInput" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.montoCredito2}} </div></td>
        <td><div class="simuInput" style="width:80px;margin-left:5px;">  &nbsp;{{creditoConsolidacion.plazo2}} años </div> </td>
</tr>
<tr>   


        <td><div class="simuInput" style="width:80px;margin-left:5px;">  &nbsp;{{creditoConsolidacion.tipoCredito3}}  </div></td>
        <td><div class="simuInput" style="width:80px;margin-left:5px;"> &nbsp; {{creditoConsolidacion.montoCredito3}} </div></td>
        <td><div class="simuInput" style="width:80px;margin-left:5px;"> &nbsp; {{creditoConsolidacion.plazo3}}  </div></td>
       
   </tr> 


   {% endif %}

    {% endfor %}
    {% endif %}
    
        </tr>

</table></div>









</div>
</body>
</html>