<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plantilla bci</title>
    <style>

        body{
            font-family:Verdana, Geneva, sans-serif;
            font-size:12px;
        }

        .titText{
            width:auto;
            height:auto;
            position:relative;
            margin-left:3px;
            margin-top:2px;
            font-size:10px;
            font-weight:bold;
        }

        .simuInputOld{
            width: 300px;
            height: 20px;
            border-bottom: 1px;
            border-left: 0px;
            border-right: 0px;
            border-top: 0px;
            border-style: solid;
            position: relative;
            float: left;


        }

        .simuInput{
            width: 120px;
            height: 20px;
            border-style: solid;
            border-width: 1px;
            position: relative;
            float: left;
        }

        .simuInputdeudasLargoPlazo{
            width: 100px;
            height: 20px;
            border-style: solid;
            border-width: 1px;
            position: relative;
            float: left;
        }

        .simuInputbonosyAcciones{
            width: 100px;
            height: 20px;
            border-style: solid;
            border-width: 3px;
            position: relative;
            float: left;

        }

        .simuInputCpmyuge{
            width: 98px;
            height: 20px;
            border-style: solid;
            border-width: 1px;
            position: relative;
            float: left;

        }
        .simuInputPequeño{
            width: 20px;
            height: 20px;
            border-style: solid;
            border-width: 1px;
            position: relative;
            float: left;
        }

        .tabla{
            width: 710px;
        }

        .tdPequenio{
            width: 25px;
        }

        .contTitulos{
            width:710px;height:20px;background-color: #999999;

        }
        .rayaAzul{
            width:500px;background-color:#0000ff;height:20px;
            float:right;margin-left:200px;
        }
    </style>
</head>
<body>

<div class="rayaAzul">
    &nbsp;
</div>

<div style="clear:both;"></div>

<div style="width:350px;height:20px;position:relative;float:right;margin-right:-10%;">
    Estado Situacion para personas naturales
</div>

<div style="width:auto;height:auto;position:relative;margin-top:-3%;">
    <img src="http://1.bp.blogspot.com/-4bg_L8hhIpk/TwDbq3G0NMI/AAAAAAAAAeg/mBWVl7rqUq4/s1600/BCI.png" style="width:22%";/>
</div>


<div style="width:auto;height:auto;position:relative;float:right;margin-right:-1.1%;">
    <div style="float: left; margin-right: 10px; padding-top: 4px;">R.U.T</div>
    <div class="simuInput">
        &nbsp {%  if usuario %} {{usuario.rut}} {% endif %}

    </div>
</div>

<div style="clear:both"></div>

<br>
<br>


<div class="container" style="width:710px; ">




<div class="contTitulos"> <span class="titText">Estado de situacion para personas naturales </span></div>


<table style="margin-top:10px;">

    <tr>
        <td>
            <div class="simuInput" style="width:682px;">
                &nbsp {% if usuario.apellido %} {{ usuario.apellido }}  {% endif  %}
                &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp {% if usuario.apellidoseg  %}{{ usuario.apellidoseg }} {% endif %}
                {% if usuario.nombre %} {{ usuario.nombre }} {% endif %}
          </div>
        </td>

    </tr>
    <tr>
        <td>
       <span> Apellidos Paternos   &nbsp  &nbsp  &nbsp  &nbsp        Apellidos Maternos    &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp           Nombres
        </td>

    </tr>

</table>
<table id="datosPersonales" class="tabla" style="width:690px">
<thead>

</thead>
<tbody>

<tr>
    <td colspan="2">
        <div class="simuInput" style="width:280px;">&nbsp {%  if usuario.direccion %} {{ usuario.direccion }}  {% endif %}</div>
    </td>

    <td colspan="1">
        <div class="simuInput" style="width:200px;">&nbsp {% if usuario  %} {{ usuario.region  }}  {% endif %}</div>
    </td>
    <td colspan="1">
        <div class="simuInput" style="width:150px;">&nbsp {% if  usuario.comuna %}{{ usuario.comuna }} {% endif %}</div>
    </td>

</tr>


<tr>
    <td colspan="2">Direccion Particular / Calle</td>

    <td colspan="1">Region</td>
    <td colspan="1">Comuna</td>

</tr>



</tbody>
    </table>


<table>



    <tr>
    <td>
        <div class="simuInput" style="width:120px;">&nbsp {% if  usuario.telefono %}{{ usuario.telefono }}  {% endif %}   </div>
    </td>
    </tr>

    <tr>
    <td>Teléfono Particular </td>
    </tr>





<tr>
    <td colspan="2">

        <div class="simuInput" style="width: 280px;">&nbsp {% if antecedentes %} {{ antecedentes.direccion }} {% endif %}</div>

    </td>

    <td>
        <div class="simuInput" style="width:190px;">&nbsp {% if antecedentes %} {{ antecedentes.comuna }} {% endif %}</div>
    </td>
    <td colspan="2" >
        <div class="simuInput" style="width:190px;">&nbsp {% if antecedentes %} {{ antecedentes.region }} {% endif %}</div>
    </td>


</tr>



</table>







<tr>
    <td>
        <div class="simuInput">&nbsp {% if usuario %} {% if usuario.fechanacimiento %} {{ usuario.fechanacimiento }} {% endif %} {% endif %} </div>
    </td>
    <td>
        <div class="simuInput" style="width:200px;">&nbsp {% if usuario %} {% if usuario.nacionalidad %} {{ usuario.nacionalidad }} {% endif %} {% endif %} </div>
    </td>
    <td>
        <div class="simuInput"  style="width:200px;">&nbsp {% if usuario %} {% if usuario.estadocivil %} {{ usuario.estadocivil  }} {% endif %} {% endif %} </div>
    </td>

    <td>
        <div class="simuInput" style="width:50px;"> {% if usuario %} {{ usuario.ndependientes }} {% endif %}&nbsp</div>
    </td>
</tr>
<tr>
    <td>Fecha Nacimiento</td>
    <td>Nacionalidad</td>
    <td>Estado Civil</td>

    <td>N° de cargas familiares</td>
</tr>
<tr>

    <td>
        <div class="simuInput"></div>
    </td>


</tr>
<tr>
    <td>Régimen Conyugal</td>

</tr>
</tbody>
</table>
<div class="contTitulos"> <span class="titText">Antecendentes Conyuge </span></div>

<table id="antecedentesConyuge" class="tabla" style="margin-top:10px;">

    <tbody>
    <tr>
        <td width="125">
            <div class="simuInput">&nbsp {% if Conyuge %} {% if Conyuge.apellido %} {{ Conyuge.apellido }} {% endif %}{% endif %}</div>
        </td>
        <td width="122">
            <div class="simuInput">&nbsp{% if Conyuge %} {% if Conyuge.apellidoseg %} {{ Conyuge.apellidoseg }} {% endif %} {% endif %}
            </div>
        </td>
        <td width="447">
            <div class="simuInput" style="width:430px;">&nbsp {% if Conyuge %} {% if Conyuge.nombre %} {{ Conyuge.nombre}} {% endif %} {% endif %} </div>
        </td>
    </tr>
    <tr>
        <td>
            Apellido Paterno
        </td>
        <td>
            Apellido Materno
        </td>
        <td>
            Nombres
        </td>
    </tr>

    </tbody>
</table>

<table>
    <tr>
        <td width="122">
            <div class="simuInput">&nbsp {% if Conyuge %} {% if Conyuge.rut %}  {{ Conyuge.rut}} {% endif %}    {% endif %}</div>
        </td>
        <td width="124">
            <div class="simuInput">&nbsp {% if Conyuge  %} {% if Conyuge.profesion   %}  {{ Conyuge.profesion }} {%  endif %}  {% endif %}         </div>
        </td>
        <td width="122">
            <div class="simuInput">&nbsp {% if Conyuge  %} {% if Conyuge.rentaliquidad %} {{ Conyuge.rentaliquidad }} {% endif %} {% endif %}</div>
        </td>
        <td width="123">
            <div class="simuInput">&nbsp {% if Conyuge %} {% if Conyuge.telefono %} {{ Conyuge.telefono }} {% endif %} {% endif %}</div>
        </td>
        <td width="195">
            <div class="simuInput" style="width:177px;">&nbsp {% if Conyuge %} {{ Conyuge.telefono }} {% endif %} </div>
        </td>
    </tr>
    <tr>
        <td>
            R.U.T / C.I.
        </td>
        <td>
            Prefesión/Actividad
        </td>
        <td>
            Renta Liq Mensual($)
        </td>
        <td>
            Teléfono Comercial
        </td>
        <td>
            Fax - Celular
        </td>
    </tr>
    </tbody>
</table>

<div class="contTitulos"> <span class="titText"> Antecedentes Laborales </span></div>



<table id="antecedentesLaborales">





    <tr>
        <td>
            <div class="simuInput" style="width:220px;">&nbsp {% if antecedentes  %} {{ antecedentes.situacionlaboral  }} {% endif %}  </div>
        </td>
        <td>
            <div class="simuInput" style="width:170px;">&nbsp  {% if antecedentes  %} {{   antecedentes.empleadorempresa  }} {% endif %} </div>
        </td>
        <td>
            <div class="simuInput"  style="width:180px;">&nbsp {% if antecedentes  %} {{   antecedentes.industria  }} {% endif %} </div>
        </td>

        <td>
            <div class="simuInput" style="width:90px;">&nbsp {% if antecedentes  %} {{   antecedentes.fechaingreso }} {% endif %}</div>
        </td>
    </tr>
    <tr>
        <td>Situación Laboral </td>
        <td>Empleador Empresa </td>
        <td>Industria </td>

        <td>Fecha de Ingreso </td>
    </tr>


</table>

<table>

    <tr>
        <td>
            <div class="simuInput" style="width:220px;">&nbsp {% if antecedentes  %} {{ antecedentes.cargoactual  }} {% endif %}  </div>
        </td>
        <td>
            <div class="simuInput" style="width:170px;">&nbsp  {% if antecedentes  %} {{   antecedentes.rutempresa }} {% endif %} </div>
        </td>
        <td>
            <div class="simuInput"  style="width:280px;">&nbsp {% if antecedentes  %} {{   antecedentes.direccion  }} {% endif %} </div>
        </td>


    </tr>
    <tr>
        <td>Cargo Actual</td>
        <td>RUT Empresa  </td>
        <td>Dirección  </td>


    </tr>


</table>




<table>

    <tr>
        <td>
            <div class="simuInput" style="width:220px;">&nbsp {% if antecedentes  %} {{ antecedentes.region  }} {% endif %}  </div>
        </td>
        <td>
            <div class="simuInput" style="width:170px;">&nbsp  {% if antecedentes  %} {{   antecedentes.comuna }} {% endif %} </div>
        </td>
        <td>
            <div class="simuInput"  style="width:280px;">&nbsp {% if antecedentes  %} {{   antecedentes.ciudad  }} {% endif %} </div>
        </td>


    </tr>
    <tr>
        <td>Región</td>
        <td>Comuna </td>
        <td>Ciudad  </td>


    </tr>


</table>



<table>

    <tr>
        <td>
            <div class="simuInput" style="width:220px;">&nbsp {% if antecedentes  %} {{ antecedentes.telefono  }} {% endif %}  </div>
        </td>
        <td>
            <div class="simuInput" style="width:170px;">&nbsp  {% if antecedentes  %} {{   antecedentes.independientesueldoliquido }} {% endif %} </div>
        </td>



    </tr>
    <tr>
        <td>Teléfono </td>
        <td>Sueldo Líquido</td>


    </tr>


</table>






<br>
<br>
<br>
<br>




<div class="contTitulos"> <span class="titText"> Referencias </span></div>


<table width="703" id="Referencias">

    <tbody>
    <tr>
        <td width="170">
            Bancarias
        </td>
    </tr>
    <tr>
        <td>
            <div class="simuInput">&nbsp</div>
        </td>
        <td width="192">
            <div class="simuInput">&nbsp</div>
        </td>
        <td width="123">
            <div class="simuInput">&nbsp</div>
        </td>
        <td width="198">
            <div class="simuInput" style="width:174px;">&nbsp</div>
        </td>
    </tr>
    <tr>
        <td>
            Banco
        </td>
        <td>
            Sucursal
        </td>
        <td>
            N° de cuenta
        </td>
        <td>
            Tipo de Tarjeta
        </td>
    </tr>
    <tr colspan="4">
        <td>Personales:</td>
    </tr>
    <tr>
        <td>
            <div class="simuInput">&nbsp</div>
        </td>
        <td></td>
        <td>
            <div class="simuInput">&nbsp</div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            <div class="simuInput">&nbsp</div>
        </td>
        <td></td>
        <td>
            <div class="simuInput">&nbsp</div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            Nombre
        </td>
        <td></td>
        <td>
            Teléfono
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div class=""></div>
        </td>
        <td>
            <div class="simuInput">&nbsp</div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Firma Cliente</td>
        <td>Fecha</td>
        <td></td>
    </tr>
    </tbody>
</table>




<br>
<br>
<br>
<br>

<div class="contTitulos"> <span class="titText"> Activos </span></div>


<br><br>
<strong>Depositos a plazo, libretas ahorro, fondos mutuos / {% if tienesAhorroInversion  %} SI {% else %}  {% if totalAhorroInversionApi %} SI {% else %} NO {% endif %} {% endif %} </strong>

<table id="depositos">


    <tbody>
    <tr colspan="2">
        <td width="171"></td>
    </tr>



{% if tienesAhorroInversion  %}
{%  for tienesAhorroInversion in tienesAhorroInversion %}

    <tr>


        <td>
            <div class="simuInput">&nbsp 1 {{ tienesAhorroInversion.institucion }}</div>
        </td>
        <td width="189">
            <div class="simuInput">&nbsp 2 {{tienesAhorroInversion.tipo}} </div>
        </td>
        <td width="106">
            $
        </td>
        <td width="204">
            <div class="simuInput" style="width:180px;">&nbsp {{ tienesAhorroInversion.valorcomercial }}  </div>
        </td>



    </tr>


{% endfor %}
{% endif %}









    <tr>
        <td>
            Institución bancaria
        </td>
        <td>
            Tipo inversion
        </td>
        <td>
            Total $
        </td>
        <td>
            <div class="simuInput" style="width:180px;">&nbsp {% if totalAhorroInversionApi %} {{totalAhorroInversionApi|number_format(0,'.' , '.') }} {% else %} {{totalAhorroInversion|number_format(0,'.' , '.')}} {% endif %} </div>
        </td>
    </tr>
    </tbody>
</table>
<table class="vehiculos" >
    <thead>
    <th> 
        Vehiculos  / {% if tienesAutomoviles %}  SI {% else %} {% if TotalAutomovilesApi %} SI {% else %} NO  {% endif %} {% endif %}  
    </th>
    </thead>
    <tbody>


{% if tienesAutomoviles %}
    {% for tienesAutomoviles in tienesAutomoviles  %}
    <tr>
        <td><div class="simuInput">&nbsp {{ tienesAutomoviles.marcaauto }} </div></td>
        <td><div class="simuInput">&nbsp {{ tienesAutomoviles.modelo }}</div></td>
        <td><div class="simuInput">&nbsp {{ tienesAutomoviles.anoauto }} </div></td>
        <td></td>
        <td><div class="simuInputPequeño">&nbsp {% if tienesAutomoviles.prendado  == 'si' %}  X {% endif %} </div></td>
        <td><div class="simuInputPequeño">&nbsp {% if tienesAutomoviles.prendado  == 'no' %}  X {% endif %} </div></td>
        <td>$  </td>
        <td><div class="simuInput" style="width:138px;"> &nbsp {{ tienesAutomoviles.valorcomercial }} </div></td>
    </tr>

{% endfor %}

{% endif  %}



    <tr>
        <td>
            Marca
        </td>
        <td>
            Modelo
        </td>
        <td>
            Año
        </td>
        <td>
            Prenda Bco
        </td>
        <td>
            Si
        </td>
        <td>
            No
        </td>
        <td>
            Total $
        </td>
        <td>
            <div class="simuInput" style="width:138px;" >&nbsp  {% if TotalAutomovilesApi %} {{ TotalAutomovilesApi|number_format(0,'.' , '.') }} {% else %} {{ totalAutomoviles|number_format(0,'.' , '.') }} {% endif %}</div>
        </td>
    </tr>
    </tbody>
</table>
<table id="propiedades">
    <thead>
    <th>


        Propiedades    /     {% if tienesHiporecario  %} SI {% else %} NO {% endif %}


    </th>
    </thead>
    <tbody>

    {% if tienesHiporecario  %}
    {% for tienesHiporecario in tienesHiporecario %}


    <tr>
        <td>
            <div class="simuInput">&nbsp {{tienesHiporecario.tipo }}</div>
        </td>
        <td>
            <div class="simuInput" style="font-size:9px;">&nbsp {{tienesHiporecario.direccion }}</div>
        </td>
        <td>
            <div class="simuInput" style="font-size:9px;" >&nbsp  {{tienesHiporecario.comuna }} </div>
        </td>
        <td>
            <div class="simuInput">&nbsp {{tienesHiporecario.hipotecado }} </div>
        </td>
        <td>
            $
        </td>
        <td>
            <div class="simuInput" style="width:132px;">&nbsp {{tienesHiporecario.avaluo }}</div>
        </td>
    </tr>
    {% endfor %}


   {% endif %}



    <tr>
        <td>Tipo Propiedad</td>
        <td>Dirección</td>
        <td>Comuna</td>
        <td>Hipoteca Bco</td>
        <td>Total $</td>
        <td><div class="simuInput" style="width:132px;">&nbsp  {% if  TotalPropiedadesApi %} 
        {{ TotalPropiedadesApi|number_format(0,'.' , '.') }}   
        {% else %} {{totalHipotecario|number_format(0,'.' , '.')}} {% endif %} </div></td>
    </tr>


    </tbody>
</table>
<table id="participaciones">
    <thead>
    <th width="122">Participaciones  / {% if tienesSociedades %} SI {% else %} NO {% endif %}</th>
    <td width="122"></thead>
    <tbody>

{% if tienesSociedades %} 
{% for tienesSociedades in tienesSociedades %}
    <tr>
        <td>
            <div class="simuInput">&nbsp {{tienesSociedades.nombre}}</div>
        </td>
        <td>
            <div class="simuInput">&nbsp {{tienesSociedades.rut}}</div>
        </td>
        <td width="122">
            <div class="simuInput">&nbsp {{tienesSociedades.porcentaje}} </div>
        </td>
        <td width="123">$</td>
        <td width="197">
            <div class="simuInput" style="width:172px;">&nbsp {{tienesSociedades.valor}}</div>
        </td>
    </tr>

{% endfor %}
{% endif %}


    <tr>
        <td>
            Razón social
        </td>
        <td>
            R.U.T
        </td>
        <td>
            %Participacion
        </td>
        <td>
            Total $
        </td>
        <td>
            <div class="simuInput" style="width:172px;" >&nbsp {{totalSociedades |number_format(0,'.' , '.') }}</div>
        </td>
    </tr>
    </tbody>
</table>






<div class="contTitulos"> <span class="titText">Pasivos </span></div>



<table id="pasivos">
    <thead>
    <th></th>
    </thead>
</table>
<table width="712" id="deudascortoPlazo">

    <tbody>
    <tr>
        <td colspan="9">
          Linea Credito  / {% if debesLineaCredito %} SI {% else %} {% if pagoMensualLineaCreditoApi %} SI {% else %} NO {% endif %}  {% endif %}
        </td>
    </tr>

   {% set setLineT = 0 %}
    {% if debesLineaCredito %}
     {% set setLineT = 0 %}
    {% for debesLineaCredito in debesLineaCredito %}
    <tr>
        <td width="131">
            <div class="simuInput">&nbsp {{ debesLineaCredito.institucion }}</div>
        </td>
        <td width="125">
            <div class="simuInput">&nbsp {{ debesLineaCredito.montoAprobado }}</div>
        </td>
        <td width="125">
            <div class="simuInput">&nbsp {{ debesLineaCredito.montoUtilizado }}</div>
        </td>

        <td width="125">
           <div class="simuInput">&nbsp {{ debesLineaCredito.vencimientofinal }}</div>
        </td>

        



        </tr>


        {% set setLineT = debesLineaCredito.montoUtilizado + setLineT %}

    {% endfor %}
    {% endif %}



<td width="13"></td>
        <td width="95">Deuda Total $</td>


 


        <td width="199">

        <div class="simuInput" style="width:100px;">

 {{ setLineT }}
        
       </div>

        </td>
    </tr>






{% if pagoMensualLineaCreditoApi  %} 
        <td width="199">

        <div class="simuInput" style="width:100px;">


        
         {% if pagoMensualLineaCreditoApi  %} {{ pagoMensualLineaCreditoApi|number_format(0,'.' , '.') }} {% endif %}</div>

        </td>


        {% endif %}



    <tr>
        <td>
            Institución Bancaria
        </td>
        <td>
            Monto Aprobado
        </td>
        <td>
           Monto Utilizado
        </td>
        <td>
            Vencimiento

        </td>

        <td>

        </td>
    </tr>
    </tbody>
</table>
<table id="tarjetaCredito">
    <thead>
    <th width="129">
        Tarjetas de crédito  / {% if debesTarjetaCredito %} SI {% else %} NO {% endif %}
    </th>
    <td width="122"></thead>
    <tbody>


    {% set totalDebesFor = 0  %}
{% if debesTarjetaCredito %}
    {% for debesTarjetaCredito in debesTarjetaCredito%}
    <tr>
        <td><div class="simuInput">&nbsp {{ debesTarjetaCredito.institucion }} </div></td>
        <td><div class="simuInput">&nbsp  {{ debesTarjetaCredito.montoaprobado }} &nbsp;    </div></td>
        <td width="122"><div class="simuInput">&nbsp {{ debesTarjetaCredito.montoutilizado }}  &nbsp; </div></td>
        <td width="13"></td>
      <td width="95">Deuda  $</td>



      

        <td width="199"><div class="simuInput" style="width:180px;">&nbsp {{ debesTarjetaCredito.montoutilizado }}  </div></td>
    </tr>




    {% endfor %}
    {% endif %}

    <tr>
        <td>Institución bancaria</td>
        <td>Cupo</td>
        <td>Pago mensual</td>
        <td></td>
        <td>Total $</td>
    <td><div class="simuInput" style="width:180px;">&nbsp {% if totalDebesTarjeta %}  {{  totalDebesTarjeta|number_format(0,'.' , '.')  }} {% endif %}</div></td>
    </tr>
    </tbody>
</table>



<table id="tarjetaCredito">
    <thead>
    <th width="129">
        Hipotecario  / {% if debesHipotecario %} SI {% else %} {% if pagoMensualApi  %} SI {% else %} NO {% endif %} {% endif %}
    </th>
    <td width="122"></thead>
    <tbody>


{%  set debesHipotecarioFor = 0 %}




{% if debesHipotecario %}
    {% for debesHipotecario  in debesHipotecario  %}
        <tr>
            <td><div class="simuInput" style="width:90px;">&nbsp  {{ debesHipotecario.institucion  }}  </div></td>
            <td><div class="simuInput" style="width:90px;">&nbsp  {{ debesHipotecario.pagomensual }}     </div></td>
            <td><div class="simuInput" style="width:90px;">&nbsp  {{ debesHipotecario.deudatotal }}    </div></td>
            <td><div class="simuInput" style="width:90px;">&nbsp   {{ debesHipotecario.venciminetofinal }}    </div></td>
        

            <td width="13"></td>
            <td width="95">Deuda Vigente $</td>





            <td width="199"><div class="simuInput" style="width:90px;" >&nbsp   {{ debesHipotecario.duedavigente }} </div></td>
        </tr>


        {%  set debesHipo =  debesHipotecario.duedavigente|replace({ ('.'): '' }) %}
        {%  set debesHipo =  debesHipotecario.duedavigente|replace({ ('.'): '' }) %}

        {%  set debesHipotecarioFor =  debesHipo + debesHipo %}

    {% endfor %}
{% endif %}

<tr>
    <td>Institución bancaria</td>
    <td>Pago Mensual</td>
    <td>Deuda Total</td>
    <td>Vencimiento Final</td>

    <td></td>
    <td>Total $</td>
    <td><div class="simuInput" style="width:90px;">&nbsp  {% if pagoMensualApi  %}  {{ pagoMensualApi|number_format(0,'.' , '.')  }}   {% else %} {{ totalDebesHipotecario|number_format(0,'.' , '.')  }} {% endif %}</div></td>
</tr>
</tbody>
</table>

<table id="tarjetaCredito">
    <thead>
    <th width="129">
        Consumo  / {% if debesCreditoConsumo %} SI {% else %} NO {% endif %} 
    </th>
    <td width="122"></thead>
    <tbody>



{% if debesCreditoConsumo %}
    {% for debesCreditoConsumo  in debesCreditoConsumo  %}
        <tr>
            <td><div class="simuInput" style="width:90px;">&nbsp  {{ debesCreditoConsumo.institucion  }}  </div></td>
            <td><div class="simuInput" style="width:90px;">&nbsp  {{ debesCreditoConsumo.pagomensual }}     </div></td>
            <td><div class="simuInput" style="width:90px;">&nbsp  {{ debesCreditoConsumo.deudatotal }}    </div></td>
            <td><div class="simuInput" style="width:90px;">&nbsp   {{ debesCreditoConsumo.fechaultimopago }}    </div></td>
        

            <td width="13"></td>
            <td width="95">Deuda Vigente $</td>





            <td width="199"><div class="simuInput" style="width:90px;" >&nbsp   {{ debesCreditoConsumo.deudavigente }} </div></td>
        </tr>


     
    {% endfor %}
{% endif %}

<tr>
    <td>Institución bancaria</td>
    <td>Pago Mensual</td>
    <td>Deuda Total</td>
    <td>Fecha Último Pago</td>

    <td></td>
    <td>Deuda Vigente Total$</td>
    <td><div class="simuInput" style="width:90px;">&nbsp {% if totalDebesCredito %}{{ totalDebesCredito|number_format(0,'.' , '.')  }} {% endif %}</div></td>
</tr>
</tbody>
</table>

<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>


<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>



<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>





<table>
    <thead>
    <th colspan="9" align="left">
        AVALES OTORGADOS(Deudas Indirectas)
    </th>
    </thead>
    <tbody>
    <tr>
        <td><div class="simuInput">&nbsp</div></td>
        <td><div class="simuInput">&nbsp</div></td>
        <td><div class="simuInput">&nbsp</div></td>
        <td><div class="simuInput">&nbsp</div></td>
    </tr>
    <tr>
        <td><div class="simuInput">&nbsp</div></td>
        <td><div class="simuInput">&nbsp</div></td>
        <td><div class="simuInput">&nbsp</div></td>
        <td><div class="simuInput">&nbsp</div></td>
    </tr>
    <tr>
        <td>Persona avalada</td>
        <td>Institución</td>
        <td>Plazo</td>
        <td>Saldo Deuda</td>
    </tr>
    </tbody>
</table>
<table id="firmaCliente">
    <tr>
        <td><div class="simuInputOld">&nbsp</div></td>
        <td><div class="simuInput">&nbsp</div></td>
    </tr>
    <tr>
        <td>Firma Cliente</td>
        <td>Fecha</td>
    </tr>

</table>






<br>
<br>
<br>
<br>

     <h1 align="right">SOLICITUD DE PRODUCTOS</h1>














  <h3>Crédito de consumo:</h3>
            <table class="tabla">

                <table class="tabla">
                    <thead>

                    </thead>
                    <tbody>
                    <tr>
                        <td>Monto de Crédito:</td>
                        <td>Plazo de Crédito </td>
                        <td>Seguros Asociados </td>
                        <td>¿Para qué utilizarás el Dinero? </td>

                    </tr>



                            <tr>
                                <td><div class="simuInput">&nbsp;   {% if creditoConsumo   %} {{ creditoConsumo.montoCredito   }} {% endif %}</div></td>
                                <td><div class="simuInput">&nbsp;    {% if creditoConsumo   %} {{ creditoConsumo.plazoCredito  }} {% endif %}</div></td>
                                <td><div class="simuInput">&nbsp;    {% if creditoConsumo   %} {{ creditoConsumo.segurosAsociados   }} {% endif %} </div></td>
                                <td><div class="simuInput">&nbsp;    {% if creditoConsumo   %} {{ creditoConsumo.paraque   }} {% endif %}</div></td>


                            </tr>






                    </tbody>
                </table>




                <h3>Crédito Hipotecario </h3>
                <table class="tabla">

                <table class="tabla">
                    <thead>

                    </thead>
                    <tbody>
                    <tr>
                        <td>Valor Propiedad :</td>
                        <td>Monto de Píe </td>
                        <td>Porcentaje </td>
                       

                    </tr>



                        <tr>
                            <td><div class="simuInput">&nbsp;   {% if creditoHipotecario %} {{ creditoHipotecario.valorPropiedad   }} {% endif %}</div></td>
                            <td><div class="simuInput">&nbsp; {% if creditoHipotecario %}  {{ creditoHipotecario.montoPie   }} {% endif %}</div></td>
                            <td><div class="simuInput">&nbsp;   {% if creditoHipotecario %} {{ creditoHipotecario.porcentaje   }} {% endif %}</div></td>
                        


                        </tr>



                    <tr> <td colspan="2">Monto de Crédito </td></tr>
                    <tr>
                        <td><div class="simuInput">&nbsp;  {% if creditoHipotecario %} {{ creditoHipotecario.montoCredito   }} {% endif %}</div></td>
                    </tr>





                    <tr>
                        <td>Plazo de Crédito </td>
                        <td>Tipo de Propiedad </td>
                    
                        <td>¿Tu propiedad es DFL2 y nueva ? </td>

                    </tr>



                        <tr>
                            <td><div class="simuInput">&nbsp; {% if creditoHipotecario %}  {{ creditoHipotecario.plazoCredito   }} {% endif %}  </div></td>
                            <td><div class="simuInput">&nbsp;{% if creditoHipotecario %} {{ creditoHipotecario.tipoPropiedad   }} {% endif %}   </div></td>
                           
                            <td><div class="simuInput">&nbsp; {% if creditoHipotecario %}{{ creditoHipotecario.dfl2   }} {% endif %}            </div></td>


                        </tr>



                <tr><td colspan="2">Estado</td></tr>

                <tr> <td colspan="2" ><div class="simuInput">&nbsp; {% if creditoHipotecario %}{{ creditoHipotecario.estadoPropiedad   }} {% endif %} </div></td></tr>








                    <tr>
                        <td>Comuna donde desea comprar</td>
                        <td>Proyecto / Inmobiliaria </td>


                    </tr>



                        <tr>
                            <td><div class="simuInput">&nbsp; {% if creditoHipotecario %}  {{ creditoHipotecario.comunaComprar   }} {% endif %}</div></td>
                            <td><div class="simuInput">&nbsp; {% if  creditoHipotecario %} {{ creditoHipotecario.proyecto   }}     {% endif %}</div></td>


                        </tr>







                    </tbody>
                </table>

    <h3>Crédito Automotriz</h3>

                    <table class="tabla">
                        <thead>

                        </thead>
                        <tbody>
                        <tr>
                            <td>Monto del Auto </td>
                            <td>Monto del Píe  </td>
                            <td>Plazo del Crédito </td>


                        </tr>


                                <tr>
                                    <td><div class="simuInput">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.monto  }} {% endif %}  </div></td>
                                    <td><div class="simuInput">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.pie }}    {% endif %}</div></td>
                                    <td><div class="simuInput">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.plazo }}  {% endif %}</div></td>


                                </tr>



                        <tr>
                            <td>Cuándo piensas comprar tu auto </td>
                            <td>Marca de Auto  </td>
                            <td>Año del Auto </td>


                        </tr>


                        <tr>
                            <td><div class="simuInput">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.cuandocompras }} {% endif %}</div></td>
                            <td><div class="simuInput">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.marcaauto }} {% endif %}</div></td>
                            <td><div class="simuInput">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.ano }} {% endif %}</div></td>


                        </tr>





                        </tbody>
                    </table>



<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h3>
DATOS CRÉDITO CONSOLIDACION 
</h3>
<tr>
    <th>Crédito </th>
    <th>Monto </th>
    <th>Plazo </th>

  
    </tr>



    </thead>

    <tr>
    {% set con  = 0 %}
    {% if creditoConsolidacion   %}
    {% for creditoConsolidacion in creditoConsolidacion %}
    {% set con = con +1 %}

    {% if con <= 1 %}

    <tr>   

        <td><div class="simuInput" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.tipoCredito}} </div></td>
        <td><div class="simuInput" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.montoCredito}} </div></td>
        <td><div class="simuInput" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.plazo}} </div> </td>
     </tr>
        
       <tr>    

        <td><div class="simuInput" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.tipoCredito2}} </div></td>
        <td><div class="simuInput" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.montoCredito2}} </div></td>
        <td><div class="simuInput" style="width:80px;margin-left:5px;">  &nbsp;{{creditoConsolidacion.plazo2}} </div> </td>
</tr>
<tr>   


        <td><div class="simuInput" style="width:80px;margin-left:5px;">  &nbsp;{{creditoConsolidacion.tipoCredito3}}  </div></td>
        <td><div class="simuInput" style="width:80px;margin-left:5px;"> &nbsp; {{creditoConsolidacion.montoCredito3}} </div></td>
        <td><div class="simuInput" style="width:80px;margin-left:5px;"> &nbsp; {{creditoConsolidacion.plazo3}} </div></td>
       
   </tr> 

    {% endif %}
    {% endfor %}
    {% endif %}
    
        </tr>

</table>




</div>
</body>
</html>