<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Plantilla Consorcio</title>
        <style>

        body{
            font-family: verdana;
            font-size: 12px;


        }

            .tabla{
                border: solid;
                color: #112b51;
                width: 690px;
            }

            .input{
                color: #112b51;
                width: 100%;
                height: 20px;
                border-style: solid;
                border-width: 1px;
                position: relative;
                float: left;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <table id="cabecera" style="width: 710px;">
                <tbody>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <img src="http://s3-eu-west-1.amazonaws.com/rankia/images/valoraciones/0011/9499/banco-consorcio.png?1374144783">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        AHUMADA 370, Of. 800 - SANTIAGO
                                    </td>

                                </tr>
                                <tr>
                                    <td>Call Center: (02) 787 1800 </td>
                                </tr>
                                <tr>
                                    <td>www.bancoconsorcio.cl</td>
                                </tr>

                            </table>
                        </td>
                        <td>
                            <hr style="color: #808080;" size="8" noshade>
                            <h1 align="right">ESTADO DE SITUACIÓN</h1>
                            <hr style="color: #808080;" size="8" noshade>
                        </td>

                    </tr>
                </tbody>
            </table>
            <br>
            <br>
            <br>
            <br>
            <h3>Antecedentes Personales</h3>
            <table class="tabla">
                <tbody>
                    <tr>
                        <td colspan="4" align="right">Rut</td>
                        <td><div class="input">&nbsp; {% if usuario %} {{ usuario.rut }} {% endif %}</div></td>
                    </tr>
                    <tr>
                        <td colspan="2">Nombre</td>
                        <td colspan="2">Apellido Paterno</td>
                        <td>Apellido Materno</td>
                    </tr>
                    <tr>
                        <td colspan="5"><div class="input">&nbsp; {% if usuario %} {{ usuario.nombre }} {{ usuario.apellido }}
                        {{ usuario.apellidoseg }} {% endif %}</div></td>
                    </tr>
                    <tr>
                        <td>Fecha Nacimiento</td>
                        <td colspan="2">Sexo</td>
                        <td  >Nacionalidad</td>
                        <td>Estado Civil</td>
                    </tr>
                    <tr>
                        <td><div class="input" style="width:100px;">&nbsp; {% if usuario %} {{ usuario.fechanacimiento }} {% endif %}</div></td>
                        <td colspan="2"><div class="input" tyle="width:100px;" >&nbsp; {% if usuario %}  {{ usuario.sexo }} {% endif %}</div></td>
                        <td ><div class="input">&nbsp;  {% if usuario %}  {{ usuario.nacionalidad  }}{% endif %} </div></td>
                        <td ><div class="input" style="font-size:9px;">&nbsp;{% if usuario %}  {{ usuario.estadocivil  }}{% endif %}</div></td>
                    </tr>


                    <tr>
                        <td width="50px">N° integrantes </td>
                        <td colspan="2">Régimen Conyugal</td>
                        <td>R.U.T. Cónyuge</td>
                        <td colspan="2" >Lugar donde habita</td>

                    </tr>
                    <tr>
                        <td><div class="input">&nbsp;{% if usuario %}  {{ usuario.ndependientes  }} {% endif  %}</div></td>
                        <td colspan="2"><div class="input">&nbsp;{% if usuario %}  {{ usuario.estadocivil }}  {% endif  %}</div></td>
                        <td><div class="input" style="width:90px;">&nbsp;{% if Conyuge %}  {{ Conyuge.rut }}  {% endif  %}</div></td>
                        <td colspan="2"><div class="input" style="width:140px;">&nbsp;{% if usuario %}  {{ usuario.tipocasa }} {% endif  %}</div></td>

                    </tr>
                    <tr>
                        <td>Nivel de estudios</td>
                        <td colspan="2" >Profesión</td>
                        <td colspan="2">Nombre universidad o instituto prefesional</td>
                    </tr>
                    <tr>
                        <td><div class="input">&nbsp; {% if usuario  %} {{ usuario.niveleducacion  }} {%  endif %}</div></td>
                        <td colspan="2" ><div class="input">&nbsp; {% if usuario  %} {{ usuario.profesion }} {%  endif %}</div></td>
                        <td colspan="2"><div class="input">&nbsp; {% if usuario  %} {{ usuario.universidad  }} {%  endif %}</div></td>
                    </tr>
                    <tr>
                        <td colspan="2">Dirección</td>


                        <td>Comuna / Region </td>
                        <td> Region </td>
                    </tr>
                    <tr>
                        <td colspan="2"><div class="input"> {% if usuario %} {{ usuario.direccion }} {% endif  %}</div></td>


                        <td><div class="input" style="width:180px;">&nbsp;{% if usuario %} {{ usuario.comuna  }}  {% endif  %}</div></td>
                        <td><div class="input" style="width:180px;"> {%  if usuario %} {{  usuario.region  }} {% endif %} </div></td>
                    </tr>
                    <tr>

                        <td>Teléfono Particular</td>
         
                        <td colspan="2">E-mail</td>
                    </tr>
                    <tr>

                        <td><div class="input">&nbsp; {% if usuario %} {{ usuario.telefono }} {% endif %} </div></td>
                
                        <td colspan="2" ><div class="input" style="width:200px;">&nbsp; {%  if usuario %}  {{  usuario.email }}{%  endif %}</div></td>
                    </tr>

                </tbody>
            </table>
            <br>
            <br>
            <h3>Antecedentes Laborales</h3>
            <table class="tabla">
                <tbody>
                    <tr>
                        <td>Tipo Actividad</td>
                        <td>Tipo Contrato</td>

                        <td>Fecha Ingreso</td>
                      
                        <td>Renta liquida ($)</td>

                    </tr>
                    <tr>
                        <td><div class="input"> &nbsp; {% if antecedentes   %} {{  antecedentes.industria  }} {% endif %}</div></td>
                        <td><div class="input">&nbsp;  {% if antecedentes %}   {% endif %}</div></td>

                        <td><div class="input">&nbsp;  {% if antecedentes %} {{ antecedentes.fechaingreso }}  {% endif %}  </div></td>
                       
                        <td><div class="input">&nbsp; {% if antecedentes %} {{ antecedentes.independientesueldoliquido }}  {% endif %}  </div></td>
                    </tr>

                    <tr >
                        <td colspan="2">Tipo Renta</td>
                        <td colspan="2">Cargo o actividad</td>
                    </tr>

                    <tr >

                        <td colspan="2"> <div class="input"  style="width:300px;"> {% if antecedentes %}  {{  antecedentes.situacionlaboral }} {% endif %} </div></td>

                         <td colspan="2"><div class="input" style="width:300px;" >&nbsp; {% if antecedentes %} {{ antecedentes.cargoactual }}  {% endif %} </div></td>
                    </tr>



                    <tr>
                        <td colspan="2">R.U.T Empleador</td>
                        <td colspan="2">Nombre empleador</td>
                        <td colspan="2">Giro o rubro empleador</td>

                    </tr>
                    <tr>
                        <td colspan="2"><div class="input">&nbsp; {% if antecedentes   %} {{  antecedentes.rutempresa }} {% endif %} </div></td>
                        <td colspan="2"><div class="input">&nbsp; {% if antecedentes   %} {{  antecedentes.empleadorempresa }} {% endif %}</div></td>
                        <td colspan="2"><div class="input">&nbsp;   </div></td>
                        <td><div class="input"></div></td>
                    </tr>
                    <tr>
                        <td colspan="3">Dirección</td>
                        <td>Número</td>
                        <td colspan="2">Otros datos dirección</td>

                    </tr>
                    <tr>
                        <td colspan="3"><div class="input">&nbsp; {% if antecedentes %} {{ antecedentes.direccion }} {% endif %}</div></td>
                        <td><div class="input">&nbsp;</div></td>
                        <td colspan="2"><div class="input">&nbsp;</div></td>
                        <td><div class="input">&nbsp;</div></td>
                    </tr>
                    <tr>
                        <td>Comuna</td>
                        <td>Ciudad</td>
                        <td colspan="2">Región</td>
                        <td>Teléfono comercial</td>

                    </tr>


                    <tr>
                        <td><div class="input">&nbsp; {% if antecedentes %} {{ antecedentes.comuna }} {% endif %}</div></td>
                        <td><div class="input">&nbsp;{% if antecedentes %} {{ antecedentes.ciudad  }} {% endif %} </div></td>
                        <td colspan="2" ><div class="input">&nbsp; {% if antecedentes %} {{ antecedentes.region }} {% endif %}</div></td>
                        <td><div class="input">&nbsp; {%  if antecedentes %} {{ antecedentes.telefono }}  {% endif %}</div></td>

                    </tr>

                </tbody>
            </table>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h3>Referencias Personales</h3>
            <table class="tabla">
                <tbody>
                    <tr>
                        <td>Nombre</td>
                        <td>Apellido Paterno</td>
                        <td>Apellido Materno</td>
                        <td>Relación con solicitante</td>
                        <td>Teléfono fijo</td>
                    </tr>
                    <tr>
                        <td colspan="3"><div class="input">&nbsp;</div></td>
                        <td><div class="input">&nbsp;</div></td>
                        <td><div class="input">&nbsp;</div></td>
                    </tr>
                    <tr>
                        <td>Nombre</td>
                        <td>Apellido Paterno</td>
                        <td>Apellido Materno</td>
                        <td>Relación con solicitante</td>
                        <td>Teléfono fijo</td>
                    </tr>
                    <tr>
                        <td colspan="3"><div class="input">&nbsp;</div></td>
                        <td><div class="input">&nbsp;</div></td>
                        <td><div class="input">&nbsp;</div></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
            <h3>Resumen estado de situación</h3>
            <table id="resumenSituacion" class="tabla">
                <tbody>
                    <tr>
                        <td>Resumen Activos</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Resumen Pasivos</td>
                        <td>Número de acreedores</td>
                        <td> <div class="input"></div></td>
                    </tr>
                    <tr style="margin-top:0;">
                        <td colspan="4">
                            <table>
                                <tr>
                                    <td></td>
                                    <td>Cantidad</td>
                                    <td>Valor Comercial</td>
                                </tr>
                                <tr>
                                    <td>Bienes Raices  /  {%  if totalHipotecario  %} SI {% else %} {% if TotalPropiedadesApi %} SI {% else %} NO {% endif %} {% endif %}</td>
                                    <td>
                                        <div class="input" style="width:20px;">&nbsp; {%  if totalHipotecario  %} {{ cantidadHipotecario }} {% endif %}</div>
                                    </td>
                                    <td>
                                        <div class="input" style="width:80px;">&nbsp; {% if  totalHipotecario %}  {{ totalHipotecario|number_format(0,'.' , '.') }} {% else %} {% if TotalPropiedadesApi %} {{TotalPropiedadesApi|number_format(0,'.' , '.') }}   {% endif %} {% endif %}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>vehículo  / {% if cantidadAutomoviles %} SI {% else %} {% if TotalAutomovilesApi %} SI {%  else %} NO {% endif %} {% endif %}</td>
                                    <td>
                                        <div class="input" style="width:20px;">&nbsp; {% if cantidadAutomoviles %} {{ cantidadAutomoviles }} {% endif %}</div>
                                    </td>
                                    <td>
                                        <div class="input" style="width:80px;" >&nbsp; {%  if totalAutomoviles  %} {{ totalAutomoviles|number_format(0,'.' , '.') }}  {% else %} {{ TotalPropiedadesApi|number_format(0,'.' , '.')  }} {% endif %}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Deposito a plazo cuenta de ahorro  /  {% if cantidadAhorroInversion %} SI {% else %} {% if totalAhorroInversionApi %} SI {% else %} NO {% endif %}
                                    </td>
                                    <td>
                                        <div class="input" style="width:20px;">&nbsp; {% if cantidadAhorroInversion %}{{ cantidadAhorroInversion }} {% endif %}</div>
                                    </td>
                                    <td>
                                        <div class="input" style="width:80px;">&nbsp; {% if totalAhorroInversion  %}  {{ totalAhorroInversion|number_format(0,'.' , '.')  }} {% else %}
                                         {{ totalAhorroInversionApi|number_format(0,'.' , '.') }}   

                                         {% endif %} {% endif %}</div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Cuenta corriente</td>
                                    <td>
                                        <div class="input" style="width:20px;" >&nbsp;</div>
                                    </td>
                                    <td>
                                        <div class="input" style="width:80px;">&nbsp;</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Acciones y bonos/
                                        Participacion en sociedades {% if cantidadSociedades %} SI {% else %} NO {% endif %}
                                    </td>
                                    <td>
                                        <div class="input" style="width:20px;" >&nbsp; {% if cantidadSociedades %} {{ cantidadSociedades }} {% endif %}</div>
                                    </td>
                                    <td>
                                        <div class="input" style="width:80px;" >&nbsp; {% if totalAhorroInversionAcciones %} {{ totalAhorroInversionAcciones|number_format(0,'.' , '.') }} {% endif %}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">Total</td>
                                    <td colspan="2">
                                        <div  class="input" >&nbsp; {% if totalActivos %} {{ totalActivos|number_format(0,'.' , '.') }} {% endif %}</div>
                                    </td>

                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                        <td colspan="3">
                            <table>
                                <tr>
                                    <td></td>
                                    <td>Cantidad</td>
                                    <td>Pago Mensual</td>
                                    <td>Deuda Total </td>
                                </tr>
                                <tr>
                                    <td>
                                        Consumo/Comercial/Automotriz    {% if cantidadDebesConsumo %} SI  {% else %} NO {% endif %}
                                    </td>
                                    <td>
                                        <div class="input" style="width:20px;">&nbsp; {% if cantidadDebesConsumo %} {{ cantidadDebesConsumo }} {% endif %}</div>
                                    </td>
                                    <td>
                                        <div class="input" style="width:60px;">&nbsp; {% if totalPagoMensual  %} {{ totalPagoMensual|number_format(0,'.' , '.') }} {% endif %}</div>
                                    </td>
                                    <td>
                                        <div class="input" style="width:80px;">&nbsp;  {% if totalDebesCredito %} {{ totalDebesCredito|number_format(0,'.' , '.') }} {% endif %}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Dscto por Planilla</td>
                                    <td>
                                        <div class="input"  style="width:20px;" >&nbsp;</div>
                                    </td>
                                    <td><div class="input">&nbsp;</div>


                                    </td>
                                    <td>
                                        <div class="input">&nbsp;</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tarjeta / {% if cantidadDebesTarjeta %} SI {% else %} NO {% endif %} </td>
                                    <td>
                                        <div class="input" style="width:20px;">&nbsp; {% if cantidadDebesTarjeta %} {{ cantidadDebesTarjeta }} {% endif %}</div>
                                    </td>
                                    <td>
                                        <div class="input">&nbsp;</div>
                                    </td>
                                    <td>
                                        <div class="input">&nbsp; {%  if totalDebesTarjeta  %} {{ totalDebesTarjeta|number_format(0,'.' , '.')  }} {% endif %}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Linea Credito /  {% if cantidadLineaCredito  %}  SI {% else %} {% if pagoMensualCreditoApi %} SI  {% else %} NO {% endif %} {% endif %} </td>
                                    <td>
                                        <div class="input" style="width:20px;">&nbsp; {% if cantidadLineaCredito  %} {{ cantidadLineaCredito }} {% endif %}</div>
                                    </td>
                                    <td>
                                        <div class="input">&nbsp; {% if pagoMensualCreditoApi %} {{ pagoMensualCreditoApi|number_format(0,'.' , '.') }} {% endif %}</div>
                                    </td>
                                    <td>
                                        <div class="input">&nbsp; {% if totalDebesLinea  %}  {{ totalDebesLinea|number_format(0,'.' , '.')  }}{% endif %}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bienes Raices {% if cantidadDebesHipotecario %}  SI {% else %} {% if pagoMensualApi %}  SI {% else %} NO {% endif %} {% endif %} </td>
                                    <td>
                                        <div class="input" style="width:20px;">&nbsp; {% if cantidadDebesHipotecario %} {{ cantidadDebesHipotecario }} {% endif %}</div>
                                    </td>
                                    <td>
                                        <div class="input">&nbsp; {% if pagoMensualApi %} {{ pagoMensualApi|number_format(0,'.' , '.') }} {% endif %}</div>
                                    </td>
                                    <td>
                                        <div class="input">&nbsp; {% if totalDebesHipotecario %} {{ totalDebesHipotecario|number_format(0,'.' , '.')  }} {% endif %}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Total Pasivos </td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="input">&nbsp; {% if totalDebes  %}{{ totalDebes|number_format(0,'.' , '.')   }} {% endif  %}</div>
                                    </td>
                                </tr>
                            </table>
                        </td>

                    </tr>
                </tbody>
                <thead>
                <th colspan="7" align="left">Referencias Comerciales (Principal Institucion)</th>
                </thead>
                <tbody>

                </tbody>
            </table>
            <br>
            <br>
            <br>
            <h3>Empleo Anterior</h3>
            <table id="empleoAnterior" class="tabla">
                <tbody>
                    <tr>
                        <td>Cargo ó actividad</td>
                        <td>Nombre de empleador</td>
                        <td>Fecha de ingreso</td>
                        <td>Fecha de salida</td>
                        <td>Renta Liquida</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input">&nbsp;</div>
                        </td>
                        <td>
                            <div class="input">&nbsp;</div>
                        </td>
                        <td>
                            <div class="input">&nbsp;</div>
                        </td>
                        <td>
                            <div class="input">&nbsp;</div>
                        </td>
                        <td>
                            <div class="input">&nbsp;</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3> Datos Cónyuge</h3>
            <table id="grupoFamiliar" class="tabla">
                <tbody>
                    <tr>
                        <td>Nombres</td>
                        <td>Apellido Paterno</td>
                        <td>Apellido Materno</td>
                    </tr>


                    {% if Conyuge %}
                    <tr>

                        <td>
                            <div class="input">&nbsp; {{ Conyuge.nombre }}  </div>
                        </td>
                        <td>
                            <div class="input">&nbsp; {{ Conyuge.apellido }}</div>
                        </td>
                        <td>
                            <div class="input">&nbsp; {{ Conyuge.apellidoseg }}</div>
                        </td>

                    </tr>

                    {% endif %}




                    <tr><td colspan="5"><div class="input"></div></td></tr>
                    <tr>
                        <td>Fecha de Nacimiento</td>
                        <td>Tipo de Actividad</td>
                        <td>Cargo/Actividad</td>
                        <td>Fecha Ingreso</td>

                    </tr>



                    {% if Conyuge %}


                    <tr>
                        <td><div class="input">&nbsp; {{ Conyuge.fechanacimiento }}</div></td>
                        <td><div class="input">&nbsp;{{ Conyuge.actividad }}</div></td>
                        <td><div class="input">&nbsp;{{ Conyuge.cargoactual }} </div></td>
                        <td><div class="input">&nbsp; </div></td>
                    </tr>



                    {% endif %}



                    <tr>
                        <td>Complemento Renta</td>
                        <td>R.U.T Empresa</td>
                        <td colspan="2">Nombre Empleador</td>

                    </tr>

                    {% if Conyuge %}
                    <tr>
                        <td><div class="input">&nbsp;  </div></td>
                        <td><div class="input">&nbsp; </div></td>
                        <td colspan="2"><div class="input">&nbsp; {{ Conyuge.empresa }} </div></td>
                    </tr>

                    {% endif %}

                    <tr>
                        <td colspan="3">Teléfono Comercial</td>
                        <td colspan="2">Renta Liquida</td>
                    </tr>
                    <tr>
                        <td colspan="2" ><div class="input">&nbsp;</div></td>
                        <td colspan="2" ><div class="input">&nbsp; {% if Conyuge  %} {{ Conyuge.rentaliquidad }} {% endif %}</div></td>
                    </tr>
                </tbody>
            </table>
            <h3>Datos de otros miembros de la familia</h3>
            <table class="tabla">
                <thead>
                <th align="center"> Nombre</th>
                <th align="center"> Fecha de nacimiento</th>
                <th align="center"> Sexo </th>
                <th align="center"> Relacion con el solicitante </th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="input">&nbsp; {% if Conyuge %} {{ Conyuge.nombre }} {% endif %}</div>
                        </td>
                        <td>
                            <div class="input">&nbsp;{% if Conyuge %} {{ Conyuge.fechanacimiento }} {% endif %}</div>
                        </td>
                        <td>
                            <div class="input">&nbsp;{% if Conyuge %} {% if usuario.sexo == 'Hombre' %} Mujer {% else %} Hombre {% endif %}{% endif %}</div>
                        </td>
                        <td>
                            <div class="input">&nbsp;{% if Conyuge %} Conyuge {% endif %}</div>
                        </td>
                    </tr>
                                     


                </tbody>
            </table>
            <br>
            <br>
            <br>
            <br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <h3>Antecedentes Financieros</h3>
            <table id="antecedentesFinancieros"  class="tabla" >
                <tbody>
                    <tr>
                        <td>
                            <table>
                                <thead>
                                <th colspan="2" align="2">
                                    Ingreso Mensual
                                </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Renta</td>
                                        <td>Monto($)</td>
                                    </tr>
                                    <tr>
                                        <td>Fijo</td>

                                        <td><div class="input">&nbsp;</div></td>
                                    </tr>
                                    <tr>
                                        <td>Varíable</td>
                                        <td><div class="input">&nbsp;</div></td>
                                    </tr>
                                    <tr>
                                        <td>Total Ingreso Mensual</td>
                                        <td><div class="input">&nbsp;</div></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Declaracion Anual de
                                            impuesto, DAI (Base imponible)
                                        </td>
                                        <td><div class="input">&nbsp;</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <table>
                                <thead>
                                <th colspan="4" align="2">
                                    Detalle Renta Variable
                                </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Renta</td>
                                        <td>Monto($)</td>
                                        <td>Renta</td>
                                        <td>Monto($)</td>
                                    </tr>
                                    <tr>
                                        <td>Honorarios</td>
                                        <td><div class="input">&nbsp;</div></td>
                                        <td>Arriendos</td>
                                        <td><div class="input">&nbsp;</div></td>
                                    </tr>
                                    <tr>
                                        <td>Comisión</td>
                                        <td><div class="input">&nbsp;</div></td>
                                        <td>Pensiones</td>
                                        <td><div class="input">&nbsp;</div></td>
                                    </tr>
                                    <tr>
                                        <td>Bono</td>
                                        <td><div class="input">&nbsp;</div></td>
                                        <td>Otros</td>
                                        <td><div class="input">&nbsp;</div></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Total renta variable($)</td>
                                        <td><div class="input">&nbsp;</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3>Detalles Activos</h3>
            Bienes Raíces /    {%  if tienesHiporecario %} SI {% else %}  NO {% endif %}
            <table class="tabla" >
                <tbody>

                    <tr>
                        <td>Tipo</td>
                        <td>Direccion</td>
                        <td>Region</td>

                        <td>Avalúo Fiscal </td>
                        <td>Rol </td>
                        <td>Hipotecado </td>
                    </tr>

                    {%  if tienesHiporecario %}
                    {% for tienesHiporecario in  tienesHiporecario %}
                    <tr>
                        <td><div class="input" style="width:90px;">&nbsp; {{ tienesHiporecario.tipo }}</div></td>
                        <td><div class="input" style="width:140px;" >&nbsp; {{ tienesHiporecario.direccion }}</div></td>
                        <td><div class="input" style="width:140px;">&nbsp; {{ tienesHiporecario.region }}</div></td>

                        <td><div class="input" style="width:90px;"> &nbsp; {{ tienesHiporecario.avaluo }}</div></td>
                        <td><div class="input" style="width:90px;"> &nbsp; {{ tienesHiporecario.rol }}</div></td>
                        <td><div class="input" style="width:40px;"> &nbsp; {{ tienesHiporecario.hipotecado }}</div></td>

                    </tr>
                {% endfor %}
                {% endif %}






                </tbody>
            </table>



            <table>
                <tr><td>Total Bienes Raíces </td></tr>
                <tr><td><div class="input" style="width:90px;"> &nbsp; {{ totalHipotecario|number_format(0,'.' , '.') }} </div></td></tr>
            </table>






            <h3>Vehículos  /   {% if  tienesAutomoviles %} SI {% else %} NO {% endif %}</h3>
            <table class="tabla" >
                <tbody>
                    <tr>
                        <td>Tipo</td>
                        <td>Marca</td>
                        <td>Modelo</td>
                        <td>Año</td>
                        <td>Patente</td>

                        <td>Valor Comercial($)</td>
                    </tr>

                    {% if  tienesAutomoviles %}
                    {%  for tienesAutomoviles in tienesAutomoviles %}
                    <tr>
                        <td><div class="input">&nbsp;{{ tienesAutomoviles.tipo  }}</div></td>
                        <td><div class="input">&nbsp; {{ tienesAutomoviles.marcaauto  }}</div></td>
                        <td><div class="input">&nbsp;{{ tienesAutomoviles.modelo  }}</div></td>
                        <td><div class="input">&nbsp;{{ tienesAutomoviles.anoauto  }}</div></td>
                        <td><div class="input">&nbsp;{{ tienesAutomoviles.patente  }}</div></td>
                        <td><div class="input">&nbsp;{{ tienesAutomoviles.valorcomercial  }}</div></td>

                    </tr>




                {% endfor %}
                {% endif %}

                </tbody>
            </table>



            <table>
                <tr><td>Total Vehículos</td></tr>
                <tr><td><div class="input" style="width:90px;"> &nbsp; {{ totalAutomoviles|number_format(0,'.' , '.') }} </div></td></tr>
            </table>






            <h3>Participación en Sociedades /
                {% if tienesSociedades %} SI {% else %} NO {% endif %}</h3>
            <table class="tabla">
                <tr>
                    <td>Razón Social</td>
                    <td>RUT Sociedad</td>

                    <td>% Participación</td>
                    <td>Valor comercial($)</td>
                </tr>


                {% if tienesSociedades %}

                {% for tienesSociedades in tienesSociedades %}
                <tr>
                    <td><div class="input">&nbsp; {{ tienesSociedades.nombre }}</div></td>
                    <td><div class="input">&nbsp; {{ tienesSociedades.rut }}</div></td>
                    <td><div class="input">&nbsp; {{ tienesSociedades.porcentaje }}</div></td>

                    <td><div class="input">&nbsp; {{ tienesSociedades.valor }}</div></td>
                </tr>


                {% endfor %}
                {% endif %}



            </table>


            <table>
                <tr><td>Total Participación en Sociedades</td></tr>
                <tr><td><div class="input" style="width:90px;"> &nbsp; {{   totalSociedades|number_format(0,'.' , '.') }} </div></td></tr>
            </table>






            </table>
            <h3>Ahorro Inversión  {% if  tienesAhorroInversion %} SI {% else %} NO {% endif %}</h3>
            <table class="tabla">
                <tr>
                    <td>Tipo</td>
                    <td>Institución</td>

                    <td>Valor Comercial </td>
                    <td>Prendado </td>
                </tr>


                {% if  tienesAhorroInversion %}

                    {% for tienesAhorroInversion in tienesAhorroInversion %}
                        <tr>
                            <td><div class="input">&nbsp; {{ tienesAhorroInversion.tipo }}</div></td>
                            <td><div class="input">&nbsp; {{ tienesAhorroInversion.institucion  }}</div></td>
                            <td><div class="input">&nbsp; {{ tienesAhorroInversion.valorcomercial}}</div></td>

                            <td><div class="input">&nbsp; {{ tienesAhorroInversion.prendado }}</div></td>
                        </tr>


                    {% endfor %}
                {% endif %}


            </table>



            <table>
                <tr><td>Ahorro Inversión </td></tr>
                <tr><td><div class="input" style="width:90px;"> &nbsp; {{ totalAhorroInversion|number_format(0,'.' , '.') }} </div></td></tr>
            </table>



            <br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br>
            <br>
            <br>
            <br>
        

            <h3>Pasivos</h3>

            Hipotecario  / {% if debesHipotecario   %} SI {% else  %} NO {% endif %}
            <table class="tabla">
                <thead>
                <th colspan="5" align="left"> </th>
                </thead>
                <tbody>
                    <tr>
                        <td>Institución</td>
                        <td>Pago Mensual</td>
                        <td>Deuda Total</td>
                        <td>Vencimiento Final</td>
                        <td>Deuda Vigente</td>
                    </tr>

                    {% if debesHipotecario   %}
                    {% for debesHipotecario  in debesHipotecario   %}
                <tr>
                    <td><div class="input">&nbsp; {{ debesHipotecario.institucion  }}</div></td>
                    <td><div class="input">&nbsp;{{ debesHipotecario.pagomensual  }}</div></td>
                    <td><div class="input">&nbsp;{{ debesHipotecario.deudatotal  }}</div></td>
                    <td><div class="input">&nbsp;{{ debesHipotecario.venciminetofinal  }}</div></td>
                    <td><div class="input">&nbsp;{{ debesHipotecario.duedavigente  }}</div></td>

                </tr>

                    {% endfor  %}

                {% endif %}

                </tbody>
            </table>

            <table>
                <tr><td>Total </td></tr>
                <tr><td><div class="input" style="width:90px;"> &nbsp; {{ totalDebesHipotecario|number_format(0,'.' , '.') }} </div></td></tr>
            </table>





         Tarjeta de Crédito /      {% if debesTarjetaCredito   %} SI  {% else %} NO {% endif %}
            <table class="tabla">
                <thead>

                </thead>
                <tbody>
                <tr>
                    <td>Tipo de Tarjeta</td>
                    <td>Institucion</td>
                    <td>Monto Aprobado</td>
                    <td>Monto Utilizado</td>

                </tr>

                {% if debesTarjetaCredito   %}
                {% for debesTarjetaCredito  in debesTarjetaCredito   %}
                <tr>
                    <td><div class="input">&nbsp; {{ debesTarjetaCredito.tipotarjeta   }}</div></td>
                    <td><div class="input">&nbsp; {{ debesTarjetaCredito.institucion  }}</div></td>
                    <td><div class="input">&nbsp; {{ debesTarjetaCredito.montoaprobado   }}</div></td>
                    <td><div class="input">&nbsp; {{ debesTarjetaCredito.montoutilizado   }}</div></td>


                </tr>

                {% endfor  %}

                {% endif %}

                </tbody>
            </table>


               <table>
                <tr><td>Total </td></tr>
                <tr><td><div class="input" style="width:90px;"> &nbsp; {{ totalDebesTarjeta|number_format(0,'.' , '.') }} </div></td></tr>
            </table>







 
            Línea de Crédito /    {% if debesLineaCredito   %} SI {% else %} {%  endif %}


            <table class="tabla">
                <thead>

                </thead>
                <tbody>
                <tr>
                    <td>Institución</td>
                    <td>Monto Aprobado</td>
                    <td>Monto Utilizado</td>
                    <td>Vencimiento </td>

                </tr>

                {% if debesLineaCredito   %}
                    {% for debesLineaCredito  in debesLineaCredito   %}
                        <tr>
                            <td><div class="input">&nbsp; {{ debesLineaCredito.institucion   }}</div></td>
                            <td><div class="input">&nbsp; {{ debesLineaCredito.montoAprobado   }}</div></td>
                            <td><div class="input">&nbsp; {{ debesLineaCredito.montoUtilizado   }}</div></td>
                            <td><div class="input">&nbsp; {{ debesLineaCredito.vencimientofinal   }}</div></td>

                        </tr>

                    {% endfor  %}

                {% endif %}

                </tbody>
            </table>



               <table>
                <tr><td>Total </td></tr>
                <tr><td><div class="input" style="width:90px;"> &nbsp; {{ totalDebesLinea|number_format(0,'.' , '.') }} </div></td></tr>
            </table>





       Crédito de Consumo   {% if debesCreditoConsumo   %} SI {% else %} NO {% endif %}

            <table class="tabla">
                <thead>

                </thead>
                <tbody>
                <tr>
                    <td>Institución</td>
                    <td>Monto Aprobado</td>
                    <td>Monto Utilizado</td>
                    <td>Vencimiento </td>

                </tr>

                {% if debesCreditoConsumo   %}
                    {% for debesCreditoConsumo  in debesCreditoConsumo   %}
                        <tr>
                            <td><div class="input">&nbsp; {{ debesCreditoConsumo.institucion   }}</div></td>
                            <td><div class="input">&nbsp; {{ debesCreditoConsumo.pagomensual  }}</div></td>
                            <td><div class="input">&nbsp; {{ debesCreditoConsumo.deudatotal  }}</div></td>
                            <td><div class="input">&nbsp; {{ debesCreditoConsumo.fechaultimopago   }}</div></td>
                             <td><div class="input">&nbsp; {{ debesCreditoConsumo.deudavigente   }}</div></td>

                        </tr>

                    {% endfor  %}

                {% endif %}

                </tbody>
            </table>


               <table>
                <tr><td>Total </td></tr>
                <tr><td><div class="input" style="width:90px;"> &nbsp; {{ totalDebesCredito|number_format(0,'.' , '.') }} </div></td></tr>
            </table>
            












            <h3>Seguros de vida</h3>
            <table class="tabla">
                <tbody>
                    <tr>
                        <td>¿Tiene seguro de vida?</td>
                        <td>Institución</td>
                    </tr>
                    <tr>
                        <td><div class="input">&nbsp;</div></td>
                        <td><div class="input">&nbsp;</div></td>
                    </tr>
                </tbody>
            </table>
            <table class="tabla" >
                <tbody>
                    <tr>
                        <td>¿Ha tenido algún juico comercial?(Explicar con detalles si es afirmativo)</td>
                    </tr>
                    <tr>
                        <td><div class="input">&nbsp;</div></td>
                    </tr>
                    <tr>
                        <td><div class="input">&nbsp;</div></td>
                    </tr>
                    <tr>
                        <td>¿Está involucrado en algún proceso legar?(Explicar con detalle si es afirmativo)</td>
                    </tr>
                    <tr>
                        <td><div class="input">&nbsp;</div></td>
                    </tr>
                    <tr>
                        <td><div class="input">&nbsp;</div></td>
                    </tr>
                    <tr>
                        <td>¿Está obligado/a a pagar pensión alimenticia?(Explicar con detalle si es afirmativo)</td>
                    </tr>
                    <tr>
                        <td><div class="input">&nbsp;</div></td>
                    </tr>
                    <tr>
                        <td><div class="input">&nbsp;</div></td>
                    </tr>
                </tbody>
            </table>
            <h3>Datos ejecutivo Colocador</h3>
            <table class="tabla">
                <tbody>
                    <tr>
                        <td>RUT</td>
                        <td>ID Agente</td>
                        <td>Agencia / Canal de venta</td>
                    </tr>
                    <tr>
                        <td><div class="input">&nbsp;</div></td>
                        <td><div class="input">&nbsp;</div></td>
                        <td><div class="input">&nbsp;</div></td>
                    </tr>
                    <tr>
                        <td>Nombres</td>
                        <td>Apellido Paterno</td>
                        <td>Apellido Materno</td>
                    </tr>
                    <tr>
                        <td><div class="input">&nbsp;</div></td>
                        <td><div class="input">&nbsp;</div></td>
                        <td><div class="input">&nbsp;</div></td>
                    </tr>
                </tbody>
            </table>


            <br/><br/><br/><br/><br/><br/><br/><br/>
            <div style="width: 710px;">
                <hr style="color: #808080;" size="8" noshade>
                <h1 align="right">SOLICITUD DE PRODUCTOS</h1>
                <hr style="color: #808080;" size="8" noshade>
            </div>


            <h3>Crédito de consumo:</h3>
            <table class="tabla">

                <table class="tabla">
                    <thead>

                    </thead>
                    <tbody>
                    <tr>
                        <td>Monto de Crédito:</td>
                        <td>Plazo de Crédito </td>
                        <td>Seguros Asociados </td>
                        <td>¿Para qué utilizarás el Dinero? </td>

                    </tr>



                            <tr>
                                <td><div class="input">&nbsp;   {% if creditoConsumo   %} {{ creditoConsumo.montoCredito   }} {% endif %}</div></td>
                                <td><div class="input">&nbsp;    {% if creditoConsumo   %} {{ creditoConsumo.plazoCredito  }} {% endif %}</div></td>
                                <td><div class="input">&nbsp;    {% if creditoConsumo   %} {{ creditoConsumo.segurosAsociados   }} {% endif %} </div></td>
                                <td><div class="input">&nbsp;    {% if creditoConsumo   %} {{ creditoConsumo.paraque   }} {% endif %}</div></td>


                            </tr>






                    </tbody>
                </table>




                <h3>Crédito Hipotecario </h3>
                <table class="tabla">

                <table class="tabla">
                    <thead>

                    </thead>
                    <tbody>
                    <tr>
                        <td>Valor Propiedad :</td>
                        <td>Monto de Píe </td>
                        <td>Porcentaje </td>
                        <td>Monto de Crédito </td>

                    </tr>



                        <tr>
                            <td><div class="input">&nbsp;   {% if creditoHipotecario %} {{ creditoHipotecario.valorPropiedad   }} {% endif %}</div></td>
                            <td><div class="input">&nbsp; {% if creditoHipotecario %}  {{ creditoHipotecario.montoPie   }} {% endif %}</div></td>
                            <td><div class="input">&nbsp;   {% if creditoHipotecario %} {{ creditoHipotecario.porcentaje   }} {% endif %}</div></td>
                            <td><div class="input">&nbsp;  {% if creditoHipotecario %} {{ creditoHipotecario.montoCredito   }} {% endif %}</div></td>


                        </tr>









                    <tr>
                        <td>Plazo de Crédito </td>
                        <td>Tipo de Propiedad </td>
                        <td>Estado </td>
                        <td>¿Tu propiedad es DFL2 y nueva ? </td>

                    </tr>



                        <tr>
                            <td><div class="input">&nbsp; {% if creditoHipotecario %}  {{ creditoHipotecario.plazoCredito   }} {% endif %}</div></td>
                            <td><div class="input">&nbsp;{% if creditoHipotecario %} {{ creditoHipotecario.tipoPropiedad   }} {% endif %}
                                </div></td>
                            <td><div class="input">&nbsp; {% if creditoHipotecario %}{{ creditoHipotecario.estadoPropiedad   }} {% endif %}</div></td>
                            <td><div class="input">&nbsp; {% if creditoHipotecario %}{{ creditoHipotecario.dfl2   }} {% endif %}</div></td>


                        </tr>









                    <tr>
                        <td>Comuna donde desea comprar</td>
                        <td>Proyecto / Inmobiliaria </td>


                    </tr>



                        <tr>
                            <td><div class="input">&nbsp; {% if creditoHipotecario %}  {{ creditoHipotecario.comunaComprar   }} {% endif %}</div></td>
                            <td><div class="input">&nbsp; {% if  creditoHipotecario %} {{ creditoHipotecario.proyecto   }}     {% endif %}</div></td>


                        </tr>







                    </tbody>
                </table>




                    Crédito Automotriz

                    <table class="tabla">
                        <thead>

                        </thead>
                        <tbody>
                        <tr>
                            <td>Monto del Auto </td>
                            <td>Monto del Píe  </td>
                            <td>Plazo del Crédito </td>


                        </tr>


                                <tr>
                                    <td><div class="input">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.monto  }} {% endif %}  </div></td>
                                    <td><div class="input">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.pie }} {% endif %}</div></td>
                                    <td><div class="input">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.plazo }} {% endif %}</div></td>


                                </tr>



                        <tr>
                            <td>Cuándo piensas comprar tu auto </td>
                            <td>Marca de Auto  </td>
                            <td>Año del Auto </td>


                        </tr>


                        <tr>
                            <td><div class="input">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.cuandocompras }} {% endif %}</div></td>
                            <td><div class="input">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.marcaauto }} {% endif %}</div></td>
                            <td><div class="input">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.ano }} {% endif %}</div></td>


                        </tr>




                        </tbody>
                    </table>

<table class="tabla" >
<h3>
DATOS CRÉDITO CONSOLIDACION 
</h3>
<tr>
    <th>Crédito </th>
    <th>Monto </th>
    <th>Plazo </th>

  
    </tr>



    </thead>

    <tr>
    {% set con  = 0 %}
    {% if creditoConsolidacion   %}
    {% for creditoConsolidacion in creditoConsolidacion %}
    {% set con = con +1 %}

    {% if con <= 1 %}

    <tr>   

        <td><div class="input" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.tipoCredito}} </div></td>
        <td><div class="input" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.montoCredito}} </div></td>
        <td><div class="input" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.plazo}} </div> </td>
     </tr>
        
       <tr>    

        <td><div class="input" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.tipoCredito2}} </div></td>
        <td><div class="input" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.montoCredito2}} </div></td>
        <td><div class="input" style="width:80px;margin-left:5px;">  &nbsp;{{creditoConsolidacion.plazo2}} </div> </td>
</tr>
<tr>   


        <td><div class="input" style="width:80px;margin-left:5px;">  &nbsp;{{creditoConsolidacion.tipoCredito3}}  </div></td>
        <td><div class="input" style="width:80px;margin-left:5px;"> &nbsp; {{creditoConsolidacion.montoCredito3}} </div></td>
        <td><div class="input" style="width:80px;margin-left:5px;"> &nbsp; {{creditoConsolidacion.plazo3}} </div></td>
       
   </tr> 
    

    {% endif %}
    {% endfor %}
    {% endif %}
    
        </tr>

</table>


                    

















        </div>
    </body>
</html>