<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Plantilla Cruz del Sur</title>
        <style>

        body{


            width: 1900px;
        }
            .tabla{
                border-spacing: 0px;
                color:#004b85;
                border: 1px solid #004b85;
                font-size: 12px;
                font-family:Verdana, Geneva, sans-serif;
                width: 700px;
                margin-left: -1.5%;

            }

            p{

                font-size:11px;
                margin-top:2%;
                margin-left: 2%;
                position:relative;
            }
            
            .tabla td{
                
                color:#004b85;
                border: 1px solid #004b85;
            }
            
            .divinput{
                width: 100%;
                height: 100%;
                border-bottom: 1px;
                border-left: 0px;
                border-right: 0px;
                border-top: 0px;
                border-style: solid;
                position: relative;
            }
            
          
            .simuInput{
                width: 100%;
                height: 20px;
                border-bottom: 1px;
                border-left: 0px;
                border-right: 0px;
                border-top: 0px;
                border-style: solid;
                position: relative;
                float: left;
            }
        </style>
    </head>
<body>
<div  style="width:700px;"> 
        <table width="710" height="35" class="tabla">
            <tr>
                <td width="456"><table width="456">
                        <tr>
                            <td width="130">HIPOTECARIA </td>
                            <td width="310">Avda. El Golfo 150, Piso 2, Las Condes Santiago </td>
                        </tr>
                        <tr>
                            <td>CRUZ DEL SUR </td>
                            <td>Tel: 600 461 8000 </td>
                        </tr>
                        <tr>
                            <td>PRINCIPAL S.A </td>
                            <td>www.cruzdelsur.cl </td>
                        </tr>
                    </table></td>
                <td width="238"><table width="237">
                        <tr>
                            <td width="227">HIPOTECARIA</td>
                        </tr>
                        <tr>
                            <td height="49">
                                CRUZ DEL SUR - Principal </td>
                        </tr>
                    </table></td>
            </tr>
        </table>
        <br>
        <br>
        <table width="710">
            <tr>
                <td align="center">
                    <h2 style="color: #D3D3D3;">    Confidencial</h2>
                    </td>
            </tr>
            <tr>
                <td  align="center">
                    <h1 style="color: #0A246A;" >Solicitud de Crédito Hipotecario</h1> </td>
            </tr>
        </table>
        <br><br>
        <table width="710" style="color:#004b85;">
            <tr>
                <td width="487">&nbsp;</td>
                <td width="211">N&ordm; DEL SOLICITUD </td>
            </tr>
            <tr>
                <td>I ANTECEDENTES PERSONALES DEL SOLICITANTE </td>
                <td>&nbsp;</td>
            </tr>
        </table>
        
  
       
        
<table width="710" style="color:#004b85;" class="tabla">
          <tr>
            <td height="32" colspan="2"><table width="360">
              <tr>
                <td width="91">DEUDOR</td>
                <td width="24">&nbsp;</td>
                <td width="91">CODEUDOR</td>
                <td width="28">&nbsp;</td>
                <td width="79">CONYUGE</td>
                <td width="19">&nbsp;</td>
              </tr>
            </table></td>
            <td colspan="2"><table width="307" >
              <tr>
                <td width="165">COPROPIETARIO</td>
                <td width="24">&nbsp;</td>
                <td width="20">&nbsp;</td>
                <td width="21">%</td>
                <td width="53">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td width="173">APELLIDO MATERNO</td>
            <td width="189">APELLIDO MATERNO</td>
            <td width="198">NOMBRE</td>
            <td width="140">RUT</td>
          </tr>
          <tr>
            <td>{% if usuario  %}<p>&nbsp;{{ usuario.apellido }}</p> {% endif %} </td>
            <td>{% if usuario  %}<p> &nbsp;{{ usuario.apellidoseg }}</p> {% endif %}</td>
            <td>{% if usuario  %} <p>&nbsp;{{ usuario.nombre }}</p> {% endif %} </td>
            <td>{% if usuario  %} <p>&nbsp;{{ usuario.rut  }} </p>{% endif %}</td>
          </tr>
          <tr>
            <td>ACTIVIDAD/PROFESION</td>
            <td>NACIONALIDAD</td>
            <td>FECHA NAC,</td>
            <td>EDAD AÑOS</td>
          </tr>
          <tr>
            <td>{% if usuario  %}<p>&nbsp;{{ usuario.profesion }}</p>  {% endif %}</td>
            <td>{% if usuario  %}<p>&nbsp;{{usuario.nacionalidad}}</p> {% endif %} </td>
            <td>{% if usuario  %}<p>&nbsp;{{ usuario.fechaNacimiento }} </p>  {% endif %}</td>
            <td>{% if usuario  %}<p>&nbsp;{{ edadUsuario }} {% endif %}</p></td>
          </tr>
          <tr>
            <td colspan="2">DIRECCION PARTICULAR (CALLE, N°, DEPTO)</td>
            
            <td>TELEFONO PARTICULAR</td>
            <td>CELULAR</td>
          </tr>
          <tr>
            <td colspan="2"><p>&nbsp;{%  if usuario.direccion %} {{ usuario.direccion }} {% endif %}</p> </td>
            <td><p>&nbsp;{% if  usuario.telefono %}{{ usuario.telefono }}  {% endif %}</p> </td>
            <td><p>&nbsp; {% if  usuario.telefono %}{{ usuario.telefono }}  {% endif %}</p> </td>
          </tr>
          <tr>
            <td>COMUNA</td>
            <td>CIUDAD</td>
            <td>REGION</td>
            <td>EMAIL</td>
          </tr>
          <tr>
            <td><p>&nbsp;{% if usuario.comuna  %}  {{ usuario.comuna }} {% endif %} </p></td>
            <td>&nbsp;</td>
            <td><p>&nbsp;{% if usuario.region  %} {{ usuario.region  }} {% endif %} </p></td>
            <td><p> &nbsp;{{ usuario.email }}</p> </td>
          </tr>
          <tr>
            <td>GRADO/TITULO</td>
            <td>INSTITUTO/UNIVERSIDAD</td>
            <td colspan="2">NIVEL DE ESTUDIOS (E. MEDIA, TECNICO, TEC. PROF., UNIVERSITARIO, OTRO)</td>
           
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;{% if usuario %} {{ usuario.universidad }} {% endif %}</td>
            <td colspan="2">&nbsp;{% if usuario %} {{ usuario.niveleducacion }} {% endif %}</td>
          </tr>
         



            <tr>
            <td>Nacionalidad</td>
            <td>VIVIENDA ACTUAL</td>
            <td>ESTADO CIVIL</td>
       
            <td>N° DE CARGAS</td>
          </tr>
          <tr>

           <td><p>&nbsp;{% if usuario.nacionalidad %}  {{ usuario.nacionalidad }} {% endif %} </p></td>
            <td><p>&nbsp;{% if usuario.tipocasa %}  {{ usuario.tipocasa }} {% endif %} </p></td>
            <td><p>&nbsp;{% if usuario.estadocivil  %}  {{ usuario.estadocivil }} {% endif %} </p></td>
   
            <td><p>&nbsp;{% if usuario.ndependientes  %}  {{ usuario.ndependientes }} {% endif %} </p></td>
           
          </tr>
          







</table>
    <br><br>
        
        
        
        
        <table style="color:#004b85;" >
            <tr>
                <td>II. ANTECEDENTES LABORALES DEL SOLICITANTE </td>
            </tr>
        </table>
        
        
        <table width="710" class="tabla">
            
            <tr>
                <td colspan="4">RAZON SOCIAL EMPLEADOR ACTUAL </td>
                <td colspan="2">RUT EMPLEADOR </td>
            </tr>
            <tr>
              <td colspan="4"> &nbsp; </td>
              <td colspan="2">&nbsp;<p>&nbsp;{% if antecedentes %} {{ antecedentes.rutempresa }} {% endif %}</p></td>
            </tr>
            
            <tr>
                <td colspan="4">DIRECCION EMPLEADOR (CALLE, N&ordm;, DEPTO/ OF) </td>
                <td colspan="2">COMNUNA</td>
            </tr>
            <tr>
              <td colspan="4"><p>&nbsp;{% if antecedentes %} {{ antecedentes.direccion }} {% endif %}</p></td>
              <td colspan="2"><p>&nbsp;{% if antecedentes %} {{ antecedentes.comuna }} {% endif %}</p></td>
            </tr>
            <tr>
                <td width="91" >TELEFONOS</td>
                <td width="217">CARGO ACTUAL </td>
                <td width="113" rowspan="2" >ANTIGUEDAD CARGO(A&Ntilde;OS) </td>
                <td width="53" rowspan="2" >&nbsp;</td>
                <td width="127" rowspan="2" >ANTIGUEDAD EMPRESA (A&Ntilde;OS)</td>
                <td width="81" rowspan="2" >&nbsp;</td>
            </tr>
            <tr>
              <td>  <p> &nbsp;{% if antecedentes %}  {{ antecedentes.telefono }} {% endif %} </p></td>
              <td width="217"><p> &nbsp;  {% if antecedentes %} {% endif %}  </p></td>
            </tr>
            <tr>
                <td colspan="6">DESCRIPCION CARGO ACTUAL </td>

            </tr>
            <tr>
              <td colspan="6"><p>&nbsp; {% if antecedentes %} {{antecedentes.cargoactual}} {% endif %} </p></td>
            </tr>
            <tr>
                <td colspan="6">DESCRIPCION EMPRESA </td>
            </tr>
            <tr>
              <td colspan="6"><p>&nbsp; {% if antecedentes %} {{ antecedentes.direccion }} {% endif %}</p></td>
            </tr>
            <tr>
                <td colspan="4">NOMBRE JEFE DIRECTO </td>
                <td colspan="2">CARGO </td>
            </tr>
            <tr>
              <td colspan="4"><p> {% if antecedentes %}  &nbsp; {{ antecedentes.cargoactual }} {% endif %} </p></td>
              <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">ACITIVIDAD</td>
                <td colspan="4">&nbsp; <p>{% if antecedentes %} {{ antecedentes.tipoactividad }} {% endif %}</p></td>
            </tr>
        </table>
        <br><br>
        <table width="710" class="tabla">
            <tr>
                <td colspan="7"><div align="center">CARGOS EMPLEOS ANTERIORES ULTIMOS 5 A&Ntilde;OS </div></td>
            </tr>
            <tr>
                <td colspan="2">PERIODO</td>
                <td rowspan="2">EMPLEADOR /ACTIVIDAD </td>
                <td rowspan="2">CARGO</td>
                <td rowspan="2">TELEFONO</td>
                <td colspan="2" rowspan="2">RENTA LIQUIDA MENSUAL </td>
            </tr>
            <tr>
                <td>DE</td>
                <td>A</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td colspan="2" rowspan="2"></td>
            </tr>
        </table>
        <br><br>
        <table width="710" class="tabla">
            <tr>
                <td colspan="2"><div align="center">INGRESOS LIQUIDOS MENSUALES </div></td>
            </tr>
            <tr>
                <td width="257">RENTA LIQUIDA MENSUAL </td>
                <td width="437">&nbsp;{% if antecedentes %} {{antecedentes.independientesueldoliquido}} {% endif %}</td>
            </tr>
            <tr>
                <td>RENTA POR ARRIENDOS </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>OTROS INGRESOS / BONOS </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>OTROS INGRESOS / COMISIONES </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>RENTA LIQUIDA CONYUGE </td>
                <td> {% if Conyuge %}  {{ Conyuge.rentaliquidad }} {% endif %} </td>
            </tr>
            <tr>
                <td>OTROS (DESCRIBIR) </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>TOTAL</td>
{% if antecedentes  %} 
                     {%  set sueldo1 =  antecedentes.independientesueldoliquido|replace({ ('.'): '' }) %}
                    {% if Conyuge  %}
                     {% set sueldo2 =  Conyuge.rentaliquidad %}
                    {% else %}
                    {% set sueldo2 = 0 %};
                    {% endif %}

                    {% if sueldo1 and sueldo2  %}

                    {% set total = sueldo1 +  sueldo2 %}


{% endif %}

                <td>&nbsp; {{ total |number_format(0,'.' , '.')}}</td>


                {% endif %}

            </tr>
        </table>
        <BR>
          <BR>
        <table width="710" class="tabla">
            <tr>
                <td colspan="2"><div align="center">ACTIVOS</div></td>
                <td width="226"><div align="center">Total</div></td>
            </tr>
            <tr>
                <td width="300">DEPOSITO A PLAZO/ACCIONES </td>
                <td></td>
                <td width="168">&nbsp;{% if totalAhorroInversionAcciones   %} SI {{ totalAhorroInversionAcciones | number_format(0,'.' , '.') }} {% else %} NO {% endif %}</td>
             
            </tr>
            <tr>
                <td>CUENTA DE AHORRO </td>
                <td></td>
                <td>{% if  totalAhorroInversionCuentas  %} SI {{ totalAhorroInversionCuentas | number_format(0,'.' , '.')  }} {% else %} {% if totalAhorroInversionApi %} SI {{ totalAhorroInversionApi| number_format(0,'.' , '.') }} {% else %} NO  {% endif %}{% endif %}</td>
             
            </tr>
            <tr>
                <td>BIENES RAICES </td>
                <td></td>
                <td>&nbsp; {% if totalHipotecario  %} SI {{ totalHipotecario |number_format(0,'.' , '.')  }} {% else %} {% if TotalPropiedadesApi %} SI {{ TotalPropiedadesApi | number_format(0,'.' , '.') }} {% else %} NO {% endif %} {% endif %}</td>
          
            </tr>
            <tr>
                <td>VEHICULOS</td>
                <td>&nbsp;</td>
                <td>&nbsp;{% if  totalAutomoviles %} SI {{ totalAutomoviles | number_format(0,'.' , '.') }} {% else %} {% if TotalAutomovilesApi %} SI {{ TotalAutomovilesApi | number_format(0,'.' , '.') }}  {% else %} NO {% endif %} {% endif %} </td>
            </tr>
            <tr>
                <td>PARTICIPACION EN SOCIEDADES </td>
                <td>&nbsp;</td>
                <td>&nbsp; {% if  totalSociedades  %} {{  totalSociedades  }} {% endif %}</td>
            </tr>
            <tr>
                <td>SUBSIDIO</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>PIE CANCELADO </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>TOTAL</td>
                <td>&nbsp;</td>

                <td>&nbsp;{% if totalActivos %} {{ totalActivos|number_format(0,'.' , '.') }} {% endif %} </td>
            </tr>
        </table>
        <BR>
                <BR>
        <table width="710" class="tabla">
            <tr>
                <td colspan="6"><div align="center">PASIVOS</div></td>
          </tr>
            <tr>
                <td width="149">TIPO DEUDA </td>
                <td>Total </td>
            </tr>
            <tr>
                <td>HIPOTECARIO</td>
                <td>&nbsp; {% if totalDebesHipotecario %} SI {{ totalDebesHipotecario |number_format(0,'.' , '.') }} {% else %}  NO {% endif %}</td>
             
            </tr>
            <tr>
                <td>CREDITO DE CONSUMO </td>
                <td>&nbsp; {% if totalDebesCredito %} SI {{totalDebesCredito|number_format(0,'.' , '.')  }} {% else %}  NO {% endif %} </td>
           
            </tr>
            <tr>
                <td>TARJETA DE CREDITO </td>
                <td>&nbsp; {% if totalDebesTarjeta %} SI {{ totalDebesTarjeta|number_format(0,'.' , '.') }} {% else %} NO  {% endif %}</td>
                
            </tr>
            <tr>
                <td>LINEA DE CREDITO </td>
                <td>&nbsp; {% if totalDebesLinea %} {{ totalDebesLinea|number_format(0,'.' , '.') }} {% else %} {% endif %}</td>
      
            </tr>
            <tr>
                <td>CASAS COMERCIALES </td>
                <td>&nbsp;</td>
         
            </tr>
            <tr>
                <td>OTROS</td>
                <td>&nbsp;</td>
              
            </tr>
            <tr>
                <td>TOTAL</td>
                <td>&nbsp; {% if totalDebes %} {% else %} {% endif  %}</td>
           
            </tr>
</table>
        <br><br>
        <table width="710" class="tabla">
            <tr>
                <td  colspan="5">PATICIPACION EN SOCIEDADES</td>
            </tr>
           <tr>
                    <td>Razón Social</td>
                    <td>RUT Sociedad</td>

                    <td>% Participación</td>
                    <td>Valor comercial($)</td>
                </tr>

                 {% if tienesSociedades %}

                {% for tienesSociedades in tienesSociedades %}


            <tr>
                <td>&nbsp;{{ tienesSociedades.nombre }}</td>
                <td>&nbsp;{{ tienesSociedades.rut }}</td>
                <td>&nbsp;{{ tienesSociedades.porcentaje }}</td>
                <td>&nbsp;{{ tienesSociedades.valor }}</td>
                
            </tr>


                {% endfor %}
                {% endif %}


        </table>
        <br> <br>
        <table width="710" class="tabla">
            <tr>
                <td colspan="6">BIENES RACIES</td>
            </tr>
            <tr>
                     <td>Tipo</td>
                        <td>Direccion</td>
                        <td>Region</td>

                        <td>Avalúo Fiscal </td>
                        <td>Rol </td>
                        <td>Hipotecado </td>
            </tr>
                {% if tienesHiporecario %}
                 {% for tienesHiporecario in tienesHiporecario %}
                
            <tr>
                <td><p>{{ tienesHiporecario.tipo }}<p></td>
                <td><p>&nbsp;{{ tienesHiporecario.direccion }}</p></td>
                <td><p>&nbsp;{{ tienesHiporecario.region }}</p></td>
                <td><p>&nbsp; {{ tienesHiporecario.avaluo }}</p></td>
                <td><p>&nbsp;{{ tienesHiporecario.rol }}</p></td>
                <td><p>&nbsp;{{ tienesHiporecario.hipotecado }}</p></td>
            </tr>

            {% endfor %}
            {% endif %}
        </table>
        <br><br>
        <table width="710" class="tabla">
            <tr>
                <td colspan="5" >VEHICULOS</td>
            </tr>
           <tr>
                        <td>Tipo</td>
                        <td>Marca</td>
                        <td>Modelo</td>
                        <td>Año</td>
                        <td>Patente</td>

                        <td>Valor Comercial($)</td>
                    </tr>

                      {% if  tienesAutomoviles %}
                    {%  for tienesAutomoviles in tienesAutomoviles %}


            <tr>
                <td>&nbsp;{{ tienesAutomoviles.tipo  }}</td>
                <td>&nbsp;{{ tienesAutomoviles.marcaauto  }}</td>
                <td>&nbsp;{{ tienesAutomoviles.modelo  }}</td>
                <td>&nbsp;{{ tienesAutomoviles.anoauto  }}</td>
                <td>&nbsp;{{ tienesAutomoviles.patente  }}</td>
                <td>&nbsp;{{ tienesAutomoviles.valorcomercial   }}</td>
            </tr>

               {% endfor %}
                {% endif %}


        </table>
        <br><br>
        <table width="710" class="tabla">
            <tr>
                <td  colspan="6"><div align="center">COMPOSICION GRUPO FAMILIAR DIRECTO </div></td>
            </tr>
            <tr>
                <td width="24">N&deg;</td>
                <td width="145"><div align="center">NOMBRE</div></td>
                <td width="52"><div align="center">EDAD</div></td>
                <td width="143"><div align="center">PARENTESCO</div></td>
                <td width="104"><div align="center">ACTIVIDAD</div></td>
                <td width="214"><div align="center">RENTA LIQUIDA MENSUAL </div></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
        <br><br>
        <table width="710" class="tabla">
            <tr>
                <td colspan="4">OTROS ANTECEDENTES </td>
            </tr>
            <tr>
                <td width="498">&iquest;ESTA OBLIGADO A PAGAR PENSION ALIMENTICIA?</td>
                <td width="119">&nbsp;</td>
                <td width="33">&nbsp;</td>
                <td width="40">&nbsp;</td>
            </tr>
            <tr>
                <td>&iquest;HA TENIDO ALGUN JUICO COMERCIAL?</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&iquest;ES AVAL, CODEUDOR O FIADOR DE PERSONAS NATURALES?</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>EN CASO DE RESPUESTA AFIRMATIVA ESPECIFIQUE </td>
                <td colspan="3">&nbsp;</td>
            </tr>
        </table>
        <br><br>
        <table style="color:#004b85;">
            <tr>
                <td colspan="4">III. ANTECEDENTES CONYUGE DEL SOLICITANTE </td>
            </tr>
        </table>
        <table width="710" class="tabla">
            <tr>
                <td width="208">APELLIDO PATERNO </td>
                <td width="177">APELLIDO MATERNO </td>
                <td width="124">NOMBRES</td>
                <td width="181">RUT</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td width="177">&nbsp;{% if Conyuge %} {{ Conyuge.apellido }}  {% endif %}</td>
                <td width="124">&nbsp;{% if Conyuge %} {{ Conyuge.apellidoseg }} {% endif %}</td>
                <td width="181">&nbsp;{% if Conyuge %}  {{ Conyuge.nombre }} {% endif %}</td>
            </tr>
            <tr>
                <td>FECHA NACIMIENTO </td>
                <td>ACTIVIDAD/PROFESION</td>
                <td>EMPRESA</td>
                <td>CARGO</td>
            </tr>
            <tr>
                <td>&nbsp;{% if Conyuge %} {{ Conyuge.fechanacimiento }} {% endif %}</td>
                <td>&nbsp;{% if Conyuge %} {{ Conyuge.actividad }} {% endif %}</td>
                <td>&nbsp;{% if Conyuge %} {{ Conyuge.empresa }}  {% endif %}</td>
                <td>&nbsp; {% if Conyuge %} {{ Conyuge.cargoactual }} {% endif %}</td>
            </tr>
            <tr>
                <td>RENTA LIQUIDA MENSUAL</td>
                <td>TELEFONO</td>
                <td>CELULAR</td>
                <td>EMAIL</td>
            </tr>
            <tr>
                <td>&nbsp; {% if Conyuge %} {{ Conyuge.rentaliquidad }} {% endif %}</td>
                <td>&nbsp; {% if Conyuge %} {{ Conyuge.telefono }}  {% endif %}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
        <br><br>
        <table width="710" class="tabla">
            <tr>
                <td colspan="2"><div align="center">ACTIVOS</div></td>
                <td width="226"><div align="center">INSTITUCION</div></td>
            </tr>
            <tr>
                <td width="300">DEPOSITO A PLAZO/ACCIONES </td>
                <td width="168">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>CUENTA DE AHORRO </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>BIENES RAICES </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>VEHICULOS</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>PARTICIPACION EN SOCIEDADES </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>SUBSIDIO</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>PIE CANCELADO </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>TOTAL</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
        <br><br>
        <table width="710" class="tabla">
            <tr>
                <td colspan="6"><div align="center">PASIVOS</div></td>
            </tr>
            <tr>
                <td>TIPO DE DEUDA </td>
                <td>BANCO O INSTITUCION </td>
                <td>SALDO DE DEUDA </td>
                <td>N&deg; CUOTAS PAGADAS </td>
                <td>N&deg; TOTAL CUOTAS </td>
                <td>MONTO CUOTA(S) </td>
            </tr>
            <tr>
                <td>HIPOTECARIO</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>CREDITO DE CONSUMO </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>TARJETA DE CREDITO </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>LINEA DE CREDITO </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>CASAS COMERCIALES </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>OTROS</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>TOTAL</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
        <br><br>
        <table width="710" style="color:#004b85;">
            <tr>
                <td>V. ANTECEDENTES DE LA PROPIEDAD A HIPOTECAR </td>
            </tr>
        </table>
        <table width="710" class="tabla">
            <tr>
                <td colspan="4">DIRECCION (CALLE, N&deg;, DEPTO)</td>
                <td width="139">M TERRENO </td>
                <td width="215">M CONSTRUIDOS </td>
            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
                <td width="139">&nbsp;</td>
                <td width="215">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">COMUNA</td>
                <td colspan="2">CIUDAD</td>
                <td>BODEGA N&deg; </td>
                <td>ESTACIONAMIENTO N&deg; </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">VENDEDOR INMOVILIARIA </td>
                <td colspan="2">RUT VENDEDOR </td>
                <td >TELEFONOS VENDEDOR </td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
                <td colspan="2">&nbsp;</td>
                <td >&nbsp;</td>
            </tr>
            <tr>
                <td width="201" height="12">TIPO DE OPERACION </td>
                <td colspan="4">TIPO DE VIVIENDA </td>
                <td>ANTIGUEDAD VIVIENDA </td>
            </tr>
            <tr>
                <td height="12">&nbsp;</td>
                <td colspan="4">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="6">INDICAR BANCO ALZANTE </td>
            </tr>
            <tr>
                <td colspan="6">&nbsp;</td>
            </tr>
        </table>
        <br><br>
        <table width="710" style="color:#004b85;">
            <tr>
                <td colspan="4">VI. DIRECCION DE COBRO DE DIVIDENDO </td>
            </tr>
        </table>
        <table width="710" class="tabla">
            <tr>
                <td width="149">VIVIENDA ACTUAL </td>
                <td width="272">VIVIENDA QUE ESTA COMPRANDO </td>
                <td width="189">DIRECCION DE TRABAJO </td>
                <td width="80">OTRA</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
        <br><br>
        <table width="710" style="color:#004b85;"> 
            <tr>
                <td colspan="4">VII. FINANCIAMIENTO </td>
            </tr>
        </table>
        <table width="710" class="tabla">
            <tr>
                <td width="213">PRECIO VENTA </td>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td>MONTO CREDITO </td>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td>PAGO CONTADO / PIE </td>
                <td width="167">&nbsp;</td>
                <td width="140">FORMA DE PAGO </td>
                <td width="170">&nbsp;</td>
            </tr>
            <tr>
                <td>SUBSIDIO</td>
                <td colspan="3" >&nbsp;</td>
            </tr>
            <tr>
                <td>OTROS</td>
                <td colspan="3" >&nbsp;</td>
            </tr>
            <tr>
                <td>PLAZO SOLICITADO </td>
                <td colspan="3" >&nbsp;</td>
            </tr>
        </table>



        
            <br/><br/><br/><br/><br/><br/><br/><br/>
            <div style="width: 710px;">
                <hr style="color: #808080;" size="8" noshade>
                <h1 align="right">SOLICITUD DE PRODUCTOS</h1>
                <hr style="color: #808080;" size="8" noshade>
            </div>


            <h3>Crédito de consumo:</h3>
            <table class="tabla">

                <table class="tabla">
                    <thead>

                    </thead>
                    <tbody>
                    <tr>
                        <td>Monto de Crédito:</td>
                        <td>Plazo de Crédito </td>
                        <td>Seguros Asociados </td>
                        <td>¿Para qué utilizarás el Dinero? </td>

                    </tr>



                            <tr>
                                <td><div class="input">&nbsp;   {% if creditoConsumo   %} {{ creditoConsumo.montoCredito   }} {% endif %}</div></td>
                                <td><div class="input">&nbsp;    {% if creditoConsumo   %} {{ creditoConsumo.plazoCredito  }} {% endif %}</div></td>
                                <td><div class="input">&nbsp;    {% if creditoConsumo   %} {{ creditoConsumo.segurosAsociados   }} {% endif %} </div></td>
                                <td><div class="input">&nbsp;    {% if creditoConsumo   %} {{ creditoConsumo.paraque   }} {% endif %}</div></td>


                            </tr>






                    </tbody>
                </table>




                <h3>Crédito Hipotecario </h3>
                <table class="tabla">

                <table class="tabla">
                    <thead>

                    </thead>
                    <tbody>
                    <tr>
                        <td>Valor Propiedad :</td>
                        <td>Monto de Píe </td>
                        <td>Porcentaje </td>
                        <td>Monto de Crédito </td>

                    </tr>



                        <tr>
                            <td><div class="input">&nbsp;   {% if creditoHipotecario %} {{ creditoHipotecario.valorPropiedad   }} {% endif %}</div></td>
                            <td><div class="input">&nbsp; {% if creditoHipotecario %}  {{ creditoHipotecario.montoPie   }} {% endif %}</div></td>
                            <td><div class="input">&nbsp;   {% if creditoHipotecario %} {{ creditoHipotecario.porcentaje   }} {% endif %}</div></td>
                            <td><div class="input">&nbsp;  {% if creditoHipotecario %} {{ creditoHipotecario.montoCredito   }} {% endif %}</div></td>


                        </tr>









                    <tr>
                        <td>Plazo de Crédito </td>
                        <td>Tipo de Propiedad </td>
                        <td>Estado </td>
                        <td>¿Tu propiedad es DFL2 y nueva ? </td>

                    </tr>



                        <tr>
                            <td><div class="input">&nbsp; {% if creditoHipotecario %}  {{ creditoHipotecario.plazoCredito   }} {% endif %}</div></td>
                            <td><div class="input">&nbsp;{% if creditoHipotecario %} {{ creditoHipotecario.tipoPropiedad   }} {% endif %}
                                </div></td>
                            <td><div class="input">&nbsp; {% if creditoHipotecario %}{{ creditoHipotecario.estadoPropiedad   }} {% endif %}</div></td>
                            <td><div class="input">&nbsp; {% if creditoHipotecario %}{{ creditoHipotecario.dfl2   }} {% endif %}</div></td>


                        </tr>









                    <tr>
                        <td>Comuna donde desea comprar</td>
                        <td>Proyecto / Inmobiliaria </td>


                    </tr>



                        <tr>
                            <td><div class="input">&nbsp; {% if creditoHipotecario %}  {{ creditoHipotecario.comunaComprar   }} {% endif %}</div></td>
                            <td><div class="input">&nbsp; {% if  creditoHipotecario %} {{ creditoHipotecario.proyecto   }}     {% endif %}</div></td>


                        </tr>







                    </tbody>
                </table>




                    Crédito Automotriz

                    <table class="tabla">
                        <thead>

                        </thead>
                        <tbody>
                        <tr>
                            <td>Monto del Auto </td>
                            <td>Monto del Píe  </td>
                            <td>Plazo del Crédito </td>


                        </tr>


                                <tr>
                                    <td><div class="input">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.monto  }} {% endif %}  </div></td>
                                    <td><div class="input">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.pie }} {% endif %}</div></td>
                                    <td><div class="input">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.plazo }} {% endif %}</div></td>


                                </tr>



                        <tr>
                            <td>Cuándo piensas comprar tu auto </td>
                            <td>Marca de Auto  </td>
                            <td>Año del Auto </td>


                        </tr>


                        <tr>
                            <td><div class="input">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.cuandocompras }} {% endif %}</div></td>
                            <td><div class="input">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.marcaauto }} {% endif %}</div></td>
                            <td><div class="input">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.ano }} {% endif %}</div></td>


                        </tr>




                        </tbody>
                    </table>

<table class="tabla" >
<h3>
DATOS CRÉDITO CONSOLIDACION 
</h3>
<tr>
    <th>Crédito </th>
    <th>Monto </th>
    <th>Plazo </th>

  
    </tr>



    </thead>

    <tr>
    {% set con  = 0 %}
    {% if creditoConsolidacion   %}
    {% for creditoConsolidacion in creditoConsolidacion %}
    {% set con = con +1 %}

    {% if con <= 1 %}

    <tr>   

        <td><div class="input" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.tipoCredito}} </div></td>
        <td><div class="input" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.montoCredito}} </div></td>
        <td><div class="input" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.plazo}} </div> </td>
     </tr>
        
       <tr>    

        <td><div class="input" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.tipoCredito2}} </div></td>
        <td><div class="input" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.montoCredito2}} </div></td>
        <td><div class="input" style="width:80px;margin-left:5px;">  &nbsp;{{creditoConsolidacion.plazo2}} </div> </td>
</tr>
<tr>   


        <td><div class="input" style="width:80px;margin-left:5px;">  &nbsp;{{creditoConsolidacion.tipoCredito3}}  </div></td>
        <td><div class="input" style="width:80px;margin-left:5px;"> &nbsp; {{creditoConsolidacion.montoCredito3}} </div></td>
        <td><div class="input" style="width:80px;margin-left:5px;"> &nbsp; {{creditoConsolidacion.plazo3}} </div></td>
       
   </tr> 
    

    {% endif %}
    {% endfor %}
    {% endif %}
    
        </tr>

</table>


        </div>

    </body>
</html>
