<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Plantilla metlife</title>
        <style>
            body{
                
                font-family: verdana;
                font-size:12px;
            }
            
            .tabla{
                width: 690px;
                color: #2c7ac8;
                border: solid;
                border-color: #2c7ac8;
            }
            
            .tablaTitulo{
                width: 710px;
            }
            .input{
                color: #2c7ac8;
                width: 80%;
                height: 20px;
                border-style: solid;
                border-width: 1px;
                position: relative;
                float: left;
            }
        </style>
            
    </head>
    <body>
        <table class="tablaTitulo" id="logo">
            <tbody>
                <tr>
                    <td align="right">
                        <img src="http://www.mediadiv.cl/bench/img/metlife.jpg" width="200" height="40">
                    </td>
                </tr>
            </tbody>
        </table>
        <table>
            <tbody>
                <tr>
                    <td>
         
                    </td>
                    <td>
                       
                    </td>
                    <td>
     
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="tabla" style="">
            <thead>
            <th colspan="5" align="left">
                    Antecedentes Personales
                </th>
            </thead>
            <tbody>
                <tr>
                    <td>Deudor</td>
                    <td colspan="2">Codeudor</td>
                    <td colspan="2">Aval</td>
                </tr>
                <tr>
                    <td><div class="input"></div></td>
                    <td colspan="2"><div class="input" style="width:320px;">&nbsp;</div></td>
                    <td colspan="2"><div class="input" style="width:200px;">&nbsp;</div></td>
                </tr>
                <tr>
                    <td>Apellido paterno  </td>
                    <td>Apelllido Materno </td>
                    <td>Nombres           </td>
                    <td colspan="2">Rut</td>
                </tr>
                <tr>
                    <td><div class="input">&nbsp;{% if usuario.apellido %} {{ usuario.apellido }} {% endif %}</div></td>
                    <td><div class="input">&nbsp;{% if usuario.apellidoseg  %} {{ usuario.apellidoseg }} {% endif %}</div></td>
                    <td><div class="input" style="width:162px; ">&nbsp; {% if usuario.nombre %} {{ usuario.nombre }} {% endif %}</div></td>
                    <td colspan="2"><div class="input"  style="width:202px;">&nbsp;{% if usuario.rut %} {{ usuario.rut }} {% endif %}</div></td>
                </tr>
                <tr>
                    <td colspan="5">Dirección particular(calle, número, departamento, casa, etc)</td>
                </tr>
                <tr>
                    <td colspan="5"><div class="input" style="width:660px;">&nbsp; {% if usuario.direccion %} {{ usuario.direccion }} {{ usuario.comuna }} {{ usuario.region }} {% endif %}</div></td>
                </tr>
                <tr>
                    <td colspan="2">Comuna</td>
                    <td colspan="2">Region</td>

                    <td colspan="1">Teléfono </td>
                </tr>
                <tr>
                    <td colspan="2"><div class="input" style="width:210px;">&nbsp;  {% if usuario %} {{ usuario.comuna }} {% endif %}     </div></td>
                    <td colspan="2"><div class="input" style="width:190px;">&nbsp; {% if usuario  %} {{ usuario.region }} {% endif %}</div></td>
                    <td colspan="2" ><div class="input" style="width:200px;">&nbsp; {% if usuario  %} {{ usuario.telefono }}{% endif %}</div></td>
                </tr>



                <tr>
                    <td colspan="2">Fecha de Nacimiento</td>
                    <td colspan="2">Sexo</td>

                    <td colspan="1">Nacionalidad </td>
                </tr>
                <tr>
                    <td colspan="2"><div class="input" style="width:210px;">&nbsp;  {% if usuario %} {{ usuario.fechanacimiento }} {% endif %}     </div></td>
                    <td colspan="2"><div class="input" style="width:190px;">&nbsp; {% if usuario  %} {{ usuario.sexo }} {% endif %}</div></td>
                    <td colspan="2"><div class="input" style="width:200px;">&nbsp; {% if usuario  %} {{ usuario.nacionalidad }}{% endif %}</div></td>
                </tr>



                <tr>
                    <td colspan="2">Estado Civil </td>
                    <td colspan="2">Profesión u Oficio</td>
                    <td colspan="1">Nivel de Educación </td>


                </tr>
                <tr>
                    <td colspan="2"><div class="input" style="width:210px;">&nbsp;  {% if usuario %} {{ usuario.estadocivil }} {% endif %}     </div></td>

                    <td colspan="2"><div class="input" style="width:190px;">&nbsp; {% if usuario  %} {{ usuario.profesion }}{% endif %}</div></td>


                    <td colspan="2"><div class="input" style="width:200px;">&nbsp; {% if usuario  %} {{ usuario.niveleducacion }} {% endif %}</div></td>

                </tr>




                <tr>
                    <td colspan="2">Universidad o Instituto </td>
                    <td colspan="2">Celular </td>
                    <td colspan="1">Tipo de Casa</td>


                </tr>
                <tr>
                    <td colspan="2"><div class="input" style="width:210px;">&nbsp;  {% if usuario %} {{ usuario.universidad }} {% endif %}     </div></td>

                    <td colspan="2"><div class="input" style="width:190px;">&nbsp; {% if usuario  %} {{ usuario.telefono }}{% endif %}</div></td>


                    <td colspan="2"><div class="input" style="width:200px;">&nbsp; {% if usuario  %} {{ usuario.tipocasa }} {% endif %}</div></td>

                </tr>


                <tr>
                    <td colspan="2">N° de Dependientes  </td>
                    <td colspan="2">Monto de Arriendo o Dividendo </td>



                </tr>


                <tr>
                    <td colspan="2"><div class="input" style="width:210px;">&nbsp;  {% if usuario %} {{ usuario.ndependientes}} {% endif %}     </div></td>

                    <td colspan="2"><div class="input" style="width:190px;">&nbsp; {% if usuario  %} {{ usuario.montoarriendo }}{% endif %}</div></td>

                </tr>

            </tbody>
        </table>


        <br/>
        <br/>



        <table class="tabla">
            <tbody>
                <tr>
                    <td width="302">
                        <table width="98%">
                            <thead>
                            <th colspan="3" align="left">
                                Antecedentes Laborales
                            </th>
                            </thead>
                            <tbody>

                            <tr>
                                <td colspan="2"><div class="input" style="width:210px;">&nbsp;  {% if antecedentes %} {{ antecedentes.situacionlaboral }} {% endif %}     </div></td>

                                <td colspan="2"><div class="input" style="width:190px;">&nbsp; {% if antecedentes %} {{ antecedentes.empleadorempresa }}{% endif %}</div></td>


                                <td colspan="2"><div class="input" style="width:200px;">&nbsp; {% if antecedentes %} {{ antecedentes.industria }} {% endif %}</div></td>

                            </tr>




                            <tr>
                                <td colspan="2">Situación Laboral </td>
                                <td colspan="2">Empleador Empresa </td>
                                <td colspan="1">Industria</td>


                            </tr>



                            <tr>
                                <td colspan="2"><div class="input" style="width:210px;">&nbsp;  {% if antecedentes %} {{ antecedentes.fechaingreso }} {% endif %}     </div></td>

                                <td colspan="2"><div class="input" style="width:190px;">&nbsp; {% if antecedentes %} {{ antecedentes.cargoactual }}{% endif %}</div></td>


                                <td colspan="2"><div class="input" style="width:200px;">&nbsp; {% if antecedentes %} {{ antecedentes.rutempresa }} {% endif %}</div></td>

                            </tr>




                            <tr>
                                <td colspan="2">Fecha de Ingreso </td>
                                <td colspan="2">Cargo Actual</td>
                                <td colspan="1">RUT Empresa </td>


                            </tr>



                            <tr>
                                <td colspan="2"><div class="input" style="width:210px;">&nbsp;  {% if antecedentes %} {{ antecedentes.ciudad }} {% endif %}     </div></td>

                                <td colspan="2"><div class="input" style="width:190px;">&nbsp; {% if antecedentes %} {{ antecedentes.telefono }}{% endif %}</div></td>


                                <td colspan="2"><div class="input" style="width:200px;">&nbsp; {% if antecedentes %} {{ antecedentes.independientesueldoliquido }} {% endif %}</div></td>

                            </tr>




                            <tr>
                                <td colspan="2">Ciudad </td>
                                <td colspan="2">Teléfono </td>
                                <td colspan="1">Sueldo Líquido  </td>


                            </tr>







                            </tbody>
                        </table>
                    </td>

            </tbody>
        </table>


        <br/>


        <br>
        <br>



        <table class="tabla">
            <thead>
            <th colspan="4" align="left">Antecdentes Conyuge</th>
            </thead>
            <tbody>



            <tr>
                <td colspan="2">Nombres </td>
                <td colspan="2">Apellido Paterno </td>
                <td colspan="1">Apellido Materno </td>


            </tr>



            <tr>
                <td colspan="2"><div class="input" style="width:210px;">&nbsp;  {% if Conyuge %} {{  Conyuge.nombre }} {% endif %}     </div></td>

                <td colspan="2"><div class="input" style="width:190px;">&nbsp; {% if  Conyuge %} {{  Conyuge.apellido }}{% endif %}</div></td>


                <td colspan="2"><div class="input" style="width:200px;">&nbsp; {% if  Conyuge %} {{  Conyuge.apellidoseg  }} {% endif %}</div></td>

            </tr>



            <tr>
                <td colspan="2">RUT </td>
                <td colspan="2">Fecha de Nacimiento </td>
                <td colspan="1">Nacionalidad </td>


            </tr>



            <tr>
                <td colspan="2"><div class="input" style="width:210px;">&nbsp;  {% if Conyuge %} {{  Conyuge.rut }} {% endif %}     </div></td>

                <td colspan="2"><div class="input" style="width:190px;">&nbsp; {% if  Conyuge %} {{  Conyuge.fechanacimiento }}{% endif %}</div></td>


                <td colspan="2"><div class="input" style="width:200px;">&nbsp; {% if  Conyuge %} {{  Conyuge.nacionalidad  }} {% endif %}</div></td>

            </tr>




            <tr>
                <td colspan="2">Nivel de Educación </td>
                <td colspan="2">Profesión  </td>
                <td colspan="1">Universidad o Instituto </td>


            </tr>



            <tr>
                <td colspan="2"><div class="input" style="width:210px;">&nbsp;  {% if Conyuge %} {{  Conyuge.niveleducacion }} {% endif %}     </div></td>

                <td colspan="2"><div class="input" style="width:190px;">&nbsp; {% if  Conyuge %} {{  Conyuge.profesion }}{% endif %}</div></td>


                <td colspan="2"><div class="input" style="width:200px;">&nbsp; {% if  Conyuge %} {{  Conyuge.universidad }} {% endif %}</div></td>

            </tr>




            <tr>
                <td colspan="2">Actividad </td>
                <td colspan="2">Cargo Actual  </td>
                <td colspan="1">Antigüedad Laboral  </td>


            </tr>



            <tr>
                <td colspan="2"><div class="input" style="width:210px;">&nbsp;  {% if Conyuge %} {{  Conyuge.actividad }} {% endif %}     </div></td>

                <td colspan="2"><div class="input" style="width:190px;">&nbsp; {% if  Conyuge %} {{  Conyuge.cargoactual}}{% endif %}</div></td>


                <td colspan="2"><div class="input" style="width:200px;">&nbsp; {% if  Conyuge %} {{  Conyuge.antiguedadlaboral }} {% endif %}</div></td>

            </tr>


            <tr>
                <td colspan="2">Renta Líquida </td>
                <td colspan="2">Empresa Trabajo  </td>
                <td colspan="1">Teléfono  </td>


            </tr>



            <tr>
                <td colspan="2"><div class="input" style="width:210px;">&nbsp;  {% if Conyuge %} {{  Conyuge.rentaliquidad}} {% endif %}     </div></td>
                 <td colspan="2"><div class="input" style="width:190px;">&nbsp; {% if  Conyuge %} {{  Conyuge.empresa }}{% endif %}</div></td>
                  <td colspan="2"><div class="input" style="width:200px;">&nbsp; {% if  Conyuge %} {{  Conyuge.telefono  }} {% endif %}</div></td>

            </tr>


            </tbody>
        </table>

        <br/><br/><br/> <br/><br/><br/><br/><br/><br/><br/>


        <table class="tabla">
            <tbody>
            <tr>
                <td colspan="7">
                    Desempeña usted algun cargo público o estatal
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    <div class="input"></div>
                </td>
            </tr>
            <tr>
                <td colspan="2">Cargo que ocupa el solicitante</td>
                <td colspan="3">Permanencia en el cargo</td>
                <td colspan="2">Permanencia en la empresa</td>
            </tr>
            <tr>
                <td colspan="2"><div class="input">&nbsp;</div></td>
                <td colspan="3"><div class="input">&nbsp;</div></td>
                <td colspan="2"><div class="input">&nbsp;</div></td>
            </tr>
            <tr>
                <td colspan="7">Cargo empleos anteriores</td>
            </tr>
            <tr>
                <td>Desde</td>
                <td>Hasta</td>
                <td>Empleador/Actividad</td>
                <td>Giro</td>
                <td>Teléfono</td>
                <td>Cargo</td>
                <td>Renta liquida</td>
            </tr>
            <tr>
                <td><div class="input">&nbsp;</div></td>
                <td><div class="input">&nbsp;</div></td>
                <td><div class="input">&nbsp;</div></td>
                <td><div class="input">&nbsp;</div></td>
                <td><div class="input">&nbsp;</div></td>
                <td><div class="input">&nbsp;</div></td>
                <td><div class="input">&nbsp;</div></td>
            </tr>
            <tr>
                <td><div class="input">&nbsp;</div></td>
                <td><div class="input">&nbsp;</div></td>
                <td><div class="input">&nbsp;</div></td>
                <td><div class="input">&nbsp;</div></td>
                <td><div class="input">&nbsp;</div></td>
                <td><div class="input">&nbsp;</div></td>
                <td><div class="input">&nbsp;</div></td>
            </tr>
            </tbody>
        </table>





        <table class="tabla">
            <thead>
            <th colspan="5" align="left">Grupo familiar</th>
            </thead>
            <tbody>
                <tr>
                    <td>Nombre</td>
                    <td>Parentesco</td>
                    <td>Edad</td>
                    <td>Actividad/Establ.Educacional</td>
                    <td>Renta liquida</td>
                </tr>
                <tr>
                    <td><div class="input">&nbsp; {% if Conyuge %} {{  Conyuge.nombre }}  {{  Conyuge.apellido }} {{  Conyuge.apellidoseg  }} {% endif %}</div></td>
                    <td><div class="input">&nbsp; {% if Conyuge %} Conyuge {% endif %}</div></td>
                    <td><div class="input">&nbsp;  {% if Conyuge %} {{edadCon}}  {% endif %}</div></td>
                    <td><div class="input">&nbsp;{% if Conyuge %} {{  Conyuge.actividad }} {% endif %}</div></td>
                    <td><div class="input">&nbsp;{% if Conyuge %} {{  Conyuge.rentaliquidad}} {% endif %}   </div></td>
                </tr>
                <tr>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                </tr>
                <tr>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                </tr>
                <tr>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                </tr>
                <tr>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                </tr>
            </tbody>
        </table>
        <table class="tabla">
            <thead>
            <th>
                IDENTIFICACIÓN MANDATARIO
            </th>
            </thead>
            <tbody>
                <tr>
                    <td>Apellido Paterno</td>
                    <td>Apellido Materno</td>
                    <td>Nombre</td>
                    <td>R.U.T</td>
                </tr>
                <tr>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                </tr>
                <tr>
                    <td colspan="2">Dirección Particular</td>
                    <td>Comuna</td>
                    <td>Ciudad</td>
                </tr>
                <tr>
                    <td colspan="2"><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                </tr>
                <tr>
                    <td>Nacionalidad</td>
                    <td>Estado civil</td>
                    <td>Profesión</td>
                    <td>Fecha de nacimiento</td>
                </tr>
                <tr>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                </tr>
            </tbody>
        </table>
        <table class="tabla">
            <thead>
            <th colspan="6" align="left">
                Caracteristicas de la operacion
            </th>
            </thead>
            <tbody>
                <tr>
                    <td >Operación</td>
                    <td colspan="2">Tipo</td>
                    <td>Condición</td>
                </tr>
                <tr>
                    <td><div class="input"></div></td>
                    <td colspan="2"><div class="input">&nbsp;</div></td>
                    <td colspan="2"><div class="input">&nbsp;</div></td>
                </tr>
                <tr>
                    <td><div class="input"></div></td>
                    <td colspan="2"><div class="input">&nbsp;</div></td>
                    <td colspan="2"><div class="input">&nbsp;</div></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Refinanciamiento</td>
                    <td></td>
                    <td>Fines generales</td>
                    <td></td>
                    <td>Usada</td>
                </tr>
                <tr>
                    <td colspan="2">Indicar banco</td>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td>Valor bien raiz</td>
                    <td>UF</td>
                    <td></td>
                    <td>Operacion pactada en</td>
                    <td></td>
                    <td>UF</td>
                    <td></td>
                    <td>$</td>
                </tr>
                <tr>
                    <td>Plazo credito</td>
                    <td>Años</td>
                    <td></td>
                    <td>Existe promesa de compra venta</td>
                    <td></td>
                    <td>UF</td>
                    <td></td>
                    <td>$</td>
                </tr>
                <tr>
                    <td>
                        Pago contado
                    </td>
                </tr>
                
                <tr>
                    <td>Monto pagado a la fecha</td>
                    <td>UF</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>A pagar con recursos disponibles</td>
                    <td>UF</td>
                    <td></td>
                    <td>Origen</td>
                    <td></td>
                </tr>
                <tr>
                    <td>A pagar con venta de vehículos o bienes raices</td>
                    <td>UF</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>A pagar con otros recursos</td>
                    <td>UF</td>
                    <td></td>
                    <td>Origen</td>
                </tr>
                <tr>
                    <td>Crédito solicitado</td>
                    <td>UF</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <table class="tabla">
            <thead>
            <th colspan="4">Caraterísticas de la propiedad a adquirir</th>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">Dirección</td>
                    <td>Comuna</td>
                    <td>Ciudad</td>
                </tr>
                <tr>
                    <td colspan="2"><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                </tr>
                <tr>
                    <td>Mt<sub>2</sub> Construidos</td>
                    <td colspan="2">Mt<sub>2</sub> Terreno</td>
                    <td>Año aproximado de la construccion </td>
                </tr>
                <tr>
                    <td><div class="input">&nbsp;</div></td>
                    <td colspan="2"><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                </tr>
                <tr>
                    <td>Depto n°</td>
                    <td>Estacionamiento N°</td>
                    <td>Bodega N°</td>
                    <td>Rol de la propiedad</td>
                </tr>
                <tr>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                </tr>
            </tbody>
        </table>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


        <br>
        <br>


        <table class="tabla">
            <thead>
            <th colspan="3" align="left">
                Dirección de cobro
            </th>
            </thead>
            <tbody>
                <tr>
                    <td>Domicilio actual</td>
                    <td>Dirección de trabajo</td>
                    <td>Vivienda que esta comprando</td>
                </tr>
                <tr>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                    <td><div class="input">&nbsp;</div></td>
                </tr>
                <tr>
                    <td>Otro</td>
                    <td colspan="2"><div class="input">&nbsp;</div></td>
                </tr>
            </tbody>
        </table>
        <table class="tabla">
            <thead>
            <th colspan="5" align="left">
                Estado situación -activos (cifras en miles)
            </th>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2"></td>
                    <td>Monto total</td>
                    <td></td>
                    <td>Monto total</td>
                </tr>
                <tr>
                    <td>Pagos efectuados al vendedor de la propiedad</td>
                    <td>UF</td>
                    <td><div class="input">&nbsp;</div></td>
                    <td>$</td>
                    <td><div class="input">&nbsp;</div></td>
                </tr>
                <tr>
                    <td>Depósitos cuenta de ahorro</td>
                    <td>UF</td>
                    <td><div class="input">&nbsp;</div></td>
                    <td>$</td>
                    <td><div class="input">&nbsp;</div></td>
                </tr>
                <tr>
                    <td>Acciones</td>
                    <td>UF</td>
                    <td><div class="input">&nbsp;</div></td>
                    <td>$</td>
                    <td><div class="input">&nbsp;</div></td>
                </tr>
            </tbody>
        </table>
        <table class="tabla">
            <thead>
            <th colspan="7" align="left">


                Participación en sociedades  / {% if tienesSociedades %} SI {% else %} NO {% endif %}



                
            </th>
            </thead>
            <tbody>
                <tr>
                    <td>Empresa</td>
                   
                    <td>Rut</td>
                    <td>%participación</td>
                    <td>Monto aporte</td>
                </tr>
            
             {%  if tienesSociedades %}
                {%  for tienesSociedades in tienesSociedades %}
                <tr>
                    <td><div class="input" style="width:140px;">&nbsp; {{ tienesSociedades.nombre }} </div></td>
               
                    <td><div class="input" style="width:150px;">&nbsp; {{ tienesSociedades.rut }}</div></td>
                    <td><div class="input">&nbsp; {{ tienesSociedades.porcentaje }}</div></td>
                    <td><div class="input">&nbsp; {{ tienesSociedades.valor }}</div></td>
                </tr>
             {% endfor %}
             {% endif %}

            <tr>

                <td>Total </td>
            </tr>


            <tr>

                    <td> {%  if totalSociedades %} <div class="input">&nbsp;   {{ totalSociedades|number_format(0,'.' , '.') }}  </div>{% endif %}</td>
            </tr>

               
            </tbody>
          
        </table>

        <br/>
        <table class="tabla">
            <thead>
            <th colspan="5" align="left">Vehículos / {%  if  tienesAutomoviles %} SI {% else %} {% if TotalAutomovilesApi %} SI {% else %} NO {% endif %} {% endif %}</th>
            </thead>
            <tbody>
                <tr>
                    <td>Tipo</td>
                    <td>Marca</td>
                    <td>Modelo</td>
                    <td>Año</td>
                    <td>Valor comercial</td>
                </tr>
                {%  if  tienesAutomoviles %}
                {% for tienesAutomoviles in tienesAutomoviles  %}
                <tr>
                    <td><div class="input">&nbsp;{{ tienesAutomoviles.tipo }}</div></td>
                    <td><div class="input">&nbsp;{{ tienesAutomoviles.marcaauto }}</div></td>
                    <td><div class="input">&nbsp;{{ tienesAutomoviles.modelo }}</div></td>
                    <td><div class="input">&nbsp;{{ tienesAutomoviles.anoauto }}</div></td>
                    <td><div class="input">&nbsp;{{ tienesAutomoviles.valorcomercial }}</div></td>
                </tr>

                {% endfor %}
                {% endif %}

            <tr>
                <td>

                  Total

                </td>
            </tr>

            <tr>
                <td>
                    <div class="input"> &nbsp; {% if   totalAutomoviles %} {{  totalAutomoviles|number_format(0,'.' , '.') }} {% else %}  {{ TotalAutomovilesApi|number_format(0,'.' , '.')  }} {% endif %} </div>
                </td>


            </tr>
              
            </tbody>  
        </table>


        <br/>



   <table class="tabla">
            <thead>
            <th colspan="5" align="left">Ahorro Inversion /       {%  if  tienesAhorroInversion %} SI {% else %} {% if totalAhorroInversionApi %} SI {% else %} NO {% endif %} {% endif %} </th>
            </thead>
            <tbody>
                <tr>
                    <td style="width:100px;">Tipo</td>
                    <td>Institución</td>
                    <td>Valor Comercial</td>
                    <td>Prendado</td>
             
                </tr>
                {%  if  tienesAhorroInversion %}
                {% for tienesAhorroInversion in tienesAhorroInversion  %}
                <tr>
                    <td><div class="input">&nbsp;{{ tienesAhorroInversion.tipo }}</div></td>
                    <td><div class="input">&nbsp;{{ tienesAhorroInversion.institucion }}</div></td>
                    <td><div class="input">&nbsp;{{ tienesAhorroInversion.valorcomercial }}</div></td>
                    <td><div class="input">&nbsp;{{ tienesAhorroInversion.prendado }}</div></td>
                 
                </tr>

                {% endfor %}
                {% endif %}

            <tr>
                <td>

                  Total

                </td>
            </tr>

            <tr>
                <td>
                    <div class="input"> &nbsp; {% if   totalAhorroInversion %} {{  totalAhorroInversion |number_format(0,'.' , '.') }}  {% else %}
                    {{ totalAhorroInversionApi|number_format(0,'.' , '.') }}  {% endif %} </div>
                </td>


            </tr>
              
            </tbody>  
        </table>


        
        <table class="tabla">
            <thead>
            <th colspan="7" align="left">
                Bienes raíces  / {% if  tienesHiporecario  %} SI {% else %} {% if TotalPropiedadesApi %} SI {% else %} NO {% endif %}  {% endif %}
            </th>
            </thead>
            <tbody>


         {% if  tienesHiporecario  %}
         {% for tienesHiporecario in tienesHiporecario %}




             <tr>

                 <td>Avaluo</td>
                 <td>Direccion</td>
                 <td>Comuna</td>


             </tr>

                <tr>


                    <td><div class="input">&nbsp; {{ tienesHiporecario.avaluo }} </div></td>
                    <td><div class="input">&nbsp; {{ tienesHiporecario.direccion }} </div></td>
                    <td><div class="input">&nbsp; {{ tienesHiporecario.comuna }} </div></td>

             
                </tr>


             <tr>

                 <td>Region</td>
                 <td>Rol</td>
                 <td>Hipotecado</td>


             </tr>

             <tr>

                 <td><div class="input">&nbsp; {{ tienesHiporecario.region }} </div></td>
                 <td><div class="input">&nbsp; {{ tienesHiporecario.rol }} </div></td>
                 <td><div class="input">&nbsp; {{ tienesHiporecario.hipotecado }} </div></td>


             </tr>


             <tr>
                 <td>&nbsp;</td>
             </tr>
             <tr>
                 <td>&nbsp;</td>
             </tr>


       {% endfor %}


       {% endif %}

         <tr>
             <td> Total </td>
         </tr>

         <tr>
             <td>  <div class="input"> &nbsp; {% if   totalHipotecario  %} {{  totalHipotecario|number_format(0,'.' , '.') }} {% else %} {% if TotalPropiedadesApi %} 

                {{ TotalPropiedadesApi|number_format(0,'.' , '.') }} {% endif %}   {% endif %} </div> </td>
         </tr>

              
            </tbody>
        </table>


        <br/><br/><br/><br/>    <br/><br/><br/><br/>   <br/><br/><br/><br/>   <br/><br/><br/><br/>
        <table class="tabla">
            <thead>
            <th colspan="9" align="left">
                Pasivos (Deudas en miles de pesos) - Crédito Consumo   /   {% if debesCreditoConsumo %} SI {% else %} NO {% endif %}
            </th>
            </thead>
            <tbody>
                <tr>
                    <td>Institución</td>
                    <td>Pago Mensual</td>
                    <td>Deuda Total</td>
                    <td>Fecha Último Pago</td>
                    <td>Deuda Vigente</td>
                   
                </tr>
                {% if debesCreditoConsumo %}
                {% for debesCreditoConsumo in debesCreditoConsumo %}
                <tr>
                    <td><div class="input">&nbsp;{{ debesCreditoConsumo.institucion }}</div></td>
                    <td><div class="input">&nbsp;{{ debesCreditoConsumo.pagomensual }}</div></td>
                    <td><div class="input">&nbsp;{{ debesCreditoConsumo.deudatotal }}</div></td>
                    <td><div class="input">&nbsp;{{ debesCreditoConsumo.fechaultimopago }}</div></td>
                    <td><div class="input">&nbsp;{{ debesCreditoConsumo.deudavigente }}</div></td>
                   
                </tr>
                {% endfor %}
                {% endif %}



                  <tr>
             <td> Total </td>
         </tr>

         <tr>
             <td>  <div class="input"> &nbsp; {% if  totalDebesCredito  %} 

                {{ totalDebesCredito|number_format(0,'.' , '.') }}  {% endif %}


                 </div> </td>
         </tr>

               
            </tbody>
        </table>
        <table class="tabla">
            <thead>
            <th colspan="8" align="left">
                Líneas de crédito  / {% if debesLineaCredito  %} SI {% else %}  NO {% endif %}
            </th>
            </thead>
            <tbody>
                <tr>
                    <td>Institución</td>
                    <td>Monto Aprobado</td>
                    <td>Monto Utilizado</td>
                    <td>Vencimiento</td>
                    
                </tr>
                {% if   debesLineaCredito  %}


                {% for   debesLineaCredito  in debesLineaCredito   %}

                <tr>

                    <td><div class="input">&nbsp;{{ debesLineaCredito.institucion  }}</div></td>
                    <td><div class="input">&nbsp;{{ debesLineaCredito.montoAprobado  }}</div></td>
                    <td><div class="input">&nbsp;{{ debesLineaCredito.montoUtilizado  }}</div></td>
                    <td><div class="input">&nbsp;{{ debesLineaCredito.vencimientofinal  }}</div></td>

                </tr>


                {% endfor %}


                {% endif %}

                 <tr>
             <td> Total </td>
         </tr>

         <tr>
             <td>  <div class="input"> &nbsp; {% if   totalDebesLinea  %} {{  totalDebesLinea|number_format(0,'.' , '.') }}   {% endif %} </div> </td>
         </tr>

              
            </tbody>
        </table>





           <table class="tabla">
            <thead>
            <th colspan="8" align="left">
                Tarjetas de crédito   / {% if debesTarjetaCredito   %} SI {% else %}  NO {% endif %}
            </th>
            </thead>
            <tbody>
                <tr>
                    <td>Institución</td>
                    <td>Tipo</td>
                    <td>Monto Utilizado</td>
                    <td>Monto Aprobado</td>
          
                    
                </tr>
                {% if   debesTarjetaCredito   %}


                {% for   debesTarjetaCredito   in debesTarjetaCredito %}

                <tr>

                    <td><div class="input" style="width:140px;">&nbsp;{{ debesTarjetaCredito.institucion  }}</div></td>
                    <td><div class="input" style="width:120px;">&nbsp;{{ debesTarjetaCredito.tipotarjeta  }}</div></td>
                    <td><div class="input">&nbsp;{{ debesTarjetaCredito.montoutilizado  }}</div></td>
                    <td><div class="input">&nbsp;{{ debesTarjetaCredito.montoaprobado  }}</div></td>

                </tr>


                {% endfor %}


                {% endif %}

                 <tr>
             <td> Total </td>
         </tr>

         <tr>
             <td>  <div class="input"> &nbsp; {% if   totalDebesTarjeta  %} {{  totalDebesTarjeta|number_format(0,'.' , '.') }}   {% endif %} </div> </td>
         </tr>

              
            </tbody>
        </table>




        <table class="tabla">
            <thead>
            <th colspan="8" align="left">
                Crédito Hipotecario   / {% if debesHipotecario %} SI {% else %} NO {% endif %}
            </th>
            </thead>
            <tbody>
                <tr>
                    <td>Institución</td>
                    <td>Pago Mensual</td>
                    <td>Deuda Total</td>
                    <td>Vencimiento Final</td>
                    <td>Deuda Vigente </td>
                    
                </tr>

               {% if debesHipotecario %}
               {% for debesHipotecario in debesHipotecario %}
                <tr>
                    <td><div class="input">&nbsp; {{ debesHipotecario.institucion }} </div></td>
                    <td><div class="input">&nbsp; {{ debesHipotecario.pagomensual }} </div></td>
                    <td><div class="input">&nbsp; {{ debesHipotecario.deudatotal }} </div></td>
                    <td><div class="input">&nbsp; {{ debesHipotecario.venciminetofinal }} </div></td>
                    <td><div class="input">&nbsp; {{ debesHipotecario.duedavigente }} </div></td>

                </tr>
                {% endfor %}
                {% endif  %}


                <tr>
                    <td>Total $ </td>
                </tr>
                <tr>
                    <td> <div class="input">{%  if totalDebesHipotecario %}  {{ totalDebesHipotecario|number_format(0,'.' , '.')  }} {% endif %} </div></td>
                </tr>
            </tbody>
        </table>

        <br>
        <br>
        <br>
        <br>
        <table class="tabla">
            <thead>
            <th colspan="9" align="left">
                Tarjetas de crédito de casas comerciales /   {% if debesTarjetaCredito %} SI {% else %} NO {% endif %}
            </th>
            </thead>
            <tbody>
                <tr>
                    <td>Tipo de Tarjeta</td>
                    <td>Institucion</td>
                    <td>Monto Aprobado</td>
                    <td>Monto Utilizado</td>
                    
                </tr>

                {% if debesTarjetaCredito %}
                {% for debesTarjetaCredito in   debesTarjetaCredito  %}

                <tr>
                    <td><div class="input" style="width:130px;">&nbsp;{{ debesTarjetaCredito.tipotarjeta}}</div></td>
                    <td><div class="input" style="width:100px;">&nbsp;{{ debesTarjetaCredito.institucion}}</div></td>
                    <td><div class="input" style="width:100px;">&nbsp;{{ debesTarjetaCredito.montoaprobado}}</div></td>
                    <td><div class="input" style="width:100px;">&nbsp;{{ debesTarjetaCredito.montoutilizado}}</div></td>
                    
                </tr>

                {% endfor %}
                {% endif  %}
               

               <tr>
                    <td>Total $ </td>
                </tr>
                <tr>
                    <td> <div class="input">{%  if totalDebesTarjeta %}  {{ totalDebesTarjeta|number_format(0,'.' , '.')  }} {% endif %} </div></td>
                </tr>

            </tbody>
        </table>


        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        
        <table class="tabla">
            <thead>
            <th colspan="6" align="left">
                Ingresos mensuales grupo familiar
            </th>
            </thead>
            <tbody>
                <tr>
                    <td>Renta liguida solicitante</td>
                    <td colspan="2"><div class="input">&nbsp;</div></td>
                    <td>Renta liquida cónyuge</td>
                    <td colspan="2"><div class="input">&nbsp;</div></td>
                </tr>
                <tr>
                    <td>Otras rentas</td>
                    <td><div class="input">&nbsp;</div></td>
                    <td>Especifique</td>
                    <td><div class="input">&nbsp;</div></td>
                    <td>Total Ingresos</td>
                    <td><div class="input">&nbsp;</div></td>
                </tr>
                <tr>
                    <td>Periodo de reajuste anual</td>
                    <td colspan="5"><div class="input">&nbsp;</div></td>
                </tr>
                <tr>
                    <td colspan="6" align="left">
                        Otros antecedentes
                    </td>
                </tr>
                <tr>
                    <td>Debe pagar pension alimenticia</td>
                    <td colspan="2"><div class="input">&nbsp;</div></td>
                    <td>Monto de la pension</td>
                    <td colspan="2"><div class="input">&nbsp;</div></td>
                </tr>
                <tr>
                    <td>Es aval, codeudor o fiador</td>
                    <td colspan="2" ><div class="input">&nbsp;</div></td>
                    <td>Especificar detalle y monto</td>
                    <td colspan="2"><div class="input">&nbsp;</div></td>
                </tr>
                    
            </tbody>
        </table>







            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
   <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>   <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <div style="width: 710px;">
                <hr style="color: #808080;" size="8" noshade>
                <h1 align="right">SOLICITUD DE PRODUCTOS</h1>
                <hr style="color: #808080;" size="8" noshade>
            </div>


            <h3>Crédito de consumo:</h3>
            <table class="tabla">

                <table class="tabla">
                    <thead>

                    </thead>
                    <tbody>
                    <tr>
                        <td>Monto de Crédito:</td>
                        <td>Plazo de Crédito </td>
                        <td>Seguros Asociados </td>
                        <td>¿Para qué utilizarás el Dinero? </td>

                    </tr>



                            <tr>
                                <td><div class="input">&nbsp;   {% if creditoConsumo   %} {{ creditoConsumo.montoCredito   }} UF{% endif %}</div></td>
                                <td><div class="input">&nbsp;    {% if creditoConsumo   %} {{ creditoConsumo.plazoCredito  }} {% endif %}</div></td>
                                <td><div class="input">&nbsp;    {% if creditoConsumo   %} {{ creditoConsumo.segurosAsociados   }} {% endif %} </div></td>
                                <td><div class="input">&nbsp;    {% if creditoConsumo   %} {{ creditoConsumo.paraque   }} {% endif %}</div></td>


                            </tr>






                    </tbody>
                </table>




                <h3>Crédito Hipotecario </h3>
                <table class="tabla">

                <table class="tabla">
                    <thead>

                    </thead>
                    <tbody>
                    <tr>
                        <td>Valor Propiedad :</td>
                        <td>Monto de Píe </td>
                        <td>Porcentaje </td>
                        <td>Monto de Crédito </td>

                    </tr>



                        <tr>
                            <td><div class="input">&nbsp;   {% if creditoHipotecario %} {{ creditoHipotecario.valorPropiedad   }} {% endif %}</div></td>
                            <td><div class="input">&nbsp; {% if creditoHipotecario %}  {{ creditoHipotecario.montoPie   }} {% endif %}</div></td>
                            <td><div class="input">&nbsp;   {% if creditoHipotecario %} {{ creditoHipotecario.porcentaje   }} {% endif %}</div></td>
                            <td><div class="input">&nbsp;  {% if creditoHipotecario %} {{ creditoHipotecario.montoCredito   }} {% endif %}</div></td>


                        </tr>









                    <tr>
                        <td>Plazo de Crédito </td>
                        <td>Tipo de Propiedad </td>
                        <td>Estado </td>
                        <td>¿Tu propiedad es DFL2 y nueva ? </td>

                    </tr>



                        <tr>
                            <td><div class="input">&nbsp; {% if creditoHipotecario %}  {{ creditoHipotecario.plazoCredito   }} {% endif %}</div></td>
                            <td><div class="input">&nbsp;{% if creditoHipotecario %} {{ creditoHipotecario.tipoPropiedad   }} {% endif %}
                                </div></td>
                            <td><div class="input">&nbsp; {% if creditoHipotecario %}{{ creditoHipotecario.estadoPropiedad   }} {% endif %}</div></td>
                            <td><div class="input">&nbsp; {% if creditoHipotecario %}{{ creditoHipotecario.dfl2   }} {% endif %}</div></td>


                        </tr>









                    <tr>
                        <td>Comuna donde desea comprar</td>
                        <td>Proyecto / Inmobiliaria </td>


                    </tr>



                        <tr>
                            <td><div class="input">&nbsp; {% if creditoHipotecario %}  {{ creditoHipotecario.comunaComprar   }} {% endif %}</div></td>
                            <td><div class="input">&nbsp; {% if  creditoHipotecario %} {{ creditoHipotecario.proyecto   }}     {% endif %}</div></td>


                        </tr>







                    </tbody>
                </table>




                    Crédito Automotriz

                    <table class="tabla">
                        <thead>

                        </thead>
                        <tbody>
                        <tr>
                            <td>Monto del Auto </td>
                            <td>Monto del Píe  </td>
                            <td>Plazo del Crédito </td>


                        </tr>


                                <tr>
                                    <td><div class="input">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.monto  }} {% endif %}  </div></td>
                                    <td><div class="input">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.pie }} {% endif %}</div></td>
                                    <td><div class="input">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.plazo }} {% endif %}</div></td>


                                </tr>



                        <tr>
                            <td>Cuándo piensas comprar tu auto </td>
                            <td>Marca de Auto  </td>
                            <td>Año del Auto </td>


                        </tr>


                        <tr>
                            <td><div class="input">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.cuandocompras }} {% endif %}</div></td>
                            <td><div class="input">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.marcaauto }} {% endif %}</div></td>
                            <td><div class="input">&nbsp; {% if creditoAutomotriz %} {{ creditoAutomotriz.ano }} {% endif %}</div></td>


                        </tr>




                        </tbody>
                    </table>



                    <table class="tabla">

<h3>
DATOS CRÉDITO CONSOLIDACION 
</h3>
<tr>
    <th>Crédito </th>
    <th>Monto </th>
    <th>Plazo </th>

  
    </tr>



    </thead>

    <tr>
        {% set con  = 0 %}
    {% if creditoConsolidacion   %}
    {% for creditoConsolidacion in creditoConsolidacion %}
    {% set con = con +1 %}

    {% if con <= 1 %}

    <tr>   

        <td><div class="input" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.tipoCredito}} </div></td>
        <td><div class="input" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.montoCredito}} </div></td>
        <td><div class="input" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.plazo}} </div> </td>
     </tr>
        
       <tr>    

        <td><div class="input" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.tipoCredito2}} </div></td>
        <td><div class="input" style="width:80px;margin-left:5px;"> &nbsp;{{creditoConsolidacion.montoCredito2}} </div></td>
        <td><div class="input" style="width:80px;margin-left:5px;">  &nbsp;{{creditoConsolidacion.plazo2}} </div> </td>
</tr>
<tr>   


        <td><div class="input" style="width:80px;margin-left:5px;">  &nbsp;{{creditoConsolidacion.tipoCredito3}}  </div></td>
        <td><div class="input" style="width:80px;margin-left:5px;"> &nbsp; {{creditoConsolidacion.montoCredito3}} </div></td>
        <td><div class="input" style="width:80px;margin-left:5px;"> &nbsp; {{creditoConsolidacion.plazo3}} </div></td>
       
   </tr> 

    {% endif %}
    {% endfor %}
    {% endif %}

    
    
        </tr>

</table>




                    
    </body>
</html>