<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<style>
    .simuInput{
        width: 300px;
        height: 20px;
        border-bottom: 1px;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        border-style: solid;


    }

</style>
<body>


<div class="simuInput">
    sad


</div>
</body>
</html>